@media (max-width: 1199px) {
  .container{
    padding: 0 100px;
  }
  /* HEADER */
  .logo-line{
    display: block;
  }
  .logo-line__img{
    width: 112px;
  }
  .header__logo{
    display: none;
  }
  .header__nav{
    width: 78%;
  }
  .header__menu{
    width: 60%;
  }
  .header__item{
    width: 150px;
  }
  .header__limit{
    display: none;
  }
  /* HERO */
  .hero{
    padding-bottom: 90px;
  }
  .hero__wrapper{
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    -ms-grid-columns: 1fr 30px 256px;
    grid-template-columns: 1fr 256px;
  }
  .hero__text{
    margin-bottom: 18px;
  }
  .hero__img-img{
    width: 255px;
  }
  /* PODCAST */
  .podcasts{
    padding-bottom: 92px;
  }
  /* BROADCAST */
  .broadcast__wrapper{
    -ms-grid-columns: 255px 1fr;
    grid-template-columns: 255px 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .broadcast__wrapper > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .broadcast__wrapper > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .broadcast__wrapper > *:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .broadcast__wrapper > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .broadcast__wrapper > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .broadcast__wrapper > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .broadcast__cards{
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  /* GUESTS */
  .guests{
    padding-bottom: 96px;
  }
  .guests__wrapper{
    -ms-grid-columns: auto 255px;
    grid-template-columns: auto 255px;
  }
  .guests__text{
    max-width: 540px;
  }
  .ac-panel-wrap{
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .ac-panel-wrap > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .ac-panel-wrap > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(5){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(6){
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .ac-panel-wrap > *:nth-child(7){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(8){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(9){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .ac-panel-wrap > *:nth-child(10){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(11){
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(12){
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .ac-panel-wrap > *:nth-child(13){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(14){
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(15){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  /* PLAYLISTS */
  .playlists__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .genres{
    -ms-grid-columns: auto 20px 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-bottom: 27px;
  }
  .genres > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .genres > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .genres > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .genres > *:nth-child(4){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .genres > *:nth-child(5){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .genres > *:nth-child(6){
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .genres > *:nth-child(7){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .genres > *:nth-child(8){
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .genres__label{
    margin-right: 16px;
  }
  .playlists__cards{
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 26px;
    margin-bottom: 32px;
  }
  .playlists__card{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .playlists__card-img{
    width: 112px;
    height: 112px;
  }
  .playlists__card-info{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  .playlists__country{
    left: 0;
  }
  .playlists__opacity{
    bottom: 4px;
  }
  /* ABV */
  .abv{
    padding-bottom: 93px;
  }
  .abv__wrapper{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .abv__img{
    width: 400px;
  }
  .abv__img-img{
    width: 400px;
  }
  .abv__img-new{
    width: 100px;
  }
  .abv__info{
    width: 395px;
  }
  /* ABOUT */
  .about__wrapper{
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    margin-bottom: 31px;
  }
  .about__spiral{
    display: none;
  }
  .about__slider {
    margin-bottom: 36px;
}
  .itc-slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    max-width: 48%;
  }
  .itc-slider__btn_prev {
    left: -65px;
  }
  .itc-slider__btn_next {
    right: -65px;
  }
}

@media (max-width: 1023px) {
  .container{
    padding: 0 114px;
  }
  .modal{ 
    padding: 80px 114px;
  }
  /* HEADER */
  .burger{
    display: block;
  }
  .header__nav-list{
    display: none;
  }
  .header__menu{
    width: 92%;
  }
  .header__music{
    display: none;
  }
  .header__play{
    display: block;
  }
  .music {
    display: none;
  }
  /* HERO */
  .hero__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .hero__item{
    margin-right: 0;
  }
  .hero__img{
    display: none;
  }
  /* PODCAST */
  .podcasts__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  /* BROADCAST */
  .broadcast{
    padding-bottom: 0;
  }
  .broadcast__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto 50px 1fr;
    grid-template-rows: auto auto 1fr;
    row-gap: 50px;
  }
  .broadcast__wrapper > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .broadcast__wrapper > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .broadcast__wrapper > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .broadcast__cards{
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-row-span: 1;
    grid-row: span 1;
    margin-bottom: 13px;
    row-gap: 26px;
  }
  .broadcast__archive{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0 -114px;
    padding: 30px 0;
    border-top: 1px solid var(--light_color);
  }
  .broadcast__btn{
    margin-bottom: 8px;
  }
  /* GUEST */
  .guests__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .ac-panel-wrap{
    row-gap: 30px;
  }
  /* PLAYLISTS */
  .playlists__cards{
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .genres{
    row-gap: 34px;
    margin-bottom: 47px;
  }
  .playlists__card-info{
    margin-top: -4px;
  }
  /* ABV */
  .abv{
    padding-top: 54px;
  }
  .abv__wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .abv__img{
    width: 100%;
    margin-right: 0;
    margin-bottom: 43px;
  }
  .abv__img-img{
    width: 100%;
  }
  .abv__img-new{
    width: 160px;
  }
  .abv__info{
    width: 100%;
  }

  /* ABOUT */
  .about__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about__sun{
    display: none;
  }
  .about__wave{
    display: -ms-grid;
    display: grid;
  }
  .about__slider {
    margin-bottom: 30px;
}
  .about__slider-img{
    width: 100%;
    height: 255px;
  }
  .about__inner{
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .about__input-btn{
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .about__checkbox{
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  /* FOOTER */
  .footer__section {
    padding-bottom: 80px;
  }
  .footer__wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo{
    margin-bottom: 74px;
  }
  .footer__social-img{
    width: 38px;
  }
  .footer__menu{
    width: 100%;
    -webkit-column-gap: 155px;
       -moz-column-gap: 155px;
            column-gap: 155px;
    row-gap: 30px;
  }
  .footer__wave img{
    height: 100%;
  }

}

@media (max-width: 767px) {
  .container{
    padding: 0 32px;
  }
  .section{
    padding: 54px 0;
  }
  .section-title{
    font-size: 24px;
    line-height: 24px;
  }
  .btn{
    padding: 17px 45px;
    font-size: 16px;
    line-height: 16px;
  }
  .modal{
    padding: 55px 32px;
  }
  .modal__wrapper{
    padding: 40px 20px;
  }
  .modal__title{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
  }
  .modal__text{
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 24px;
  }
  .modal__input{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
  }
  .modal__social{
    padding-top: 10px;
  }
  .modal__social-title{
    margin-bottom: 10px;
  }
  .modal__close{
    width: 28px;
    height: 28px;
    top: 20px;
    right: 35px;
  }
  .menu__close{
    top: 15px;
    left: 35px;
  }
  .menu__list{
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding: 60px 32px;
    padding-bottom: 24px;
  }
  .menu__spiral{
    display: none;
  }
  .submenu{
    display: -ms-grid;
    display: grid;
  }
  /* header */
  .logo-line{
    padding: 9px 0;
  }
  .logo-line-img{
    width: 87px;
  }
  .header__top{
    padding: 11px 0;
  }
  .header__btn{
    padding: 8px 22px;
  }
  .logo-line__img {
    width: 80px;
  }
  .header__menu{
    display: none;
  }
  .header__login{
    display: none;
  }
  .logo-line__login{
    display: block;
  }
  .logo-line__login{
    display: block;
  }
  .header__play {
    display: none;
  }
  .now{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  /* HERO */
  .hero{
    padding: 25px 0 38px;
  }
  .hero__title{
    margin-bottom: -7px;
    font-size: 32px;
  }
  .hero__title-desc {
    font-size: 32px;
  }
  .hero__text{
    font-size: 14px;
    line-height: 21px;
  }
  /* PODCAST */
  .podcast{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 185px;
  }
  .podcasts__wrapper{
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 28px;
  }
  .podcasts__title {
    margin-bottom: 20px;
  }
  .podcast__picture{
    height: 72px;
  }
  .podcast__img{
    width: 100%;
    height: 72px;
  }
  .podcast__date{
    bottom: 101%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }
  .podcast__header{
    height: 85px;
    padding: 16px 0 16px 16px;
  }
  .podcast__title{
    font-size: 16px;
  }
  .podcast__author{
    font-size: 12px;
  }
  .play-btn{
    right: 18px;
  }
  .play-btn svg{
    width: 32px;
  }
  .podcasts__btn-btn{
    padding: 17px 29px;
  }
  .podcast__interaction{
    padding-top: 6px;
  }
  .podcast__item{
    font-size: 12px;
  }
  /* BROADCAST */
  .broadcast{
    padding-bottom: 0;
  }
  .broadcast__wrapper{
    row-gap: 27px;
  }
  .broadcast__subtitle{
    font-size: 12px;
  }
  .broadcast__cards{
    margin-bottom: 0;
    row-gap: 30px;
  }
  .broadcast__card-title{
    font-size: 12px;
    line-height: 12px;
  }
  .broadcast__card-text{
    font-size: 9px;
  }
  .broadcast__card-more{
    font-size: 12px;
    line-height: 12px;
  }
  .broadcast__card-info{
    min-height: 99px;
    padding: 7px;
  }
  .broadcast__info{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    
  }
  .broadcast__btn{
    margin-bottom: 0;
    padding: 7.5px 29px;
  }
  .broadcast__text{
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 21px;
  }
  .broadcast__archive{
    margin: 0 -32px;
    padding: 30px 32px;
  }
  /* GUEST */
  .guests__title-little{
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 21px;
  }
  .guests__text{
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 22px;
  }
  .guests-circle{
    width: 30px;
    height: 30px;
  }
  .ac-panel-wrap {
    -ms-grid-rows: (1fr)[8];
    grid-template-rows: repeat(8, 1fr);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .ac-panel-wrap > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(12) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .ac-panel-wrap > *:nth-child(15) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .ac-panel-wrap > *:nth-child(16) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
  .ac .ac-trigger{
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
  }
  .ac .ac-panel .ac-text {
    font-size: 14px;
    line-height: 15px;
  }
  .ac-panel-wrap {
    padding: 20px 0;
  }
  /* PLAYLISTS */
  .playlists__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .playlists__cards{
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  .playlists__card{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 112px;
  }
  .playlists__genre{
    font-size: 12px;
    line-height: 12px;
  }
  .playlists__card-info{
    padding: 10px;
  }
  .playlists__card-author{
    font-size: 12px;
    line-height: 12px;
  }
  .playlists__card-album{
    font-size: 9px;
    line-height: 9px;
  }
  .playlists__country{
    left: 100%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .about__wave{
    display: none;
  }
  .itc-slider__btn_prev {
    display: none;
  }
  .itc-slider__btn_next {
    display: none;
  }
  .about__slider-img{
    width: 100%;
    height: 112px;
  }
  .footer__menu{
    -ms-grid-columns: 1fr 65px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 65px;
       -moz-column-gap: 65px;
            column-gap: 65px;
  }
  .genres{
    display: none;
  }
  .playlists__slider{
    display: block;
    margin-bottom: 30px;
    margin-right: -32px;
    margin-left: -32px;
  }
  .playlists__slider-items{
    padding-left: 32px;
  }
  .playlists__slider-item{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-right: 15px;
    padding: 7px 20px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    outline: none;
    background-color: inherit;
    font: 500 16px/16px 'Muller', sans-serif;
    color: var(--primary);
    text-align: center;
    white-space: nowrap;
    -webkit-transition: color .3s, background-color .3s, border .3s;
    -o-transition: color .3s, background-color .3s, border .3s;
    transition: color .3s, background-color .3s, border .3s;
    cursor: pointer;
  }
  .playlists__slider-item:focus{
    background-color: var(--primary_light);
    color: var(--white);
  }
  .playlists__slider-item:hover{
    background-color: var(--primary);
    color: var(--white);
  }
  .playlists__slider-item:active{
    border-color: var(--primary_shade);
    background-color: var(--primary_shade);
    color: var(--white);
  }
  .playlists__slider-active{
    background-color: var(--primary);
    color: var(--white);
  }

}

@media (max-width: 602px) {
  .podcast:nth-child(n+5){
    display: none;
  }
  .podcasts__wrapper{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .playlists__cards{
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .playlists__cards{
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}