body{min-width:350px}
.head{background:linear-gradient(to bottom, rgba(0,89,159,0.7), rgba(3,57,128,0.5));height:50vw}
.menu-head{max-width:175px}
.logotype{background:url(vseperegovori.webp) no-repeat;width:290px;height:39px}
.topmenu{position:fixed;top:0;left:0;width:100%;box-shadow:rgb(0 0 0 / 20%) 0px 1px 3px;height:58px;z-index:1}
.btn-red-wind{transform: skew(-12deg, 0deg);background:#b30909}
.btn-red-wind2{transform: skew(-12deg, 0deg);background:#bbb;min-width:250px;min-height:80px;transition:.2s}
.btn-wind{transform: skew(-12deg, 0deg);background:#bbb;max-width:250px;transition:.2s}
.btn-red-wind-menu{position:fixed;top:0;right:0;background:url(burger-white.svg) #b30909 no-repeat center;width:58px;height:58px;z-index:2}
.btn-wind:hover,.btn-red-wind2:hover{opacity:.85}
.stanusp{font-size:60px;line-height:1.25}
.stanusp2{font-size:14.5rem;line-height:1.25}
.pereprod{font-size:2.5rem}
.vk-w,.fb-w,.ig-w,.tg-w,.r-w{width:30px;height:30px}
.vk-w{background:url(vk-white.svg) no-repeat center;background-size:contain}
.tg-w{background:url(tg-white.svg) no-repeat center;background-size:contain}
.r-w{background:url(r-white.svg) no-repeat center;background-size:contain}
.fb-w{background:url(fb-white.svg) no-repeat center}
.ig-w{background:url(ig-white.svg) no-repeat center}
.address{font-weight:normal;font-size:16px}
.playvid{height:57px;width:55px;background:url(play-icon.svg) no-repeat center #b30909}
.playbox{height:57px}
.headrolik{width:275px}
.logotype-foot{background:url(vseperegovorifoot.webp) no-repeat;width:230px;height:25px}
.m-link:hover{cursor:pointer;border-bottom:1px solid}
.block-downed{margin-top:300px}

.bg-darkred{background:#b30909}
.startteach{background:#0a59a1}
.offcanvas-end{width:auto!important}
.carddp1,.carddp2,.carddp3,.carddp4,.carddp5,.carddp6,.carddp_pdf,.cardp1,.cardp2,.cardp3,.cardp4,.cardp5,.cardp6{transition:.2s}
.carddp1:hover,.carddp4:hover,.cardp1:hover,.cardp4:hover{box-shadow:0px 35px 25px -20px #777;transform:matrix3d(1, 0, 0, 0.001, 0.1, 1, 0, 0, 0, 0, 1, 0, 40, 0, 0, 1.1);opacity:.85}
.carddp2:hover,.carddp5:hover,.cardp2:hover,.cardp5:hover{box-shadow:0px 35px 25px -20px #777;transform:matrix3d(1, 0, 0, 0, 0, 1, 0, -0.00075, 0, 0, 1, 0, 0, -20, 0, 1.1);opacity:.85}
.carddp3:hover,.carddp6:hover,.cardp3:hover,.cardp6:hover{box-shadow:0px 35px 25px -20px #777;transform:matrix3d(1, 0, 0, -0.001, -0.1, 1, 0, 0, 0, 0, 1, 0, -40, 0, 0, 1.1);opacity:.85}

.carddp_pdf:hover{box-shadow:0px 20px 15px -15px #ccc;transform:matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0003, 0, 0, 1, 0, 0, -7, 0, 1.03);opacity:.85}
.carddp1_bg{background:url(project1.jpg) no-repeat center;background-size:contain;height:217px}
.carddp2_bg{background:url(project2.jpg) no-repeat center;background-size:contain;height:217px}
.carddp3_bg{background:url(project3.jpg) no-repeat center;background-size:contain;height:217px}
.carddp4_bg{background:url(project4.jpg) no-repeat center;background-size:contain;height:217px}
.carddp5_bg{background:url(project5.jpg) no-repeat center;background-size:contain;height:217px}
.carddp6_bg{background:url(project6.jpg) no-repeat center;background-size:contain;height:217px}
.cardp01_bg{background:url(img/p_04.jpg) no-repeat center;background-size:contain;height:217px}
.cardp02_bg{background:url(img/p_06.jpg) no-repeat center;background-size:contain;height:217px}
.cardp03_bg{background:url(img/p_03.jpg) no-repeat center;background-size:contain;height:217px}
.cardp04_bg{background:url(img/p_02.jpg) no-repeat center;background-size:contain;height:217px}
.cardp05_bg{background:url(img/p_05.jpg) no-repeat center;background-size:contain;height:217px}
.cardp06_bg{background:url(img/p_01.jpg) no-repeat center;background-size:contain;height:217px}
.bg_ap{background:url(bg_ap.jpg) no-repeat left center;background-size:contain}

.arrows{top:60px}
.blag_arrows{height:10px}
.arrowl{background:url(arrowr.svg) no-repeat;transform:rotate(180deg);width:64px;height:16px}
.arrowr{background:url(arrowr.svg) no-repeat;width:64px;height:16px}
.invert{filter:invert(1)}
.arrowl:hover,.arrowr:hover{opacity:.33;cursor:pointer}
.eventblock,.reviewblock,.mailblock,.blagmail{width:445px;transition:.2s}
.blagmail{width:100px}
.reviewblock{width:210px}
.eventblock:hover,.reviewblock:hover,.mailblock:hover,.blagmail:hover{opacity:.85;cursor:pointer}
.event1,.event2,.event3,.event4,.event5,.event6{height:80px;background-size:contain!important}
.event1{background:url(event1.png) no-repeat center}
.event2{background:url(event2.png) no-repeat center}
.event3{background:url(event3.png) no-repeat center}
.event4{background:url(event4.png) no-repeat center}
.event5{background:url(event5.png) no-repeat center}
.event6{background:url(event5.jpg) no-repeat center}
.review,.review1,.review2,.review3,.review4,.review5,.review6,.review-video{width:210px;height:120px;background-color:#000;background-size:contain!important}
.review1{background:#000 url(review1.jpg) no-repeat center}
.review2{background:#000 url(review2.jpg) no-repeat center}
.review3{background:#000 url(review3.jpg) no-repeat center}
.review4{background:#000 url(review4.jpg) no-repeat center}
.review5{background:#000 url(review5.jpg) no-repeat center}
.review6{background:#000 url(review6.jpg) no-repeat center}
.review-video{background:#000 url(youtube.svg) no-repeat center}
.line-scroll{display: flex; flex-direction: row; gap: 10px; text-wrap: nowrap; overflow-x: scroll}
.line-scroll::-webkit-scrollbar { height: 8px; background-color: #E6E9ED}
.line-scroll::-webkit-scrollbar-thumb {border-radius: 4px;background-color: #0a59a1;}
.blagmail1,.blagmail2,.blagmail3,.blagmail4,.blagmail5{height:200px;background-size:contain!important}
.blagmail1{background:url(img/blagmail1.jpg) no-repeat center}
.blagmail2{background:url(img/blagmail2.jpg) no-repeat center}
.blagmail3{background:url(img/blagmail3.jpg) no-repeat center}
.blagmail4{background:url(img/blagmail4.png) no-repeat center}
.blagmail5{background:url(img/blagmail5.png) no-repeat center}
.event-carousel{height:400px}
.eventtitle{font-size:20px;line-height:24px}
.eventdesc{font-size:18px;line-height:21px;color:#bababa}
.event-text-shadow{text-shadow:0px 0px 6px black, 0px 0px 4px black}
.scroll-hide::-webkit-scrollbar{display:none}
.scroll-hide{scrollbar-width:none}
.eventblock a{text-decoration:none;transition:.2s;color:#000}
.eventblock a:hover{opacity:.75}
.h-1000{height:1000px}
.h-100vh{height: calc(100vh - 150px)}
.carousel-dark .carousel-indicators [data-bs-target]{background-color:#fff}

.head iframe{position:absolute;top:-10%;left:0;width:100%;pointer-events:none;z-index:-9;height:100%}
.videobg{overflow:hidden;position:relative;padding-bottom:56%;height:0}
#ModalReview .modal-content{background-color: transparent; border: none;}
#ModalReview .itc-slider-wrapper{background-color: transparent;}
#ModalReview .itc-slider-items{align-items: center;}
#ModalReview img{width: 100%;}
.display-flex{display: flex;}
.flex00{flex: 0 0 auto;}
@media (max-width:1419px){
.head{height:auto}
.head iframe{top:0}
.head-right-padding{margin-right:25px}
}

@media (max-width:1199px){
.block-downed{margin-top:50px;justify-content: center}
.stanusp2{font-size:6.5rem}
.pereprod{font-size:1.5rem}
}

@media (max-width:991px){
.logotype{background:url(vseperegovori.webp) no-repeat center;width:100%;height:39px}
img{max-width:100%;padding:15px 0}
.stanusp{font-size:31px}
.stanusp2{font-size:8rem}
.vimvid{height:350px!important}
.carddp1:hover,.carddp2:hover,.carddp3:hover,.cardp1:hover,.cardp2:hover,.cardp3:hover,.cardp4:hover,.cardp5:hover,.cardp6:hover{transform:matrix3d(1, 0, 0, 0, 0, 1, 0, -0.0005, 0, 0, 1, 0, 0, -10, 0, 1.05)}
.head{height:1080px}
.videobg{overflow:unset}
.head iframe{display:none}
}

@media (max-width:767px){
.eventblock,.reviewblock{width:auto}
.event1,.event2,.event3,.event4,.event5,.event6{height:60vw;background-size:cover!important}
}

@media (max-width:575px){
.head{height:1000px}
}