doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1.0"
            )
        title CANDIDATES
        link(rel="stylesheet",href="css/reset.css")
        link(rel="stylesheet",href="css/fonts.css")
        link(rel="stylesheet",href="css/itc-slider.css")
        link(rel="stylesheet",href="css/style.css")
        link(rel="stylesheet",href="css/media.css")
        script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js",defer="true")
        script(type="text/javascript",src="js/aside.js",defer="true")
        script(type="text/javascript",src="js/candidates.js",defer="true")
        script(type="text/javascript",src="js/itc-slider.min.js",defer="true")
    body
        .wrapper
            aside.aside
                .aside__wrapper
                    .logo
                        a.logo__link(href="#")
                            |my 
                            span.logo__link-span new 
                            |job
                    ul.aside__menu
                        li.aside__item
                            button.aside__btn.aside__btn-new
                                .aside__btn-svg.svg-container 
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#circle_plus")
                                p.aside__btn-text Новый платеж 
                        li.aside__item
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#star")
                                p.aside__btn-text Лента операций
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#shopping_bag")
                                p.aside__btn-text Платежи в работе
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#document_search")
                                p.aside__btn-text Импорт реестров
                        li.aside__item 
                            button.aside__btn.aside__btn-selected
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#view_grid")
                                p.aside__btn-text Список кандидатов
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#star")
                                p.aside__btn-text Контрагенты
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#shopping_bag")
                                p.aside__btn-text Кредитные продукты
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#document_search")
                                p.aside__btn-text Зарплатный проект
            main.main
                header.header
                    .header__wrapper 
                        .header__item
                            .header__item-hidden
                                button.header__item-menu
                                    svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                        use(href="img/component_1.svg#menu")
                                a.logo__link.header__item-logo(href="#")
                                    |my 
                                    span.logo__link-span new 
                                    |job
                            button.header__search
                                .header__search-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#search")
                                .header__search-text Поиск
                        .header__item
                            button.header__mail 
                                .header__mail-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#mail")
                            button.header__bell
                                .header__bell-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#bell")
                                p.header__bell-num 1
                        .header__item.small-hidden
                            .header__account
                                p.header__account-company ООО “МАЙ НЬЮ ДЖОБ РЕКРУТМЕНТ 
                                p.header__account-name Цвилев А.В.
                            button.header__setting 
                                .header__setting-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#cog")
                        .header__item.small-hidden
                            button.header__logout
                                .header__logout-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#logout")
                section.container
                    .container__wrapper
                        h1.extract__title Список кандидатов
                        .extract__filters.container__filters
                            .extract__filter.container__filter
                                .quantity
                                    button.quantity__arrow-minus 
                                        svg(width="6",height="10",viewBox="0 0 6 10",xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd",clip-rule="evenodd",d="M5.70711 0.292893C6.09763 0.683417 6.09763 1.31658 5.70711 1.70711L2.41421 5L5.70711 8.29289C6.09763 8.68342 6.09763 9.31658 5.70711 9.70711C5.31658 10.0976 4.68342 10.0976 4.29289 9.70711L0.292893 5.70711C-0.0976311 5.31658 -0.0976311 4.68342 0.292893 4.29289L4.29289 0.292893C4.68342 -0.0976311 5.31658 -0.0976311 5.70711 0.292893Z",fill="#C7C9CF")
                                    input.extract__filter-input.extract__calendar.quantity__num(type="number",placeholder="Не выбрано")
                                    button.quantity__arrow-plus
                                        svg(width="6",height="10",viewBox="0 0 6 10",xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd",clip-rule="evenodd",d="M0.292894 9.70711C-0.0976307 9.31658 -0.0976307 8.68342 0.292894 8.29289L3.58579 5L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292894C0.683417 -0.0976312 1.31658 -0.0976312 1.70711 0.292894L5.70711 4.29289C6.09763 4.68342 6.09763 5.31658 5.70711 5.70711L1.70711 9.70711C1.31658 10.0976 0.683418 10.0976 0.292894 9.70711Z",fill="#C7C9CF")
                                    p.quantity__year год
                                    .quantity__calendar 
                                        svg(width="18" height="20" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M5 11.9423C4.75517 11.9423 4.5465 11.8561 4.374 11.6838C4.20167 11.5113 4.1155 11.3026 4.1155 11.0578C4.1155 10.8129 4.20167 10.6043 4.374 10.4318C4.5465 10.2593 4.75517 10.173 5 10.173C5.24483 10.173 5.4535 10.2593 5.626 10.4318C5.79833 10.6043 5.8845 10.8129 5.8845 11.0578C5.8845 11.3026 5.79833 11.5113 5.626 11.6838C5.4535 11.8561 5.24483 11.9423 5 11.9423ZM9 11.9423C8.75517 11.9423 8.5465 11.8561 8.374 11.6838C8.20167 11.5113 8.1155 11.3026 8.1155 11.0578C8.1155 10.8129 8.20167 10.6043 8.374 10.4318C8.5465 10.2593 8.75517 10.173 9 10.173C9.24483 10.173 9.4535 10.2593 9.626 10.4318C9.79833 10.6043 9.8845 10.8129 9.8845 11.0578C9.8845 11.3026 9.79833 11.5113 9.626 11.6838C9.4535 11.8561 9.24483 11.9423 9 11.9423ZM13 11.9423C12.7552 11.9423 12.5465 11.8561 12.374 11.6838C12.2017 11.5113 12.1155 11.3026 12.1155 11.0578C12.1155 10.8129 12.2017 10.6043 12.374 10.4318C12.5465 10.2593 12.7552 10.173 13 10.173C13.2448 10.173 13.4535 10.2593 13.626 10.4318C13.7983 10.6043 13.8845 10.8129 13.8845 11.0578C13.8845 11.3026 13.7983 11.5113 13.626 11.6838C13.4535 11.8561 13.2448 11.9423 13 11.9423ZM2.30775 19.5C1.80258 19.5 1.375 19.325 1.025 18.975C0.675 18.625 0.5 18.1974 0.5 17.6923V4.30777C0.5 3.8026 0.675 3.37502 1.025 3.02502C1.375 2.67502 1.80258 2.50002 2.30775 2.50002H3.69225V1.15377C3.69225 0.934599 3.76567 0.751599 3.9125 0.604765C4.05933 0.458099 4.24233 0.384766 4.4615 0.384766C4.68083 0.384766 4.86383 0.458099 5.0105 0.604765C5.15733 0.751599 5.23075 0.934599 5.23075 1.15377V2.50002H12.8077V1.13477C12.8077 0.921932 12.8795 0.743682 13.023 0.600015C13.1667 0.456515 13.3449 0.384766 13.5577 0.384766C13.7706 0.384766 13.9488 0.456515 14.0922 0.600015C14.2359 0.743682 14.3077 0.921932 14.3077 1.13477V2.50002H15.6923C16.1974 2.50002 16.625 2.67502 16.975 3.02502C17.325 3.37502 17.5 3.8026 17.5 4.30777V17.6923C17.5 18.1974 17.325 18.625 16.975 18.975C16.625 19.325 16.1974 19.5 15.6923 19.5H2.30775ZM2.30775 18H15.6923C15.7692 18 15.8398 17.9679 15.9038 17.9038C15.9679 17.8398 16 17.7693 16 17.6923V8.30777H2V17.6923C2 17.7693 2.03208 17.8398 2.09625 17.9038C2.16025 17.9679 2.23075 18 2.30775 18Z" fill="#65656F")
                                .extract__filter-search
                                    .extract__filter-befor
                                    input(type="text",placeholder="Название вакансии").extract__filter-input.extract__search
                                    .extract__filter-after
                            .extract__filter
                        .search 
                            .search__wrapper 
                                .search__range
                                    input.search__range-input(type="range", name="range", min="1", max="100", value="50")
                                .search__range-output 50%
                                p.search__range-text Степень соответствия запросу
                                button(type="submit").search__range-btn Поиск
                        .candidates 
                            .extract__field-info
                                .extract__field-found
                                    p.extract__field-text Найдено: 
                                    p.extract__field-count 5
                            .candidates__item
                                .candidates__wrapper 
                                    .candidates__condidat
                                        .candidates__info
                                            .candidates__image
                                                img(src="img/candidates/mezentsev.png", alt="", srcset="")
                                            .candidates__contant
                                                .candidates__info-top
                                                    .candidates__fullname
                                                        .candidates__bigtitle Мезенцев Денис Петрович
                                                        .candidates__subtext Сейчас не работает
                                                    .candidates__city 
                                                        .candidates__title Москва
                                                        .candidates__subtext Город
                                                    .candidates__age 
                                                        .candidates__title 41 год
                                                        .candidates__subtext Возраст
                                                    .candidates__experience 
                                                        .candidates__title 15 лет
                                                        .candidates__subtext Опыт
                                                .candidates__info-middle
                                                    .candidates__vacancy 
                                                        .candidates__title Генеральный директор
                                                        .candidates__subtext Соискатель на должность
                                                    .candidates__salary 
                                                        .candidates__title 3 000 000 Р
                                                        .candidates__subtext Желаемая заработная плата
                                                    .candidates__lastjob
                                                        .candidates__title ООО ОДПС Сколково
                                                        .candidates__subtext Последнее место работы
                                                .candidates__info-bottom
                                                    .candidates__connect
                                                        .candidates__tel-svg 
                                                            svg.icon(viewBox="0 0 14 13",width="14",height="13")
                                                                use(href="img/component_1.svg#phone")
                                                        a(href="tel:+89030791199").candidates__contact 89030791199
                                                    .candidates__connect
                                                        .candidates__mail-svg
                                                            svg.icon(viewBox="0 0 16 12",width="16",height="12")
                                                                use(href="img/component_1.svg#mail")
                                                        a(href="mailto:mezentsev@mail.ru").candidates__contact mezentsev@mail.ru
                                        .candidates__analysis
                                            .candidates__procent 
                                                .candidates__procent-num 95%
                                                .candidates__subtext Степень соответствия запросу
                                            button.candidates__btn Смотреть Анализ
                                    .candidates__slider.its-slider(data-slider="itc-slider",data-loop="false")
                                        .itc-slider-wrapper
                                            .itc-slider-items
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36   
                                                        img(src="img/mez_slider/mez_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 24 просмотра
                                                        .candidates__slider-date 12 Октября 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_2.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 48 просмотра
                                                        .candidates__slider-date 3 Октября 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_3.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 59 просмотра
                                                        .candidates__slider-date 13 Сентября 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_2.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 74 просмотра
                                                        .candidates__slider-date 1 Июля 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_4.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 82 просмотра
                                                        .candidates__slider-date 15 Мая 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 95 просмотра
                                                        .candidates__slider-date 29 Апреля 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 102 просмотра
                                                        .candidates__slider-date 5 Марта 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/mez_slider/mez_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 123 просмотра
                                                        .candidates__slider-date 28 Февраля 2024
                                        button.itc-slider-btn.itc-slider-btn-prev
                                        button.itc-slider-btn.itc-slider-btn-next
                            .candidates__item
                                .candidates__wrapper 
                                    .candidates__condidat
                                        .candidates__info
                                            .candidates__image
                                                img(src="img/candidates/nikolaeva.png", alt="", srcset="")
                                            .candidates__contant
                                                .candidates__info-top
                                                    .candidates__fullname
                                                        .candidates__bigtitle Николаева Алена Сергеевна
                                                        .candidates__subtext Сейчас не работает
                                                    .candidates__city 
                                                        .candidates__title Москва
                                                        .candidates__subtext Город
                                                    .candidates__age 
                                                        .candidates__title 32 год
                                                        .candidates__subtext Возраст
                                                    .candidates__experience 
                                                        .candidates__title 10 лет
                                                        .candidates__subtext Опыт
                                                .candidates__info-middle
                                                    .candidates__vacancy 
                                                        .candidates__title Генеральный директор
                                                        .candidates__subtext Соискатель на должность
                                                    .candidates__salary 
                                                        .candidates__title 2 000 000 Р
                                                        .candidates__subtext Желаемая заработная плата
                                                    .candidates__lastjob
                                                        .candidates__title ООО Органические Системы
                                                        .candidates__subtext Последнее место работы
                                                .candidates__info-bottom
                                                    .candidates__connect
                                                        .candidates__tel-svg 
                                                            svg.icon(viewBox="0 0 14 13",width="14",height="13")
                                                                use(href="img/component_1.svg#phone")
                                                        a(href="tel:+89030791199").candidates__contact 89030791199
                                                    .candidates__connect
                                                        .candidates__mail-svg
                                                            svg.icon(viewBox="0 0 16 12",width="16",height="12")
                                                                use(href="img/component_1.svg#mail")
                                                        a(href="mailto:nikolaeva@mail.ru").candidates__contact nikolaeva@mail.ru
                                        .candidates__analysis
                                            .candidates__procent 
                                                .candidates__procent-num 92%
                                                .candidates__subtext Степень соответствия запросу
                                            button.candidates__btn Смотреть Анализ
                                    .candidates__slider.its-slider(data-slider="itc-slider",data-loop="false")
                                        .itc-slider-wrapper
                                            .itc-slider-items
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 24 просмотра
                                                        .candidates__slider-date 12 Октября 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_2.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 48 просмотра
                                                        .candidates__slider-date 3 Октября 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 59 просмотра
                                                        .candidates__slider-date 13 Сентября 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_3.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 74 просмотра
                                                        .candidates__slider-date 1 Июля 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_2.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 82 просмотра
                                                        .candidates__slider-date 15 Мая 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_1.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 95 просмотра
                                                        .candidates__slider-date 29 Апреля 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_2.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Рассказ об опыте работы директором по связям
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 102 просмотра
                                                        .candidates__slider-date 5 Марта 2024
                                                .itc-slider-item
                                                    .candidates__slider-media
                                                        .candidates__slider-play    
                                                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/")
                                                                path(d="M8.65 13.75L13.525 10.625C13.7583 10.475 13.875 10.2667 13.875 10C13.875 9.73333 13.7583 9.525 13.525 9.375L8.65 6.25C8.4 6.08333 8.14583 6.07083 7.8875 6.2125C7.62917 6.35417 7.5 6.575 7.5 6.875V13.125C7.5 13.425 7.62917 13.6458 7.8875 13.7875C8.14583 13.9292 8.4 13.9167 8.65 13.75ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z",fill="black",fill-opacity="0.5")
                                                        .candidates__slider-time 12:36 
                                                        img(src="img/nik_slider/nik_slide_3.png", alt="Портфолио Мезенцев")
                                                    .candidates__slider-title Интервью о взаимодействии с сотрудниками
                                                    .candidates__slider-text 
                                                        .candidates__slider-views 123 просмотра
                                                        .candidates__slider-date 28 Февраля 2024
                                        button.itc-slider-btn.itc-slider-btn-prev
                                        button.itc-slider-btn.itc-slider-btn-next

                                    


