doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1.0"
            )
        title MY NEW JOB
        link(rel="stylesheet",href="css/reset.css")
        link(rel="stylesheet",href="css/fonts.css")
        link(rel="stylesheet",href="css/style.css")
        link(rel="stylesheet",href="css/media.css")
        script(type="text/javascript",src="js/aside.js",defer="true")
        script(type="text/javascript",src="js/extract.js",defer="true")
    body
        .wrapper
            aside.aside
                .aside__wrapper
                    .logo
                        a.logo__link(href="#")
                            |my 
                            span.logo__link-span new 
                            |job
                    ul.aside__menu
                        li.aside__item
                            button.aside__btn.aside__btn-new
                                .aside__btn-svg.svg-container 
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#circle_plus")
                                p.aside__btn-text Новый платеж 
                        li.aside__item
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#star")
                                p.aside__btn-text Лента операций
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#shopping_bag")
                                p.aside__btn-text Платежи в работе
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#document_search")
                                p.aside__btn-text Импорт реестров
                        li.aside__item 
                            button.aside__btn.aside__btn-selected
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#view_grid")
                                p.aside__btn-text Выписка
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#star")
                                p.aside__btn-text Контрагенты
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#shopping_bag")
                                p.aside__btn-text Кредитные продукты
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#document_search")
                                p.aside__btn-text Зарплатный проект
            main.main
                header.header
                    .header__wrapper 
                        .header__item
                            .header__item-hidden
                                button.header__item-menu
                                    svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                        use(href="img/component_1.svg#menu")
                                a.logo__link.header__item-logo(href="#")
                                    |my 
                                    span.logo__link-span new 
                                    |job
                            button.header__search
                                .header__search-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#search")
                                .header__search-text Поиск
                        .header__item
                            button.header__mail 
                                .header__mail-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#mail")
                            button.header__bell
                                .header__bell-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#bell")
                                p.header__bell-num 1
                        .header__item.small-hidden
                            .header__account
                                p.header__account-company ООО “МАЙ НЬЮ ДЖОБ РЕКРУТМЕНТ 
                                p.header__account-name Цвилев А.В.
                            button.header__setting 
                                .header__setting-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#cog")
                        .header__item.small-hidden
                            button.header__logout
                                .header__logout-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#logout")
                section.container
                    .extract.container__wrapper 
                        h1.extract__title Выписка
                        .extract__buttons 
                            button.extract__buttons-btn.button-primary Сформировать выписку
                            button.extract__buttons-btn.button-gray Создать рассылку
                        .extract__tabs 
                            button.extract__tab.tab-active Исполненные операции
                            button.extract__tab По расписанию
                            button.extract__tab Незавершенные операции
                            button.extract__tab.extract__tab-hidden Готовые выписки
                            button.extract__arrow
                                svg.icon(viewBox="0 0 6 10",width="6",height="10")
                                        use(href="img/component_1.svg#chevron_right")
                        .extract__filters 
                            .extract__filter
                                input(type="number",min="1900",max="2099",step="1",placeholder="Не выбрано").extract__filter-input.extract__calendar
                                .extract__filter-search
                                    .extract__filter-befor
                                    input(type="text",placeholder="Контрагент, ИНН, назначение или номер счета").extract__filter-input.extract__search
                                    .extract__filter-after
                            .extract__filter
                                .extract__filter-item 
                                    p.extract__filter-text Cчёт
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Контрагент
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Статус
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop 
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Сумма
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop 
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Тип платежа
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop 
                                        .extract__drop-item.itemall
                                            .checkbox.svg-container.checkboxall
                                                svg.icon(viewBox="0 0 10 2",width="10",height="2")
                                                    use(href="img/component_1.svg#minus") 
                                            p.extract__drop-text Выбрать все
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check") 
                                            p.extract__drop-text Бюджет
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check")  
                                            p.extract__drop-text Юридические лица
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check")  
                                            p.extract__drop-text Физические лица
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check")  
                                            p.extract__drop-text Самозанятые
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                        .extract__field
                            .extract__field-info
                                .extract__field-found
                                    p.extract__field-text Найдено: 
                                    p.extract__field-count 
                                button.extract__field-btn
                                    p.extract__field-setting Настройка таблицы
                                    svg.icon(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                            .payments
                                .payments__header
                                    .payments__header-item.payments__header-check.checkbox.svg-container
                                        svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                            use(href="img/component_1.svg#check") 
                                    .payments__header-item.payments__header-type 
                                        p.payments__header-text Тип
                                    .payments__header-item.payments__header-date 
                                        p.payments__header-text Дата
                                        svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                            use(href="img/component_1.svg#menu_1")
                                    .payments__header-item.payments__header-content 
                                        p.payments__header-text Контрагент и назначение
                                    .payments__header-item.payments__header-number 
                                        p.payments__header-text Номер
                                    .payments__header-item.payments__header-sum
                                        p.payments__header-text Сумма
                                        svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                            use(href="img/component_1.svg#menu_1")
                                .payments__items
                                    


