doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1.0"
            )
        title MY NEW JOB
        link(rel="stylesheet",href="css/reset.css")
        link(rel="stylesheet",href="css/fonts.css")
        link(rel="stylesheet",href="css/style.css")
        link(rel="stylesheet",href="css/media.css")
        script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js",defer="true")
        script(type="text/javascript",src="js/aside.js",defer="true")
        script(type="text/javascript",src="js/extract.js",defer="true")
    body
        .wrapper
            aside.aside
                .aside__wrapper
                    .logo
                        a.logo__link(href="#")
                            |my 
                            span.logo__link-span new 
                            |job
                    ul.aside__menu
                        li.aside__item
                            button.aside__btn.aside__btn-new
                                .aside__btn-svg.svg-container 
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#circle_plus")
                                p.aside__btn-text Новый платеж 
                        li.aside__item
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#star")
                                p.aside__btn-text Лента операций
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#shopping_bag")
                                p.aside__btn-text Платежи в работе
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#document_search")
                                p.aside__btn-text Импорт реестров
                        li.aside__item 
                            button.aside__btn.aside__btn-selected
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#view_grid")
                                p.aside__btn-text Выписка
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#star")
                                p.aside__btn-text Контрагенты
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#shopping_bag")
                                p.aside__btn-text Кредитные продукты
                        li.aside__item 
                            button.aside__btn
                                .aside__btn-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#document_search")
                                p.aside__btn-text Зарплатный проект
            main.main
                header.header
                    .header__wrapper 
                        .header__item
                            .header__item-hidden
                                button.header__item-menu
                                    svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                        use(href="img/component_1.svg#menu")
                                a.logo__link.header__item-logo(href="#")
                                    |my 
                                    span.logo__link-span new 
                                    |job
                            button.header__search
                                .header__search-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#search")
                                .header__search-text Поиск
                        .header__item
                            button.header__mail 
                                .header__mail-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#mail")
                            button.header__bell
                                .header__bell-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#bell")
                                p.header__bell-num 1
                        .header__item.small-hidden
                            .header__account
                                p.header__account-company ООО “МАЙ НЬЮ ДЖОБ РЕКРУТМЕНТ 
                                p.header__account-name Цвилев А.В.
                            button.header__setting 
                                .header__setting-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#cog")
                        .header__item.small-hidden
                            button.header__logout
                                .header__logout-svg.svg-container
                                    svg.icon(viewBox="0 0 16 16",width="16",height="16")
                                        use(href="img/component_1.svg#logout")
                section.container
                    .extract.container__wrapper 
                        h1.extract__title Выписка
                        .extract__buttons 
                            button.extract__buttons-btn.button-primary Сформировать выписку
                            button.extract__buttons-btn.button-gray Создать рассылку
                        .extract__tabs 
                            button.extract__tab.tab-active Исполненные операции
                            button.extract__tab По расписанию
                            button.extract__tab Незавершенные операции
                            button.extract__tab.extract__tab-hidden Готовые выписки
                            button.extract__arrow
                                svg.icon(viewBox="0 0 6 10",width="6",height="10")
                                        use(href="img/component_1.svg#chevron_right")
                        .extract__filters 
                            .extract__filter
                                .quantity
                                    button.quantity__arrow-minus 
                                        svg(width="6",height="10",viewBox="0 0 6 10",xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd",clip-rule="evenodd",d="M5.70711 0.292893C6.09763 0.683417 6.09763 1.31658 5.70711 1.70711L2.41421 5L5.70711 8.29289C6.09763 8.68342 6.09763 9.31658 5.70711 9.70711C5.31658 10.0976 4.68342 10.0976 4.29289 9.70711L0.292893 5.70711C-0.0976311 5.31658 -0.0976311 4.68342 0.292893 4.29289L4.29289 0.292893C4.68342 -0.0976311 5.31658 -0.0976311 5.70711 0.292893Z",fill="#C7C9CF")
                                    input.extract__filter-input.extract__calendar.quantity__num(type="number",placeholder="Не выбрано")
                                    button.quantity__arrow-plus
                                        svg(width="6",height="10",viewBox="0 0 6 10",xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd",clip-rule="evenodd",d="M0.292894 9.70711C-0.0976307 9.31658 -0.0976307 8.68342 0.292894 8.29289L3.58579 5L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292894C0.683417 -0.0976312 1.31658 -0.0976312 1.70711 0.292894L5.70711 4.29289C6.09763 4.68342 6.09763 5.31658 5.70711 5.70711L1.70711 9.70711C1.31658 10.0976 0.683418 10.0976 0.292894 9.70711Z",fill="#C7C9CF")
                                    p.quantity__year год
                                    .quantity__calendar 
                                        svg(width="18" height="20" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M5 11.9423C4.75517 11.9423 4.5465 11.8561 4.374 11.6838C4.20167 11.5113 4.1155 11.3026 4.1155 11.0578C4.1155 10.8129 4.20167 10.6043 4.374 10.4318C4.5465 10.2593 4.75517 10.173 5 10.173C5.24483 10.173 5.4535 10.2593 5.626 10.4318C5.79833 10.6043 5.8845 10.8129 5.8845 11.0578C5.8845 11.3026 5.79833 11.5113 5.626 11.6838C5.4535 11.8561 5.24483 11.9423 5 11.9423ZM9 11.9423C8.75517 11.9423 8.5465 11.8561 8.374 11.6838C8.20167 11.5113 8.1155 11.3026 8.1155 11.0578C8.1155 10.8129 8.20167 10.6043 8.374 10.4318C8.5465 10.2593 8.75517 10.173 9 10.173C9.24483 10.173 9.4535 10.2593 9.626 10.4318C9.79833 10.6043 9.8845 10.8129 9.8845 11.0578C9.8845 11.3026 9.79833 11.5113 9.626 11.6838C9.4535 11.8561 9.24483 11.9423 9 11.9423ZM13 11.9423C12.7552 11.9423 12.5465 11.8561 12.374 11.6838C12.2017 11.5113 12.1155 11.3026 12.1155 11.0578C12.1155 10.8129 12.2017 10.6043 12.374 10.4318C12.5465 10.2593 12.7552 10.173 13 10.173C13.2448 10.173 13.4535 10.2593 13.626 10.4318C13.7983 10.6043 13.8845 10.8129 13.8845 11.0578C13.8845 11.3026 13.7983 11.5113 13.626 11.6838C13.4535 11.8561 13.2448 11.9423 13 11.9423ZM2.30775 19.5C1.80258 19.5 1.375 19.325 1.025 18.975C0.675 18.625 0.5 18.1974 0.5 17.6923V4.30777C0.5 3.8026 0.675 3.37502 1.025 3.02502C1.375 2.67502 1.80258 2.50002 2.30775 2.50002H3.69225V1.15377C3.69225 0.934599 3.76567 0.751599 3.9125 0.604765C4.05933 0.458099 4.24233 0.384766 4.4615 0.384766C4.68083 0.384766 4.86383 0.458099 5.0105 0.604765C5.15733 0.751599 5.23075 0.934599 5.23075 1.15377V2.50002H12.8077V1.13477C12.8077 0.921932 12.8795 0.743682 13.023 0.600015C13.1667 0.456515 13.3449 0.384766 13.5577 0.384766C13.7706 0.384766 13.9488 0.456515 14.0922 0.600015C14.2359 0.743682 14.3077 0.921932 14.3077 1.13477V2.50002H15.6923C16.1974 2.50002 16.625 2.67502 16.975 3.02502C17.325 3.37502 17.5 3.8026 17.5 4.30777V17.6923C17.5 18.1974 17.325 18.625 16.975 18.975C16.625 19.325 16.1974 19.5 15.6923 19.5H2.30775ZM2.30775 18H15.6923C15.7692 18 15.8398 17.9679 15.9038 17.9038C15.9679 17.8398 16 17.7693 16 17.6923V8.30777H2V17.6923C2 17.7693 2.03208 17.8398 2.09625 17.9038C2.16025 17.9679 2.23075 18 2.30775 18Z" fill="#65656F")
                                .extract__filter-search
                                    .extract__filter-befor
                                    input(type="text",placeholder="Контрагент, ИНН, назначение или номер счета").extract__filter-input.extract__search
                                    .extract__filter-after
                            .extract__filter
                                .extract__filter-item 
                                    p.extract__filter-text Cчёт
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Контрагент
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Статус
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop 
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Сумма
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop 
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                                .extract__filter-item 
                                    p.extract__filter-text Тип платежа
                                    svg.icon.icon-filter(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                                    .extract__drop 
                                        .extract__drop-item.itemall
                                            .checkbox.svg-container.checkboxall
                                                svg.icon(viewBox="0 0 10 2",width="10",height="2")
                                                    use(href="img/component_1.svg#minus") 
                                            p.extract__drop-text Выбрать все
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check") 
                                            p.extract__drop-text Бюджет
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check")  
                                            p.extract__drop-text Юридические лица
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check")  
                                            p.extract__drop-text Физические лица
                                        .extract__drop-item
                                            .checkbox.svg-container
                                                svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                                    use(href="img/component_1.svg#check")  
                                            p.extract__drop-text Самозанятые
                                        .extract__btns 
                                            button(type="submit").extract__btn.extract__btn-apply Применить
                                            button(type="reset").extract__btn.extract__btn-reset Сбросить
                        .extract__field
                            .extract__field-info
                                .extract__field-found
                                    p.extract__field-text Найдено: 
                                    p.extract__field-count 
                                button.extract__field-btn
                                    p.extract__field-setting Настройка таблицы
                                    svg.icon(viewBox="0 0 10 6",width="10",height="6")
                                        use(href="img/component_1.svg#chevron_down")
                            .payments
                                .payments__header
                                    .payments__header-item.payments__header-check.checkbox.svg-container
                                        svg.icon(viewBox="0 0 14 10",width="12",height="10")
                                            use(href="img/component_1.svg#check") 
                                    .payments__header-item.payments__header-type 
                                        p.payments__header-text Тип
                                    .payments__header-item.payments__header-date 
                                        p.payments__header-text Дата
                                        svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                            use(href="img/component_1.svg#menu_1")
                                    .payments__header-item.payments__header-content 
                                        p.payments__header-text Контрагент и назначение
                                    .payments__header-item.payments__header-number 
                                        p.payments__header-text Номер
                                    .payments__header-item.payments__header-sum
                                        p.payments__header-text Сумма
                                        svg.icon(viewBox="0 0 14 12",width="14",height="12")
                                            use(href="img/component_1.svg#menu_1")
                                .payments__items
                                    


