:root {
  --Primary-10: #003B73;
  --Primary-20: #004C95;
  --Primary-30: #005EB8;
  --Primary-40: #006FD8;
  --Primary-50: #0095FF;
  --Primary-60: #199FFF;
  --Primary-70: #3FAFFF;
  --Primary-80: #66BFFF;
  --Primary-90: #8FD0FF;
  --Primary-100: #B8E1FF;
  --Gray-10: #3F3F45;
  --Gray-20: #53535A;
  --Gray-30: #65656F;
  --Gray-40: #898990;
  --Gray-50: #A0A1A9;
  --Gray-60: #B4B5BE;
  --Gray-70: #C7C9CF;
  --Gray-80: #DBDDE1;
  --Gray-90: #E6E8EC;
  --Gray-100: #F2F3F5;
  --White: #FFF;
  --Black: #202123;
  --Aside: #E7E8EA;
  --Icons: #6A6A73;
  --Yellow: #FFCC00;
  --Green: #34C759;
  --Success: #369869;
  --Orange: #F80;
  --Red: #FF3B30;
  --Red-active: #b90126;
  --Red-hover: #da002c;
  --Red-error: #FF0034;
  --Rose: #F29792;
  --Scrollbar: #D9D9D9;
  --Neobg: #e0e5ec;
  --Neoshadow: #A3B1C6;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 390px;
  background-color: var(--Neobg);
  font: 400 16px/20px Inter, sans-serif;
  color: var(--Black);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
}

.hiro {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.hiro__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  padding: 48px 20px;
}
.hiro__btn {
  width: 140px;
  margin: 10px auto 0;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 82px;
}
.logo__job {
  font: 700 60px/60px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  text-shadow: 5px 5px 5px var(--Neoshadow), -5px -5px 5px var(--White);
}
.logo__job-white {
  padding: 20px;
  border-radius: 24px;
  box-shadow: 5px 5px 5px var(--Neoshadow), -5px -5px 5px var(--White);
  background-color: var(--Primary-50);
  color: var(--White);
  text-shadow: 4px 4px 5px var(--Black);
}
.logo__r {
  position: absolute;
  top: 0;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--Black);
  border-radius: 50%;
}
.logo__r-text {
  padding-left: 1px;
  font: 700 16px/16px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}

.video {
  position: absolute;
  top: -85px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 120px;
  height: 50px;
  margin: 0 auto;
  margin-top: auto;
}
.video__text {
  font: 700 16px/26px "Inter", "sans-serif";
  color: #000;
  text-shadow: 5px 5px 5px #A3B1C6, -5px -5px 5px #FFFFFF;
}
.video__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #A3B1C6, -5px -5px 5px #FFFFFF;
  background-color: var(--Primary-50);
}
.video__icon svg {
  position: relative;
  top: 4px;
  left: 4px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;
}
.block_search {
  padding-top: 13px;
  gap: 15px;
}
.block__title {
  font: 600 16px/22px "Inter", "sans-serif";
  color: #5A6A82;
  text-align: center;
}

.reg {
  text-align: center;
}

.form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
  text-align: center;
}
.form_active {
  display: flex;
}
.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form__footer-center {
  justify-content: center;
}
.form__footer-btn {
  width: 140px;
}
.form__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.form__text {
  font: 400 16px/26px "Inter", "sans-serif";
  color: #5A6A82;
}
.form__text-center {
  margin: 0 auto;
  text-align: center;
}
.form__text2 {
  font-weight: 500;
}
.form__timer {
  display: flex;
  gap: 4px;
  font: 500 16px/26px "Inter", "sans-serif";
  color: #5A6A82;
}
.form__timer2 {
  font-weight: 600;
}
.form__g20 {
  gap: 20px;
}
.form__link {
  margin: 0 auto;
  font: 600 16px/26px "Inter", "sans-serif";
  color: #006FD8;
}

.radio {
  display: contents;
}
.radio__label {
  padding: 18px 30px;
  color: #5A6A82;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;
  background-color: var(--Neobg);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.radio__input {
  display: none;
}
.radio__input:checked ~ .radio__label {
  font-weight: 600;
  box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #fff;
}

.title {
  color: #707C84;
  font: 700 24px/28px "Inter", "sans-serif";
}

.timer {
  display: flex;
  align-items: center;
}

.neumorphic {
  border-radius: 20px;
  background-color: var(--Neobg);
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;
}
.neumorphic-inset {
  border-radius: 20px;
  background-color: var(--Neobg);
  box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px -10px 20px #fff;
}
.neumorphic-input {
  width: 300px;
  padding: 15px;
  border: none;
  outline: none;
  font: 400 16px/20px "Inter", "sans-serif";
  color: #5A6A82;
}
.neumorphic-input::-moz-placeholder {
  color: #a3b1c6;
}
.neumorphic-input::placeholder {
  color: #a3b1c6;
}
.neumorphic-input3:focus {
  outline: 1px solid #A3B1C6;
  background-color: #fff;
}
.neumorphic-input2 {
  border-radius: 10px;
}
.neumorphic-button {
  padding: 18px;
  color: #5A6A82;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.neumorphic-button:active {
  box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #fff;
}
.neumorphic-button-active {
  font-weight: 600;
  box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #fff;
}
.neumorphic-button-active.neumorphic-button3 {
  box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px -10px 20px #fff;
}
.neumorphic-button1 {
  font-weight: 500;
}
.neumorphic-button2 {
  font-weight: 600;
}
.neumorphic-button3 {
  font-weight: 600;
}
.neumorphic-button3:active {
  box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px -10px 20px #fff;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 60px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: auto;
  margin-bottom: 45px;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  z-index: 10;
}
.nav__link {
  font: 600 16px/26px "Inter", "sans-serif";
  color: #5A6A82;
  text-align: center;
}

.arrow {
  display: none;
  animation: arrowUp 1s infinite alternate ease 0s;
}
.arrow-menu {
  display: none;
}
.arrow-login {
  display: none;
}

.popup {
  position: absolute;
  display: flex;
  bottom: 80px;
}
.popup_left {
  left: 30px;
}
.popup_left2 {
  bottom: 110px;
  left: 30px;
}
.popup_right {
  right: 30px;
}
.popup_right2 {
  bottom: 110px;
  right: 30px;
}
.popup_active .popup__wrapper {
  width: 350px;
  height: 300px;
  padding: 15px;
  border-radius: 20px;
  transform: translate3d(0, -80px, 0);
}
.popup_active .popup__icon {
  position: absolute;
  top: 0;
  left: 0;
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  transition: bottom 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}
.popup__top {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: auto;
  padding: 4px 0;
  padding-left: 30px;
  font: 600 16px/22px "Inter", "sans-serif";
  color: #5A6A82;
}
.popup__top-2line {
  padding: 0;
}
.popup__icon {
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  padding: 15px;
}
.popup__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 0 26px;
}
.popup__info-text {
  font: 400 16px/24px "Inter", "sans-serif";
  color: #5A6A82;
}
.popup__btn {
  width: 140px;
  font: 500 16px/20px "inter", "sans-serif";
}
.popup__link {
  font: 600 16px/22px "Inter", "sans-serif";
  color: #006FD8;
}

.mirax {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rights {
  position: absolute;
  bottom: 16px;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.rights__text {
  font: 400 14px/20px "Inter", "sans-serif";
  color: #5A6A82;
  text-align: right;
}

.language {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 53px;
  height: 32px;
  border: 1px solid #D9D9D9;
  z-index: 20;
}
.language__view {
  width: 100%;
  height: 100%;
  background-image: url("../images/language/ru.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.language__dropdawn {
  height: 0;
  margin-top: 8px;
  overflow: hidden;
  transition: height 0.3s ease;
}
.language__dropdawn-active {
  height: 64px;
}
.language__dropdawn-option {
  width: 53px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.language__dropdawn-option1 {
  background-image: url("../images/language/ru.png");
}
.language__dropdawn-option2 {
  background-image: url("../images/language/uk.png");
}

.menu {
  display: none;
}

@keyframes arrowUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, -30px, 0);
  }
}
@media (max-width: 1399px) {
  .footer {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (max-width: 1023px) {
  .arrow {
    display: block;
  }
  .language {
    display: none;
  }
  .rights {
    display: none;
  }
  .video {
    display: none;
  }
  .mirax {
    display: none;
  }
  .nav {
    display: none;
  }
  .arrow-menu {
    display: flex;
  }
  .mirax {
    display: none;
  }
  .language {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu__block {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 20px;
  }
  .menu__rights {
    display: flex;
    flex-direction: column;
  }
  .menu__rights-text {
    font: 400 14px/20px "Inter", "sans-serif";
    color: #5A6A82;
  }
  .menu__link {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }
  .menu__language {
    width: 53px;
    height: 32px;
    border: 1px solid var(--Scrollbar);
    z-index: 20;
  }
  .menu__language__view {
    width: 100%;
    height: 100%;
    background-image: url("../images/language/ru.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .menu__language__dropdawn {
    height: 0;
    margin-top: 8px;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  .menu__language__dropdawn-active {
    height: 64px;
  }
  .menu__language__dropdawn-option {
    width: 53px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .menu__language__dropdawn-option1 {
    background-image: url("../images/language/ru.png");
  }
  .menu__language__dropdawn-option2 {
    background-image: url("../images/language/uk.png");
  }
  .menu__video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    height: 50px;
    margin: 46px auto;
  }
}
@media (max-width: 767px) {
  .hiro__wrapper {
    padding: 20px;
    gap: 20px;
  }
  .logo {
    margin-bottom: 0;
  }
  .footer {
    margin-bottom: 20px;
  }
  .popup {
    bottom: 20px;
  }
  .popup_left {
    left: 20px;
  }
  .popup_left2 {
    left: 20px;
    bottom: 110px;
  }
  .popup_right {
    right: 20px;
  }
  .popup_right2 {
    right: 20px;
    bottom: 110px;
  }
  .popup_active {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    background: rgba(0, 0, 0, 0.6980392157);
    z-index: 100;
  }
  .popup_active .popup__wrapper {
    width: 350px;
    height: 300px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: none;
    transform: translate3d(0, 0, 0);
  }
}
.switch {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
  width: 300px;
  height: 56px;
}
.switch__input {
  display: none;
}
.switch__points {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
  width: 300px;
  z-index: 10;
}
.switch__point {
  flex: 0 0 50%;
  font: 400 16px/22px "Inter", "sans-serif";
  color: #5A6A82;
  text-align: center;
  transition: font 0.4s ease;
}
.switch__point-left {
  font-weight: 600;
}
.switch__slider {
  position: absolute;
  width: 300px;
  height: 56px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #fff;
  cursor: pointer;
  transition: font 0.4s ease;
}
.switch__slider:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 56px;
  border-radius: 20px;
  background-color: var(--Neobg);
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #fff;
  transition: transform 0.4s ease;
}
.switch__slider2 {
  box-shadow: inset 10px 10px 20px #a3b1c6, inset -10px -10px 20px #fff;
}
.switch__input:checked + .switch__slider:before {
  transform: translateX(150px);
}
.switch__input:checked ~ .switch__points .switch__point-left {
  font-weight: 400;
}
.switch__input:checked ~ .switch__points .switch__point-right {
  font-weight: 600;
}

.login2 {
  margin-bottom: 180px;
}/*# sourceMappingURL=log.css.map */