:root {
  --Primary-10: #003B73;
  --Primary-20: #004C95;
  --Primary-30: #005EB8;
  --Primary-40: #006FD8;
  --Primary-50: #0095FF;
  --Primary-60: #199FFF;
  --Primary-70: #3FAFFF;
  --Primary-80: #66BFFF;
  --Primary-90: #8FD0FF;
  --Primary-100: #B8E1FF;
  --Gray-10: #3F3F45;
  --Gray-20: #53535A;
  --Gray-30: #65656F;
  --Gray-40: #898990;
  --Gray-50: #A0A1A9;
  --Gray-60: #B4B5BE;
  --Gray-70: #C7C9CF;
  --Gray-80: #DBDDE1;
  --Gray-90: #E6E8EC;
  --Gray-100: #F2F3F5;
  --White: #FFF;
  --Black: #202123;
  --Aside: #E7E8EA;
  --Icons: #6A6A73;
  --Yellow: #FFCC00;
  --Green: #34C759;
  --Red: #FF3B30;
  --Red-active: #b90126;
  --Red-hover: #da002c;
  --Red-error: #FF0034;
  --Rose: #F29792;
  --Scrollbar: #D9D9D9;
}

.main {
  position: relative;
  margin-left: 250px;
  margin-top: 64px;
  transition: margin-left 0.3s ease;
}
.main_active {
  margin-left: 0;
}

@media (max-width: 1371px) {
  .main {
    margin-left: 0;
  }
}
.container {
  margin: 0 auto;
}
.container_video {
  max-width: 1240px;
  transition: max-width 0.3s ease;
}
.container_video-active {
  max-width: 1920px;
}
.container_medium {
  max-width: 1090px;
}
.container_small {
  max-width: 726px;
}
.container_extrasmall {
  max-width: 600px;
}

.bg {
  background-color: var(--Gray-100);
}

.bb {
  border-bottom: 0.5px solid var(--Gray-80);
}

.br {
  border-right: 1px solid var(--Gray-80);
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font: 700 40px/48px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 23px;
  border-radius: 12px;
  font: 600 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.03em;
  white-space: nowrap;
}
.btn_h48 {
  padding: 11px 23px;
}
.btn_240 {
  max-width: 240px;
  width: 100%;
}
.btn_primary {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_primary:hover {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
}
.btn_primary:active {
  border: 1px solid var(--Primary-20);
  background-color: var(--Primary-20);
}
.btn_secondary {
  border: 1px solid var(--Gray-80);
  background-color: var(--Gray-80);
  color: var(--Black);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_secondary:hover {
  border: 1px solid var(--Gray-70);
  background-color: var(--Gray-70);
}
.btn_secondary:active {
  border: 1px solid var(--Gray-60);
  background-color: var(--Gray-60);
}
.btn_tertiary {
  border: 1px solid var(--Black);
  color: var(--Black);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_tertiary path {
  fill: var(--Black);
  transition: fill 0.3s ease;
}
.btn_tertiary:hover {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
}
.btn_tertiary:hover path {
  fill: var(--White);
}
.btn_tertiary:active {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
  color: var(--White);
}
.btn_quaternary {
  border: 1px solid var(--Primary-40);
  color: var(--Primary-40);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_quaternary:hover {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
}
.btn_quaternary:active {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
  color: var(--White);
}
.btn_black {
  padding: 11px 23px;
  border: 0.5px solid var(--Black);
  border-radius: 8px;
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn_black path {
  stroke: var(--Black);
  transition: stroke 0.3s ease;
}
.btn_black:hover {
  background-color: var(--Black);
  color: var(--White);
}
.btn_black:hover path {
  stroke: var(--White);
}
.btn_white {
  padding: 11px 23px;
  border: 0.5px solid var(--White);
  border-radius: 8px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: var(--White);
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-10);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}
.btn_white path {
  stroke: var(--Gray-10);
  transition: stroke 0.3s ease;
}
.btn_white-hide {
  display: none;
}
.btn_white:hover {
  border: 0.5px solid var(--Gray-100);
  background-color: var(--Gray-100);
  color: var(--Black);
}
.btn_white:hover path {
  stroke: var(--Black);
}
.btn_white-active {
  border: 0.5px solid var(--Black);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--Black);
  color: var(--White);
}
.btn_white-active path {
  stroke: var(--White);
}
.btn_white-active:hover {
  border: 0.5px solid var(--Gray-10);
  background-color: var(--Gray-10);
  color: var(--White);
}
.btn_white-active:hover path {
  stroke: var(--White);
}
.btn_white-active .btn_white-hide {
  display: block;
}
.btn_blue {
  padding: 11px 23px;
  border: 0.5px solid var(--Primary-40);
  border-radius: 8px;
  background-color: var(--Primary-40);
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--White);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.btn_blue path {
  stroke: var(--White);
}
.btn_blue:hover {
  border: 0.5px solid var(--Primary-30);
  background-color: var(--Primary-30);
}
.btn_blue:active {
  border: 0.5px solid var(--Primary-20);
  background-color: var(--Primary-20);
}
.btn_red {
  border: 0.5px solid var(--Red-error);
  border-radius: 8px;
  background-color: var(--Red-error);
  color: var(--White);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.btn_red path {
  stroke: var(--White);
}
.btn_red:hover {
  border: 0.5px solid var(--Red-hover);
  background-color: var(--Red-hover);
}
.btn_red:active {
  border: 0.5px solid var(--Red-active);
  background-color: var(--Red-active);
}
.btn-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.btn-icon48 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 11px;
}
.btn_center {
  margin: 0 auto;
}
.btn_full {
  width: 100%;
  justify-content: flex-start;
}
.btn_like-active path {
  stroke: var(--Red);
  fill: var(--Red);
  transition: stroke 0.3s ease, fill 0.3s ease;
}
.btn_like-active:hover path {
  stroke: var(--Red);
  fill: var(--Red);
}

@media (max-width: 1199px) {
  .btn {
    padding: 12px 24px;
    border-radius: 8px;
    font: 600 15px/22px "Inter", "sans-serif";
    letter-spacing: 0.01em;
  }
}
@media (max-width: 954px) {
  .btn {
    padding: 5px 16px;
    border-radius: 6px;
    font: 600 13px/20px "Inter", "sans-serif";
    letter-spacing: 0.03em;
  }
}
.link-large {
  font: 500 20px/28px "Inter", "sans-serif";
  text-underline-offset: 3px;
  color: var(--Black);
  cursor: pointer;
}
.link-medium {
  font: 500 14px/21px "Inter", "sans-serif";
  text-align: center;
  text-underline-offset: 3px;
  color: var(--Black);
  cursor: pointer;
}

.press-right {
  margin-left: auto;
}

.input {
  width: 100%;
  padding: 18px 12px;
  border-radius: 12px;
  background-color: var(--Gray-100);
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  outline: none;
  transition: background-color 0.3s ease;
}
.input__help {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  display: flex;
  flex-direction: column;
  height: 0;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--White);
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 20;
}
.input__help-active {
  height: 198px;
}
.input__help-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 14px;
}
.input__help-item:hover {
  background-color: var(--Gray-100);
}
.input__help-title {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
}
.input__help-text {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-20);
}
.input::-moz-placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.input::placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.input_number {
  text-align: center;
}
.input:focus {
  background-color: var(--White);
  outline: 2px solid var(--Gray-40);
}
.input_search {
  width: 432px;
  padding: 16px 12px 16px 48px;
  background-image: url("../images/icons/search.png");
  background-position: center left 12px;
  background-repeat: no-repeat;
}
.input_search::-moz-placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-40);
}
.input_search::placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-40);
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.label__input {
  padding: 24px 12px 8px;
}
.label__title {
  position: absolute;
  top: 16px;
  left: 12px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  transition: top 0.3s ease, font 0.3s ease;
  z-index: 1;
}
.label__title-textarea {
  top: 8px;
}
.label__title-icon {
  left: 44px;
}
.label__textarea {
  width: 100%;
  height: 136px;
  padding: 44px 12px 8px;
  border-radius: 12px;
  background-color: var(--Gray-100);
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  outline: none;
  resize: none;
  transition: padding 0.3s ease;
}
.label__textarea::-moz-placeholder {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
}
.label__textarea::placeholder {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
}
.label__textarea-big {
  height: 181px;
}
.label__textarea-extrabig {
  height: 361px;
}
.label__text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.label__flyingtext {
  position: absolute;
  top: 24px;
  left: 24px;
  display: none;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.label__clue {
  position: absolute;
  top: 50%;
  right: -36px;
  transform: translateY(-50%);
}
.label-active .label__title {
  top: 8px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.label-active .label__textarea {
  padding: 28px 12px 8px;
}
.label-active .label__flyingtext {
  display: block;
}
.label_search {
  position: relative;
  width: 432px;
  z-index: 30;
}
.label_error-text {
  position: absolute;
  bottom: -16px;
  display: none;
  font: 400 12px/16px "Inter", "sans-serif";
  color: var(--Red-error);
}
.label_error .label__input {
  color: var(--Red-error);
  outline: 2px solid var(--Red-error);
}
.label_error .label_error-text {
  display: block;
}

.textarea {
  width: 100%;
  height: 60px;
  padding: 20px 12px;
  border-radius: 12px;
  background-color: var(--Gray-100);
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
  outline: none;
  resize: none;
}
.textarea::-moz-placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.textarea::placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.textarea_adjustment {
  display: -webkit-box;
  padding: 0px 54px 0 12px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 60px;
  overflow: hidden;
  transition: height 0.3s ease, line-height 0.3s ease;
}
.textarea_adjustment::-moz-placeholder {
  line-height: 60px;
}
.textarea_adjustment::placeholder {
  line-height: 60px;
}
.textarea_adjustment-active {
  display: -webkit-box;
  height: 500px;
  padding: 20px 54px 20px 10px;
  line-height: 20px;
  -webkit-line-clamp: 23;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.textarea_adjustment-active::-moz-placeholder {
  line-height: 20px;
}
.textarea_adjustment-active::placeholder {
  line-height: 20px;
}

.select {
  position: relative;
}
.select__input {
  background-image: url("../images/icons/chevron_down.png");
  background-position: center right 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.select__title {
  position: absolute;
  top: 16px;
  left: 12px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  transition: top 0.3s ease, font 0.3s ease;
}
.select__title-active {
  top: 8px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.select_up .select__input {
  padding: 24px 12px 8px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
}
.select__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 14px;
}
.select__box-vert {
  padding-top: 10px;
  padding-bottom: 10px;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--White);
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 10;
}
.options__wrapper {
  padding: 16px;
}
.options_active {
  height: 176px;
  overflow-y: scroll;
}
.options_active.options_2item {
  height: 128px;
}

.option {
  padding: 14px 12px;
  border-radius: 8px;
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
  cursor: pointer;
}
.option:hover {
  background-color: var(--Gray-100);
}
.option_disabled {
  opacity: 0.7;
}

.range {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.range__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 666px;
  width: 100%;
  height: 30px;
  border: none;
  overflow: hidden;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--Primary-40);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-top: -12px;
  box-shadow: calc(-100vmax - 28px) 0 0 100vmax var(--Primary-40);
  clip-path: polygon(100% 0, 1px 0, 0 12px, -100vmax 12px, -100vmax 18px, 0 18px, 1px 100%, 100% 100%);
}
.range__input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  background-color: var(--Primary-40);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-top: -12px;
  box-shadow: calc(-100vmax - 28px) 0 0 100vmax var(--Primary-40);
  clip-path: polygon(100% 0, 1px 0, 0 12px, -100vmax 12px, -100vmax 18px, 0 18px, 1px 100%, 100% 100%);
}
.range__input::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}
.range__input-disabled {
  opacity: 0.5;
}
.range__conclusion {
  position: relative;
}
.range__conclusion-text {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Primary-40);
  white-space: nowrap;
  transform: translateX(-50%);
}
.range__conclusion-disabled {
  opacity: 0.5;
}
.range__number {
  width: 85px;
  font: 700 30px/36px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Primary-40);
  text-align: center;
}
.range__text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.range__explanation {
  display: flex;
  align-items: center;
  gap: 4px;
}

.clue {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
}
.clue__wrapper {
  position: absolute;
  bottom: calc(100% + 4px);
  left: -135px;
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 270px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--Gray-90);
  z-index: 40;
}
.clue__wrapper-bottom {
  top: calc(100% + 4px);
  bottom: auto;
}
.clue__wrapper-active {
  display: flex;
}
.clue__text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}

.switch {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
  width: 51px;
  height: 31px;
}
.switch__input {
  display: none;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
}
.switch__input:checked + .switch__slider {
  background-color: var(--Primary-40);
}
.switch__input:checked + .switch__slider:before {
  transform: translateX(20px);
}
.switch__round {
  border-radius: 25px;
}
.switch__round:before {
  border-radius: 50%;
}

.check__input {
  display: none;
  width: 0;
  opacity: 0;
}
.check__input:checked ~ .check__label .check__check {
  background-color: var(--Black);
  background-image: url(../images/icons/check.png);
}
.check__label {
  display: flex;
  justify-content: start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.check__check {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Black);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background 0.3s ease;
}
.check__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.check__title {
  margin-top: -2px;
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--black);
}
.check__text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}
.check__textpanel {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
}
.check__span {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  font-weight: 600;
  color: var(--Gray-20);
}

.radio__input {
  position: absolute;
  width: 0;
  opacity: 0;
}
.radio__input:checked ~ .radio__label {
  border: 2px solid var(--Primary-40);
}
.radio__input:checked ~ .radio__label .radio__check {
  border: 7px solid var(--Primary-40);
}
.radio__input:checked ~ .radio__label .radio__title {
  color: var(--Primary-40);
}
.radio__label {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 20px 24px;
  border: 2px solid var(--Gray-60);
  border-radius: 8px;
  transition: border 0.3s linear;
}
.radio__check {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--Gray-40);
  border-radius: 50%;
  transition: border 0.3s linear;
}
.radio__title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
  transition: color 0.3s ease;
}

.tax__radio {
  position: absolute;
  width: 0;
  opacity: 0;
}
.tax__radio:checked ~ .tax__label .tax__check {
  border: 7px solid var(--Black);
}
.tax__label {
  display: grid;
  grid-template-columns: 20px auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 4px;
}
.tax__check {
  grid-row: span 2;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  border: 1.5px solid var(--Gray-40);
  border-radius: 50%;
  transition: border 0.3s linear;
}
.tax__title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.tax__subtitle {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
}
.tax__text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 24px;
}
.tabs_small {
  grid-template-columns: repeat(2, 1fr);
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: var(--White);
  transition: box-shadow 0.3s ease;
}
.tab__icons {
  display: flex;
  align-items: center;
}
.tab__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--Gray-100);
}
.tab__icon path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.tab__ai {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.tab__ai path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.tab__text {
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
  text-align: left;
  transition: color 0.3s ease;
}
.tab_active {
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
}
.tab_active .tab__icon path {
  fill: var(--Primary-40);
}
.tab_active .tab__ai path {
  fill: var(--Primary-40);
}
.tab_active .tab__text {
  color: var(--Primary-40);
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
}

.tag {
  display: flex;
}
.tag__label {
  padding: 7px 16px 7px 42px;
  border: 1px solid var(--Gray-70);
  border-radius: 18px;
  background-color: var(--Gray-100);
  background-image: url(../images/icons/plus.png);
  background-repeat: no-repeat;
  background-position: left 16px center;
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-20);
  transition: all 0.3s ease;
}
.tag__label:hover {
  background-color: var(--Gray-80);
}
.tag__input {
  display: none;
  width: 0;
  opacity: 0;
}
.tag__input:checked ~ .tag__label {
  background-color: var(--Gray-20);
  background-image: url(../images/icons/check.png);
  color: var(--White);
}
.tag__input:checked ~ .tag__label:hover {
  background-color: var(--Gray-20);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--Scrollbar);
}

::-webkit-scrollbar-track {
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#currency {
  padding: 16px 12px;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  border-right: 1px solid var(--Aside);
  background-color: var(--Gray-100);
  z-index: 300;
  transition: left 0.3s ease;
}
.aside_off {
  left: -250px;
}
.aside_active {
  left: 0;
}
.aside__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.aside__logo-img {
  width: 78px;
}
.aside__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
  padding: 10px;
}
.aside__list-line {
  border-bottom: 1px solid var(--Gray-80);
}
.aside__list-bottom {
  margin-top: auto;
}
.aside__link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  border-radius: 10px;
  font: 600 13px/17px "Inter", "sans-serif";
  letter-spacing: 0.03em;
  color: var(--Gray-30);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.aside__link svg {
  flex: 0 0 auto;
}
.aside__link path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.aside__link-active {
  background-color: var(--Aside);
  color: var(--Black);
}
.aside__link-active path {
  fill: var(--Black);
}

@media (max-width: 1371px) {
  .aside {
    left: -250px;
  }
  .aside_active {
    left: 0;
  }
}
.panel {
  padding: 0 20px 20px;
}
.panel__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.panel__top {
  display: flex;
  flex-direction: column;
}
.panel__tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid var(--Gray-60);
}
.panel__tab {
  padding: 14px 0;
  border-bottom: 3px solid var(--Gray-100);
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-30);
  transition: color 0.3s ease, border 0.3s ease;
  cursor: pointer;
}
.panel__tab-active {
  color: var(--Black);
  border-bottom: 3px solid var(--Primary-50);
}
.panel__radios {
  display: flex;
  align-items: center;
  gap: 20px;
}
.panel__radios .tax__label {
  align-items: center;
  gap: 10px;
}
.panel__radios .tax__check {
  grid-row: span 1;
  margin-top: 0;
}
.panel__container {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--White);
}
.panel__container-active {
  display: flex;
}
.panel__line {
  display: grid;
  grid-template-columns: auto 35px;
  align-items: center;
  gap: 10px;
}
.panel__block {
  width: 270px;
  padding: 6px 16px;
  border-radius: 4px;
}
.panel__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.panel__list-item {
  margin-left: 32px;
  list-style: disc;
}
.panel__list-item::marker {
  color: var(--Gray-30);
}
.panel__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  padding: 0 16px;
  font: 400 16px/24px "Inter", "sans-serif";
  color: var(--Primary-50);
  text-align: center;
}
.panel__btns {
  display: flex;
  align-items: center;
  gap: 4px;
}
.panel__inputs {
  display: flex;
  align-items: center;
  gap: 95px;
}
.panel__text {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.panel__number {
  font: 700 18px/24px "Inter", "sans-serif";
  letter-spacing: 0.02em;
  color: var(--Black);
  text-align: center;
}
.panel__subnumber {
  font: 500 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  text-align: center;
}
.panel__table {
  display: flex;
  flex-direction: column;
  max-width: 3000px;
  width: 100%;
  overflow-x: scroll;
}
.panel__head {
  display: grid;
  grid-template-columns: 135px 300px 260px 140px 210px 180px 150px 220px 220px 240px 165px 120px 90px 120px;
  padding: 8px 10px 10px;
}
.panel__head-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel__head-item svg {
  flex: 0 0 auto;
}
.panel__head-text {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  line-height: 16px;
  color: var(--Gray-30);
  text-align: center;
}
.panel__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel__btn {
  width: 200px;
}
.panel__payment {
  display: flex;
  align-items: center;
  gap: 6px;
}
.panel__payment-total {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.panel__payment-payments {
  font: 700 18px/24px "Inter", "sans-serif";
  letter-spacing: 0.02em;
  color: var(--Black);
}
.panel__period {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.panel__period-title {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
}
.panel__period-list {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 56px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--Gray-100);
}
.panel__period-item {
  padding: 8px;
  border-radius: 8px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.panel__period-item-active {
  background-color: var(--White);
}
.panel__period-calendar {
  width: 150px;
}
.panel__duos {
  display: flex;
  gap: 24px;
}
.panel__duo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 24px;
}
.panel__select {
  width: 256px;
  margin-top: auto;
}
.panel__check {
  display: grid;
  grid-auto-flow: column;
  gap: 16px 48px;
  grid-template-rows: 1fr 1fr 1fr;
}
.panel__or {
  position: absolute;
  top: -18px;
  left: 24px;
  font: 400 12px/16px "Inter", "sans-serif";
  color: var(--Gray-20);
}
.panel .check__label {
  align-items: center;
}
.panel ::-webkit-scrollbar-thumb {
  background-color: #0894F3;
}

.users {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.user {
  display: grid;
  grid-template-columns: 135px 300px 260px 140px 210px 180px 150px 220px 220px 240px 165px 120px 90px 120px;
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  padding: 10px 0;
}
.user__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-right: 1px solid var(--Gray-60);
}
.user__item:last-child {
  border-right: none;
}
.user__item-center {
  justify-content: center;
}
.user__item-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 2px 2px 2px 6px;
  border: 1px solid var(--Gray-60);
  border-radius: 6px;
  background-color: var(--White);
}
.user__item-text {
  padding: 4px 0;
  font: 300 14px/16px "Inter", "sans-serif";
  color: var(--Black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user__item-role {
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;
  white-space: normal;
}
.user__item-payment path {
  fill: var(--Gray-30);
  transition: fill 0.3s ease;
}
.user__item-payment:hover path {
  fill: var(--Primary-50);
}
.user__item-delete path {
  fill: var(--Gray-30);
  transition: fill 0.3s ease;
}
.user__item-delete:hover path {
  fill: var(--Red-error);
}
.user__block {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.user__block-active {
  display: flex;
}
.user__block-blue {
  background-color: var(--Primary-90);
}
.user__block-red {
  background-color: var(--Rose);
}
.user__block-btn {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.user__block-btn-active {
  background-color: var(--White);
}
.user__status-item {
  display: none;
}
.user__status-item-active {
  display: flex;
}

.user2 {
  grid-template-columns: 135px 300px 260px 150px 210px 180px 130px 150px 150px 150px 150px;
}

.showby {
  display: flex;
  align-items: center;
  gap: 16px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.showby__btn {
  transition: font 0.3s ease, color 0.3s ease;
}
.showby__btn-active {
  font-weight: 600;
  color: var(--Primary-50);
}

.pages {
  display: flex;
  align-items: center;
  gap: 12px;
}
.pages__btn {
  width: 30px;
  height: 30px;
  border: 1px solid var(--Icons);
  border-radius: 4px;
  font: 300 16px/24px "Inter", "sans-serif";
  letter-spacing: 0.02em;
  color: var(--Icons);
}

.confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6980392157);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1000;
}
.confirm_active {
  display: flex;
}
.confirm__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  padding: 38px 55px;
  border-radius: 32px;
  background-color: var(--White);
  transform: translate3d(-50%, -50%, 0);
}
.confirm__wrapper-active {
  display: flex;
}
.confirm__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.confirm__list-item {
  margin-left: 24px;
  list-style: disc;
}
.confirm__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.confirm__btn {
  width: 200px;
}
.confirm__text {
  display: inline;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.confirm__span {
  font-weight: 600;
}

.edit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6980392157);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1000;
}
.edit_active {
  display: flex;
}
.edit__form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
  width: 100%;
  padding: 24px 64px;
  border-radius: 12px;
  background-color: var(--White);
  transform: translate3d(-50%, -50%, 0);
}
.edit__form-active {
  display: flex;
}
.edit__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 36px;
}
.edit__title {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.edit__label {
  position: relative;
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.edit__input {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.edit__input::-moz-placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.edit__input::placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.edit__copy {
  position: absolute;
  bottom: 6px;
  right: -32px;
  transform: translateY(-50%);
}
.edit__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit__footer-btn {
  width: 200px;
}

.newuser {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6980392157);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1000;
}
.newuser_active {
  display: flex;
}
.newuser__form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
  width: 100%;
  padding: 38px 55px;
  border-radius: 32px;
  background-color: var(--White);
  transform: translate3d(-50%, -50%, 0);
}
.newuser__col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.newuser__title {
  font: 600 20px/28px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Gray-10);
  transition: opacity 0.3s ease;
}
.newuser__radios {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.newuser__footer-text {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
}
.newuser__footer-link {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Primary-40);
}
.newuser__btns {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--Gray-100);
}
.newuser__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px 4px;
  border-radius: 8px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  transition: background-color 0.3s ease;
}
.newuser__btn-active {
  background-color: var(--White);
}
.newuser__job {
  display: none;
}
.newuser__job-active {
  display: flex;
}
.newuser__employee {
  display: none;
}
.newuser__employee-active {
  display: flex;
}
.newuser__show {
  display: none;
}
.newuser__show-active {
  display: flex;
}
.newuser .check__label {
  align-items: center;
}

.payment {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6980392157);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1000;
}
.payment_active {
  display: flex;
}
.payment__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1600px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--White);
  overflow-x: auto;
  transform: translate3d(-50%, -50%, 0);
}
.payment__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment__top-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.payment__top-title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-30);
}
.payment__top-line {
  display: flex;
  align-items: center;
}
.payment__user {
  display: flex;
  flex-direction: column;
}
.payment__user-head {
  display: grid;
  grid-template-columns: 300px 260px 210px 180px 150px;
  padding: 10px 8px;
}
.payment__user-content {
  display: grid;
  grid-template-columns: 300px 260px 210px 180px 150px;
  padding: 10px 8px;
}
.payment__tables {
  display: grid;
  grid-template-columns: 1440px 370px;
  height: 550px;
  overflow-y: scroll;
}
.payment__table {
  display: flex;
  flex-direction: column;
  width: 1440px;
}
.payment__table2 {
  width: 1980px;
}
.payment__head {
  display: grid;
  grid-template-columns: 140px 100px 100px 160px 160px 100px 180px 200px 80px 100px 100px;
  height: 50px;
  padding: 7px 10px;
}
.payment__head-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 36px;
}
.payment__head-text {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  line-height: 18px;
  color: var(--Gray-30);
  text-align: center;
}
.payment__head-subtext {
  position: absolute;
  bottom: -8px;
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
  text-align: center;
}
.payment__head2 {
  grid-template-columns: 135px 300px 260px 150px 210px 180px 130px 150px 150px 150px 150px;
}
.payment__head2-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 36px;
}
.payment__head2-text {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  line-height: 18px;
  color: var(--Gray-30);
  text-align: center;
}
.payment__payments {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.payment__payment {
  display: grid;
  grid-template-columns: 140px 100px 100px 160px 160px 100px 180px 200px 80px 100px 100px;
  height: 50px;
  padding: 8.5px 0;
}
.payment__payment-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment__payment-text {
  font: 300 14px/16px "Inter", "sans-serif";
  color: var(--Black);
  text-align: center;
}
.payment__left {
  display: flex;
  flex-direction: column;
}
.payment__lefthead {
  display: grid;
  grid-template-columns: 120px 110px 120px;
  padding: 7px 10px;
}
.payment__leftpayments {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.payment__leftpayment {
  display: grid;
  grid-template-columns: 120px 110px 120px;
  height: 50px;
  padding: 8.5px 0;
}
.payment__footer {
  display: grid;
  grid-template-columns: 180px 140px 100px 100px 160px 100px 200px 100px 100px;
}
.payment__footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment__footer-text {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-30);
}
.payment__footer-number {
  padding: 2px 8px;
  border-radius: 4px;
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
}
.payment__footer-total {
  display: flex;
  align-items: center;
  gap: 4px;
  grid-column: span 2;
}
.payment__footer-totaltext {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.payment__footer-payments {
  font: 700 18px/24px "Inter", "sans-serif";
  letter-spacing: 0.02em;
  color: var(--Black);
}
.payment__btn path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.payment__btn:hover path {
  fill: var(--Primary-50);
}
.payment__docs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.payment__docs-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Primary-50);
}
.payment ::-webkit-scrollbar-thumb {
  background-color: #0894F3;
}

.vat {
  display: grid;
  grid-template-columns: 300px 260px;
}
.vat__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.vat__text {
  font: 300 14px/16px "Inter", "sans-serif";
  color: var(--Black);
}
.vat__input {
  width: 50px;
  height: 30px;
  padding: 4px;
  border: 2px solid var(--Gray-80);
  border-radius: 4px;
  font: 300 14px/16px "Inter", "sans-serif";
  color: var(--Black);
  text-align: center;
}

.doc {
  position: relative;
}
.doc__delete {
  position: absolute;
  top: -11px;
  left: -30px;
  width: 30px;
  height: 22px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--White);
}
.doc__delete path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.doc__delete-active {
  display: flex;
}
.doc__delete:hover path {
  fill: var(--Red-error);
}/*# sourceMappingURL=panel.css.map */