:root {
  --Primary-10: #003B73;
  --Primary-20: #004C95;
  --Primary-30: #005EB8;
  --Primary-40: #006FD8;
  --Primary-50: #0095FF;
  --Primary-60: #199FFF;
  --Primary-70: #3FAFFF;
  --Primary-80: #66BFFF;
  --Primary-90: #8FD0FF;
  --Primary-100: #B8E1FF;
  --Gray-10: #3F3F45;
  --Gray-20: #53535A;
  --Gray-30: #65656F;
  --Gray-40: #898990;
  --Gray-50: #A0A1A9;
  --Gray-60: #B4B5BE;
  --Gray-70: #C7C9CF;
  --Gray-80: #DBDDE1;
  --Gray-90: #E6E8EC;
  --Gray-100: #F2F3F5;
  --White: #FFF;
  --Black: #202123;
  --Aside: #E7E8EA;
  --Icons: #6A6A73;
  --Yellow: #FFCC00;
  --Green: #34C759;
  --Red: #FF3B30;
  --Red-active: #b90126;
  --Red-hover: #da002c;
  --Red-error: #FF0034;
  --Rose: #F29792;
  --Scrollbar: #D9D9D9;
}

.main {
  position: relative;
  margin-left: 250px;
  margin-top: 64px;
  transition: margin-left 0.3s ease;
}
.main_active {
  margin-left: 0;
}

@media (max-width: 1371px) {
  .main {
    margin-left: 0;
  }
}
.container {
  margin: 0 auto;
}
.container_video {
  max-width: 1240px;
  transition: max-width 0.3s ease;
}
.container_video-active {
  max-width: 1920px;
}
.container_medium {
  max-width: 1090px;
}
.container_small {
  max-width: 726px;
}
.container_extrasmall {
  max-width: 600px;
}

.bg {
  background-color: var(--Gray-100);
}

.bb {
  border-bottom: 0.5px solid var(--Gray-80);
}

.br {
  border-right: 1px solid var(--Gray-80);
}

.bhead {
  border-top: 1px solid var(--Gray-80);
  border-left: 1px solid var(--Gray-80);
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font: 700 40px/48px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 23px;
  border-radius: 12px;
  font: 600 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.03em;
  white-space: nowrap;
}
.btn_h48 {
  padding: 11px 23px;
}
.btn_240 {
  max-width: 240px;
  width: 100%;
}
.btn_primary {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_primary:hover {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
}
.btn_primary:active {
  border: 1px solid var(--Primary-20);
  background-color: var(--Primary-20);
}
.btn_secondary {
  border: 1px solid var(--Gray-80);
  background-color: var(--Gray-80);
  color: var(--Black);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_secondary:hover {
  border: 1px solid var(--Gray-70);
  background-color: var(--Gray-70);
}
.btn_secondary:active {
  border: 1px solid var(--Gray-60);
  background-color: var(--Gray-60);
}
.btn_secondary:disabled {
  border: 1px solid var(--Gray-100);
  background-color: var(--Gray-100);
  color: var(--Gray-50);
}
.btn_tertiary {
  border: 1px solid var(--Black);
  color: var(--Black);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_tertiary path {
  fill: var(--Black);
  transition: fill 0.3s ease;
}
.btn_tertiary:hover {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
}
.btn_tertiary:hover path {
  fill: var(--White);
}
.btn_tertiary:active {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
  color: var(--White);
}
.btn_quaternary {
  border: 1px solid var(--Primary-40);
  color: var(--Primary-40);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn_quaternary:hover {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
}
.btn_quaternary:active {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
  color: var(--White);
}
.btn_black {
  padding: 11px 23px;
  border: 0.5px solid var(--Black);
  border-radius: 8px;
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn_black path {
  stroke: var(--Black);
  transition: stroke 0.3s ease;
}
.btn_black:hover {
  background-color: var(--Black);
  color: var(--White);
}
.btn_black:hover path {
  stroke: var(--White);
}
.btn_white {
  padding: 11px 23px;
  border: 0.5px solid var(--White);
  border-radius: 8px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: var(--White);
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-10);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}
.btn_white path {
  stroke: var(--Gray-10);
  transition: stroke 0.3s ease;
}
.btn_white-hide {
  display: none;
}
.btn_white:hover {
  border: 0.5px solid var(--Gray-100);
  background-color: var(--Gray-100);
  color: var(--Black);
}
.btn_white:hover path {
  stroke: var(--Black);
}
.btn_white-active {
  border: 0.5px solid var(--Black);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--Black);
  color: var(--White);
}
.btn_white-active path {
  stroke: var(--White);
}
.btn_white-active:hover {
  border: 0.5px solid var(--Gray-10);
  background-color: var(--Gray-10);
  color: var(--White);
}
.btn_white-active:hover path {
  stroke: var(--White);
}
.btn_white-active .btn_white-hide {
  display: block;
}
.btn_blue {
  padding: 11px 23px;
  border: 0.5px solid var(--Primary-40);
  border-radius: 8px;
  background-color: var(--Primary-40);
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--White);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.btn_blue path {
  stroke: var(--White);
}
.btn_blue:hover {
  border: 0.5px solid var(--Primary-30);
  background-color: var(--Primary-30);
}
.btn_blue:active {
  border: 0.5px solid var(--Primary-20);
  background-color: var(--Primary-20);
}
.btn_red {
  border: 0.5px solid var(--Red-error);
  border-radius: 8px;
  background-color: var(--Red-error);
  color: var(--White);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.btn_red path {
  stroke: var(--White);
}
.btn_red:hover {
  border: 0.5px solid var(--Red-hover);
  background-color: var(--Red-hover);
}
.btn_red:active {
  border: 0.5px solid var(--Red-active);
  background-color: var(--Red-active);
}
.btn-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.btn-icon48 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 11px;
}
.btn_center {
  margin: 0 auto;
}
.btn_full {
  width: 100%;
  justify-content: flex-start;
}
.btn_like-active path {
  stroke: var(--Red);
  fill: var(--Red);
  transition: stroke 0.3s ease, fill 0.3s ease;
}
.btn_like-active:hover path {
  stroke: var(--Red);
  fill: var(--Red);
}

@media (max-width: 1199px) {
  .btn {
    padding: 12px 24px;
    border-radius: 8px;
    font: 600 15px/22px "Inter", "sans-serif";
    letter-spacing: 0.01em;
  }
}
@media (max-width: 954px) {
  .btn {
    padding: 5px 16px;
    border-radius: 6px;
    font: 600 13px/20px "Inter", "sans-serif";
    letter-spacing: 0.03em;
  }
}
.link-large {
  font: 500 20px/28px "Inter", "sans-serif";
  text-underline-offset: 3px;
  color: var(--Black);
  cursor: pointer;
}
.link-medium {
  font: 500 14px/21px "Inter", "sans-serif";
  text-align: center;
  text-underline-offset: 3px;
  color: var(--Black);
  cursor: pointer;
}

.press-right {
  margin-left: auto;
}
.press-left {
  margin-right: auto;
}

.input {
  width: 100%;
  padding: 16px 12px;
  border-radius: 12px;
  background-color: var(--Gray-100);
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  outline: none;
  transition: background-color 0.3s ease;
}
.input__help {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  display: flex;
  flex-direction: column;
  height: 0;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--White);
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 20;
}
.input__help-active {
  height: 198px;
}
.input__help-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 14px;
}
.input__help-item:hover {
  background-color: var(--Gray-100);
}
.input__help-title {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
}
.input__help-text {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-20);
}
.input::-moz-placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.input::placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.input_number {
  text-align: center;
}
.input_textcenter {
  text-align: center;
}
.input:focus {
  background-color: var(--White);
  outline: 2px solid var(--Gray-40);
}
.input_search {
  width: 432px;
  padding: 16px 12px 16px 48px;
  background-image: url("../images/icons/search.png");
  background-position: center left 12px;
  background-repeat: no-repeat;
}
.input_search::-moz-placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-40);
}
.input_search::placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-40);
}
.input_grey {
  color: var(--Gray-30);
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.label__input {
  padding: 24px 12px 8px;
}
.label__title {
  position: absolute;
  top: 16px;
  left: 12px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  transition: top 0.3s ease, font 0.3s ease;
  z-index: 1;
}
.label__title-textarea {
  top: 8px;
}
.label__title-icon {
  left: 44px;
}
.label__textarea {
  width: 100%;
  height: 136px;
  padding: 44px 12px 8px;
  border-radius: 12px;
  background-color: var(--Gray-100);
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  outline: none;
  resize: none;
  transition: padding 0.3s ease;
}
.label__textarea::-moz-placeholder {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
}
.label__textarea::placeholder {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
}
.label__textarea-big {
  height: 181px;
}
.label__textarea-extrabig {
  height: 361px;
}
.label__text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.label__flyingtext {
  position: absolute;
  top: 24px;
  left: 24px;
  display: none;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.label__clue {
  position: absolute;
  top: 50%;
  right: -36px;
  transform: translateY(-50%);
}
.label__clue2 {
  right: -28px;
}
.label-active .label__title {
  top: 8px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.label-active .label__textarea {
  padding: 28px 12px 8px;
}
.label-active .label__flyingtext {
  display: block;
}
.label_search {
  position: relative;
  width: 432px;
  z-index: 30;
}
.label__top {
  position: absolute;
  bottom: 100%;
  display: flex;
  width: 100%;
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.label__bottom {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.label__bottom-small {
  font: 500 10px/14px "Inter", "sans-serif";
  letter-spacing: 0;
  white-space: nowrap;
}
.label__bottom-left {
  justify-content: flex-start;
}
.label__currency {
  position: absolute;
  top: 50%;
  right: 15px;
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
  transform: translate3d(0, -50%, 0);
}
.label_error-text {
  position: absolute;
  bottom: -16px;
  display: none;
  font: 400 12px/16px "Inter", "sans-serif";
  color: var(--Red-error);
}
.label_error .label__input {
  color: var(--Red-error);
  outline: 2px solid var(--Red-error);
}
.label_error .label_error-text {
  display: block;
}

.textarea {
  width: 100%;
  height: 60px;
  padding: 20px 12px;
  border-radius: 12px;
  background-color: var(--Gray-100);
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
  outline: none;
  resize: none;
}
.textarea::-moz-placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.textarea::placeholder {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-30);
}
.textarea_adjustment {
  display: -webkit-box;
  padding: 0px 54px 0 12px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 60px;
  overflow: hidden;
  transition: height 0.3s ease, line-height 0.3s ease;
}
.textarea_adjustment::-moz-placeholder {
  line-height: 60px;
}
.textarea_adjustment::placeholder {
  line-height: 60px;
}
.textarea_adjustment-active {
  display: -webkit-box;
  height: 500px;
  padding: 20px 54px 20px 10px;
  line-height: 20px;
  -webkit-line-clamp: 23;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.textarea_adjustment-active::-moz-placeholder {
  line-height: 20px;
}
.textarea_adjustment-active::placeholder {
  line-height: 20px;
}

.select {
  position: relative;
}
.select__input {
  background-image: url("../images/icons/chevron_down.png");
  background-position: center right 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.select__title {
  position: absolute;
  top: 16px;
  left: 12px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  transition: top 0.3s ease, font 0.3s ease;
}
.select__title-active {
  top: 8px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.select_up .select__input {
  padding: 24px 12px 8px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
}
.select__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 14px;
}
.select__box-vert {
  padding-top: 10px;
  padding-bottom: 10px;
}
.select_currency .select__input {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--White);
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 10;
}
.options__wrapper {
  padding: 16px;
}
.options_active {
  height: 176px;
  overflow-y: scroll;
}
.options_active.options_2item {
  height: 128px;
}
.options_currency {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
}

.option {
  padding: 14px 12px;
  border-radius: 8px;
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
  cursor: pointer;
}
.option:hover {
  background-color: var(--Gray-100);
}
.option_disabled {
  opacity: 0.7;
}

.range {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.range__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 666px;
  width: 100%;
  height: 30px;
  border: none;
  overflow: hidden;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--Primary-40);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-top: -12px;
  box-shadow: calc(-100vmax - 28px) 0 0 100vmax var(--Primary-40);
  clip-path: polygon(100% 0, 1px 0, 0 12px, -100vmax 12px, -100vmax 18px, 0 18px, 1px 100%, 100% 100%);
}
.range__input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  background-color: var(--Primary-40);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-top: -12px;
  box-shadow: calc(-100vmax - 28px) 0 0 100vmax var(--Primary-40);
  clip-path: polygon(100% 0, 1px 0, 0 12px, -100vmax 12px, -100vmax 18px, 0 18px, 1px 100%, 100% 100%);
}
.range__input::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}
.range__input-disabled {
  opacity: 0.5;
}
.range__conclusion {
  position: relative;
}
.range__conclusion-text {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Primary-40);
  white-space: nowrap;
  transform: translate3d(-50%, 0, 0);
}
.range__conclusion-disabled {
  opacity: 0.5;
}
.range__number {
  width: 85px;
  font: 700 30px/36px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Primary-40);
  text-align: center;
}
.range__text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.range__explanation {
  display: flex;
  align-items: center;
  gap: 4px;
}
.range__meaning {
  position: absolute;
  left: 50%;
  top: -6px;
  width: 16px;
  font: 700 11px/16px "Inter", "sans-serif";
  letter-spacing: 0.01em;
  font-size: 12px;
  color: var(--Primary-40);
  text-align: center;
  transform: translate3d(-50%, 0, 0);
}
.range__start {
  position: absolute;
  left: -12px;
  bottom: -6px;
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.range__finish {
  position: absolute;
  right: -12px;
  bottom: -6px;
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}

.clue {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
}
.clue__wrapper {
  position: absolute;
  bottom: calc(100% + 4px);
  left: -150px;
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--Gray-90);
  z-index: 40;
}
.clue__wrapper-bottom {
  top: calc(100% + 4px);
  bottom: auto;
}
.clue__wrapper-active {
  display: flex;
}
.clue__text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}
.clue__list {
  margin-left: 8px;
  padding-left: 16px;
}
.clue__list-item {
  list-style: disc;
}

.switch {
  position: relative;
  display: inline-block;
  flex: 0 0 auto;
  width: 51px;
  height: 31px;
}
.switch__input {
  display: none;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
}
.switch__input:checked + .switch__slider {
  background-color: var(--Primary-40);
}
.switch__input:checked + .switch__slider:before {
  transform: translateX(20px);
}
.switch__round {
  border-radius: 25px;
}
.switch__round:before {
  border-radius: 50%;
}

.check__input {
  display: none;
  width: 0;
  opacity: 0;
}
.check__input:checked ~ .check__label .check__check {
  background-color: var(--Black);
  background-image: url(../images/icons/check.png);
}
.check__label {
  display: flex;
  justify-content: start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.check__check {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Black);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background 0.3s ease;
}
.check__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.check__title {
  margin-top: -2px;
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--black);
}
.check__text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}
.check__textpanel {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
}
.check__span {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  font-weight: 600;
  color: var(--Gray-20);
}
.check__clue {
  display: flex;
  align-items: center;
  justify-content: center;
}
.check_circle {
  display: grid;
  grid-template-columns: auto 80px;
}
.check_circle .check__label {
  align-items: center;
}
.check_circle .check__check {
  margin: 0 16px;
  border-radius: 50%;
}
.check_circle .check__title {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
}

.radio__input {
  position: absolute;
  width: 0;
  opacity: 0;
}
.radio__input:checked ~ .radio__label {
  border: 2px solid var(--Primary-40);
}
.radio__input:checked ~ .radio__label .radio__check {
  border: 7px solid var(--Primary-40);
}
.radio__input:checked ~ .radio__label .radio__title {
  color: var(--Primary-40);
}
.radio__label {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 20px 24px;
  border: 2px solid var(--Gray-60);
  border-radius: 8px;
  transition: border 0.3s linear;
}
.radio__check {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--Gray-40);
  border-radius: 50%;
  transition: border 0.3s linear;
}
.radio__title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
  transition: color 0.3s ease;
}

.tax__radio {
  position: absolute;
  width: 0;
  opacity: 0;
}
.tax__radio:checked ~ .tax__label .tax__check {
  border: 7px solid var(--Black);
}
.tax__label {
  display: grid;
  grid-template-columns: 20px auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 4px;
}
.tax__check {
  grid-row: span 2;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  border: 1.5px solid var(--Gray-40);
  border-radius: 50%;
  transition: border 0.3s linear;
}
.tax__title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.tax__subtitle {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
}
.tax__text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 24px;
}
.tabs_small {
  grid-template-columns: repeat(2, 1fr);
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: var(--White);
  transition: box-shadow 0.3s ease;
}
.tab__icons {
  display: flex;
  align-items: center;
}
.tab__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--Gray-100);
}
.tab__icon path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.tab__ai {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.tab__ai path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.tab__text {
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
  text-align: left;
  transition: color 0.3s ease;
}
.tab:disabled {
  opacity: 0.5;
}
.tab_active {
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
}
.tab_active .tab__icon path {
  fill: var(--Primary-40);
}
.tab_active .tab__ai path {
  fill: var(--Primary-40);
}
.tab_active .tab__text {
  color: var(--Primary-40);
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
}

.tag {
  display: flex;
}
.tag__label {
  padding: 7px 16px 7px 42px;
  border: 1px solid var(--Gray-70);
  border-radius: 18px;
  background-color: var(--Gray-100);
  background-image: url(../images/icons/plus.png);
  background-repeat: no-repeat;
  background-position: left 16px center;
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-20);
  transition: all 0.3s ease;
}
.tag__label:hover {
  background-color: var(--Gray-80);
}
.tag__input {
  display: none;
  width: 0;
  opacity: 0;
}
.tag__input:checked ~ .tag__label {
  background-color: var(--Gray-20);
  background-image: url(../images/icons/check.png);
  color: var(--White);
}
.tag__input:checked ~ .tag__label:hover {
  background-color: var(--Gray-20);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--Scrollbar);
}

::-webkit-scrollbar-track {
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 0);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.datepicker {
  max-width: 322px;
  background-image: url("../images/icons/calendar.png");
  background-position: center right 12px;
  background-repeat: no-repeat;
}

#email {
  padding-left: 44px;
  background-image: url("../images/icons/mail.png");
  background-position: center left 12px;
  background-repeat: no-repeat;
}

#tel {
  padding-left: 44px;
  background-image: url("../images/icons/phone.png");
  background-position: center left 12px;
  background-repeat: no-repeat;
}

#currency {
  padding: 16px 12px;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  border-right: 1px solid var(--Aside);
  background-color: var(--Gray-100);
  z-index: 300;
  transition: left 0.3s ease;
}
.aside_off {
  left: -250px;
}
.aside_active {
  left: 0;
}
.aside__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.aside__logo-img {
  width: 78px;
}
.aside__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
  padding: 10px;
}
.aside__list-line {
  border-bottom: 1px solid var(--Gray-80);
}
.aside__list-bottom {
  margin-top: auto;
}
.aside__link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  border-radius: 10px;
  font: 600 13px/17px "Inter", "sans-serif";
  letter-spacing: 0.03em;
  color: var(--Gray-30);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.aside__link svg {
  flex: 0 0 auto;
}
.aside__link path {
  fill: var(--Icons);
  transition: fill 0.3s ease;
}
.aside__link-active {
  background-color: var(--Aside);
  color: var(--Black);
}
.aside__link-active path {
  fill: var(--Black);
}

@media (max-width: 1371px) {
  .aside {
    left: -250px;
  }
  .aside_active {
    left: 0;
  }
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 9px 32px;
  z-index: 200;
}
.header__logo {
  width: 78px;
  height: 30px;
}
.header__line {
  width: 1px;
  height: 32px;
  background-color: var(--Gray-90);
}
.header__access {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 17px;
  border: 1px solid var(--Gray-80);
  border-radius: 8px;
}
.header__text {
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
}
.header__span {
  font: 500 12px/17px "Inter", "sans-serif";
  color: var(--Gray-40);
}
.header__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 13px;
  background: var(--Gray-80);
}
.header__avatar-text {
  font: 500 12px/17px "Inter", "sans-serif";
  color: var(--Black);
}

.bulb path {
  fill: var(--Icons);
}
.bulb_yellow path {
  fill: var(--Yellow);
}
.bulb_green path {
  fill: var(--Green);
}
.bulb_red path {
  fill: var(--Red);
}

.notifications {
  position: absolute;
  top: -8px;
  left: 14px;
  min-width: 18px;
  padding: 0 3px;
  border: 1px solid var(--White);
  border-radius: 9px;
  background-color: var(--Primary-50);
}
.notifications__number {
  font: 700 11px/16px "Inter", "sans-serif";
  letter-spacing: 0.01em;
  color: var(--White);
}

.section {
  display: none;
  padding: 10px 32px 24px;
  overflow: hidden;
}
.section_active {
  display: block;
}
.section__g24 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.section__form-title {
  font: 600 20px/28px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}
.section__form-subtitle {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__tabs {
  display: flex;
  gap: 16px;
}
.section__tab {
  display: none;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
}
.section__tab-active {
  display: flex;
}
.section__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.section__top a {
  text-decoration: underline;
}
.section__head {
  display: flex;
  flex-direction: column;
}
.section__head-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}
.section__head-bottom {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  row-gap: 10px;
  padding: 10px 16px;
}
.section__head-title {
  font: 700 22px/30px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Black);
}
.section__head-subtitle {
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__head-text {
  font: 500 10px/14px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-40);
}
.section__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--White);
}
.section__wrapper-l50 {
  gap: 0;
  padding: 20px;
  padding-left: 50px;
}
.section__wrapper-ai {
  background-image: url("../images/icons/ai.png");
  background-repeat: no-repeat;
  background-position: center left 13px;
  background-size: 24px 24px;
}
.section__wrapper-p24 {
  padding: 24px;
}
.section__experiences {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__experience {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__experience:nth-child(n+2) {
  padding-top: 24px;
  border-top: 1px solid var(--Gray-90);
}
.section__knowledges-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__knowledge {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__knowledge:nth-child(n+3) {
  padding-top: 24px;
  border-top: 1px solid var(--Gray-90);
}
.section__knowledge:last-child {
  margin-bottom: 24px;
}
.section__vakansi {
  position: relative;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 24px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--White);
}
.section__flexend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.section__plan {
  display: grid;
  grid-template-columns: 1fr 56px 56px;
  gap: 16px;
}
.section__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 56px;
  height: 56px;
  background-color: var(--Gray-100);
}
.section__icon path {
  fill: var(--Black);
}
.section__icon:disabled path {
  fill: var(--Gray-60);
}
.section__icon-icon path {
  fill: var(--Icons);
}
.section__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section__item-withbtn {
  display: grid;
  grid-template-columns: 1fr 56px;
  gap: 0 24px;
}
.section__item-small {
  width: 322px;
}
.section__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.section__avatar-image {
  width: 160px;
  height: 160px;
  border: 1px solid var(--Gray-90);
  border-radius: 16px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section__avatar-logo {
  padding: 20px;
}
.section__avatar-site {
  font: 300 14px/16px "Inter", "sans-serif";
  color: var(--Primary-50);
  text-align: center;
}
.section__status {
  margin-top: 14px;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: rgba(0, 111, 216, 0.1019607843);
  font: 500 10px/14px "Inter", "sans-serif";
  letter-spacing: 0;
}
.section__status-blue {
  color: var(--Primary-40);
}
.section__rezyumes {
  grid-column: span 2;
  padding: 0 16px;
}
.section__rezyume {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 24px 40px;
  padding: 0 16px;
}
.section__rezyume-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section__rezyume-h2 {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
}
.section__rezyume-h3 {
  font: 600 20px/28px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}
.section__rezyume-h4 {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__rezyume-h5 {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.section__rezyume-text {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.section__show {
  display: none;
}
.section__show-active {
  display: block;
}
.section__show-btn path {
  transition: fill 0.3s ease;
}
.section__show-btn:hover path {
  fill: var(--Red-error);
}
.section__col {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.section__col-title {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
}
.section__col-text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}
.section__tags {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.section__tags-item {
  padding: 8px 16px;
  border: 1px solid var(--Gray-90);
  border-radius: 18px;
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-20);
}
.section__tag {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: var(--Gray-100);
}
.section__tag-text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__tag-btn {
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/close.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.section__or {
  display: flex;
  justify-content: center;
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-10);
}
.section__imgloading {
  display: grid;
  grid-template-columns: 96px auto;
  gap: 24px;
  align-items: center;
}
.section__imgloading-image {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 16px;
}
.section__imgloading-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--Gray-90);
  border-radius: 16px;
}
.section__imgloading-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.section__imgloading-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section__imgloading-title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__imgloading-text {
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-60);
}
.section__imgloading-btn {
  padding: 5px 16px;
  border-radius: 6px;
  background-color: var(--Gray-80);
  font: 600 13px/20px "Inter", "sans-serif";
  letter-spacing: 0.03em;
  color: var(--Black);
}
.section__educations {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__educations-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__educations-item:nth-child(n+2) {
  padding-top: 24px;
  border-top: 1px solid var(--Gray-90);
}
.section__education {
  display: none;
  flex-direction: column;
  gap: 24px;
}
.section__education-active {
  display: flex;
}
.section__title {
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.section__line {
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  gap: 16px;
}
.section__linesmall {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 16px;
}
.section__linedate {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 120px auto;
  gap: 16px;
}
.section__line50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.section__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.section__footer2 {
  display: flex;
  justify-content: space-between;
}
.section__burger {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
.section__view {
  padding: 15px;
  padding-left: 50px;
}
.section__view-text {
  display: -webkit-box;
  height: 20px;
  font: 500 14px/20px "Inter", "sans-serif";
  color: var(--Black);
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section_collapse {
  position: fixed;
  top: 64px;
  left: 250px;
  right: 0;
  background-color: var(--Gray-100);
  z-index: 100;
}
.section__collapse {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section__collapse .section__hide {
  display: flex;
}
.section__collapse .section__view {
  display: none;
}
.section__collapse .section__burger {
  left: -44px;
}
.section__collapse-collapse .section__hide {
  display: none;
}
.section__collapse-collapse .section__view {
  display: block;
}
.section__collapse-collapse .section__burger {
  left: 15px;
}
.section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: margin 0.3s ease;
}
.section__main-active {
  margin-right: 620px;
}
.section__btns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.section__btns-width {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 176px;
  transition: width 0.3s ease;
}
.section__btns-width-active {
  width: 596px;
}
.section__video {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.section__video-player {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url("../images/player.png");
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100% 100%;
}
.section__video-video {
  width: 100%;
  height: 696px;
}
.section__part {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section__part-upline {
  padding-top: 12px;
  border-top: 1px solid #D9D9D9;
}
.section__part-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
}
.section__part-text {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.section__list {
  padding-left: 44px;
}
.section__list-item {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  list-style: disc;
}
.section__description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section__description-title {
  font: 700 30px/36px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.section__description-info {
  display: flex;
  gap: 6px;
  align-items: center;
}
.section__description-text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-40);
}
.section__dots {
  position: absolute;
  top: -6px;
  right: 0;
  border: 0.5px solid var(--Black);
  border-radius: 8px;
}
.section__delete path {
  transition: fill 0.3s ease;
}
.section__delete:hover path {
  fill: var(--Red);
}
.section__reset path {
  transition: fill 0.3s ease;
}
.section__reset:hover path {
  fill: var(--Red);
}
.section_mt {
  margin-top: 388px;
}
.section_mt-collapse {
  margin-top: 598px;
}
.section__pb {
  padding-bottom: 82px;
}
.section__ranges {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding: 0 40px 0 12px;
}
.section__ranges-title {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.section__ranges-title span {
  font-weight: 700;
}
.section__ranges .range__input {
  max-width: 500px;
  width: 100%;
  height: 38px;
}
.section__ranges .range__input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  margin-top: -6px;
  box-shadow: calc(-100vmax - 15px) 0 0 100vmax var(--Primary-40);
  clip-path: polygon(100% 0, 1px 0, 0 6px, -100vmax 6px, -100vmax 10px, 0 10px, 1px 100%, 100% 100%);
}
.section__ranges .range__input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  margin-top: -6px;
  box-shadow: calc(-100vmax - 15px) 0 0 100vmax var(--Primary-40);
  clip-path: polygon(100% 0, 1px 0, 0 6px, -100vmax 6px, -100vmax 10px, 0 10px, 1px 100%, 100% 100%);
}
.section__ranges .range__input::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
}
.section__access {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.section__access-input {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.section__tariffs {
  display: grid;
  grid-template-columns: auto 110px;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--Gray-80);
}
.section__tariffs-text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}
.section__tariffs1 {
  display: grid;
  grid-template-columns: auto 200px 80px 200px;
  gap: 16px;
}
.section__tariffs2 {
  display: grid;
  grid-template-columns: 100px auto 80px 80px;
  align-items: center;
  gap: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Gray-80);
}
.section__tariffs3 {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--Gray-80);
}
.section__tariffs3 .label {
  width: 460px;
}
.section__tariffs3-text {
  padding-top: 12px;
  font: 600 16px/22px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
}
.section__tariffs3-link {
  color: var(--Primary-40);
}
.section__tariffs4 {
  padding-left: 120px;
  display: flex;
  align-items: center;
  gap: 16px;
  opacity: 0;
}
.section__h30 {
  height: 30px;
}
.section__clue {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__radio-input {
  display: none;
}
.section__radio-input:checked ~ .section__radio-label .section__radio-check {
  border: 7px solid var(--Black);
}
.section__radio-label {
  display: grid;
  align-items: center;
  grid-template-columns: 20px 60px auto;
  gap: 20px;
  align-items: center;
  gap: 20px;
}
.section__radio-check {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--Gray-40);
  border-radius: 50%;
  transition: border 0.3s linear;
}
.section__radio-title {
  font: 500 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.section__radio-text {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-30);
}
.section__radio-text span {
  font-weight: 700;
}

#tariffs-sale {
  width: 126px;
}

#tariffs-total-price {
  font-weight: 600;
}

#enter-mail {
  width: 100%;
}

.enter-mail {
  width: 100%;
}

#send-email {
  position: absolute;
  top: 50%;
  right: 15px;
  display: none;
  transform: translate3d(0, -50%, 0);
}

.invoice-send {
  display: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.invoice-send__text {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-20);
  text-align: center;
}

#personal-account {
  display: none;
}

.adjustment {
  position: absolute;
  top: 18px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-subvideo {
  display: none;
}
.btn-subvideo-active {
  display: flex;
  margin-left: auto;
}

@media (max-width: 1371px) {
  .section_collapse {
    left: 0;
  }
}/*# sourceMappingURL=tariffs.css.map */