doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title UNORDI PRODUCT
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.css")
        script(type="text/javascript", src="js/script.js", defer) 
    body.light-theme
        header.header.wb-theme
            .header__wrapper 
                button.header__burger 
                    .header__burger-line
                    .header__burger-line
                    .header__burger-line
                a(href='index.html').header__logo
                    <svg width="140" height="44" viewBox="0 0 140 44" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.813477 0.613888H6.09428V14.7362C6.09428 16.9772 6.1597 18.4298 6.29053 19.0938C6.51651 20.161 7.05173 21.0206 7.89618 21.6728C8.75253 22.3131 9.91811 22.6333 11.3929 22.6333C12.8915 22.6333 14.0214 22.3309 14.7826 21.7262C15.5438 21.1096 16.0017 20.3566 16.1564 19.4673C16.311 18.578 16.3883 17.1017 16.3883 15.0385V0.613888H21.6691V14.3093C21.6691 17.4397 21.5264 19.6511 21.2409 20.9436C20.9555 22.236 20.4262 23.3269 19.6531 24.2162C18.8919 25.1055 17.8691 25.817 16.5845 26.3506C15.3 26.8723 13.623 27.1332 11.5535 27.1332C9.05582 27.1332 7.15877 26.8486 5.86236 26.2794C4.57783 25.6984 3.56092 24.9514 2.81162 24.0384C2.06232 23.1135 1.56873 22.1471 1.33085 21.1392C0.985935 19.6452 0.813477 17.4397 0.813477 14.5227V0.613888Z"/>
                        <path d="M27.3067 26.6885V0.613888H32.4448L43.1491 18.0266V0.613888H48.0553V26.6885H42.7566L32.2129 9.68487V26.6885H27.3067Z"/>
                        <path d="M81.7207 26.6885V0.613888H92.8354C95.6304 0.613888 97.6583 0.851038 98.919 1.32534C100.192 1.78778 101.209 2.6178 101.97 3.81541C102.731 5.01302 103.112 6.38256 103.112 7.92403C103.112 9.88052 102.535 11.4991 101.381 12.7797C100.227 14.0484 98.5027 14.8488 96.2072 15.1808C97.349 15.8448 98.2886 16.5741 99.026 17.3685C99.7754 18.163 100.78 19.574 102.041 21.6017L105.235 26.6885H98.919L95.1011 21.0147C93.7452 18.9871 92.8175 17.7124 92.318 17.1907C91.8185 16.6571 91.2892 16.2954 90.7302 16.1057C90.1712 15.9041 89.2851 15.8033 88.0719 15.8033H87.0015V26.6885H81.7207ZM87.0015 11.6414H90.9086C93.442 11.6414 95.0238 11.5346 95.6542 11.3212C96.2845 11.1078 96.7781 10.7402 97.1349 10.2185C97.4918 9.69673 97.6702 9.04457 97.6702 8.26197C97.6702 7.38452 97.4323 6.679 96.9565 6.14541C96.4927 5.59997 95.8326 5.2561 94.9762 5.11381C94.5481 5.05452 93.2635 5.02488 91.1227 5.02488H87.0015V11.6414Z"/>
                        <path d="M108.089 0.613888H117.741C119.917 0.613888 121.577 0.779893 122.718 1.1119C124.253 1.56249 125.567 2.36287 126.661 3.51305C127.755 4.66322 128.588 6.07427 129.159 7.74617C129.73 9.40622 130.015 11.4576 130.015 13.9002C130.015 16.0464 129.747 17.8962 129.212 19.4495C128.558 21.3467 127.624 22.8823 126.411 24.0562C125.495 24.9455 124.259 25.6391 122.7 26.1371C121.535 26.5047 119.977 26.6885 118.026 26.6885H108.089V0.613888ZM113.37 5.02488V22.2953H117.313C118.787 22.2953 119.852 22.2123 120.506 22.0463C121.362 21.8329 122.07 21.4712 122.629 20.9614C123.2 20.4515 123.664 19.6155 124.021 18.4535C124.377 17.2796 124.556 15.6848 124.556 13.669C124.556 11.6532 124.377 10.1058 124.021 9.02678C123.664 7.94775 123.164 7.10587 122.522 6.50114C121.88 5.8964 121.065 5.48732 120.078 5.27388C119.34 5.10788 117.895 5.02488 115.743 5.02488H113.37Z"/>
                        <path d="M134.35 26.6885V0.613888H139.631V26.6885H134.35Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.8391 6.94457C71.5579 7.02765 71.6865 6.92706 71.8895 6.64763L71.437 6.21364C71.2517 5.93511 71.3085 5.77893 71.1782 5.5288C70.621 5.55976 70.477 5.87788 70.9302 6.13163C71.4262 6.40941 71.065 6.46891 71.065 6.46891C70.9018 6.58824 70.97 6.3967 70.8682 6.63218C70.8406 6.69517 70.8415 6.86301 70.8391 6.94457ZM70.0001 6.78914C70.3591 6.7982 70.317 6.79368 70.5614 6.61771C70.8025 6.44461 70.8859 6.47164 70.7925 6.14523C70.2995 5.90522 70.0054 6.32241 70.0001 6.78914ZM63.5337 7.76203C63.6531 8.33026 64.042 7.75297 64.0443 7.74995C64.2211 7.58501 64.1063 7.85779 64.2241 7.58576C64.215 7.57972 64.212 7.51357 64.0588 7.52837C63.8804 7.54589 63.9776 7.63211 63.7587 7.7028C63.5994 7.75415 63.712 7.65902 63.5337 7.76203ZM63.1164 7.76277C63.0277 7.75673 63.0522 7.74101 63.0728 7.8327L63.0377 8.00777L63.2802 7.95476L63.1164 7.76277ZM63.0728 7.8327C62.9634 7.9567 62.9986 7.81052 63.0062 8.04796C63.3492 8.07077 63.1945 8.05701 63.2802 7.95476L63.297 7.80974L63.1892 7.76277H63.1164L63.0728 7.8327ZM53.5748 9.34048C53.0504 10.6951 52.7627 12.1661 52.7627 13.7046C52.7627 20.4074 58.2124 25.8398 64.9354 25.8398C68.6672 25.8398 72.0065 24.1654 74.2388 21.5294L74.1424 21.5233C74.0537 21.1203 74.2189 20.8746 74.0079 20.5473C73.8162 20.2498 73.6494 20.229 73.6432 19.794C73.6417 19.6276 73.667 19.3544 73.6463 19.2016C73.592 18.7683 72.9798 18.7911 73.3787 18.051C73.7943 17.2784 73.8241 17.6098 73.2529 16.6068C72.7408 15.7065 72.881 15.9933 72.9539 14.8577C71.5399 14.7974 72.1613 14.286 71.4264 14.5158C71.0782 14.6248 71.4142 14.7485 70.7084 14.737C70.5453 14.734 70.4099 14.7295 70.2505 14.7539C70.1557 14.7675 70.0431 14.8087 69.8801 14.8087C69.469 14.8087 69.283 14.4012 68.8695 13.936C68.3009 13.2969 68.4685 13.5797 68.4715 12.5142C68.5274 12.235 68.623 12.6357 68.7157 12.0445C68.5482 11.8965 68.4294 12.0535 68.3574 11.5077C68.5733 11.3982 68.8566 11.16 69.0739 11.0032C69.799 10.4797 69.7201 10.757 69.7339 9.87394C70.5185 9.20889 70.6672 9.7069 71.3047 9.46945C71.9133 9.24319 72.1889 9.18216 73.0455 9.19394L73.0708 9.87394C73.0884 9.88301 74.5215 10.3224 74.5336 10.3231L74.5514 9.95069C75.2472 9.83242 75.1898 9.91018 75.6178 10.2026C75.8336 10.3499 76.2905 10.3614 76.6303 10.3331C76.5288 9.98091 76.4108 9.63516 76.2792 9.29696L75.8221 9.2894C75.5695 8.8763 75.5497 9.10014 75.479 8.4076C74.8492 8.6541 75.2441 8.88111 74.9288 9.22035C73.9643 8.38507 75.0428 8.7198 73.9888 7.83528C73.7552 7.63952 73.7199 7.70404 73.3289 7.70404C73.4652 8.25838 73.5347 8.22664 74.1983 8.55713C74.092 8.86859 74.1096 8.71557 74.0997 9.09364C73.6949 9.26311 73.5554 9.3009 73.3732 8.95365C73.6641 8.92283 73.6716 9.00364 73.8632 8.85712C73.8241 8.7171 73.7552 8.69762 73.6235 8.60987C72.8395 8.08664 73.1826 8.3653 72.8311 7.89585C72.7439 7.9688 72.5884 8.16154 72.503 8.18934C72.3245 8.24764 72.2868 8.12061 72.0243 8.19537C71.9754 8.22664 71.4777 8.8503 71.3553 9.22957C71.098 9.23864 70.8608 9.2761 70.5896 9.26659C69.5992 9.2326 70.0331 8.15008 70.0714 8.11383C70.4995 7.90886 70.8423 8.00762 71.2735 8.08903L71.35 7.82048L71.098 7.64407L71.1914 7.13158C71.9371 7.0544 71.8 7.09367 72.1324 6.60065C72.4087 6.18905 72.8051 6.39112 73.3043 6.39853L73.2424 5.82003L72.7104 6.00339C72.5059 5.41009 72.5946 5.73833 72.2431 5.47385C72.1912 5.18037 72.3091 5.04049 72.5603 4.91572C72.8465 4.77284 72.9681 4.82752 73.0569 4.66681C70.902 2.74082 68.0557 1.56928 64.9348 1.56928C62.3771 1.56928 60.004 2.3564 58.0448 3.69996C58.2486 3.71506 58.3603 3.73847 58.6329 3.84239C58.7508 3.88725 58.9222 3.90251 59.008 3.93407C59.321 4.04932 59.0233 3.87259 59.2315 4.17649L59.9917 4.19009C59.8907 3.8599 59.7398 3.88591 59.1672 3.95131C59.279 3.7752 59.3471 3.79812 59.269 3.56038L58.6682 3.55886L58.9368 3.29966C59.3471 3.00316 59.4925 3.01165 60.0552 3.0177C60.1578 3.17841 60.2626 3.30013 60.3546 3.47141C61.4592 3.53289 60.9141 3.00046 61.4685 3.29123C61.1959 3.74618 60.9868 3.75069 60.4647 3.7596L60.4893 4.16833C61.137 4.22875 61.209 4.23483 61.3376 3.95675L61.8504 3.91868C61.9523 3.5317 61.6413 3.63607 61.6491 3.47837C61.6704 3.08837 62.4766 3.23641 62.7216 3.27749C62.6336 3.43564 62.4851 3.54996 62.3327 3.63621L62.3871 3.94767C62.5486 4.03603 62.6596 4.05371 62.8686 4.07093L62.8425 3.49893C64.1247 2.84113 64.1708 3.34438 65.2449 3.66686L65.26 4.1055L65.6067 4.24914L65.4451 4.57725C65.0356 4.58631 64.8994 4.5212 64.7808 4.96966C64.4064 4.91377 63.859 4.84368 63.5911 4.66741L64.453 4.18239C64.1315 3.82925 64.1529 3.86354 63.5314 3.95749C62.9795 4.04132 63.3677 4.32768 62.6319 4.3381C62.6862 4.67735 62.5943 4.27635 62.6618 4.44749L62.7934 4.66575C62.1397 4.731 62.7436 4.90739 62.1488 4.88927L62.0569 4.55397C61.3091 4.76573 61.0932 5.01902 60.4676 5.30721C60.4892 5.63015 60.5275 5.79418 60.7777 5.92771C61.4383 6.27738 61.4844 5.66793 61.4844 6.75577C61.9338 6.739 61.8027 6.54548 61.9803 6.27693C62.0991 6.09824 62.4336 6.06926 62.6877 5.97168L62.7013 5.11449C63.3521 4.82388 62.6233 4.81768 63.9401 5.07144L63.8902 5.63878C64.2746 5.63274 64.4238 5.44241 64.7729 5.33441C64.785 5.59602 64.7185 5.95992 64.9298 6.12758L65.2566 6.35321C65.2872 7.1027 64.9253 6.63026 65.0041 7.04534C65.0721 7.40301 65.458 7.01025 65.3326 7.62093C65.1358 7.6164 64.6427 7.49405 64.498 7.35026C64.4652 6.86616 64.6856 7.38519 64.6482 6.82873C64.2668 6.81816 64.6244 6.79413 64.4299 6.8988C64.2569 6.9932 64.3679 7.02266 63.881 7.04667C63.656 6.77902 63.604 6.68778 63.2312 6.86616L63.2296 7.05695C63.342 7.15332 63.499 7.16449 63.6284 7.23548L63.4653 7.45886C63.1178 7.22398 62.9778 7.38863 62.7321 7.67546C62.7245 7.68453 62.7128 7.6983 62.7053 7.70842L62.5636 7.91627C62.3492 8.12849 61.8953 8.24675 61.5508 8.60549C60.714 9.47747 61.3043 9.2758 60.835 9.59405C60.3704 9.90853 60.2516 10.0047 59.8912 10.3428L59.9293 11.0743L59.4157 10.8573L59.4081 10.3955C58.2155 10.3849 57.3031 10.2395 56.8482 11.4269C56.6952 11.8265 56.7817 12.0188 56.9669 12.3065C57.9652 12.4531 57.678 12.1173 58.4674 11.7903C58.6565 12.1508 58.4383 12.244 58.2974 12.6148L58.9986 12.7426L59.0691 13.8455L60.0054 14.0118C60.1744 13.8963 60.5182 13.4903 60.6162 13.3066C61.1903 13.3495 61.3656 13.3631 61.7041 13.812L62.3907 13.806L62.5193 13.5868C62.7834 13.7647 62.7872 13.6513 62.9786 13.9421C63.1019 14.1303 63.1976 14.2895 63.2779 14.468L64.0581 14.4848C64.3871 14.8405 64.3834 15.0693 64.4202 15.615C64.6965 15.6966 64.9638 15.841 65.2316 15.9149C65.5324 15.999 65.9536 15.9518 66.294 15.9531C66.5416 16.0761 66.4893 16.2476 66.6669 16.4248C66.8308 16.5866 66.987 16.5186 67.1629 16.6796C67.0313 17.2154 67.0046 17.1476 66.7144 17.5086C66.2596 18.075 66.7114 18.9723 66.1503 19.4104C65.7613 19.7141 65.7268 19.5676 65.1895 19.5699C64.5488 20.6896 65.7628 20.0232 64.5143 21.5351C64.2494 21.8541 64.2632 22.1129 63.8645 22.2952C62.945 22.7165 62.9871 22.4571 62.8792 22.7219C62.9634 22.8669 63.0705 22.8249 63.1869 22.9562C63.1095 23.2936 63.0199 23.1714 62.8807 23.4262C63.0482 23.7149 62.9803 23.6332 63.4249 23.6599L63.2642 24.423C63.4402 24.6491 63.8238 24.739 63.7273 25.0908C62.7613 25.3771 62.1811 24.3774 61.7921 23.6921C61.4928 23.1646 61.9727 22.7234 61.6106 22.2861C61.2524 21.8558 61.3252 21.6587 61.5035 21.0161C61.3121 20.807 61.3397 21.0222 61.2485 20.7858L61.2545 18.7906C60.9406 18.4961 60.6558 18.2664 60.1199 18.1375C59.9891 17.2047 59.0551 16.9146 59.1692 16.3316C59.2297 16.0218 59.2334 15.7975 59.2419 15.4533C59.418 15.3349 59.6898 15.1297 59.8957 15.0389L59.8099 14.2275C59.611 14.2245 59.0559 14.2155 58.9004 14.1445C58.4771 13.9487 58.3991 13.3815 57.8058 13.2343C57.5814 13.179 57.3625 13.1853 57.2822 12.987L57.2325 12.7967C56.6482 12.7168 57.0748 12.8118 56.7686 12.9023C56.4615 12.789 55.9225 12.7778 55.7312 12.545C55.203 11.9063 55.4633 12.0085 55.4909 11.6835C55.503 11.5392 55.085 10.9977 54.9703 10.8378C54.6809 10.4349 54.9924 9.93965 54.5255 9.93617C54.4069 10.1685 54.5676 10.6604 54.7061 10.8645C54.919 11.1762 55.0277 11.2134 54.9954 11.646C54.4274 11.6198 54.4911 11.4568 54.2406 11.0367C53.6904 10.1155 54.6641 9.97016 53.5685 9.5492C53.5693 9.47972 53.5717 9.40951 53.5748 9.34048ZM64.9354 0.72131C72.1283 0.72131 77.9586 6.53432 77.9586 13.7046C77.9586 20.8752 72.1283 26.6885 64.9354 26.6885C57.7432 26.6885 51.9121 20.8752 51.9121 13.7046C51.9121 6.53432 57.7432 0.72131 64.9354 0.72131Z"/>
                        <path d="M2.98452 43.0984V36.4491H0.602539V35.0953H6.98186V36.4491H4.60536V43.0984H2.98452Z"/>
                        <path d="M14.3 43.0984V35.0953H17.7114C18.5693 35.0953 19.1917 35.168 19.5787 35.3136C19.9693 35.4556 20.2814 35.7103 20.515 36.0779C20.7486 36.4455 20.8655 36.8658 20.8655 37.339C20.8655 37.9395 20.6884 38.4363 20.3343 38.8293C19.9802 39.2187 19.4509 39.4644 18.7463 39.5663C19.0968 39.7701 19.3852 39.9939 19.6115 40.2378C19.8415 40.4816 20.15 40.9147 20.5369 41.537L21.5171 43.0984H19.5787L18.4068 41.3569C17.9907 40.7346 17.7059 40.3433 17.5526 40.1832C17.3993 40.0194 17.2368 39.9084 17.0653 39.8502C16.8937 39.7883 16.6217 39.7574 16.2494 39.7574H15.9208V43.0984H14.3ZM15.9208 38.4799H17.12C17.8976 38.4799 18.3831 38.4472 18.5766 38.3817C18.7701 38.3162 18.9216 38.2033 19.0311 38.0432C19.1406 37.8831 19.1953 37.6829 19.1953 37.4427C19.1953 37.1734 19.1223 36.9568 18.9763 36.7931C18.8339 36.6256 18.6313 36.5201 18.3685 36.4764C18.2371 36.4582 17.8428 36.4491 17.1857 36.4491H15.9208V38.4799Z"/>
                        <path d="M35.4828 43.0984H33.7196L33.0187 41.2805H29.8099L29.1473 43.0984H27.4279L30.5546 35.0953H32.2685L35.4828 43.0984ZM32.4985 39.9321L31.3924 36.9623L30.3082 39.9321H32.4985Z"/>
                        <path d="M42.1876 35.0953H45.1501C45.8181 35.0953 46.3274 35.1462 46.6778 35.2481C47.1487 35.3864 47.5521 35.6321 47.888 35.9851C48.2238 36.3381 48.4794 36.7712 48.6546 37.2844C48.8298 37.7939 48.9174 38.4235 48.9174 39.1732C48.9174 39.832 48.8353 40.3997 48.671 40.8765C48.4702 41.4588 48.1837 41.9301 47.8113 42.2904C47.5302 42.5634 47.1506 42.7763 46.6723 42.9291C46.3146 43.042 45.8364 43.0984 45.2377 43.0984H42.1876V35.0953ZM43.8085 36.4491V41.75H45.0186C45.4713 41.75 45.798 41.7245 45.9988 41.6735C46.2616 41.608 46.4789 41.497 46.6504 41.3405C46.8257 41.184 46.968 40.9274 47.0775 40.5708C47.1871 40.2105 47.2418 39.721 47.2418 39.1023C47.2418 38.4836 47.1871 38.0086 47.0775 37.6774C46.968 37.3462 46.8147 37.0878 46.6176 36.9022C46.4204 36.7166 46.1704 36.5911 45.8674 36.5256C45.6411 36.4746 45.1975 36.4491 44.5368 36.4491H43.8085Z"/>
                        <path d="M56.5093 43.0984V35.0953H58.1301V43.0984H56.5093Z"/>
                        <path d="M65.9575 43.0984V35.0953H67.5345L70.82 40.4398V35.0953H72.3259V43.0984H70.6996L67.4633 37.8794V43.0984H65.9575Z"/>
                        <path d="M84.0411 40.1559V38.8075H87.5346V41.9956C87.1951 42.3232 86.7023 42.6125 86.0562 42.8636C85.4137 43.1111 84.762 43.2348 84.1013 43.2348C83.2617 43.2348 82.5297 43.0601 81.9055 42.7108C81.2812 42.3577 80.8121 41.8555 80.4982 41.204C80.1842 40.5489 80.0273 39.8374 80.0273 39.0695C80.0273 38.2361 80.2025 37.4955 80.553 36.8476C80.9034 36.1998 81.4163 35.703 82.0917 35.3573C82.6064 35.0916 83.2471 34.9588 84.0137 34.9588C85.0103 34.9588 85.7878 35.168 86.3464 35.5866C86.9086 36.0015 87.27 36.5765 87.4306 37.3117L85.8207 37.6119C85.7075 37.2189 85.494 36.9095 85.18 36.6839C84.8697 36.4546 84.4809 36.3399 84.0137 36.3399C83.3055 36.3399 82.7415 36.5638 82.3216 37.0114C81.9055 37.4591 81.6974 38.1233 81.6974 39.004C81.6974 39.9539 81.9091 40.6672 82.3326 41.144C82.7561 41.6171 83.3109 41.8537 83.9972 41.8537C84.3367 41.8537 84.6762 41.7882 85.0157 41.6571C85.3589 41.5225 85.6528 41.3605 85.8974 41.1713V40.1559H84.0411Z"/>
                        <path d="M103.688 40.4944L105.265 40.3415C105.359 40.8692 105.551 41.2568 105.839 41.5043C106.132 41.7518 106.524 41.8755 107.017 41.8755C107.539 41.8755 107.931 41.7663 108.194 41.548C108.461 41.326 108.594 41.0676 108.594 40.7728C108.594 40.5835 108.537 40.4234 108.424 40.2924C108.315 40.1577 108.121 40.0412 107.844 39.943C107.654 39.8775 107.221 39.761 106.546 39.5936C105.677 39.3789 105.067 39.115 104.717 38.802C104.224 38.3616 103.978 37.8248 103.978 37.1916C103.978 36.784 104.093 36.4036 104.323 36.0506C104.556 35.6939 104.89 35.4228 105.325 35.2372C105.763 35.0516 106.29 34.9588 106.907 34.9588C107.915 34.9588 108.672 35.179 109.18 35.6193C109.691 36.0597 109.959 36.6475 109.985 37.3826L108.364 37.4536C108.294 37.0424 108.145 36.7476 107.915 36.5692C107.688 36.3873 107.347 36.2963 106.891 36.2963C106.42 36.2963 106.051 36.3927 105.785 36.5856C105.613 36.7093 105.527 36.8749 105.527 37.0824C105.527 37.2716 105.608 37.4336 105.768 37.5682C105.973 37.7393 106.469 37.9176 107.258 38.1032C108.046 38.2889 108.629 38.4817 109.005 38.6819C109.384 38.8784 109.68 39.1496 109.892 39.4953C110.107 39.8374 110.215 40.2614 110.215 40.7673C110.215 41.2259 110.087 41.6553 109.831 42.0557C109.576 42.456 109.214 42.7544 108.747 42.951C108.28 43.1439 107.698 43.2403 107 43.2403C105.986 43.2403 105.206 43.0074 104.662 42.5415C104.118 42.072 103.793 41.3897 103.688 40.4944Z"/>
                        <path d="M117.845 43.0984V35.0953H121.256C122.114 35.0953 122.737 35.168 123.124 35.3136C123.514 35.4556 123.826 35.7103 124.06 36.0779C124.294 36.4455 124.41 36.8658 124.41 37.339C124.41 37.9395 124.233 38.4363 123.879 38.8293C123.525 39.2187 122.996 39.4644 122.291 39.5663C122.642 39.7701 122.93 39.9939 123.156 40.2378C123.386 40.4816 123.695 40.9147 124.082 41.537L125.062 43.0984H123.124L121.952 41.3569C121.536 40.7346 121.251 40.3433 121.098 40.1832C120.944 40.0194 120.782 39.9084 120.61 39.8502C120.439 39.7883 120.167 39.7574 119.794 39.7574H119.466V43.0984H117.845ZM119.466 38.4799H120.665C121.443 38.4799 121.928 38.4472 122.122 38.3817C122.315 38.3162 122.466 38.2033 122.576 38.0432C122.686 37.8831 122.74 37.6829 122.74 37.4427C122.74 37.1734 122.667 36.9568 122.521 36.7931C122.379 36.6256 122.176 36.5201 121.913 36.4764C121.782 36.4582 121.388 36.4491 120.731 36.4491H119.466V38.4799Z"/>
                        <path d="M131.876 39.1459C131.876 38.3307 131.999 37.6465 132.243 37.0933C132.426 36.6857 132.674 36.3199 132.988 35.996C133.306 35.6721 133.652 35.4319 134.028 35.2754C134.528 35.0643 135.105 34.9588 135.759 34.9588C136.941 34.9588 137.887 35.3245 138.595 36.0561C139.307 36.7876 139.663 37.8048 139.663 39.1077C139.663 40.3997 139.311 41.4115 138.606 42.143C137.902 42.8709 136.96 43.2348 135.781 43.2348C134.587 43.2348 133.638 42.8727 132.933 42.1485C132.229 41.4206 131.876 40.4197 131.876 39.1459ZM133.546 39.0914C133.546 39.9976 133.756 40.6854 134.176 41.1549C134.596 41.6208 135.129 41.8537 135.775 41.8537C136.421 41.8537 136.951 41.6226 137.363 41.1604C137.779 40.6945 137.987 39.9976 137.987 39.0695C137.987 38.1524 137.785 37.4682 137.38 37.0169C136.978 36.5656 136.443 36.3399 135.775 36.3399C135.107 36.3399 134.569 36.5692 134.16 37.0278C133.751 37.4827 133.546 38.1706 133.546 39.0914Z"/>
                    </svg>
                .header__buttons
                    button.header__buttons-global.small-hide 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 1.87242C5.51289 1.87242 1.875 5.51031 1.875 9.99742C1.875 14.4845 5.51289 18.1224 10 18.1224C14.4871 18.1224 18.125 14.4845 18.125 9.99742C18.125 5.51031 14.4871 1.87242 10 1.87242Z" stroke-miterlimit="10"/>
                            <path d="M9.99883 1.87242C7.73047 1.87242 5.59766 5.51031 5.59766 9.99742C5.59766 14.4845 7.73047 18.1224 9.99883 18.1224C12.2672 18.1224 14.4 14.4845 14.4 9.99742C14.4 5.51031 12.2672 1.87242 9.99883 1.87242Z" stroke-miterlimit="10"/>
                            <path d="M4.58203 4.58047C6.07578 5.64102 7.95625 6.27344 9.99883 6.27344C12.0414 6.27344 13.9219 5.64102 15.4156 4.58047" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.4156 15.4141C13.9219 14.3535 12.0414 13.7211 9.99883 13.7211C7.95625 13.7211 6.07578 14.3535 4.58203 15.4141" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 1.87239V18.1224" stroke-miterlimit="10"/>
                            <path d="M18.125 9.99737H1.875" stroke-miterlimit="10"/>
                        </svg>
                    input(type="checkbox").header__input
                    label.header__switch
                        span.header__slider.small-hide 
                        span.header__duo.small-viseble
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.0007 21.7463C6.61637 21.7463 2.25148 17.3814 2.25148 11.9971C2.25148 6.6127 6.61637 2.2478 12.0007 2.2478C17.3851 2.2478 21.75 6.6127 21.75 11.9971C21.75 17.3814 17.3851 21.7463 12.0007 21.7463Z" fill="#ffffff" stroke="#000000" stroke-linejoin="round"/>
                                <path d="M12.0007 21.7463C17.3853 21.7463 21.75 17.3817 21.75 11.9971C21.75 6.61247 17.3853 2.2478 12.0007 2.2478V21.7463Z" fill="#000000"/>
                            </svg>

        main
            .rope-vert.rope-vert-ls
                picture.light-line
                    source(media="(max-width: 1724px)" srcset="image/service_main-small.svg")
                    img(src="image/service_main.svg", alt="")
                img(src="image/service_main_bottom.svg", alt="").rope-vert__bottom.light-line
                picture.dark-line
                    source(media="(max-width: 1724px)" srcset="image/service_main_line-small.svg")
                    img(src="image/service_main_line.svg", alt="").rope-vert-ls-dark
            .products
                section
                    .breadcrumbs
                        a(href="").breadcrumbs__link.text-regular Industrial Components
                        p.breadcrumbs__slash.text-regular / 
                        p.breadcrumbs__text.text-regular Aerosol Valves and Actuators
                        
                section 
                    .product 
                        .product__wrapper
                            h1.product__title.title-1 Aerosol Valves and Actuators
                            .product__text
                                p.product__text-p.text-medium Unordi Trading sro presents products from the Czech manufacturer Koh-i-Noor - a recognized European leader in the production of valves and actuators for aerosol systems. 
                                p.product__text-p.text-medium As a Czech company, we take special pride in representing high-quality products of our fellow national manufacturer in the international market. Koh-i-Noor components ensure reliable and efficient operation of aerosol systems across various industrial applications.
                                p.product__text-p.text-medium We offer comprehensive solutions for aerosol product manufacturers, including full supply chain support and technical assistance.
                section
                    .product 
                        h2.product__title.title-2 Our Products and Services
                        .product__content 
                            .knot.knot-product.light-line
                                img(src="image/service_rope-1_left.svg", alt="")
                                img(src="image/service_rope-1.svg", alt="").knot__units
                                img(src="image/service_rope-1_bottom.svg", alt="").knot__bottom
                            .knot.knot-product.dark-line
                                img(src="image/service_line_left.svg", alt="").knot__left
                                img(src="image/service_line-1.svg", alt="").knot__units.knot__units-dark
                                img(src="image/service_line_dot.svg", alt="").knot__bottom
                            .product__item
                                h4.product__item-title.title-4 Aerosol valves
                                .product__item-dot.light-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small.svg")
                                        img(src="image/service_rope-1_knot.svg", alt="")
                                .product__item-dot.product__item-dot-dark.dark-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/advantages_point_dot.svg")
                                        img(src="image/service_rope-1_dot.svg", alt="")
                            .product__item.product__item-reverse
                                h4.product__item-title.title-4 Actuators
                                .product__item-dot.light-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small.svg")
                                        img(src="image/service_rope-1_knot.svg", alt="")
                                .product__item-dot.product__item-dot-dark.dark-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/advantages_point_dot.svg")
                                        img(src="image/service_rope-1_dot.svg", alt="")
                            .product__item
                                h4.product__item-title.title-4 Spare parts and components
                                .product__item-dot.light-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small.svg")
                                        img(src="image/service_rope-1_knot.svg", alt="")
                                .product__item-dot.product__item-dot-dark.dark-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/advantages_point_dot.svg")
                                        img(src="image/service_rope-1_dot.svg", alt="")
                            .product__item.product__item-reverse
                                h4.product__item-title.title-4 Component selection consulting
                                .product__item-dot.light-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small.svg")
                                        img(src="image/service_rope-1_knot.svg", alt="")
                                .product__item-dot.product__item-dot-dark.dark-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/advantages_point_dot.svg")
                                        img(src="image/service_rope-1_dot.svg", alt="")
                            .product__item
                                h4.product__item-title.title-4 Logistics solutions
                                .product__item-dot.light-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small.svg")
                                        img(src="image/service_rope-1_knot.svg", alt="")
                                .product__item-dot.product__item-dot-dark.dark-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/advantages_point_dot.svg")
                                        img(src="image/service_rope-1_dot.svg", alt="")
                            .product__item.product__item-reverse
                                h4.product__item-title.title-4 Technical support
                                .product__item-dot.light-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small.svg")
                                        img(src="image/service_rope-1_knot.svg", alt="")
                                .product__item-dot.product__item-dot-dark.dark-line
                                    picture
                                        source(media="(max-width: 1724px)" srcset="image/advantages_point_dot.svg")
                                        img(src="image/service_rope-1_dot.svg", alt="")
                section
                    .product 
                        h2.product__title.title-2 Our Advantages
                        .product__content.product__content-denser
                            .knot.knot-product2.light-line
                                img(src="image/service_rope-2_left.svg", alt="")
                                img(src="image/service_rope-2.svg", alt="").knot__units
                                img(src="image/service_rope-2_bottom.svg", alt="").knot__bottom
                            .knot.knot-product2.dark-line
                                img(src="image/service_line_left.svg", alt="").knot__left
                                img(src="image/service_line-1.svg", alt="").knot__units.knot__units-dark
                                img(src="image/service_line_dot.svg", alt="").knot__bottom
                            .product__part
                                .advantages.light-line
                                    img(src="image/advantages_top.svg", alt="")
                                    img(src="image/advantages.svg", alt="").advantages__units
                                .advantages.advantages-dark.dark-line
                                    img(src="image/advantages_top_dot.svg", alt="")
                                    img(src="image/advantages_line.svg", alt="").advantages__units.advantages__units-dark
                                .advantages-small 
                                    img(src="image/service_rope-1_knot-small.svg", alt="").light-line
                                    img(src="image/service_line-1_knot-small.svg", alt="").advantages-small-dark.dark-line
                                h4.product__part-title.title-prod Access to Leading Global Manufacturers
                                ul.product__part-list
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Partnership with recognized manufacturer Koh-i-Noor
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Guarantee of original product quality
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Access to manufacturer's complete product range
                            .product__part
                                .advantages.light-line
                                    img(src="image/advantages_top.svg", alt="")
                                    img(src="image/advantages.svg", alt="").advantages__units
                                .advantages.advantages-dark.dark-line
                                    img(src="image/advantages_top_dot.svg", alt="")
                                    img(src="image/advantages_line.svg", alt="").advantages__units.advantages__units-dark
                                .advantages-small 
                                    img(src="image/service_rope-1_knot-small.svg", alt="").light-line
                                    img(src="image/service_line-1_knot-small.svg", alt="").advantages-small-dark.dark-line
                                h4.product__part-title.title-prod Business Process Optimization
                                ul.product__part-list
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Full supply chain management
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Customs clearance handling
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Logistics process optimization
                            .product__part
                                .advantages.light-line
                                    img(src="image/advantages_top.svg", alt="")
                                    img(src="image/advantages.svg", alt="").advantages__units
                                .advantages.advantages-dark.dark-line
                                    img(src="image/advantages_top_dot.svg", alt="")
                                    img(src="image/advantages_line.svg", alt="").advantages__units.advantages__units-dark
                                .advantages-small 
                                    img(src="image/service_rope-1_knot-small.svg", alt="").light-line
                                    img(src="image/service_line-1_knot-small.svg", alt="").advantages-small-dark.dark-line
                                h4.product__part-title.title-prod Business Development
                                ul.product__part-list
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Relevant solutions for production needs
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Updates on new products and technologies
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Support in maintaining market competitiveness
                            .product__part
                                .advantages.light-line
                                    img(src="image/advantages_top.svg", alt="")
                                    img(src="image/advantages.svg", alt="").advantages__units
                                .advantages.advantages-dark.dark-line
                                    img(src="image/advantages_top_dot.svg", alt="")
                                    img(src="image/advantages_line.svg", alt="").advantages__units.advantages__units-dark
                                .advantages-small 
                                    img(src="image/service_rope-1_knot-small.svg", alt="").light-line
                                    img(src="image/service_line-1_knot-small.svg", alt="").advantages-small-dark.dark-line
                                h4.product__part-title.title-prod Time and Resource Efficiency
                                ul.product__part-list
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Single supplier workflow
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Reduced administrative costs
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Optimized operational expenses
                            .product__part
                                .advantages.light-line
                                    img(src="image/advantages_top.svg", alt="")
                                    img(src="image/advantages.svg", alt="").advantages__units
                                .advantages.advantages-dark.dark-line
                                    img(src="image/advantages_top_dot.svg", alt="")
                                    img(src="image/advantages_line.svg", alt="").advantages__units.advantages__units-dark
                                .advantages-small 
                                    img(src="image/service_rope-1_knot-small.svg", alt="").light-line
                                    img(src="image/service_line-1_knot-small.svg", alt="").advantages-small-dark.dark-line
                                h4.product__part-title.title-prod Reliable Long-term Partnership
                                ul.product__part-list
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Transparent and stable relationships
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Continuous support at all cooperation stages
                                    li.product__part-item
                                        picture.product__part-item-img.light-line
                                            source(media="(max-width: 1724px)" srcset="image/service_rope-1_knot-small-2.svg")
                                            img(src="image/advantages_point.svg", alt="")
                                        img(src="image/advantages_point_dot.svg", alt="").advantages__point.dark-line
                                        p.text-medium Flexible terms tailored to client needs
        footer.footer 
            .rope.medium-visible
                img(src="image/rope_menu.svg", alt="").rope-main.light-line
                img(src="image/line_main-small-2.svg", alt="").rope-main.rope-main-dark.dark-line
            .footer__wrapper
                .footer__item
                    a(href="").footer__link.text-small Privacy Policy
                    a(href="").footer__link.text-small  Data Processing Policy
                .footer__item
                    p.footer__text.text-small © 2024 Unordi Trading sro
        .menu 
            .menu__wrapper.wb-theme
                .menu__rope
                    img(src="image/rope_menu.svg", alt="")
                nav.menu__nav
                    .menu__item
                        ul.menu__item-list
                            li.menu__item-item.border-theme
                                a(href="about.html").menu__item-link.text8w-theme.menu-text About the company
                    .menu__item
                        h2.menu__item-title.menu-text Business areas
                        ul.menu__item-list
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Engine oils
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Printer Cartridges
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Ceramic porcelain stoneware
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Inks and pigments for the production of porcelain stoneware
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Frit for the production of porcelain stoneware
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Rolled steel for the production of prefabricated buildings
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Potato flakes
                            li.menu__item-item.border-theme
                                a(href="product.html").menu__item-link.text8w-theme.menu-text Studio microphones
                .contacts
                    .contacts__menu
                        .contacts__head
                            h2.contacts__head-title.menu-title OUR CONTACTS
                            p.contacts__head-text.text-medium Get in touch with us in any convenient way
                        .contacts__content 
                            .contacts__item 
                                a(href="mailto:info@unordi.com ").contacts__link.text8w-theme.title-4 info@unordi.com 
                            .contacts__item 
                                a(href="tel:+70000000000").contacts__link.text8w-theme.title-4 +7 000 000 0000
                            .contacts__item
                                h3.contacts__content-title.text-small Head Office Address:
                                a(href="").contacts__link.text8w-theme.title-4 Address