doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title BUCEDO
        link(rel="icon" type="image/x-icon" href="img/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/index.js" defer) 
    body.cabinet 
        .login 
            .login__left 
                h2.login__title Управляйте вашим магазином
            .login__right 
                a(href="index.html").logo 
                    img(src="img/logo.png", alt="BUCEDO")
                h4.login__right-title Вход в кабинет магазина
                form.login__form 
                    label.login__form-label(for="login-email")  Email
                        input(type="email" placeholder='Email для входа' required).login__form-input#login-email
                    label.login__form-label(for="login-password")  Пароль
                        input(type="password" placeholder='Пароль для входа' required).login__form-input#login-password
                    a(href="").login__forgot Забыли пароль?
                    button(type="submit").btn.btn_primary.login-btn Войти