doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title AI стенд
        link(rel="icon" type="image/x-icon" href="image/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/ai_stend.css")
        script(type="text/javascript" src="js/script.js" defer="true")
    body 
        main 
            section.hero 
                .hero__wrapper
                    .hero__left 
                        .hero__items
                            .hero__logo 
                                svg(width="198" height="47" viewBox="0 0 198 47" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M0 12.3409H5.68892L11.6974 27H11.9531L17.9616 12.3409H23.6506V34.1591H19.1761V19.9581H18.995L13.3487 34.0526H10.3018L4.65554 19.9049H4.47443V34.1591H0V12.3409Z" fill="white")
                                    path(d="M26.4728 12.3409H31.6397L36.6148 21.7372H36.8279L41.803 12.3409H46.9699L39.0118 26.4461V34.1591H34.4309V26.4461L26.4728 12.3409Z" fill="white")
                                    path(d="M51 12C51 5.37258 56.3726 0 63 0H123C129.627 0 135 5.37258 135 12V34.5C135 41.1274 129.627 46.5 123 46.5H63C56.3726 46.5 51 41.1274 51 34.5V12Z" fill="#0095FF")
                                    path(d="M79.4244 13.4319V33.0682H75.8384L67.2955 20.7092H67.1516V33.0682H63V13.4319H66.6435L75.1193 25.7813H75.2919V13.4319H79.4244Z" fill="white")
                                    path(d="M83.1245 33.0682V13.4319H96.356V16.8548H87.2761V21.5338H95.6753V24.9567H87.2761V29.6453H96.3944V33.0682H83.1245Z" fill="white")
                                    path(d="M104.347 33.0682L98.7282 13.4319H103.263L106.514 27.0757H106.677L110.263 13.4319H114.146L117.722 27.1045H117.895L121.145 13.4319H125.68L120.062 33.0682H116.015L112.276 20.2298H112.123L108.393 33.0682H104.347Z" fill="white")
                                    path(d="M148.679 12.3408H153.239V27.5538C153.239 28.9601 152.923 30.1817 152.291 31.2186C151.666 32.2555 150.796 33.0546 149.681 33.6156C148.565 34.1767 147.269 34.4573 145.792 34.4573C144.478 34.4573 143.285 34.2264 142.212 33.7648C141.147 33.296 140.302 32.5858 139.677 31.6341C139.052 30.6753 138.743 29.4715 138.75 28.0226H143.342C143.356 28.5979 143.473 29.0915 143.693 29.5034C143.921 29.9082 144.23 30.2207 144.62 30.4409C145.018 30.654 145.487 30.7605 146.026 30.7605C146.595 30.7605 147.074 30.6398 147.465 30.3983C147.862 30.1497 148.164 29.7875 148.37 29.3117C148.576 28.8358 148.679 28.2499 148.679 27.5538V12.3408Z" fill="white")
                                    path(d="M177.402 23.2499C177.402 25.6291 176.951 27.6533 176.049 29.3223C175.155 30.9913 173.933 32.2662 172.385 33.1469C170.843 34.0205 169.11 34.4573 167.186 34.4573C165.247 34.4573 163.507 34.0169 161.966 33.1362C160.424 32.2555 159.206 30.9807 158.311 29.3117C157.417 27.6426 156.969 25.622 156.969 23.2499C156.969 20.8706 157.417 18.8465 158.311 17.1774C159.206 15.5084 160.424 14.2371 161.966 13.3635C163.507 12.4828 165.247 12.0425 167.186 12.0425C169.11 12.0425 170.843 12.4828 172.385 13.3635C173.933 14.2371 175.155 15.5084 176.049 17.1774C176.951 18.8465 177.402 20.8706 177.402 23.2499ZM172.726 23.2499C172.726 21.7087 172.495 20.409 172.033 19.3507C171.579 18.2925 170.936 17.4899 170.105 16.943C169.274 16.3962 168.301 16.1227 167.186 16.1227C166.071 16.1227 165.098 16.3962 164.267 16.943C163.436 17.4899 162.789 18.2925 162.328 19.3507C161.873 20.409 161.646 21.7087 161.646 23.2499C161.646 24.7911 161.873 26.0908 162.328 27.149C162.789 28.2073 163.436 29.0098 164.267 29.5567C165.098 30.1036 166.071 30.377 167.186 30.377C168.301 30.377 169.274 30.1036 170.105 29.5567C170.936 29.0098 171.579 28.2073 172.033 27.149C172.495 26.0908 172.726 24.7911 172.726 23.2499Z" fill="white")
                                    path(d="M181.119 34.159V12.3408H189.855C191.46 12.3408 192.799 12.5787 193.872 13.0546C194.944 13.5304 195.75 14.1909 196.29 15.0361C196.83 15.8742 197.1 16.8401 197.1 17.9338C197.1 18.7861 196.929 19.5354 196.588 20.1817C196.247 20.8209 195.779 21.3465 195.182 21.7584C194.592 22.1632 193.918 22.4509 193.158 22.6213V22.8344C193.989 22.8699 194.766 23.1043 195.491 23.5375C196.222 23.9707 196.815 24.578 197.27 25.3592C197.725 26.1334 197.952 27.0567 197.952 28.1291C197.952 29.2868 197.664 30.3202 197.089 31.2293C196.521 32.1313 195.679 32.845 194.564 33.3706C193.449 33.8962 192.075 34.159 190.441 34.159H181.119ZM185.732 30.3876H189.493C190.779 30.3876 191.716 30.1426 192.306 29.6526C192.895 29.1554 193.19 28.4949 193.19 27.671C193.19 27.0673 193.044 26.5347 192.753 26.073C192.462 25.6114 192.046 25.2492 191.507 24.9864C190.974 24.7236 190.338 24.5922 189.6 24.5922H185.732V30.3876ZM185.732 21.4707H189.152C189.784 21.4707 190.345 21.3607 190.835 21.1405C191.333 20.9132 191.723 20.5936 192.007 20.1817C192.298 19.7698 192.444 19.2761 192.444 18.7009C192.444 17.9125 192.164 17.2769 191.602 16.7939C191.048 16.3109 190.26 16.0695 189.237 16.0695H185.732V21.4707Z" fill="white")
                            .hero__content 
                                h1.hero__content-title AI платформа для контактного подбора сотрудников и поиска работы
                                p.hero__content-text Откройте для себя лучшее в мире решение по подбору сотрудников и поиску работы
                            .hero__space
                    .hero__right 
                        img(src="image/rocket.png", alt="").hero__rocket
                        button.hero__btn Начать