:root
    --primary-50: #c9fdda
    --primary-100: #59f9a0
    --primary-200: #4dd98b
    --primary-300: #42bd78
    --primary-400: #37a367
    --primary-500: #2e8b57
    --primary-600: #26774a
    --primary-700: #1c5d38
    --primary-800: #114026
    --primary-900: #062313
    --primary-950: #031409
    --secondary: #5d6d7e
    --dark: #2c3e50
    --white: #fff
    --grey: #a7afb9
    --border: #dee2e6
    --background: #f8f9fa
    --muted: #e9ecef
    --accent: #FFA726
    --destructive: #e74c3c
    --chart-1: #3498db
    --chart-2: #e67e22
    --chart-3: #2ecc71
    --chart-4: #9b59b6
    --chart-5: #f39c12
    --fact: #3498db
    --story: #e67e22
    --project: #2ecc71
// ===== SCROLLBAR =====
::-webkit-scrollbar 
    width: 5px
    height: 5px
    background-color: var(--primary-200)
::-webkit-scrollbar-thumb 
    border-radius: 5px
    background-color: var(--primary-800)
::-webkit-scrollbar-track 
    margin: 0
    background-color: var(--primary-200)
// ===== BASE =====
html 
    scroll-behavior: smooth
    scrollbar-gutter: stable
body 
    font: 400 16px/20px "Rubik", sans-serif
    color: var(--dark)
.container 
    max-width: 1528px
    margin: 0 auto
    padding: 0 16px
.visually-hidden
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    border: 0
    padding: 0
    white-space: nowrap
    clip-path: inset(100%)
    clip: rect(0 0 0 0)
    overflow: hidden
svg 
    flex: 0 0 auto
// ===== LOGO =====
.logo
    flex: 0 0 auto
    display: flex
    align-items: center
    gap: 8px
    border-radius: 8px
    outline: 2px solid transparent
    outline-offset: 4px
    transition: outline 0.3s ease
    &:focus-visible 
        outline: 2px solid var(--primary-300)
    &__image
        flex: 0 0 auto
        height: 40px
    &__img 
        height: 100%
    &__content
        display: flex
        flex-direction: column
        justify-content: flex-start
    &__title 
        font: 700 18px/24px "Comfortaa", sans-serif
        color: var(--primary-500)
        &--footer 
            font-size: 20px
    &__text 
        font: 400 12px/16px 'Rubik', sans-serif
        color: var(--secondary)
@media (max-width: 1023px)
    .logo 
        &__image 
            height: 32px
        &__title 
            line-height: 18px
        &__text 
            line-height: 14px
// ===== BURGER =====
.burger
    flex: 0 0 auto
    display: none
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 32px
    height: 32px
    padding: 8px
    border-radius: 8px
    outline: 2px solid transparent
    color: var(--dark)
    transition: outline 0.3s ease, background-color 0.3s ease, color 0.3s ease
    &--active 
        .burger__icon--open
            opacity: 0
            transform: rotate(90deg) scale(0)
        .burger__icon--close
            opacity: 1
            transform: rotate(0) scale(1)
    &:focus-visible 
        outline: 2px solid var(--primary-300)
        outline-offset: 0
    &:hover 
        background-color: var(--accent)
        color: var(--white)
    &__icon 
        position: absolute
        width: 16px
        height: 16px
        transition: opacity 0.3s ease, transform 0.3s ease
        &--close
            opacity: 0
            transform: rotate(-90deg) scale(0)
@media (max-width: 1023px)
    .burger 
        display: flex
// ===== MENU =====
.menu 
    display: flex 
    align-items: center
    justify-content: flex-end
    gap: 16px
    width: 100%
@media (max-width: 1023px)
    .menu 
        position: fixed
        top: 48px
        right: -258px
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        width: 256px
        height: 100vh
        padding: 16px 8px
        box-shadow: -1px 0 3px 0 var(--border), -1px 0 2px -1px var(--border)
        background-color: var(--white)
        transition: right 0.3s ease
        &--active 
            right: 0
// ===== NAV =====
.nav 
    margin: 0 auto
    &__list 
        display: flex
        align-items: center
        gap: 16px
        &--footer 
            flex-direction: column
            align-items: flex-start
            gap: 12px
            .nav__link 
                font-weight: 400
                color: var(--secondary)
    &__link 
        border-radius: 2px
        outline: 2px solid transparent
        outline-offset: 4px
        font: 500 14px/20px "Rubik", sans-serif
        color: var(--secondary)
        transition: color 0.3s ease, outline 0.3s ease
        &:focus-visible 
            outline: 2px solid var(--primary-300)
        &:hover
            color: var(--primary-500)
        &:active 
            outline: 2px solid transparent
        &--active 
            color: var(--dark)
@media (max-width: 1023px)
    .nav 
        margin: 0
        padding: 0 8px
        &__list 
            flex-direction: column
            align-items: flex-start
// ===== HEADER =====
.header
    position: fixed
    top: 0
    left: 0
    right: 0
    padding: 12px 0 11px
    border-bottom: 1px solid var(--border)
    box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
    background-color: #fff
    z-index: 100
    &__wrapper 
        display: flex
        align-items: center
        justify-content: space-between
        gap: 16px
    &__controls
        display: flex
        align-items: center
        gap: 10px 16px
@media (max-width: 1023px)
    .header
        padding: 8px 0 7px
        &__controls 
            flex-direction: column
            align-items: flex-start 
            justify-content: space-between
            width: 100%
// ===== SEARCH =====
.search 
    display: flex
    gap: 8px
    &__form 
        position: relative
        width: 0
        opacity: 0
        overflow: hidden
        transition: width 0.3s ease, opacity 0.3s ease
        &::before
            content: ''
            position: absolute
            top: 50%
            left: 8px
            width: 16px
            height: 16px
            background-color: var(--secondary)
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="m21 21-4.34-4.34"></path><circle cx="11" cy="11" r="8"></circle></svg>')
            transform: translateY(-50%)
        &--active 
            width: 240px
            opacity: 1
            & .search__input 
                visibility: visible
    &__input 
        position: relative
        display: block
        width: 100%
        padding: 6px 8px 4px 32px
        border: 2px solid var(--border)
        border-radius: 8px
        font: 500 14px/18px "Rubik", sans-serif
        color: var(--dark)
        visibility: hidden
        transition: border 0.3s ease
        &::placeholder
            font-weight: 400
            color: var(--secondary)
        &:focus-visible
            border: 2px solid var(--primary-300)
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 32px
        height: 32px
        padding: 8px    
        border-radius: 8px
        outline: 2px solid transparent
        color: var(--secondary)
        transition: outline 0.3s ease, background-color 0.3s ease, color 0.3s ease
        &:focus-visible 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover 
            background-color: var(--accent)
            color: var(--white)
        &--active
            .search__icon--magnifier
                opacity: 0
                transform: rotate(90deg) scale(0)
            .search__icon--close
                opacity: 1
                transform: rotate(0) scale(1)
    &__icon 
        position: absolute 
        width: 16px
        height: 16px
        stroke: currentColor
        transition: opacity 0.3s ease, transform 0.3s ease
        &--close
            opacity: 0
            transform: rotate(-90deg) scale(0)
@media (max-width: 1023px)
    .search 
        position: relative
        &__form
            width: 240px
            opacity: 1
        &__input 
            visibility: visible
        &__btn 
            display: none
// ===== LANGUAGE =====
.language 
    position: relative
    &__view 
        display: flex
        align-items: flex-end
        gap: 4px
        padding: 8px
        border-radius: 8px
        outline: 2px solid transparent
        transition: outline 0.3s ease, background-color 0.3s ease
        &:focus-visible 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover 
            background-color: var(--accent)
            .language__icon, .language__code, .language__name
                color: var(--white)
    &__icon 
        display: flex
        width: 16px
        height: 16px
        color: var(--secondary)
        transition: color 0.3s ease
    &__code 
        display: flex
        justify-content: center
        width: 35px
        padding-top: 2px
        font: 700 16px/14px "Comfortaa", sans-serif
        color: var(--dark)
        transition: color 0.3s ease
    &__name 
        display: flex
        justify-content: flex-start
        width: 97px
        height: 100%
        padding: 2px 0
        font: 400 12px/12px "Rubik", sans-serif
        color: var(--secondary)
        text-align: left
        transition: color 0.3s ease
    &__dropdown 
        position: absolute
        top: calc(100% + 8px)
        right: -4px
        border-radius: 8px
        box-shadow: 0 4px 12px var(--border)
        opacity: 0
        visibility: hidden
        transform: translateY(12px)
        transition: all 0.3s ease
        z-index: 100
        &--active 
            opacity: 1
            visibility: visible
            transform: translateY(0)
    &__options 
        display: flex
        flex-direction: column
        gap: 4px
        padding: 4px
        border-radius: 8px
        background-color: #fff
    &__option 
        display: flex
        align-items: flex-end
        gap: 4px
        padding: 8px
        border-radius: 8px
        outline: 2px solid transparent
        outline-offset: 0
        color: var(--dark)  
        transition: outline 0.3s ease, background-color 0.3s ease
        svg 
            display: none
        &--active 
            svg 
                display: flex
        &:focus-visible 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover 
            background-color: var(--accent)
            .language__code, .language__name
                color: var(--white)

// ===== MAIN =====
.main 
    margin-top: 64px
    background-color: var(--background)
@media (max-width: 1023px)
    .main
        margin-top: 48px
// ===== hero =====
.hero 
    display: flex
    align-items: center
    height: calc(100vh - 64px)
    background: linear-gradient(135deg,rgba(46, 139, 87, 0.3) 0%, rgba(248, 249, 250, 0.3) 35%, rgba(248, 249, 250, 0.3) 65%, rgba(255, 167, 38, 0.3) 100%)
    &__wrapper 
        max-width: 1000px
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        gap: 16px
    &__title 
        font: 700 72px/90px "Comfortaa", sans-serif
        color: var(--dark)
        opacity: 0 
    &__subtitle 
        margin-bottom: 8px
        font: 500 24px/32px "Rubik", sans-serif
        letter-spacing: 1px
        color: var(--primary-500)
        text-align: center
        opacity: 0 
    &__text 
        max-width: 744px
        margin-bottom: 16px
        font: 400 18px/30px "Rubik", sans-serif
        color: var(--secondary)
        text-align: center
        opacity: 0 
    &__link 
        display: flex
        align-items: center
        gap: 8px
        margin-bottom: 32px
        padding: 12px
        border-radius: 8px
        outline: 2px solid transparent
        background-color: var(--primary-500)
        font: 600 16px/16px "Rubik", sans-serif
        color: var(--white)
        opacity: 0 
        transition: background-color 0.3s ease, outline 0.3s ease
        & svg
            width: 16px
            height: 16px
            transition: transform 0.5s ease
        & path 
            fill: var(--white)
        &:focus-visible 
            outline: 2px solid var(--primary-300) 
            outline-offset: 0
        &:hover 
            background-color: var(--primary-600)
            & svg 
                animation: arrow-down 1.5s infinite normal ease-in-out 
        &:active 
            background-color: var(--primary-700)
    &__line 
        max-width: 1000px
        width: 100%
        height: 1px
        background-color: var(--border)
        opacity: 0 
    &__statistics
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 48px
        width: 100%
        padding-top: 16px
        text-align: center
        opacity: 0 
    &__item 
        display: flex
        flex-direction: column
        align-items: center
        gap: 4px
        &-title 
            font: 700 36px/40px "Comfortaa", sans-serif
            color: var(--primary-500)
        &-text 
            font: 400 16px/24px "Rubik", sans-serif
            color: var(--secondary)
    &.is-loaded
        & .hero__title
            animation: fadeUp 0.8s ease forwards 0.1s
        & .hero__subtitle
            animation: fadeUp 0.8s ease forwards 0.2s
        & .hero__text
            animation: fadeUp 0.8s ease forwards 0.3s
        & .hero__link
            animation: fadeUp 0.8s ease forwards 0.4s
        & .hero__line
            animation: fadeUp 0.8s ease forwards 0.5s
        & .hero__statistics
            animation: fadeUp 0.8s ease forwards 0.5s
@media (max-width: 1023px)
    .hero
        height: calc(100vh - 48px)
@media ( max-width:  639px)
    .hero
        &__title 
            font-size: 44px
            line-height: 50px
        &__subtitle 
            font-size: 18px
            line-height: 24px
        &__text 
            font-size: 14px
            line-height: 24px
        &__statistics
            gap: 24px
// ===== CONTENT =====
#content
    position: absolute
    top: -64px
@media ( max-width:  1023px) 
    #content 
        top: -48px
.content 
    position: relative
    padding: 16px 0
    &__wrapper
        display: grid
        grid-template-columns: 1fr 360px
        gap: 24px
        &--article 
            grid-template-columns: 1fr
    &__item 
        display: flex
        flex-direction: column
        gap: 24px
    &__more 
        display: flex
        justify-content: center
        margin: 0 auto
        padding: 10px 16px
        border-radius: 8px
        background-color: var(--primary-500)
        font: 500 14px/20px "Rubik", sans-serif
        color: var(--white)
        &--hidden 
            display: none
@media ( max-width:  1023px)
    .content__wrapper 
        gap: 16px
@media ( max-width:  767px)
    .content__wrapper 
        grid-template-columns: 1fr
// ===== ARTICLES =====
.articles
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 24px 16px
    width: 100%
    &__item
        position: relative
        display: flex
        flex-direction: column
        gap: 4px
        border-radius: 8px
        box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
        outline: 2px solid transparent
        background-color: var(--white)
        overflow: hidden
        transition: box-shadow 0.3s ease, transform 0.3s ease, outline 0.3s ease
        &:focus-visible 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover
            box-shadow: 0 10px 15px -3px var(--border), 0 4px 6px -4px var(--border)
            transform: translateY(-8px)
            & .articles__image-img 
                transform: scale(1.1)
            & .articles__title
                color: var(--primary-500)
    &__image
        width: 100%
        height: 210px
        overflow: hidden
        &-img 
            width: 100%
            height: 100%
            object-fit: cover
            transition: transform 0.3s ease
    &__rubric
        position: absolute
        top: 12px
        left: 12px
        display: flex
        align-items: center
        gap: 8px
        padding: 4px 12px
        border-radius: 12px
        background-color: var(--white)
        &--project
            color: var(--project)
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--project)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5"/><path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12"/><path d="m14 16-3 3 3 3"/><path d="M8.293 13.596 7.196 9.5 3.1 10.598"/><path d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843"/><path d="m13.378 9.633 4.096 1.098 1.097-4.096"/></svg>') no-repeat center / contain
        &--story
            color: var(--story)
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--story)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>')
        &--fact
            color: var(--fact)
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--fact)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>')
        &-text
            font: 600 12px/16px 'Rubik', sans-serif
    &__info 
        display: flex
        flex-direction: column
        gap: 12px
        padding: 20px
    &__category 
        font: 600 12px/16px 'Rubik', sans-serif
        color: var(--secondary)
        text-transform: uppercase
    &__title 
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        font: 700 18px/22px 'Comfortaa', sans-serif
        color: var(--dark)
        overflow: hidden
        transition: color 0.3s ease
    &__preview
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        font: 400 12px/20px 'Rubik', sans-serif
        color: var(--secondary)
        overflow: hidden
    &__tags 
        display: flex
        flex-wrap: wrap
        gap: 4px
    &__tag 
        position: relative
        padding: 2px 4px
        border-radius: 4px
        outline: 2px solid transparent
        background-color: var(--secondary)
        font: 400 12px/16px 'Rubik', sans-serif
        color: var(--white)
        text-transform: lowercase
        transition: outline 0.3s ease, background-color 0.3s ease, color 0.3s ease
        cursor: pointer
        z-index: 2
        &:focus-visible
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover
            color: var(--accent)
    &__date 
        font: 400 12px/16px 'Rubik', sans-serif
        color: var(--secondary)
@media ( max-width: 1335px)
    .articles
        grid-template-columns: 1fr 1fr
@media ( max-width:  1023px)
    .articles
        grid-template-columns: 1fr 
@media ( max-width:  767px)
    .articles
        grid-template-columns: 1fr 1fr
@media ( max-width:  639px)
    .articles
        grid-template-columns: 1fr
// ===== ASIDE =====
.aside 
    height: 100%
    &__wrapper
        position: sticky
        top: 80px
        display: flex
        flex-direction: column
        gap: 16px
        width: 100%
    &__item
        display: flex
        flex-direction: column
        gap: 12px
        padding: 16px
        border-radius: 8px
        box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
        background-color: var(--white)
        &--filters 
            border-left: 4px solid var(--project)
        &--factoftheday 
            border-left: 4px solid var(--fact)
        &--get 
            border-left: 4px solid var(--story)
    &__title 
        display: flex
        align-items: center
        gap: 12px
        font: 600 16px/24px 'Rubik', sans-serif
        & svg 
            width: 20px
            height: 20px
            stroke: var(--fact)
    &__filters 
        display: flex
        flex-wrap: wrap
        gap: 8px
    &__radio 
        &:checked
            &~.aside__btn
                color: var(--white)
                &--all
                    border: 1px solid var(--primary-500)
                    background-color: var(--primary-500)
                &--facts
                    border: 1px solid var(--fact)
                    background-color: var(--fact)
                    &::before
                        background-color: var(--white)
                &--stories
                    border: 1px solid var(--story)
                    background-color: var(--story)
                    &::before
                        background-color: var(--white)
                &--projects
                    border: 1px solid var(--project)
                    background-color: var(--project)
                    &::before
                        background-color: var(--white)
                &--base
                    border: 1px solid var(--primary-500)
                    background-color: var(--primary-500)
        &:focus-visible
            &~.aside__btn
                outline: 2px solid var(--primary-300)
                outline-offset: 0 
    &__btn 
        display: flex
        align-items: center
        gap: 4px
        padding: 7px 12px
        border: 1px solid var(--border)
        border-radius: 8px
        outline: 2px solid transparent
        background-color: var(--white)
        font: 500 14px/16px 'Rubik', sans-serif
        color: var(--dark)
        transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease, outline 0.3s ease
        &:hover 
            border: 1px solid var(--accent)
            background-color: var(--accent)
            color: var(--white)
            &::before 
                background-color: var(--white)
        &--all
            border-radius: 16px
        &--facts
            border-radius: 16px
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--dark)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>')
                transition: background-color 0.3s ease
        &--stories
            border-radius: 16px
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--dark)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>')
                transition: background-color 0.3s ease
        &--projects
            border-radius: 16px
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--dark)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5"/><path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12"/><path d="m14 16-3 3 3 3"/><path d="M8.293 13.596 7.196 9.5 3.1 10.598"/><path d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843"/><path d="m13.378 9.633 4.096 1.098 1.097-4.096"/></svg>') no-repeat center / contain
                transition: background-color 0.3s ease
    &__tags 
        display: flex
        flex-wrap: wrap
        gap: 4px
    &__tag
        flex-grow: 1
        padding: 2px 4px
        border-radius: 4px
        outline: 2px solid transparent
        background-color: var(--secondary)
        font: 400 12px/16px 'Rubik', sans-serif
        color: var(--white)
        text-transform: lowercase
        transition: outline 0.3s ease, background-color 0.3s ease, color 0.3s ease
        &--active 
            background-color: var(--primary-500)
        &:focus-visible
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover
            color: var(--accent)
    &__reset 
        display: flex
        align-items: center
        justify-content: center
        gap: 4px
        margin-top: 12px
        padding: 8px 12px
        border-radius: 8px
        outline: 2px solid transparent
        font: 500 12px/16px 'Rubik', sans-serif
        color: var(--secondary)
        transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease
        &:focus-visible
            outline: 2px solid var(--primary-300)
            outline-offset: 0 
        &:hover 
            background-color: var(--accent)
            color: var(--white)
        & svg 
            width: 16px
            height: 16px
    &__text 
        font: 400 14px/22px 'Rubik', sans-serif
        color: var(--secondary)
    &__form 
        display: flex
        flex-direction: column
        gap: 12px 
        &-input 
            padding: 8px 16px
            border: 1px solid var(--border)
            border-radius: 8px
            outline: 2px solid transparent
            font: 400 14px/20px 'Rubik', sans-serif
            color: var(--dark)
            transition: outline 0.3s ease
            &::placeholder
                color: var(--secondary)
            &:focus-visible 
                outline: 2px solid var(--primary-300)
                outline-offset: 0 
        &-btn 
            padding: 8px 16px
            border-radius: 8px
            outline: 2px solid transparent
            background-color: var(--primary-500)
            font: 500 14px/20px 'Rubik', sans-serif
            color: var(--white)
            transition: outline 0.3s ease
            &:focus-visible 
                outline: 2px solid var(--primary-300)
                outline-offset: 0 
            &:hover 
                background-color: var(--primary-600)
            &:active 
                background-color: var(--primary-700)
@media (max-width: 1023px)
    .aside 
        &__wrapper
            top: 64px
// ===== ARTICLE =====
.article 
    max-width: 960px
    margin: 0 auto
    padding: 24px 0
    &__wrapper
        display: flex
        flex-direction: column
        gap: 24px
        padding: 0 16px
    &__back 
        display: flex
        align-items: center
        gap: 8px
        width: max-content
        padding: 4px 16px
        border-radius: 8px
        outline: 2px solid transparent
        outline-offset: 0
        font: 400 16px/24px 'Rubik', sans-serif
        color: var(--dark)
        transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease
        &:focus-visible 
            outline: 2px solid var(--primary-300) 
        &:hover 
            background-color: var(--accent)
            color: var(--white)
        & svg 
            width: 16px
            height: 16px
    &__image 
        position: relative
        display: flex
        align-items: center
        justify-content: center
        margin: 0 -16px
    &__img 
        width: 100%
        height: 300px
        object-fit: cover
    &__rubric 
        position: absolute
        top: 32px
        left: 32px
        display: flex
        align-items: center
        gap: 8px
        padding: 4px 16px
        border-radius: 16px
        background-color: var(--white)
        font: 600 14px/24px 'Rubik', sans-serif
        &--project 
            color: var(--project)
            &::before
                content: ''
                width: 20px
                height: 20px
                background-color: var(--project)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5"/><path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12"/><path d="m14 16-3 3 3 3"/><path d="M8.293 13.596 7.196 9.5 3.1 10.598"/><path d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843"/><path d="m13.378 9.633 4.096 1.098 1.097-4.096"/></svg>') no-repeat center / contain
        &--story
            color: var(--story)
            &::before
                content: ''
                width: 20px
                height: 20px
                background-color: var(--story)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>')
        &--fact
            color: var(--fact)
            &::before
                content: ''
                width: 20px
                height: 20px
                background-color: var(--fact)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>')
    &__category 
        display: flex
        justify-content: flex-start
        width: max-content
        padding: 4px 8px
        border-radius: 4px  
        background-color: var(--secondary)
        font: 500 12px/14px 'Rubik', sans-serif
        color: var(--white)
    &__title 
        font: 700 60px/85px 'Comfortaa', sans-serif
        color: var(--dark)
    &__subtitle 
        font: 400 24px/40px 'Rubik', sans-serif
        color: var(--secondary)
    &__line
        display: flex
        align-items: center
        gap: 32px
    &__info 
        display: flex
        align-items: center
        gap: 8px
        font: 400 14px/16px "Rubik", sans-serif
        color: var(--secondary)
        & svg 
            width: 16px
            height: 16px
    &__text 
        font: 400 18px/28px "Rubik", sans-serif
    &__block
        display: flex
        flex-direction: column
        gap: 24px
        padding: 32px 24px
        border-radius: 12px
        box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
        background-color: var(--white)
        &-title
            display: flex
            align-items: center
            gap: 8px
            font: 600 18px/28px "Comfortaa", sans-serif
            color: var(--dark)
            & svg 
                width: 16px
                height: 16px
            &--fact 
                color: var(--fact)
            &--bulb 
                color: var(--story)
        &-text 
            font: 400 18px/28px "Rubik", sans-serif
            color: var(--secondary)
        &--number
            border-left: 4px solid var(--fact)
        &--quote
            border-left: 4px solid var(--project)
        &--important
            border-left: 4px solid var(--story)
    &__quote 
        display: flex
        flex-direction: column
        gap: 16px
        padding-left: 16px
        padding-top: 8px 
        padding-bottom: 8px
        border-left: 4px solid var(--border)
        &-title 
            font: italic 500 18px/26px "Rubik", sans-serif
        &-author 
            font: 400 14px/16px "Rubik", sans-serif
@media ( max-width: 1023px)
    .article
        &__title 
           font-size: 44px
           line-height: 52px 
@media ( max-width:  767px)
    .article
        padding: 16px 0
        &__wrapper 
            gap: 16px
            padding: 0
        &__title 
           font-size: 32px
           line-height: 40px 
        &__subtitle 
            font-size: 18px
            line-height: 28px
        &__text 
            font-size: 16px
            line-height: 24px
        &__info 
            font-size: 12px
            line-height: 16px
            & svg 
                width: 12px
                height: 12px
        &__block 
            gap: 16px
            padding: 24px
            &-title 
                font-size: 16px
                line-height: 24px
            &-text
                font-size: 16px
                line-height: 24px
        &__quote 
            &-title 
                font-size: 16px
                line-height: 24px
            &-author 
                font-size: 12px
                line-height: 12px

// ===== FOOTER =====
.footer
    padding: 44px 0
    background-color: var(--white)
    &__wrapper
        display: grid
        grid-template-columns: minmax(270px, 1fr) 1fr 1fr minmax(295px, 1fr)
        gap: 32px 16px
    &__item
        display: flex
        flex-direction: column
        gap: 16px
        &-title 
            font: 500 14px/14px 'Comfortaa', sans-serif
            color: var(--dark)
    &__nav 
        margin: 0
        padding: 0
    &__title 
        font: 400 14px/14px 'Rubik', sans-serif
        color: var(--secondary)
    &__text 
        font: 400 12px/14px 'Rubik', sans-serif
        color: var(--secondary)
    &__list 
        &-link 
            font: 400 14px/14px 'Rubik', sans-serif
            color: var(--secondary)
            transition: color 0.3s ease
            &:hover 
                color: var(--primary-500)
    &__right
        font: 400 14px/14px 'Rubik', sans-serif
        color: var(--secondary)
@media (max-width: 1023px)
    .footer 
        &__wrapper 
            grid-template-columns: minmax(270px, 1fr) 1fr 1fr
        &__right 
            grid-column: span 3
@media (max-width: 767px)
    .footer 
        &__wrapper 
            grid-template-columns: 1fr
        &__right 
            grid-column: span 1
// ===== ANIMATION =====
@keyframes arrow-down
    0% 
        transform: translateY(0)
    45% 
        transform: translateY(28px)
    45.1%
        transform: translateY(-28px)
    90% 
        transform: translateY(0)
    100% 
        transform: translateY(0)
@keyframes fadeUp
    0%
        opacity: 0
        transform: translateY(30px)
    100%
        opacity: 1
        transform: translateY(0)
        