:root
    --primary-50: #c9fdda
    --primary-100: #59f9a0
    --primary-200: #4dd98b
    --primary-300: #42bd78
    --primary-400: #37a367
    --primary-500: #2e8b57
    --primary-600: #26774a
    --primary-700: #1c5d38
    --primary-800: #114026
    --primary-900: #062313
    --primary-950: #031409
    --secondary: #5d6d7e
    --dark: #2c3e50
    --white: #fff
    --grey: #a7afb9
    --border: #dee2e6
    --background: #f8f9fa
    --muted: #e9ecef
    --accent: #FFA726
    --destructive: #e74c3c
    --chart-1: #3498db
    --chart-2: #e67e22
    --chart-3: #2ecc71
    --chart-4: #9b59b6
    --chart-5: #f39c12
    --fact: #3498db
    --story: #e67e22
    --project: #2ecc71
// ===== SCROLLBAR =====
::-webkit-scrollbar 
    width: 5px
    height: 5px
    background-color: var(--primary-200)
::-webkit-scrollbar-thumb 
    border-radius: 5px
    background-color: var(--primary-800)
::-webkit-scrollbar-track 
    margin: 0
    background-color: var(--primary-200)
// ===== BASE =====
html 
    scroll-behavior: smooth
body 
    font: 400 16px/20px "Rubik", "sans-serif"
    color: var(--dark)
.container 
    max-width: 1536px
    margin: 0 auto
    padding: 0 16px
svg 
    flex: 0 0 auto
// ===== HEADER =====
.header
    position: fixed
    top: 0
    left: 0
    right: 0
    padding: 12px 0 12px
    border-bottom: 1px solid var(--border)
    box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
    background-color: #fff
    z-index: 100
    &__wrapper 
        display: flex
        align-items: center
        justify-content: space-between
        gap: 24px   
.logo
    display: flex
    align-items: center
    gap: 8px
    border-radius: 8px
    outline: 2px solid transparent
    outline-offset: 4px
    transition: outline 0.3s ease
    &:focus 
        outline: 2px solid var(--primary-300)
    &__image
        height: 40px
    &__img 
        height: 100%
    &__name 
        &-title 
            font: 700 18px/24px "Comfortaa", "sans-serif"
            color: var(--primary-500)
        &-text 
            font: 400 12px/16px 'Rubik', 'sans-serif'
            color: var(--secondary)
        &-footer 
            font-size: 20px
.nav 
    &__list 
        display: flex
        align-items: center
        gap: 24px
    &__item
        &-link 
            border-radius: 2px
            outline: 2px solid transparent
            outline-offset: 4px
            font: 500 14px/20px "Rubik", "sans-serif"
            color: var(--secondary)
            transition: color 0.3s ease, outline 0.3s ease
            &:focus 
                outline: 2px solid var(--primary-300)
            &:hover
                color: var(--primary-500)
            &:actove 
                outline: 2px solid transparent
        &-active 
            color: var(--dark)
.setting 
    display: flex
    align-items: center
    gap: 16px
.search 
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 32px
        height: 32px
        padding: 8px
        border-radius: 8px
        outline: 2px solid transparent
        transition: outline 0.3s ease, background-color 0.3s ease
        & path 
            stroke: var(--dark)
            transition: stroke 0.3s ease
        &:focus 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover 
            background-color: var(--accent)
            & path 
                stroke: var(--white)
.language 
    position: relative
    &__view 
        display: flex
        align-items: flex-end
        gap: 8px
        padding: 8px
        border-radius: 8px
        outline: 2px solid transparent
        transition: outline 0.3s ease, background-color 0.3s ease
        &:focus 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover 
            background-color: var(--accent)
            & .language__icon path 
                stroke: var(--white)
            & .language__code-p 
                color: var(--white)
            & .language__name-p 
                color: var(--white)
    &__icon 
        display: flex
        width: 16px
        height: 16px
        & path 
            stroke: var(--dark)
            transition: stroke 0.3s ease
    &__code 
        display: flex
        align-items: flex-end
        justify-content: center
        width: 35px
        &-p
            padding-top: 2px
            font: 700 14px/14px "Comfortaa", "sans-serif"
            color: var(--dark)
            transition: color 0.3s ease
    &__name 
        display: flex
        align-items: center
        justify-content: flex-start
        width: 122px
        height: 100%
        &-p
            padding: 2px 0
            font: 400 12px/12px "Rubik", "sans-serif"
            color: var(--secondary)
            text-align: left
            transition: color 0.3s ease
    &__dropdown 
        position: absolute
        display: none
        top: calc(100% + 8px)
        border-radius: 8px
        box-shadow: 2px 2px 2px var(--border), -2px -2px 2px var(--border), 2px -2px 2px var(--border),-2px 2px 2px var(--border)
        z-index: 10
        &_active 
            display: flex
    &__options 
        display: flex
        flex-direction: column
        gap: 4px
        padding: 4px
        border-radius: 8px
        background-color: #fff
    &__option 
        display: flex
        align-items: flex-end
        gap: 8px
        padding: 8px
        border-radius: 8px
        outline: 2px solid transparent
        outline-offset: 0
        transition: outline 0.3s ease, background-color 0.3s ease
        & path 
            fill: var(--dark)   
        &:focus 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover 
            background-color: var(--accent)
            & .language__code-p 
                color: var(--white)
            & .language__name-p 
                color: var(--white)
// ===== MAIN =====
.main 
    margin-top: 64px
    background-color: var(--background)
// ===== HIRO =====
.hiro 
    display: flex
    align-items: center
    height: calc(100vh - 64px)
    background: linear-gradient(135deg,rgba(46, 139, 87, 0.3) 0%, rgba(248, 249, 250, 0.3) 35%, rgba(248, 249, 250, 0.3) 65%, rgba(255, 167, 38, 0.3) 100%)
    &__wrapper 
        max-width: 1000px
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        gap: 16px
    &__title 
        font: 700 72px/90px "Comfortaa", "sans-serif"
        color: var(--dark)
    &__subtitle 
        margin-bottom: 8px
        font: 500 24px/32px "Rubik", "sans-serif"
        letter-spacing: 1px
        color: var(--primary-500)
    &__text 
        max-width: 744px
        margin-bottom: 16px
        font: 400 18px/30px "Rubik", "sans-serif"
        color: var(--secondary)
        text-align: center
    &__link 
        display: flex
        align-items: center
        gap: 8px
        margin-bottom: 32px
        padding: 12px
        border-radius: 8px
        outline: 2px solid transparent
        background-color: var(--primary-500)
        font: 600 16px/16px "Rubik", "sans-serif"
        color: var(--white)
        transition: background-color 0.3s ease, outline 0.3s ease
        & svg
            transition: transform 0.5s ease
        & path 
            fill: var(--white)
        &:focus 
            outline: 2px solid var(--primary-300) 
            outline-offset: 0
        &:hover 
            background-color: var(--primary-600)
            & svg 
                animation: arrow-down 1.5s infinite normal ease-in-out 
        &:active 
            background-color: var(--primary-700)
    &__line 
        width: 1000px
        height: 1px
        background-color: var(--border)
    &__static 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        align-items: center
        gap: 32px
        width: 100%
        margin-top: 16px
    &__item 
        display: flex
        flex-direction: column
        align-items: center
        gap: 4px
        &-title 
            font: 700 36px/40px "Comfortaa", "sans-serif"
            color: var(--primary-500)
        &-text 
            font: 400 16px/24px "Rubic", "sans-serif"
            color: var(--secondary)
// ===== CONTENT =====
.content 
    padding: 32px 0
    &__wrapper
        display: grid
        grid-template-columns: 3fr 1fr
        gap: 24px
// ===== ARTICLES =====
.articles
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 16px
    width: 100%
    &__item
        position: relative
        display: flex
        flex-direction: column
        gap: 4px
        border-radius: 8px
        box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
        outline: 2px solid transparent
        background-color: var(--white)
        overflow: hidden
        transition: box-shadow 0.3s ease, transform 0.3s ease, outline 0.3s ease
        &:focus 
            outline: 2px solid var(--primary-300)
            outline-offset: 0
        &:hover
            box-shadow: 0 10px 15px -3px var(--border), 0 4px 6px -4px var(--border)
            transform: translateY(-8px)
            & .articles__image-img 
                transform: scale(1.1)
            & .articles__title
                color: var(--primary-500)
    &__image
        width: 100%
        height: 210px
        overflow: hidden
        &-img 
            width: 100%
            height: 100%
            object-fit: cover
            transition: transform 0.3s ease
    &__rubric
        position: absolute
        top: 12px
        left: 12px
        display: flex
        align-items: center
        gap: 8px
        padding: 4px 12px
        border-radius: 12px
        background-color: var(--white)
        &_project
            color: var(--project)
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--project)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5"/><path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12"/><path d="m14 16-3 3 3 3"/><path d="M8.293 13.596 7.196 9.5 3.1 10.598"/><path d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843"/><path d="m13.378 9.633 4.096 1.098 1.097-4.096"/></svg>') no-repeat center / contain
        &_story
            color: var(--story)
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--story)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>')
        &_fact
            color: var(--fact)
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--fact)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>')
        &-text
            font: 600 12px/16px 'Rubik', 'sans-serif'
    &__info 
        display: flex
        flex-direction: column
        gap: 12px
        padding: 20px
    &__category 
        font: 600 12px/16px 'Rubik', 'sans-serif'
        color: var(--secondary)
        text-transform: uppercase
    &__title 
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        font: 700 18px/22px 'Comfortaa', 'sans-serif'
        color: var(--dark)
        overflow: hidden
        transition: color 0.3s ease
    &__preview
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        font: 400 12px/20px 'Rubik', 'sans-serif'
        color: var(--secondary)
        overflow: hidden
    &__tegs 
        display: flex
        flex-wrap: wrap
        gap: 4px
    &__teg 
        padding: 2px 4px
        border-radius: 4px
        background-color: var(--secondary)
        font: 400 12px/16px 'Rubik', 'sans-serif'
        color: var(--white)
        text-transform: lowercase
    &__date 
        font: 400 12px/16px 'Rubik', 'sans-serif'
        color: var(--secondary)
// ===== ASIDE =====
.aside 
    height: 100%
    &__wrapper
        position: sticky
        top: 76px
        display: flex
        flex-direction: column
        gap: 24px
        width: 100%
    &__item
        display: flex
        flex-direction: column
        gap: 12px
        padding: 24px
        border-radius: 8px
        box-shadow: 0 1px 3px 0 var(--border), 0 1px 2px -1px var(--border)
        background-color: var(--white)
        &_filters 
            border-left: 4px solid var(--project)
    &__title 
        display: flex
        align-items: center
        gap: 12px
        font: 600 16px/24px 'Rubik', 'sans-serif'
    &__filters 
        display: flex
        flex-wrap: wrap
        gap: 8px
    &__radio 
        display: none
        &:checked
            &~.aside__btn
                color: var(--white)
                &_all
                    border: 1px solid var(--primary-500)
                    background-color: var(--primary-500)
                &_facts
                    border: 1px solid var(--fact)
                    background-color: var(--fact)
                    &::before
                        background-color: var(--white)
                &_stories
                    border: 1px solid var(--story)
                    background-color: var(--story)
                    &::before
                        background-color: var(--white)
                &_projects
                    border: 1px solid var(--project)
                    background-color: var(--project)
                    &::before
                        background-color: var(--white)
                &_base
                    border: 1px solid var(--primary-500)
                    background-color: var(--primary-500)
    &__btn 
        display: flex
        align-items: center
        gap: 4px
        padding: 7px 12px
        border: 1px solid var(--border)
        border-radius: 8px
        background-color: var(--white)
        font: 500 14px/16px 'Rubik', 'sans-serif'
        color: var(--dark)
        transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease
        &_all
            border-radius: 16px
        &_facts
            border-radius: 16px
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--dark)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>')
                transition: background-color 0.3s ease
        &_stories
            border-radius: 16px
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--dark)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>')
                transition: background-color 0.3s ease
        &_projects
            border-radius: 16px
            &::before
                content: ''
                width: 14px
                height: 14px
                background-color: var(--dark)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5"/><path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12"/><path d="m14 16-3 3 3 3"/><path d="M8.293 13.596 7.196 9.5 3.1 10.598"/><path d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843"/><path d="m13.378 9.633 4.096 1.098 1.097-4.096"/></svg>') no-repeat center / contain
                transition: background-color 0.3s ease
    &__factoftheday 
        border-left: 4px solid var(--fact)
    &__text 
        font: 400 14px/22px 'Rubik', 'sans-serif'
        color: var(--secondary)
    &__get 
        border-left: 4px solid var(--story)
    &__form 
        display: flex
        flex-direction: column
        gap: 12px 
        &-input 
            padding: 8px 16px
            border: 1px solid var(--border)
            border-radius: 8px
            font: 400 14px/20px 'Rubik', 'sans-serif'
            color: var(--dark)
            &::placeholder
                color: var(--secondary)
        &-btn 
            padding: 8px 16px
            border-radius: 8px
            background-color: var(--primary-500)
            font: 500 14px/20px 'Rubik', 'sans-serif'
            color: var(--white)
// ===== ARTICLE =====
.article 
    &__wrapper
        display: flex
        flex-direction: column
        gap: 24px
        padding: 0 16px
    &__back 
        display: flex
        &-link 
            display: flex
            align-items: center
            gap: 8px
            padding: 4px 16px
            border-radius: 8px
            outline: 2px solid transparent
            outline-offset: 0
            font: 400 16px/24px 'Rubik', 'sans-serif'
            color: var(--dark)
            transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease
            &:focus 
                outline: 2px solid var(--primary-300) 
            &:hover 
                background-color: var(--accent)
                color: var(--white)
    &__image 
        position: relative
        display: flex
        align-items: center
        justify-content: center
        margin: 0 -16px
        &-img 
            width: 100%
            height: 300px
            object-fit: cover
    &__rubric 
        position: absolute
        top: 32px
        left: 32px
        display: flex
        align-items: center
        gap: 8px
        padding: 4px 16px
        border-radius: 16px
        background-color: var(--white)
        &_project 
            color: var(--project)
            &::before
                content: ''
                width: 20px
                height: 20px
                background-color: var(--project)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 19H4.815a1.83 1.83 0 0 1-1.57-.881 1.785 1.785 0 0 1-.004-1.784L7.196 9.5"/><path d="M11 19h8.203a1.83 1.83 0 0 0 1.556-.89 1.784 1.784 0 0 0 0-1.775l-1.226-2.12"/><path d="m14 16-3 3 3 3"/><path d="M8.293 13.596 7.196 9.5 3.1 10.598"/><path d="m9.344 5.811 1.093-1.892A1.83 1.83 0 0 1 11.985 3a1.784 1.784 0 0 1 1.546.888l3.943 6.843"/><path d="m13.378 9.633 4.096 1.098 1.097-4.096"/></svg>') no-repeat center / contain
        &_story
            color: var(--story)
            &::before
                content: ''
                width: 20px
                height: 20px
                background-color: var(--story)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>')
        &_fact
            color: var(--fact)
            &::before
                content: ''
                width: 20px
                height: 20px
                background-color: var(--fact)
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>')
        &-text
            font: 600 14px/24px 'Rubik', 'sans-serif'
    &__category 
        display: flex
        justify-content: flex-start
        &-text 
            padding: 4px 8px
            border-radius: 4px  
            background-color: var(--secondary)
            font: 500 12px/14px 'Rubik', 'sans-serif'
            color: var(--white)
    &__title 
        font: 700 60px/85px 'Comfortaa', 'sans-serif'
        color: var(--dark)
    &__subtitle 
        font: 400 24px/40px 'Rubik', 'sans-serif'
        color: var(--secondary)
// ===== FOOTER =====
.footer
    padding: 44px 0
    background-color: var(--white)
    &__wrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 16px
    &__item
        display: flex
        flex-direction: column
        gap: 16px
        &-title 
            font: 500 14px/14px 'Comfortaa', 'sans-serif'
            color: var(--dark)
    &__title 
        font: 400 14px/14px 'Rubik', 'sans-serif'
        color: var(--secondary)
    &__text 
        font: 400 12px/14px 'Rubik', 'sans-serif'
        color: var(--secondary)
    &__list 
        display: flex
        flex-direction: column
        gap: 12px
        &-link 
            font: 400 14px/14px 'Rubik', 'sans-serif'
            color: var(--secondary)
            transition: color 0.3s ease
            &:hover 
                color: var(--primary-500)
    &__right
        font: 400 14px/14px 'Rubik', 'sans-serif'
        color: var(--secondary)
// ===== ANIMATION =====
@keyframes arrow-down
    0% 
        transform: translateY(0)
    45% 
        transform: translateY(28px)
    45.1%
        transform: translateY(-28px)
    90% 
        transform: translateY(0)
    100% 
        transform: translateY(0)
        