doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Моё резюме
        link(rel="icon" type="image/x-icon" href="image/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/moyo_rezyume.css")
        script(src="js/moyo_rezyume.js" defer) 
    body 
        header.header 
            .header__wrapper 
                button.burger.small-visible
                    svg(width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H13C13.5523 0 14 0.447715 14 1C14 1.55228 13.5523 2 13 2H1C0.447715 2 0 1.55228 0 1Z" fill="#6A6A73")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 11C0 10.4477 0.447715 10 1 10H13C13.5523 10 14 10.4477 14 11C14 11.5523 13.5523 12 13 12H1C0.447715 12 0 11.5523 0 11Z" fill="#6A6A73")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 6C0 5.44772 0.447715 5 1 5H13C13.5523 5 14 5.44772 14 6C14 6.55228 13.5523 7 13 7H1C0.447715 7 0 6.55228 0 6Z" fill="#6A6A73")
                a(href="").logo
                    img(src="image/logo.png", alt="my new job").logo__img
                .header__menu
                    .header__menu-item
                        button.header__search
                            .header__search-svg.svg-container
                                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M7.60037 3.2999C4.94941 3.2999 2.80038 5.44892 2.80038 8.09988C2.80038 10.7508 4.94941 12.8999 7.60037 12.8999C10.2513 12.8999 12.4004 10.7508 12.4004 8.09988C12.4004 5.44892 10.2513 3.2999 7.60037 3.2999ZM0.400391 8.09988C0.400391 4.12344 3.62393 0.899902 7.60037 0.899902C11.5768 0.899902 14.8003 4.12344 14.8003 8.09988C14.8003 9.65487 14.3074 11.0947 13.4692 12.2717L19.2489 18.0513C19.7175 18.5199 19.7175 19.2797 19.2489 19.7484C18.7802 20.217 18.0204 20.217 17.5518 19.7484L11.7722 13.9688C10.5952 14.8069 9.15536 15.2999 7.60037 15.2999C3.62393 15.2999 0.400391 12.0763 0.400391 8.09988Z" fill="#6A6A73")
                            .header__search-text Поиск
                    .header__menu-item
                        button.header__mail 
                            .header__mail-svg.svg-container
                                svg(width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M0.403991 2.5606L10.0004 7.35821L19.5968 2.5606C19.5613 1.94914 19.2933 1.37439 18.8478 0.954077C18.4023 0.533763 17.8129 0.299692 17.2004 0.299805H2.80039C2.18789 0.299692 1.59853 0.533763 1.153 0.954077C0.707481 1.37439 0.439516 1.94914 0.403991 2.5606Z" fill="#6A6A73")
                                    path(d="M19.6004 5.24141L10.0004 10.0414L0.400391 5.24141V12.2998C0.400391 12.9363 0.653247 13.5468 1.10333 13.9969C1.55342 14.4469 2.16387 14.6998 2.80039 14.6998H17.2004C17.8369 14.6998 18.4474 14.4469 18.8974 13.9969C19.3475 13.5468 19.6004 12.9363 19.6004 12.2998V5.24141Z" fill="#6A6A73")
                            p.header__mail-num 1
                        button.header__bell
                            .header__bell-svg.svg-container
                                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M15.7591 2.21169C12.9473 -0.60008 8.38849 -0.60008 5.57672 2.21169L2.53408 5.25434L1.33408 5.25434C0.848725 5.25434 0.411161 5.54671 0.225424 5.99512C0.0396859 6.44353 0.142353 6.95967 0.485551 7.30286L10.6679 17.4852C11.0111 17.8284 11.5272 17.9311 11.9756 17.7453C12.424 17.5596 12.7164 17.122 12.7164 16.6367L12.7164 15.4367L15.7591 12.394C18.5708 9.58226 18.5708 5.02347 15.7591 2.21169Z" fill="#6A6A73")
                                    path(d="M2.18258 15.7881C0.776695 14.3822 0.776695 12.1028 2.18258 10.697L7.27375 15.7881C5.86786 17.194 3.58847 17.194 2.18258 15.7881Z" fill="#6A6A73")
                            p.header__bell-num 2
                    .header__menu-item.small-hidden
                        .header__account
                            p.header__account-company ООО “МАЙ НЬЮ ДЖОБ РЕКРУТМЕНТ" 
                            p.header__account-name Мезенцев Д.П.
                        button.header__setting 
                            .header__setting-svg.svg-container
                                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(fill-rule="evenodd" clip-rule="evenodd" d="M11.7875 2.30503C11.3326 0.431526 8.66815 0.431525 8.21333 2.30503C7.91951 3.51529 6.53293 4.08964 5.46939 3.44161C3.82301 2.43845 1.93894 4.32252 2.9421 5.9689C3.59012 7.03244 3.01578 8.41902 1.80552 8.71284C-0.0679865 9.16767 -0.0679856 11.8321 1.80552 12.287C3.01578 12.5808 3.59012 13.9674 2.9421 15.0309C1.93894 16.6773 3.82301 18.5614 5.46939 17.5582C6.53293 16.9102 7.91951 17.4845 8.21333 18.6948C8.66815 20.5683 11.3326 20.5683 11.7875 18.6948C12.0813 17.4845 13.4679 16.9102 14.5314 17.5582C16.1778 18.5614 18.0618 16.6773 17.0587 15.0309C16.4107 13.9674 16.985 12.5808 18.1953 12.287C20.0688 11.8321 20.0688 9.16767 18.1953 8.71284C16.985 8.41902 16.4107 7.03244 17.0587 5.9689C18.0618 4.32252 16.1778 2.43845 14.5314 3.44161C13.4679 4.08964 12.0813 3.51529 11.7875 2.30503ZM10.0005 14.1C11.9887 14.1 13.6005 12.4882 13.6005 10.5C13.6005 8.51178 11.9887 6.9 10.0005 6.9C8.01226 6.9 6.40049 8.51178 6.40049 10.5C6.40049 12.4882 8.01226 14.1 10.0005 14.1Z" fill="#6A6A73")
                    .header__menu-item.small-hidden
                        button.header__logout
                            .header__logout-svg.svg-container
                                svg(width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1.60039 0.100098C0.937649 0.100098 0.400391 0.637356 0.400391 1.3001V15.7001C0.400391 16.3628 0.937649 16.9001 1.60039 16.9001C2.26313 16.9001 2.80039 16.3628 2.80039 15.7001V1.3001C2.80039 0.637356 2.26313 0.100098 1.60039 0.100098Z" fill="#6A6A73")
                                    path(d="M13.9519 11.2516C13.4832 11.7202 13.4832 12.48 13.9519 12.9486C14.4205 13.4172 15.1803 13.4172 15.6489 12.9486L19.2489 9.34862C19.474 9.12358 19.6004 8.81835 19.6004 8.50009C19.6004 8.18183 19.474 7.87661 19.2489 7.65156L15.6489 4.05157C15.1803 3.58294 14.4205 3.58294 13.9519 4.05157C13.4832 4.52019 13.4832 5.27999 13.9519 5.74862L15.5033 7.30009L6.40039 7.30009C5.73765 7.30009 5.20039 7.83735 5.20039 8.50009C5.20039 9.16283 5.73765 9.70009 6.40039 9.70009H15.5033L13.9519 11.2516Z" fill="#6A6A73")
        main.main
            section.head
                .container
                    .head__path
                        a(href="#").head__path-link Мой профиль
                        p &#62;
                        p Моё резюме
                    h1.head__title Моё резюме
                    .head__btns
                        button.head__btn.btn.btn-primary Редактировать резюме
                        button.head__btn-icon.svg-container
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M13.8284 10.1716C12.2663 8.60948 9.73367 8.60948 8.17157 10.1716L4.17157 14.1716C2.60948 15.7337 2.60948 18.2663 4.17157 19.8284C5.73367 21.3905 8.26633 21.3905 9.82843 19.8284L10.93 18.7269M10.1716 13.8284C11.7337 15.3905 14.2663 15.3905 15.8284 13.8284L19.8284 9.82843C21.3905 8.26633 21.3905 5.73367 19.8284 4.17157C18.2663 2.60948 15.7337 2.60948 14.1716 4.17157L13.072 5.27118" stroke="#202123" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        button.head__btn-icon.svg-container.small-hidden
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M17 17H19C20.1046 17 21 16.1046 21 15V11C21 9.89543 20.1046 9 19 9H5C3.89543 9 3 9.89543 3 11V15C3 16.1046 3.89543 17 5 17H7M9 21H15C16.1046 21 17 20.1046 17 19V15C17 13.8954 16.1046 13 15 13H9C7.89543 13 7 13.8954 7 15V19C7 20.1046 7.89543 21 9 21ZM17 9V5C17 3.89543 16.1046 3 15 3H9C7.89543 3 7 3.89543 7 5V9H17Z" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        button.head__btn-icon.svg-container
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M12 19L12 18.99M12 12L12 11.99M12 5L12 4.99M12 18C12.5523 18 13 18.4477 13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19C11 18.4477 11.4477 18 12 18ZM12 11C12.5523 11 13 11.4477 13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11ZM12 4C12.5523 4 13 4.44772 13 5C13 5.55229 12.5523 6 12 6C11.4477 6 11 5.55228 11 5C11 4.44772 11.4477 4 12 4Z" stroke="#202123" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
            section.resume
                .container 
                    .wrapper
                        .attribut.attribut-line24
                            .attribut__avatar
                                picture 
                                    source(src="image/avatars/kuznecov.jpg", type="")
                                    img(src="image/avatars/kuznecov.jpg", alt="")
                            .attribut__info
                                .attribut__head
                                    .attribut__name
                                        .attribut__info-title.title-h2 Кузнецов Владимир Михайлович
                                        .attribut__info-text Мужчина, 37 лет
                                    .insearch Активно ищу работу
                                .attribut__social 
                                    .attribut__social-item 
                                        .attribut__social-content
                                            h3.attribut__social-title.title-small г. Москва
                                            p.attribut__social-text Город проживания
                                    .attribut__social-item 
                                        .attribut__social-icon.svg-container
                                            svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M0.600098 1.39961C0.600098 0.957782 0.95827 0.599609 1.4001 0.599609H3.1224C3.51347 0.599609 3.84722 0.88234 3.91151 1.26809L4.50296 4.81679C4.5607 5.16321 4.38574 5.50679 4.07162 5.66385L2.83311 6.28311C3.72614 8.50227 5.49744 10.2736 7.7166 11.1666L8.33586 9.92809C8.49292 9.61396 8.83649 9.43901 9.18292 9.49675L12.7316 10.0882C13.1174 10.1525 13.4001 10.4862 13.4001 10.8773V12.5996C13.4001 13.0414 13.0419 13.3996 12.6001 13.3996H11.0001C5.25634 13.3996 0.600098 8.74337 0.600098 2.99961V1.39961Z" fill="black" fill-opacity="0.64")
                                        .attribut__social-content
                                            h3.attribut__social-title.title-small 8 903 743 34 42
                                            p.attribut__social-text Телефон
                                    .attribut__social-item 
                                        .attribut__social-content
                                            h3.attribut__social-title.title-small 10 лет
                                            p.attribut__social-text Опыт работы
                                    .attribut__social-item 
                                        .attribut__social-icon.svg-container
                                            svg(width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M0.602498 1.7074L7.0001 4.9058L13.3977 1.7074C13.374 1.29975 13.1954 0.916586 12.8984 0.636377C12.6013 0.356168 12.2084 0.20012 11.8001 0.200195H2.2001C1.79177 0.20012 1.39886 0.356168 1.10184 0.636377C0.804824 0.916586 0.626181 1.29975 0.602498 1.7074Z" fill="#6A6A73")
                                                path(d="M13.4001 3.4946L7.0001 6.6946L0.600098 3.4946V8.2002C0.600098 8.62454 0.768669 9.03151 1.06873 9.33157C1.36878 9.63163 1.77575 9.8002 2.2001 9.8002H11.8001C12.2244 9.8002 12.6314 9.63163 12.9315 9.33157C13.2315 9.03151 13.4001 8.62454 13.4001 8.2002V3.4946Z" fill="#6A6A73")
                                        .attribut__social-content
                                            h3.attribut__social-title.title-small kuznecov.vladimur@mail.ru
                                            p.attribut__social-text Почта
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M15.2 7.99979C15.2 11.9762 11.9765 15.1998 8.00003 15.1998C4.02359 15.1998 0.800049 11.9762 0.800049 7.99979C0.800049 4.02335 4.02359 0.799805 8.00003 0.799805C11.9765 0.799805 15.2 4.02335 15.2 7.99979ZM9.80003 5.29979C9.80003 6.2939 8.99414 7.09979 8.00003 7.09979C7.00592 7.09979 6.20004 6.2939 6.20004 5.29979C6.20004 4.30568 7.00592 3.4998 8.00003 3.4998C8.99414 3.4998 9.80003 4.30568 9.80003 5.29979ZM7.99997 8.89979C6.18419 8.89979 4.61959 9.97524 3.9084 11.5239C4.89867 12.6726 6.36442 13.3998 8.00002 13.3998C9.63558 13.3998 11.1013 12.6726 12.0916 11.524C11.3804 9.97528 9.81578 8.89979 7.99997 8.89979Z" fill="#6A6A73")
                                p Желаемая должность и заработная плата
                            .attribut__part 
                                h3.attribut__part-title Директор по строительству
                                .attribut__salary
                                    p.attribut__salary-number 350 000 - 400 000 ₽
                                    p.attribut__salary-text Желательная заработная плата, руб
                                .attribut__tags
                                    p.attribut__tags-tag Офисная работа
                                    p.attribut__tags-tag Полная занятость
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M4.40005 4.3998V3.4998C4.40005 2.00863 5.60888 0.799805 7.10004 0.799805H8.90004C10.3912 0.799805 11.6 2.00863 11.6 3.4998V4.3998H13.4C14.3942 4.3998 15.2 5.20568 15.2 6.19979V9.41347C12.9587 10.245 10.5334 10.6997 8.00007 10.6997C5.46668 10.6997 3.04138 10.245 0.800049 9.41346V6.19979C0.800049 5.20568 1.60594 4.3998 2.60005 4.3998H4.40005ZM6.20005 3.4998C6.20005 3.00274 6.60299 2.5998 7.10004 2.5998H8.90004C9.3971 2.5998 9.80004 3.00274 9.80004 3.4998V4.3998H6.20005V3.4998ZM7.10004 7.99979C7.10004 7.50273 7.50299 7.09979 8.00004 7.09979H8.00904C8.5061 7.09979 8.90904 7.50273 8.90904 7.99979C8.90904 8.49684 8.5061 8.89979 8.00904 8.89979H8.00004C7.50299 8.89979 7.10004 8.49684 7.10004 7.99979Z" fill="#6A6A73")
                                        path(d="M0.800049 11.3228V13.3998C0.800049 14.3939 1.60594 15.1998 2.60005 15.1998H13.4C14.3942 15.1998 15.2 14.3939 15.2 13.3998V11.3228C12.9385 12.0862 10.5168 12.4997 8.00007 12.4997C5.48331 12.4997 3.06156 12.0862 0.800049 11.3228Z" fill="#6A6A73")
                                p Опыт работы - 14 лет 8 месяцев
                            .attribut__items
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Сентябрь 2022 —  по настоящее время
                                        h4.attribut__left-text 2 года 4 месяца
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Руководитель строительства
                                        h3.attribut__right-subtitle.title-medium ООО "Строительная компания "Гранит"
                                        p.attribut__right-subtext Санкт-Петербург
                                        p.attribut__right-text Организация и контроль всех процессов связанных с СМР производимых организацией ,руководство строительным подразделением более 50 человек (работников). Оперативное решение вопросов, возникших в ходе строительства для обеспечения непрерывного производства работ (контроль выполнения утверждённых графиков реализации проекта, обеспечение мероприятий для сокращения сроков строительства в т.ч. подбор КА подрядных организаций).
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Декабрь 2021 — Январь 2024
                                        h4.attribut__left-text 2 года 2 месяца
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Заместитель директора по строительству
                                        h3.attribut__right-subtitle.title-medium ООО "ГЛОБАЛСТРОЙТЕХ" ГК ПИК
                                        p.attribut__right-subtext Москва
                                        p.attribut__right-text Организация СМР при строительстве жилого комплексов свыше 180000 кв.м., а так же работа по организации взаимодействия в разрезе освоения и подтверждения выполненных работ, в т.ч. с сотрудниками банка.
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Июнь 2019 — Май 2020
                                        h4.attribut__left-text 1 год
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Руководитель строительства
                                        h3.attribut__right-subtitle.title-medium ООО " МЕГАСТРОЙ-МО" ГК Самолёт-Девелопмент
                                        p.attribut__right-subtext Москва
                                        p.attribut__right-text Организация и контроль за строительством жилых комплексов свыше 120000 кв.мруководство строительным подразделением более 50 человек. Оперативное решение вопросов , возникших в ходе строительства. Контроль выполнения утверждённых графиков реализациипроекта. <br>Осуществление строительного контроля.0 кв.м.
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M8.44671 0.918386C8.17002 0.760278 7.83035 0.760278 7.55366 0.918386L1.25368 4.51838C0.822112 4.76499 0.672175 5.31475 0.918784 5.74632C1.08473 6.03672 1.38795 6.1996 1.70005 6.19995V12.4998C1.20299 12.4998 0.800049 12.9027 0.800049 13.3998C0.800049 13.8968 1.20299 14.2998 1.70005 14.2998H14.3C14.7971 14.2998 15.2 13.8968 15.2 13.3998C15.2 12.9027 14.7971 12.4998 14.3 12.4998V6.19995C14.6122 6.19971 14.9156 6.03682 15.0816 5.74632C15.3282 5.31475 15.1783 4.76499 14.7467 4.51838L8.44671 0.918386ZM4.40004 7.09979C3.90299 7.09979 3.50004 7.50273 3.50004 7.99979V10.6998C3.50004 11.1968 3.90299 11.5998 4.40004 11.5998C4.8971 11.5998 5.30004 11.1968 5.30004 10.6998V7.99979C5.30004 7.50273 4.8971 7.09979 4.40004 7.09979ZM7.10003 7.99979C7.10003 7.50273 7.50298 7.09979 8.00003 7.09979C8.49709 7.09979 8.90003 7.50273 8.90003 7.99979V10.6998C8.90003 11.1968 8.49709 11.5998 8.00003 11.5998C7.50298 11.5998 7.10003 11.1968 7.10003 10.6998V7.99979ZM11.6 7.09979C11.103 7.09979 10.7 7.50273 10.7 7.99979V10.6998C10.7 11.1968 11.103 11.5998 11.6 11.5998C12.0971 11.5998 12.5 11.1968 12.5 10.6998V7.99979C12.5 7.50273 12.0971 7.09979 11.6 7.09979Z" fill="#6A6A73")
                                p Образование и навыки
                            .attribut__items
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title 2019
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Павлодарский государственный университет имени С. Торайгырова
                                        h3.attribut__right-subtitle.title-medium Промышленное и Гражданское Стоительство
                                        p.attribut__right-subtext Павлодар
                                        p.attribut__right-text Инженер-строитель
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Языки
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Английский
                                        h3.attribut__right-subtitle.title-medium С1 - Продвинутый
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.600098 2.5998C0.600098 1.60569 1.40598 0.799805 2.40009 0.799805H6.52729C7.00468 0.799805 7.46252 0.989447 7.80008 1.32701L10.8729 4.3998C11.2104 4.73736 11.4001 5.1952 11.4001 5.67259V13.3998C11.4001 14.3939 10.5942 15.1998 9.60008 15.1998H2.40009C1.40598 15.1998 0.600098 14.3939 0.600098 13.3998V2.5998ZM2.40009 7.99979C2.40009 7.50273 2.80304 7.09979 3.30009 7.09979H8.70008C9.19713 7.09979 9.60008 7.50273 9.60008 7.99979C9.60008 8.49684 9.19713 8.89979 8.70008 8.89979H3.30009C2.80304 8.89979 2.40009 8.49684 2.40009 7.99979ZM3.30009 10.6998C2.80304 10.6998 2.40009 11.1027 2.40009 11.5998C2.40009 12.0968 2.80304 12.4998 3.30009 12.4998H8.70008C9.19713 12.4998 9.60008 12.0968 9.60008 11.5998C9.60008 11.1027 9.19713 10.6998 8.70008 10.6998H3.30009Z" fill="#6A6A73")
                                p Дополнительно о себе
                            .attribut__items
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title О себе
                                    .attribut__right 
                                        p.attribut__right-text Опыт руководства коллективом и мотивации персонала для чёткого выполнения поставленной задачи, ответственный, нацеленный на достижение конкретных результатов. C реальным опытом запуска, развития и реализации проектов, управления человеческими и материальными ресурсами предприятия; навыками стратегического планирования, координации и контроль выполнения работ; оптимизации бизнес-процессов; управления финансово-хозяйственной деятельностью предприятия в т.ч. подбора, обучения, построения команды; работы с контролирующими и исполнительными органами власти. Имею Опыт ведения переговоров на ТОП уровне Ведение переговоров и нахождение компромиссов в государственных органах власти и местного самоуправления
                                        p.attribut__right-text Имею серьёзные стимулы: Профессионально расти и развиваться!
                                        p.attribut__right-text По характеру - максималист, лидер.
                                        p.attribut__right-text Готов работать сверхурочно. Готов обучаться, если потребуется.
                                        p.attribut__right-text Опыт создания отдела продаж с (0). - ПК – уверенный пользователь (Word, Excel, PowerPoint, Outlook, 1С 7.7). - Проведение переговоров с высшим руководством компаний; - опыт руководителем отдела продаж - целеустремлённость и настойчивость в достижении цели; - способность к нестандартному мышлению
                                        p.attribut__right-text В настоящий момент готов к работе, расти, развиваться, зарабатывать, строить карьеру.
                                        p.attribut__right-text З/п от 400 000 руб. и выше- стабильный оклад + %. обязательно с перспективой карьерного роста. Состою в НРС С-50-259288
                                        p.attribut__right-text Свидетельство о квалификации Главный инженер проекта ГИП (Специалист по организации строительства) (7 уровень квалификации) № 16.02500.09.00021104.29 от 22.05.2024г.
                                        p.attribut__right-text Рассмотрю предложения
                        