doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Моё резюме
        link(rel="icon" type="image/x-icon" href="image/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/print_v1.css")
        script(src="js/moyo_rezyume.js" defer) 
    body 
        header.header 
            .container
                .header__wrapper
                    a(href="").logo.svg-container
                        svg(width="86" height="20" viewBox="0 0 86 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M0 5.30762H2.44685L5.03116 11.6126H5.14113L7.72544 5.30762H10.1723V14.6918H8.2478V8.58383H8.1699L5.74139 14.646H4.4309L2.00238 8.56092H1.92449V14.6918H0V5.30762Z" fill="#3F3F45")
                            path(d="M11.3861 5.30762H13.6085L15.7483 9.34904H15.8399L17.9798 5.30762H20.2021L16.7793 11.3743V14.6918H14.809V11.3743L11.3861 5.30762Z" fill="#3F3F45")
                            path(d="M21.9355 5.16129C21.9355 2.31079 24.2463 0 27.0968 0H52.9033C55.7538 0 58.0646 2.31079 58.0646 5.16129V14.8387C58.0646 17.6892 55.7538 20 52.9033 20H27.0968C24.2463 20 21.9355 17.6892 21.9355 14.8387V5.16129Z" fill="#0095FF")
                            path(d="M34.1609 5.77734V14.2231H32.6186L28.9442 8.90738H28.8823V14.2231H27.0967V5.77734H28.6638L32.3093 11.0889H32.3835V5.77734H34.1609Z" fill="white")
                            path(d="M35.7524 14.2231V5.77734H41.4434V7.24958H37.538V9.26204H41.1506V10.7343H37.538V12.7509H41.4599V14.2231H35.7524Z" fill="white")
                            path(d="M44.8803 14.2231L42.4637 5.77734H44.4143L45.8123 11.6457H45.8824L47.4247 5.77734H49.0949L50.6331 11.658H50.7073L52.1053 5.77734H54.0559L51.6393 14.2231H49.899L48.2907 8.70119H48.2247L46.6205 14.2231H44.8803Z" fill="white")
                            path(d="M63.9481 5.30799H65.9092V11.8512C65.9092 12.4561 65.7733 12.9815 65.5014 13.4275C65.2326 13.8735 64.8584 14.2171 64.3788 14.4585C63.8992 14.6998 63.3417 14.8204 62.7063 14.8204C62.1412 14.8204 61.628 14.7212 61.1667 14.5226C60.7085 14.321 60.345 14.0155 60.0762 13.6062C59.8074 13.1938 59.6745 12.676 59.6775 12.0529H61.6524C61.6585 12.3003 61.7089 12.5126 61.8036 12.6898C61.9014 12.8639 62.0343 12.9983 62.2023 13.093C62.3734 13.1846 62.575 13.2305 62.8071 13.2305C63.0515 13.2305 63.2577 13.1785 63.4257 13.0747C63.5968 12.9677 63.7266 12.812 63.8152 12.6073C63.9038 12.4026 63.9481 12.1506 63.9481 11.8512V5.30799Z" fill="#3F3F45")
                            path(d="M76.3022 10.0001C76.3022 11.0234 76.1082 11.894 75.7202 12.6119C75.3354 13.3297 74.8099 13.8781 74.144 14.2569C73.4811 14.6326 72.7358 14.8204 71.9079 14.8204C71.074 14.8204 70.3256 14.6311 69.6627 14.2523C68.9998 13.8735 68.4759 13.3252 68.091 12.6073C67.7061 11.8894 67.5137 11.0204 67.5137 10.0001C67.5137 8.97673 67.7061 8.10613 68.091 7.38827C68.4759 6.6704 68.9998 6.1236 69.6627 5.74787C70.3256 5.36908 71.074 5.17969 71.9079 5.17969C72.7358 5.17969 73.4811 5.36908 74.144 5.74787C74.8099 6.1236 75.3354 6.6704 75.7202 7.38827C76.1082 8.10613 76.3022 8.97673 76.3022 10.0001ZM74.2906 10.0001C74.2906 9.33719 74.1913 8.77817 73.9928 8.32302C73.7973 7.86786 73.5208 7.52267 73.1634 7.28746C72.806 7.05224 72.3875 6.93464 71.9079 6.93464C71.4283 6.93464 71.0098 7.05224 70.6524 7.28746C70.295 7.52267 70.017 7.86786 69.8185 8.32302C69.623 8.77817 69.5252 9.33719 69.5252 10.0001C69.5252 10.6629 69.623 11.222 69.8185 11.6771C70.017 12.1323 70.295 12.4775 70.6524 12.7127C71.0098 12.9479 71.4283 13.0655 71.9079 13.0655C72.3875 13.0655 72.806 12.9479 73.1634 12.7127C73.5208 12.4775 73.7973 12.1323 73.9928 11.6771C74.1913 11.222 74.2906 10.6629 74.2906 10.0001Z" fill="#3F3F45")
                            path(d="M77.9009 14.6922V5.30799H81.6583C82.3486 5.30799 82.9244 5.41032 83.3857 5.61499C83.847 5.81966 84.1937 6.10375 84.4258 6.46726C84.658 6.82772 84.7741 7.24317 84.7741 7.7136C84.7741 8.08016 84.7008 8.40244 84.5541 8.68042C84.4075 8.95535 84.2059 9.1814 83.9493 9.35857C83.6958 9.53269 83.4056 9.65641 83.0787 9.72972V9.82137C83.4361 9.83664 83.7706 9.93745 84.0822 10.1238C84.3968 10.3101 84.6519 10.5713 84.8474 10.9073C85.0429 11.2403 85.1407 11.6374 85.1407 12.0987C85.1407 12.5966 85.0169 13.0411 84.7695 13.4321C84.5251 13.82 84.1631 14.127 83.6835 14.3531C83.204 14.5791 82.6129 14.6922 81.9103 14.6922H77.9009ZM79.885 13.0701H81.5025C82.0554 13.0701 82.4586 12.9647 82.7121 12.7539C82.9657 12.5401 83.0925 12.256 83.0925 11.9016C83.0925 11.642 83.0298 11.4129 82.9046 11.2143C82.7793 11.0158 82.6006 10.86 82.3685 10.747C82.1394 10.6339 81.866 10.5774 81.5483 10.5774H79.885V13.0701ZM79.885 9.23486H81.3558C81.6277 9.23486 81.869 9.18751 82.0798 9.09281C82.2936 8.99506 82.4616 8.8576 82.5838 8.68042C82.7091 8.50325 82.7717 8.29094 82.7717 8.04351C82.7717 7.70443 82.651 7.43103 82.4097 7.22331C82.1714 7.01559 81.8324 6.91173 81.3925 6.91173H79.885V9.23486Z" fill="#3F3F45")
                    p.header__starts Всё начинается с того, что вы важны...
        main 
            section.print
                .container
                    .wrapper
                        .attribut.attribut-line18
                            .attribut__avatar
                                picture 
                                    source(src="image/avatars/kuznecov.jpg", type="")
                                    img(src="image/avatars/kuznecov.jpg", alt="")
                            .attribut__info
                                .attribut__head
                                    .attribut__name
                                        .insearch Активно ищу работу
                                        .attribut__info-title Кузнецов Владимир Михайлович
                                        .attribut__info-text Мужчина, 37 лет
                                    .attribut__salary 350 000 - 400 000 ₽
                                .attribut__social 
                                    .attribut__social-col 
                                        .attribut__social-item 
                                            .attribut__social-content
                                                h3.attribut__social-title Директор по строительству
                                                p.attribut__social-text Желаемая должность
                                        .attribut__social-item 
                                            .attribut__social-content
                                                h3.attribut__social-title ПАО “Газпромнефть”
                                                p.attribut__social-text Последнее место работы
                                    .attribut__social-col 
                                        .attribut__social-item 
                                            .attribut__social-content
                                                h3.attribut__social-title 14 лет
                                                p.attribut__social-text Опыт работы
                                        .attribut__social-item 
                                            .attribut__social-content
                                                h3.attribut__social-title г. Москва
                                                p.attribut__social-text Город проживания
                                    .attribut__social-col 
                                        .attribut__social-item 
                                            .attribut__social-icon.svg-container
                                                svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M0.600098 1.39961C0.600098 0.957782 0.95827 0.599609 1.4001 0.599609H3.1224C3.51347 0.599609 3.84722 0.88234 3.91151 1.26809L4.50296 4.81679C4.5607 5.16321 4.38574 5.50679 4.07162 5.66385L2.83311 6.28311C3.72614 8.50227 5.49744 10.2736 7.7166 11.1666L8.33586 9.92809C8.49292 9.61396 8.83649 9.43901 9.18292 9.49675L12.7316 10.0882C13.1174 10.1525 13.4001 10.4862 13.4001 10.8773V12.5996C13.4001 13.0414 13.0419 13.3996 12.6001 13.3996H11.0001C5.25634 13.3996 0.600098 8.74337 0.600098 2.99961V1.39961Z" fill="black" fill-opacity="0.64")
                                            .attribut__social-content
                                                h3.attribut__social-title.title-small 8 903 743 34 42
                                                p.attribut__social-text Телефон
                                        .attribut__social-item 
                                            .attribut__social-icon.svg-container
                                                svg(width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M0.602498 1.7074L7.0001 4.9058L13.3977 1.7074C13.374 1.29975 13.1954 0.916586 12.8984 0.636377C12.6013 0.356168 12.2084 0.20012 11.8001 0.200195H2.2001C1.79177 0.20012 1.39886 0.356168 1.10184 0.636377C0.804824 0.916586 0.626181 1.29975 0.602498 1.7074Z" fill="#6A6A73")
                                                    path(d="M13.4001 3.4946L7.0001 6.6946L0.600098 3.4946V8.2002C0.600098 8.62454 0.768669 9.03151 1.06873 9.33157C1.36878 9.63163 1.77575 9.8002 2.2001 9.8002H11.8001C12.2244 9.8002 12.6314 9.63163 12.9315 9.33157C13.2315 9.03151 13.4001 8.62454 13.4001 8.2002V3.4946Z" fill="#6A6A73")
                                            .attribut__social-content
                                                h3.attribut__social-title.title-small kuznecov.vladimur@mail.ru
                                                p.attribut__social-text Почта
                        .attribut
                            .attribut__tags
                                p.attribut__tags-tag Офисная работа
                                p.attribut__tags-tag Полная занятость
                                p.attribut__tags-tag Готов к командировкам
                                p.attribut__tags-tag Не готов к переезду
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M4.40005 4.3998V3.4998C4.40005 2.00863 5.60888 0.799805 7.10004 0.799805H8.90004C10.3912 0.799805 11.6 2.00863 11.6 3.4998V4.3998H13.4C14.3942 4.3998 15.2 5.20568 15.2 6.19979V9.41347C12.9587 10.245 10.5334 10.6997 8.00007 10.6997C5.46668 10.6997 3.04138 10.245 0.800049 9.41346V6.19979C0.800049 5.20568 1.60594 4.3998 2.60005 4.3998H4.40005ZM6.20005 3.4998C6.20005 3.00274 6.60299 2.5998 7.10004 2.5998H8.90004C9.3971 2.5998 9.80004 3.00274 9.80004 3.4998V4.3998H6.20005V3.4998ZM7.10004 7.99979C7.10004 7.50273 7.50299 7.09979 8.00004 7.09979H8.00904C8.5061 7.09979 8.90904 7.50273 8.90904 7.99979C8.90904 8.49684 8.5061 8.89979 8.00904 8.89979H8.00004C7.50299 8.89979 7.10004 8.49684 7.10004 7.99979Z" fill="#6A6A73")
                                        path(d="M0.800049 11.3228V13.3998C0.800049 14.3939 1.60594 15.1998 2.60005 15.1998H13.4C14.3942 15.1998 15.2 14.3939 15.2 13.3998V11.3228C12.9385 12.0862 10.5168 12.4997 8.00007 12.4997C5.48331 12.4997 3.06156 12.0862 0.800049 11.3228Z" fill="#6A6A73")
                                p Опыт работы - 14 лет 8 месяцев
                            .attribut__items
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Сентябрь 2022 —  по настоящее время
                                        h4.attribut__left-text 2 года 4 месяца
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Руководитель строительства
                                        h3.attribut__right-subtitle.title-medium ООО "Строительная компания "Гранит"
                                        p.attribut__right-subtext Санкт-Петербург
                                        p.attribut__right-text Организация и контроль всех процессов связанных с СМР производимых организацией ,руководство строительным подразделением более 50 человек (работников). Оперативное решение вопросов, возникших в ходе строительства для обеспечения непрерывного производства работ (контроль выполнения утверждённых графиков реализации проекта, обеспечение мероприятий для сокращения сроков строительства в т.ч. подбор КА подрядных организаций).
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Декабрь 2021 — Январь 2024
                                        h4.attribut__left-text 2 года 2 месяца
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Заместитель директора по строительству
                                        h3.attribut__right-subtitle.title-medium ООО "ГЛОБАЛСТРОЙТЕХ" ГК ПИК
                                        p.attribut__right-subtext Москва
                                        p.attribut__right-text Организация СМР при строительстве жилого комплексов свыше 180000 кв.м., а так же работа по организации взаимодействия в разрезе освоения и подтверждения выполненных работ, в т.ч. с сотрудниками банка.
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Июнь 2019 — Май 2020
                                        h4.attribut__left-text 1 год
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Руководитель строительства
                                        h3.attribut__right-subtitle.title-medium ООО " МЕГАСТРОЙ-МО" ГК Самолёт-Девелопмент
                                        p.attribut__right-subtext Москва
                                        p.attribut__right-text Организация и контроль за строительством жилых комплексов свыше 120000 кв.мруководство строительным подразделением более 50 человек. Оперативное решение вопросов , возникших в ходе строительства. Контроль выполнения утверждённых графиков реализациипроекта. <br>Осуществление строительного контроля.0 кв.м.
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M8.44671 0.918386C8.17002 0.760278 7.83035 0.760278 7.55366 0.918386L1.25368 4.51838C0.822112 4.76499 0.672175 5.31475 0.918784 5.74632C1.08473 6.03672 1.38795 6.1996 1.70005 6.19995V12.4998C1.20299 12.4998 0.800049 12.9027 0.800049 13.3998C0.800049 13.8968 1.20299 14.2998 1.70005 14.2998H14.3C14.7971 14.2998 15.2 13.8968 15.2 13.3998C15.2 12.9027 14.7971 12.4998 14.3 12.4998V6.19995C14.6122 6.19971 14.9156 6.03682 15.0816 5.74632C15.3282 5.31475 15.1783 4.76499 14.7467 4.51838L8.44671 0.918386ZM4.40004 7.09979C3.90299 7.09979 3.50004 7.50273 3.50004 7.99979V10.6998C3.50004 11.1968 3.90299 11.5998 4.40004 11.5998C4.8971 11.5998 5.30004 11.1968 5.30004 10.6998V7.99979C5.30004 7.50273 4.8971 7.09979 4.40004 7.09979ZM7.10003 7.99979C7.10003 7.50273 7.50298 7.09979 8.00003 7.09979C8.49709 7.09979 8.90003 7.50273 8.90003 7.99979V10.6998C8.90003 11.1968 8.49709 11.5998 8.00003 11.5998C7.50298 11.5998 7.10003 11.1968 7.10003 10.6998V7.99979ZM11.6 7.09979C11.103 7.09979 10.7 7.50273 10.7 7.99979V10.6998C10.7 11.1968 11.103 11.5998 11.6 11.5998C12.0971 11.5998 12.5 11.1968 12.5 10.6998V7.99979C12.5 7.50273 12.0971 7.09979 11.6 7.09979Z" fill="#6A6A73")
                                p Образование и навыки
                            .attribut__items
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title 2019
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Павлодарский государственный университет имени С. Торайгырова
                                        h3.attribut__right-subtitle.title-medium Промышленное и Гражданское Стоительство
                                        p.attribut__right-subtext Павлодар
                                        p.attribut__right-text Инженер-строитель
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title Языки
                                    .attribut__right 
                                        h2.attribut__right-title.title-large Английский
                                        h3.attribut__right-subtitle.title-medium С1 - Продвинутый
                        .attribut
                            .attribut__titlesmall
                                .attribut__icon.svg-container
                                    svg(width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.600098 2.5998C0.600098 1.60569 1.40598 0.799805 2.40009 0.799805H6.52729C7.00468 0.799805 7.46252 0.989447 7.80008 1.32701L10.8729 4.3998C11.2104 4.73736 11.4001 5.1952 11.4001 5.67259V13.3998C11.4001 14.3939 10.5942 15.1998 9.60008 15.1998H2.40009C1.40598 15.1998 0.600098 14.3939 0.600098 13.3998V2.5998ZM2.40009 7.99979C2.40009 7.50273 2.80304 7.09979 3.30009 7.09979H8.70008C9.19713 7.09979 9.60008 7.50273 9.60008 7.99979C9.60008 8.49684 9.19713 8.89979 8.70008 8.89979H3.30009C2.80304 8.89979 2.40009 8.49684 2.40009 7.99979ZM3.30009 10.6998C2.80304 10.6998 2.40009 11.1027 2.40009 11.5998C2.40009 12.0968 2.80304 12.4998 3.30009 12.4998H8.70008C9.19713 12.4998 9.60008 12.0968 9.60008 11.5998C9.60008 11.1027 9.19713 10.6998 8.70008 10.6998H3.30009Z" fill="#6A6A73")
                                p Дополнительно о себе
                            .attribut__items
                                .attribut__item
                                    .attribut__left 
                                        h3.attribut__left-title О себе
                                    .attribut__right 
                                        p.attribut__right-text Опыт руководства коллективом и мотивации персонала для чёткого выполнения поставленной задачи, ответственный, нацеленный на достижение конкретных результатов.C реальным опытом запуска, развития и реализации проектов, управления человеческими и материальными ресурсами предприятия; навыками стратегического планирования, координации и контроль выполнения работ; оптимизации бизнес-процессов; управления финансово-хозяйственной деятельностью предприятия в т.ч. подбора, обучения, построения команды; работы с контролирующими и исполнительными органами власти. Имею Опыт ведения переговоров на ТОП уровнеВедение переговоров и нахождение компромиссов в государственных органах власти и местного самоуправления
                                        p.attribut__right-text Имею серьёзные стимулы:Профессионально расти и развиваться!
                                        p.attribut__right-text По характеру - максималист, лидер.
                                        p.attribut__right-text Готов работать сверхурочно.Готов обучаться, если потребуется.
                                        p.attribut__right-text Опыт создания отдела продаж с (0).- ПК – уверенный пользователь (Word, Excel, PowerPoint, Outlook, 1С 7.7).- Проведение переговоров с высшим руководством компаний;- опыт руководителем отдела продаж- целеустремлённость и настойчивость в достижении цели;- способность к нестандартному мышлению
                                        p.attribut__right-text В настоящий момент готов к работе, расти, развиваться, зарабатывать, строить карьеру.
                                        p.attribut__right-text З/п от 400 000 руб. и выше- стабильный оклад + %. обязательно с перспективой карьерного роста.Состою в НРС С-50-259288
                                        p.attribut__right-text Свидетельство о квалификацииГлавный инженер проекта ГИП (Специалист по организации строительства) (7 уровень квалификации)№ 16.02500.09.00021104.29 от 22.05.2024г.
                                        p.attribut__right-text Рассмотрю предложения
                        
                    
