doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Выходи за меня
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.css")
        script(defer src="js/script.js")
    body 
        main 
            section.marryme
                .container 
                    header.header 
                        .header__item 
                            h2.header__item-title 25 марта
                            p.header__item-text Дата мастер-класса
                        button(type="button").header__btn Онлайн Мастер-класс
                        .header__item 
                            h2.header__item-title 
                                span.header__item-hidden Время 
                                | 15:00 и 20:00 мск
                            p.header__item-text Старт онлайн
                    .marryme__wrapper
                        .marryme__content
                            p.marryme__text Как стать любимой и счастливой в&nbsp;отношениях с достойным мужчиной 
                            h1.marryme__title «Выходи за меня»
                        .marryme__bottom 
                            .marryme__item
                                p.marryme__item-first Впервые
                                p.marryme__item-text 3-х часовой мастер-класс от не просто психолога, а «сапожника в сапогах», женщины, которая прошла через два развода, и все же стала счастливой в браке с достойным мужчиной
                            .marryme__item
                                a(href="#registration").marryme__link  
                                    .marryme__link-info
                                        h3.marryme__link-title Участвовать бесплатно
                                        p.marryme__link-text Заберите бонус после регистрации
                                    .marryme__link-circle
                                        img(src="images/right-arrow.png", alt="")
            section.essence
                .container
                    .essence__wrapper 
                        h2.essence__title В чем суть мастер-класса
                        p.essence__text Для женщины счастливые отношения - основа ее жизненной самореализации. Быть ЗА мужчиной (замужем) - одна из наших самых глубинных, базовых настроек психики
                        .essence__tags 
                            h3.essence__tags-title От этого зависит:
                            .essence__tags-content 
                                .essence__tag 
                                    img(src="images/essence-1.png", alt="essence")
                                    p Здоровье
                                .essence__tag 
                                    img(src="images/essence-2.png", alt="essence")
                                    p Деньги
                                .essence__tag 
                                    img(src="images/essence-3.png", alt="essence")
                                    p Социальный статус
                                .essence__tag 
                                    img(src="images/essence-4.png", alt="essence")
                                    p Ощущение счастья 
                                .essence__tag 
                                    img(src="images/essence-5.png", alt="essence")
                                    p Самооценка
                        .essence__items
                            .essence__item.happy
                                .essence__item-head.happy__head
                                    h3.essence__item-title Женщина в отношениях с достойным мужчиной
                                    img(src="images/woman-happy.jpg", alt="woman-happy").essence__item-img
                                ul.essence__list
                                    li.essence__list-item.happy__item Живет легче, бережет свое здоровье (не таскает тяжелые сумки, не делает тяжелую работу, ее есть, кому защитить, поддержать)
                                    li.essence__list-item.happy__item Может работать не на износ, а просто для души, для самореализации - достойный мужчина достойно обеспечивает
                                    li.essence__list-item.happy__item Чувствует себя нужной, ценной, у нее высокая женская самооценка
                                    li.essence__list-item.happy__item Окружающие воспринимают ее с уважением, как состоявшуюся женщину
                                    li.essence__list-item.happy__item Она счастлива, спокойна и гармонична
                            .essence__item.sad
                                .essence__item-head.sad__head
                                    h3.essence__item-title Женщина, у которой никак не получается с отношениями
                                    img(src="images/woman-sad.jpg", alt="woman-sad").essence__item-img
                                ul.essence__list 
                                    li.essence__list-item.sad__item Вынуждена все тащить на себе
                                    li.essence__list-item.sad__item Она не может остановиться, ей приходится работать, крутиться, потому что положиться не на кого
                                    li.essence__list-item.sad__item Сомневается в себе (даже если не показывает этого другим):<br> “Что со мной не так? Почему другим везет с мужчинами, а мне - нет?!”
                                    li.essence__list-item.sad__item Окружающие смотрят на нее немного с сочувствием и жалостью: “Такая хорошая, а нормального мужика так и не нашла”
                                    li.essence__list-item.sad__item Она привыкла быть одна, но это вынужденная привычка, счастья в этом нет
            section.reasons
                .container 
                    .reasons__wrapper 
                        .reasons__head 
                            p.reasons__head-text 
                                | Есть
                                span.reasons__head-span 5 основных причин, 
                                | <br>из-за которых женщинам не везет в личной жизни, не получается создать счастливые, долгосрочные отношения с достойным мужчиной
                        ul.reasons__content 
                            li.reasons__content-item
                                img(src="images/1.png", alt="").reasons__content-img
                                p.reasons__content-text Мужчин много, а достойных нет
                            li.reasons__content-item
                                img(src="images/2.png", alt="").reasons__content-img
                                p.reasons__content-text Постоянные ошибки в выборе (“думала, что Тот Самый, суженый, а оказалось - показалось”)
                            li.reasons__content-item
                                img(src="images/3.png", alt="").reasons__content-img
                                p.reasons__content-text Бесперспективные знакомства: мужчины появляются и исчезают с горизонта, теряют интерес 
                            li.reasons__content-item
                                img(src="images/4.png", alt="").reasons__content-img
                                p.reasons__content-text “Невидимость”: достойные мужчины даже не замечают, не предлагают познакомиться
                            li.reasons__content-item
                                img(src="images/5.png", alt="").reasons__content-img
                                p.reasons__content-text Если и появляются какие-то отношения, мужчина не старается, не вкладывается в них
                        .reasons__bottom
                            p.reasons__bottom-text И все эти 5 причин способна устранить<br> инновационная методика, с которой вы познакомитесь на мастер-классе
            section.who 
                .container 
                    .who__wrapper 
                        h2.who__title Кого я приглашаю на этот мастер-класс
                        .who__content 
                            .who__item 
                                .who__item-block 
                                    p.who__item-p Женщин, которые хотят отношений, но не видят вокруг достойных мужчин
                                    .who__item-img
                                        img(src="images/withered.png", alt="").who__item-icon
                                img(src="images/arrow.png", alt="").who__item-arrow 
                                p.who__item-text Узнаете, в чем, на самом деле, проблема: почему на горизонте нет достойных. И что нужно сделать, чтобы появились (менять себя не нужно)
                            .who__item 
                                .who__item-block 
                                    p.who__item-p Женщин, у которых периодически случаются романы, но заканчивается все разочарованием: мужчина оказывается не тем, за кого себя выдавал
                                    .who__item-img
                                        img(src="images/broken-heart.png", alt="").who__item-icon
                                img(src="images/arrow.png", alt="").who__item-arrow 
                                p.who__item-text Поймете, как перестать ошибаться в мужчинах, как быстро и точно понимать истинную суть мужчины, даже если он прячет ее за маской
                            .who__item 
                                .who__item-block 
                                    p.who__item-p Женщин, которые знакомятся, но дальше нескольких свиданий дело не идет, мужчины теряют интерес
                                    .who__item-img
                                        img(src="images/magnet.png", alt="").who__item-icon
                                img(src="images/arrow.png", alt="").who__item-arrow 
                                p.who__item-text Разберетесь, из-за чего романы оказываются бесперспективными. И откроете для себя секрет: как понять, с каким мужчиной есть перспективы, а с каким - нет
                            .who__item 
                                .who__item-block 
                                    p.who__item-p Женщин, с которыми никто не знакомится, достойные мужчины их как будто бы игнорируют
                                    .who__item-img
                                        img(src="images/hourglass.png", alt="").who__item-icon
                                img(src="images/arrow.png", alt="").who__item-arrow 
                                p.who__item-text Узнаете, какой принцип нужно использовать, чтобы достойные мужчины замечали, хотели знакомиться. Это просто, и это не требует кардинальных изменений внешности 
                            .who__item 
                                .who__item-block 
                                    p.who__item-p Женщин, которым не везет в отношениях: мужчина не старается, сел на шею, не проявляет инициативу, не хочет вкладываться в нее
                                    .who__item-img
                                        img(src="images/male-and-female.png", alt="").who__item-icon
                                img(src="images/arrow.png", alt="").who__item-arrow 
                                p.who__item-text Поймете, почему так происходит, что мужчина перестает дарить подарки, заботиться, проявлять инициативу и т.д. И что нужно сделать, чтобы он снова начал стараться в отношениях
            section.what
                .container 
                    .what__wrapper 
                        h2.what__title Что ждет вас на мастер-классе
                        .what__content 
                            .what__item 
                                .what__head 
                                    img(src="images/what-1.png", alt="").what__head-img
                                    h3.what__head-title Достойные мужчины
                                p.what__item-text Вы узнаете, какие типы достойных мужчин реально встретить в жизни, кто не просто выдумка из романов и сериалов, из-за которых вы ждете несуществующих принцев, а ваш реальный шанс. 
                            .what__item 
                                .what__head 
                                    img(src="images/what-2.png", alt="").what__head-img
                                    h3.what__head-title Исключительная проницательность
                                p.what__item-text Вы познакомитесь с методикой, которая позволяет избежать ошибок в выборе мужчины, перестать выбирать не тех, прекратить обжигаться и разочаровываться. С ее помощью вы сразу видите - что за человек, чего от него ждать.
                            .what__item 
                                .what__head 
                                    img(src="images/what-3.png", alt="").what__head-img
                                    h3.what__head-title Совместимость
                                p.what__item-text Вы поймете, как выбирать тех, кто выберет вас, с кем будет всерьез и надолго, без того, чтобы снова вляпаться в безответные чувства.
                            .what__item 
                                .what__head 
                                    img(src="images/what-4.png", alt="").what__head-img
                                    h3.what__head-title Привлекательность
                                p.what__item-text Вы получите лайфхак, с помощью которого легко скорректируете свой образ, чтобы быть привлекательной для достойных мужчин.
                            .what__item 
                                .what__head 
                                    img(src="images/what-5.png", alt="").what__head-img
                                    h3.what__head-title Партнер в режиме<br> “Хочу для нее стараться”
                                p.what__item-text Вы узнаете о двух условиях, связанных с устройством человеческого мозга, при которых мужчина точно будет стараться для вас в отношениях: проявлять активность, радовать, помогать, поддерживать.
                            .what__item 
                                .what__head 
                                    img(src="images/what-6.png", alt="").what__head-img
                                    h3.what__head-title Специальные бонусы <br>
                                        span.what__head-span 1
                                p.what__item-text Эксклюзивные практики, незаменимые в построении счастливых отношений с достойным мужчиной.
                        a(href="#registration").what__link  
                            .what__link-info
                                h3.what__link-title Записаться<br> бесплатно
                            .what__link-circle
                                img(src="images/right-arrow.png", alt="")
            section.struggle
                .container
                    .struggle__wrapper 
                        h2.struggle__title Как проявляются хронические проблемы<br> с любовными отношениями
                        .struggle__content 
                            .struggle__item
                                p.struggle__item-text Много негативного опыта с мужчинами, из-за которого отношения воспринимаются, скорее, как “гемор”, чем счастье
                                p.struggle__item-text Много открытых вопросов о прошлом: <br>“Не слишком ли я многого хотела?”, “Почему он выбрал не меня?”, “Что я делала не так?” и т.д. Ответов нет, а потому - опасения, что вероятный новый роман снова заведет в тупик
                                p.struggle__item-text Горечь от мыслей, что лучшие годы потрачены на "не тех" мужчин, а настоящей семьи всё нет
                                p.struggle__item-text Страх остаться одной навсегда
                                p.struggle__item-text Приступы жалости к себе
                                p.struggle__item-text Усталость от работы над собой
                            .struggle__item
                                p.struggle__item-text Зависть, когда сталкиваешься со счастливыми парами, особенно, которые уже в возрасте
                                p.struggle__item-text Разочарование в советах окружающих: <br>“Уже много пробовала, сколько можно?!”
                                p.struggle__item-text Усталость от неудачных знакомств 
                        a(href="#registration").struggle__link  
                            .struggle__link-info
                                h3.struggle__link-title Не хочу так жить
                        p.struggle__text Чтобы раз и навсегда покончить с хроническими проблемами в отношениях я приготовила этот мастер-класс
                        a(href="#differently").struggle__a
                            .struggle__a-circle
                                img(src="images/right-arrow.png", alt="")
            section.differently#differently
                .container
                    .differently__wrapper 
                        .differently__head 
                            h2.differently__head-title 
                                | Всё может быть 
                                span.differently__head-span по-другому
                            .differently__head-ray
                                img(src="images/fig-1.png", alt="").differently__head-rayl
                                img(src="images/fig-2.png", alt="")
                                img(src="images/fig-3.png", alt="").differently__head-rayx
                                img(src="images/fig-4.png", alt="")
                                img(src="images/fig-5.png", alt="").differently__head-rayr
                            img(src="images/woman.png", alt="").differently__head-img
                            .differently__head-block.block-1
                                img(src="images/like.png", alt="")
                                p Вы видите вокруг много достойных мужчин, которые вам подходят
                            .differently__head-block.block-2
                                img(src="images/cinema.png", alt="")
                                p Вы отчетливо понимаете, с кем из мужчин лучше не связываться, кто только притворяется достойным
                            .differently__head-block.block-3
                                img(src="images/straight.png", alt="")
                                p Достойные мужчины вас замечают, заинтересованы в знакомстве с вами. У вас есть выбор
                            .differently__head-block.block-4
                                img(src="images/analysis.png", alt="")
                                p Вы можете сразу спрогнозировать: <br>как сложатся отношения с новым знакомым, если вы решите общаться, чего от него ждать, а чего не ждать (верность, забота, хороший секс, комплименты и пр.). Для этого вам не нужно сближаться, достаточно пообщаться пару минут. Даже если это общение в интернете
                            .differently__head-block.block-5
                                img(src="images/nature.png", alt="")
                                p Когда начинаются отношения, мужчина старается вас удержать, ценит, многое для вас делает
                        p.differently__text Как это возможно? <br> Всего одна инновационная методика, с которой я познакомлю вас на мастер-классе, позволит вам все исправить! Без необходимости менять себя, ломать себя под мужчин.
                        a(href="#differently__content").differently__link
                            .differently__link-circle
                                img(src="images/right-arrow-white.png", alt="")
                        .differently__content#differently__content
                            h3.differently__content-title Ведущая мастер-класса
                            h3.differently__content-author Надежда Майер
                            .differently__grid 
                                .differently__item
                                    img(src="images/brain.png", alt="")
                                    p.differently__item-text Психолог,<br> кандидат психологических наук
                                .differently__item
                                    img(src="images/customer-experience.png", alt="")
                                    p.differently__item-text Опыт работы в психологии - 22&nbsp;года. Разработала и провела более 50&nbsp;программ для женщин.
                                .differently__item
                                    img(src="images/support.png", alt="")
                                    p.differently__item-text Успешный личный консультант, сертифицированный генеративный коуч
                                .differently__item
                                    img(src="images/youtube.png", alt="")
                                    p.differently__item-text Youtube-блогер (более 350&nbsp;000 подписчиков канала, более 30&nbsp;000&nbsp;000 просмотров).
                                .differently__item
                                    img(src="images/book.png", alt="")
                                    p.differently__item-text Автор книги для женщин “Пульт&nbsp;от&nbsp;отношений”.
                                .differently__item
                                    img(src="images/family.png", alt="")
                                    p.differently__item-text И кроме того, счастливая жена, мама двоих сыновей и даже уже бабушка ;)
                                .differently__itembig
                                    img(src="images/differently.jpg", alt="").differently__itembig-img
                                    .differently__itembig-right
                                        p.differently__itembig-text Методика, о которой я расскажу на мастер-классе, позволяет лично мне сохранять и поддерживать живыми и горячими отношения с моим мужем (мы вместе 18 лет). И я также использую ее в помощи моим клиентам: найти любовь и создать гармоничные перспективные отношения, спасти семью, вернуть любимого и т.д. Эта методика, действительно, невероятно крутая и эффективная. При этом абсолютно несложная (по аналогии с одной известной детской игрой).
                                        p.differently__itembig-text Мне захотелось поделиться этим, помочь женщинам, которые уже отчаялись стать счастливыми, получить ясность - что на самом деле необходимо сделать, чтобы навсегда избавиться от вынужденного одиночества.
                        p.differently__text На моем мастер-классе вы можете получить концентрированные знания о том, как устранить 5 типичных проблем одиночества и быстро притянуть в жизнь отношения с достойным мужчиной
            section.noneed#noneed
                .container
                    .noneed__wrapper 
                        .noneed__head 
                            .noneed__item 
                                .noneed__block
                                    img(src="images/noneed-1.png", alt="").noneed__block-img
                                    p.noneed__block-text Переступать через себя, свои принципы, чтобы понравиться мужчине
                                .noneed__block
                                    img(src="images/noneed-2.png", alt="").noneed__block-img
                                    p.noneed__block-text Рисковать доверять с пустого места едва знакомым мужчинам (просто потому, что у вас начались отношения)
                            .noneed__item.noneed__item-order
                                h2.noneed__item-title Вам не нужно:
                                .noneed__block
                                    img(src="images/noneed-3.png", alt="").noneed__block-img
                                    p.noneed__block-text Кардинально менять свою внешность, отдавая немыслимые суммы косметологам, диетологам, стилистам и продавцам всего”модного и трендового” в обмен на мужское внимание (и без гарантий)
                        p.noneed__text Хотите стать спокойной, гармоничной, счастливой и уверенной в завтрашнем дне рядом с достойным мужчиной?
                        p.noneed__baner 
                            | Всего одна инновационная методика, которая способна изменить вашу жизнь.<br> И вы услышите это от своего избранника: 
                            span.noneed__baner-span «Выходи за меня!»
            section.registration
                .container
                    .registration__wrapper 
                        .registration__item
                            .registration__head 
                                .registration__head-item 
                                    h2.registration__head-title 25 марта
                                    p.registration__head-text Дата 
                                .registration__head-item 
                                    h2.registration__head-title 15:00 и 20:00 мск
                                    p.registration__head-text Время
                            p.registration__text Зарегистрируйтесь на мастер-класс сейчас и сразу получите тест<br> “Почему не получается создать счастливые отношения с достойным мужчиной?»
                            img(src="images/test.png", alt="").registration__item-img 
                        .registration__f#registration
                            <form id="ltForm8871401" class="registration__form lt-normal-form lt-form-inner lt-form" data-id='2147495168' action="https://womanproject.ru/pl/lite/block-public/process-html?id=2147495168" method="post" data-open-new-window="0">
                                h3.registration__form-title Регистрация
                                <input type="hidden" name="formParams[setted_offer_id]" >
                                <input id="email1" type="text" maxlength="60" class="registration__form-input" placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                                <input id="name1" type="text" maxlength="60" class="registration__form-input" placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                                <input id="tel1" type="text" class="registration__form-input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                                p.registration__form-text Выберите удобное время вебинара:
                                    .registration__radios 
                                        .registration__radio
                                            input#registration__radio-1(type="radio", name="time" checked).registration__radio-input
                                            label(for='registration__radio-1').registration__radios-label
                                                .registration__radios-check 
                                                p.registration__radios-text 15:00
                                        .registration__radio
                                            input#registration__radio-2(type="radio", name="time").registration__radio-input
                                            label(for='registration__radio-2').registration__radios-label
                                                .registration__radios-check 
                                                p.registration__radios-text 20:00
                                <button type="submit" class="registration__form-btn" id="button67883" onclick="if(window['btnprs67e547e91de24']){return false;}window['btnprs67e547e91de24']=true;setTimeout(function(){window['btnprs67e547e91de24']=false},6000);return true;">Зарегистрироваться</button>
                                <input type="hidden" id="139470867e547e8ec593" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                                <input type="hidden" id="139470867e547e8ec593ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                                <input type="hidden" name="requestTime" value="1743079401">
                                <input type="hidden" name="requestSimpleSign" value="39f742b106d3734a47f9c0cd4510d490">
                                <input type="hidden" name="isHtmlWidget" value="1"/>
                                .registration__checkbox
                                    input#agreement1(type="checkbox", name="agreement" checked).registration__checkbox-input
                                    label(for="agreement1").registration__checkbox-label
                                        .registration__checkbox-check 
                                        p.registration__checkbox-text 
                                            | Согласие на обработку персональных данных в соответствии с 
                                            a(href="")  Условиями
                            </form>
                            <span id="gccounterImgContainer"></span>
                            <form id="ltForm1582131" class="registration__form lt-normal-form lt-form-inner lt-form" data-id='2147493539' action="https://womanproject.ru/pl/lite/block-public/process-html?id=2147493539" method="post" data-open-new-window="0">
                                h3.registration__form-title Регистрация
                                <input type="hidden" name="formParams[setted_offer_id]" >
                                <input id="email2" type="text" maxlength="60" class="registration__form-input" placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                                <input id="name2" type="text" maxlength="60" class="registration__form-input" placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                                <input id="tel2" type="text" class="registration__form-input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                                p.registration__form-text Выберите удобное время вебинара:
                                    .registration__radios 
                                        .registration__radio
                                            input#registration__radio-3(type="radio", name="time").registration__radio-input
                                            label(for='registration__radio-3').registration__radios-label
                                                .registration__radios-check 
                                                p.registration__radios-text 15:00
                                        .registration__radio
                                            input#registration__radio-4(type="radio", name="time").registration__radio-input
                                            label(for='registration__radio-4').registration__radios-label
                                                .registration__radios-check 
                                                p.registration__radios-text 20:00
                                <button type="submit" class="registration__form-btn" id="button5038786" onclick="if(window['btnprs67e54822c81b4']){return false;}window['btnprs67e54822c81b4']=true;setTimeout(function(){window['btnprs67e54822c81b4']=false},6000);return true;">Зарегистрироваться</button>
                                <input type="hidden" id="139470367e54822bf917" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                                <input type="hidden" id="139470367e54822bf917ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                                <input type="hidden" name="requestTime" value="1743079458">
                                <input type="hidden" name="requestSimpleSign" value="322598f6d6d24e32860bb5760729292e">
                                <input type="hidden" name="isHtmlWidget" value="1"/>
                                .registration__checkbox
                                    input#agreement2(type="checkbox", name="agreement" checked).registration__checkbox-input
                                    label(for="agreement2").registration__checkbox-label
                                        .registration__checkbox-check 
                                        p.registration__checkbox-text 
                                            | Согласие на обработку персональных данных в соответствии с 
                                            a(href="")  Условиями
                            </form>
                            <span id="gccounterImgContainer"></span>
                            
        footer.footer
            .container 
                .footer__wrapper 
                    .footer__item 
                        img.footer__item-img(src="images/footer-logo.png", alt="logo")
                        p.footer__item-text © 2025 Школа для женщин "Летать Легко". Все права защищены
                        .footer__details
                            p.footer__details-text ИНН: 252500665357     
                            p.footer__details-text ОГРНИП: 318253600098341
                    .footer__item 
                        a.footer__link(href="") Политика конфиденциальности
    





