:root
    --white: #ffffff
    --black: #000000
    --gray-050: #F2F2F2
    --gray-100: #E5E5E5
    --gray-200: #CCCCCC
    --gray-300: #B2B2B2
    --gray-400: #999999
    --gray-500: #7F7F7F
    --gray-600: #666666
    --gray-700: #4C4C4C
    --gray-800: #333333
    --gray-900: #191919
    --gray-950: #000000

.title-main
    font: 700 92px/92px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-1 
    font: 700 52px/60px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-2 
    font: 700 44px/52px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-3 
    font: 700 32px/36px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-4 
    font: 700 24px/28px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-5 
    font: 700 20px/24px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-prod
    font: 700 22px/28px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-year
    font: 700 28px/36px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.title-year2
    font: 700 36px/44px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.subtitle 
    font: 600 20px/28px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.text-large
    font: 400 20px/32px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.text-medium
    font: 400 18px/28px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.text-regular
    font: 400 18px/20px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.text-small
    font: 400 16px/24px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.text-btn 
    font: 700 18px/24px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.text-about 
    font: 500 20px/32px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.menu-title 
    font: 700 32px/40px 'Manrope', 'sans-serif'
    letter-spacing: 0px
.menu-text
    font: 500 18px/24px 'Manrope', 'sans-serif'
    letter-spacing: 0px

@media (max-width: 1199px)
    .title-main
        font-size: 80px
        line-height: 80px
@media (max-width: 999px)
    .title-main
        font-size: 60px
        line-height: 60px
@media (max-width: 959px)
    .title-main
        font-size: 40px
        line-height: 40px
    .title-1 
        font-size: 32px
        line-height: 36px
    .title-2
        font-size: 28px
        line-height: 32px
    .title-4 
        font-size: 18px
        line-height: 24px
    .title-year
        font-size: 26px
        line-height: 28px
    .menu-title 
        font-size: 20px
        line-height: 24px
    .subtitle
        font-size: 15px
        line-height: 22px
    .menu-text
        font-size: 16px
    .text-about
        font-size: 16px
        line-height: 24px
    .text-medium
        font-size: 16px
        line-height: 24px

html 
    scrollbar-width: thin
    scroll-behavior: smooth
body 
    position: relative
    transition: background-color 0.3s ease, color 0.3s ease
.body
    height: 100vh
    max-height: 100vh
    overflow-x: scroll
    overflow-y: hidden
.wb-theme
    transition: background-color 0.3s ease
.black_btn-theme 
    transition: background-color 0.3s ease, color 0.3s ease
    &:disabled
        opacity: 0.3
.border-theme
    transition: border-color 0.3s ease
.border__input-theme
    transition: border-color 0.3s ease
.check-theme
    display: flex
    align-items: center
    justify-content: center
    transition: border-color 0.3s ease, background-color 0.3s ease
.checkbox-theme path
    transition: stroke 0.3s ease
.text8w-theme, .text27-theme, .span-theme
    transition: color 0.3s ease
.small-visible
    display: none !important
.medium-visible
    display: none !important
.main 
    display: flex
    height: 100%
    padding-top: 114px 
@keyframes main-lf
    0% 
        opacity: 0 
        transform: translateX(-100%)
    100% 
        opacity: 1 
        transform: translateX(0)
@keyframes main-rt
    0% 
        opacity: 0 
        transform: translateX(100%)
    100% 
        opacity: 1 
        transform: translateX(0)
@keyframes main-rtpx
    0% 
        opacity: 0 
        transform: translateX(200px)
    100% 
        opacity: 1 
        transform: translateX(0)
.section
    position: relative
    display: flex
.header 
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 10
    &__wrapper 
        display: flex
        justify-content: space-between
        align-items: center
        padding: 32px 32px 28px
    &__burger 
        display: flex
        flex-direction: column
        justify-content: center
        row-gap: 10px
        height: 32px
        &-line 
            width: 32px
            height: 1px
            transition: all 0.3s ease
        &-active 
            row-gap: 0
        &-active .header__burger-line:first-child
            transform: rotate(45deg)
        &-active .header__burger-line:last-child
            transform: rotate(-45deg)
        &-active .header__burger-line:nth-child(2)
            display: none
    &__logo 
        display: contents
        & path
            transition: fill 0.3s ease
    &__buttons 
        position: relative
        display: flex
        align-items: center
        column-gap: 24px
        &-global 
            display: flex
            align-items: center
        &-global path 
            transition: stroke 0.3s ease
    &__switch
        position: relative
        flex: 0 0 44px
        width: 44px
        height: 24px
        outline-offset: 2px
        border-radius: 26px
        transition: outline 0.3s ease
        &:hover .header__slider:before 
            background-color: var(--gray-500)
        &:active .header__slider:before 
            background-color: var(--black)
    &__input 
        position: absolute
        width: 0
        height: 0
        opacity: 0
        &:checked ~ .header__switch .header__slider 
            background-color: var(--black)
        &:checked ~ .header__switch .header__slider:before 
            transform: translateX(20px)
            background-color: var(--white)
        &:disabled ~ .header__switch
            opacity: 0.5
    &__slider 
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border: 1px solid var(--gray-200)
        border-radius: 22px
        background-color: var(--white)
        transition: .3s ease
        cursor: pointer
        &:before 
            position: absolute
            content: ""
            height: 18px
            width: 18px
            left: 2px
            bottom: 2px
            border-radius: 50%
            background-color: var(--gray-400)
            transition: .3s
    &__duo 
        width: 24px
        height: 24px
.hero 
    flex: 0 0 auto
    width: 100vw
    height: 100%
    &__wrapper 
        position: relative
        display: flex
        align-items: flex-end
        justify-content: space-between
        height: 100%
        padding: 80px
    &__title 
        max-width: 874px
        animation: main-lf 1.5s linear forwards
    &__arrow
        display: flex
        align-items: center
        justify-content: center
        flex: 0 0 auto
        width: 72px
        height: 72px
        padding: 28px 23px
        border: 1px solid 
        border-radius: 50%
        transition: border-color 0.3s ease
        animation: main-rtpx 1.5s linear forwards
        & path 
            transition: stroke 0.3s ease
.trading 
    position: relative
    flex: 0 0 auto
    width: 960px
    height: 100%
    &__wrapper 
        display: flex
        flex-direction: column
        height: 100%
        padding: 96px 100px 130px 180px
    &__title 
        margin-bottom: 32px
        text-transform: uppercase
    &__head 
        display: flex
        flex-direction: column
        row-gap: 12px
        margin-bottom: 44px
    &__content
        display: flex
        flex-direction: column
        row-gap: 60px
        margin-bottom: 40px
        &-item
            position: relative
    &__footer 
        display: flex
        flex-direction: column
        row-gap: 12px
        margin-top: auto
.support
    position: relative
    flex: 0 0 auto
    width: 960px
    height: 100%
    &__wrapper 
        display: flex
        flex-direction: column
        height: 100%
        padding: 96px 100px 130px 180px
    &__title 
        margin-bottom: 80px
        text-transform: uppercase
    &__content
        display: flex
        flex-direction: column
        row-gap: 60px
        margin-bottom: 40px
        &-item
            position: relative
    &__footer 
        display: flex
        flex-direction: column
        row-gap: 12px
        margin-top: auto
.feedback
    flex: 0 0 auto
    width: 960px
    height: 100%
    &__wrapper 
        position: relative
        display: flex
        flex-direction: column
        height: 100%
        padding: 96px 300px 130px 80px
    &__title 
        margin-bottom: 60px
        text-transform: uppercase
    &__text 
        color: var(--gray-400)
    &__form 
        display: flex
        flex-direction: column
        row-gap: 40px
        &-content
            display: flex
            flex-direction: column
            row-gap: 20px   
        &-input 
            padding: 18px 20px
            border-bottom: 2px solid
            border-radius: 4px
            &:placolder 
                font: 400 16px/24px 'Manrope', 'sans-serif'
                color: var(--gray-500)
            &:disabled
                opacity: 0.5
        &-label
            display: flex
            align-items: center
            column-gap: 16px
        &-check
            width: 20px
            height: 20px
            border: 2px solid 
            border-radius: 6px
        &-btn 
            padding: 24px
            border-radius: 12px
#feedback-checkbox 
    position: absolute
    width: 0
    height: 0
    opacity: 0
    &:disabled .checkbox-theme
        opacity: 0.5
        
.contacts
    position: relative
    flex: 0 0 auto
    width: 960px
    height: 100%
    &__wrapper 
        display: flex
        flex-direction: column
        row-gap: 60px
        padding: 96px 100px 130px 160px
        overflow: hidden
    &__menu
        position: relative
        display: flex
        flex-direction: column
        row-gap: 60px
        flex: 0 1 auto
        max-width: 848px
        width: 100%
        height: 100%
    &__head 
        display: flex
        flex-direction: column
        row-gap: 24px
    &__link 
        text-transform: uppercase
    &__content 
        display: flex
        flex-direction: column
        row-gap: 40px
        &-title 
            margin-bottom: 12px
            color: var(--gray-500)
.products 
    display: flex
    flex-direction: column
    row-gap: 160px
    margin-bottom: 10px
    padding: 160px 32px 160px 160px
    padding-bottom: 300px
.breadcrumbs
    display: flex
    column-gap: 5px
    color: var(--gray-500)
    animation: main-lf 1s linear forwards
    &__link
        color: var(--gray-500)
.product
    display: flex
    flex-direction: column
    row-gap: 40px
    &__wrapper
        display: flex
        justify-content: space-between
    &__title 
        flex: 0 0 auto
        max-width: 440px
        text-transform: uppercase
        &-main
            animation: main-lf 1.5s linear forwards
    &__text 
        max-width: 800px
    &__content 
        position: relative
        display: flex
        column-gap: 80px
        &-denser
            column-gap: 48px
            height: 412px
    &__item 
        position: relative
        flex: 0 0 200px
        display: flex
        align-items: flex-end
        height: 264px
        padding-bottom: 180px
        &-reverse
            align-items: flex-start
            padding-top: 180px
            padding-bottom: 0
        &-title 
            text-transform: uppercase
        &-dot
            position: absolute
            top: 115px
            left: -10px
            &-dark
                left: -50px
    &__part
        position: relative
        flex: 0 0 282px
        display: flex
        flex-direction: column
        row-gap: 20px
        height: 312px
        padding-top: 100px
        padding-left: 7px
        &-title
            display: flex
            align-items: flex-end
            min-height: 84px
            padding-left: 43px
            text-transform: uppercase
        &-list
            display: flex
            flex-direction: column
            row-gap: 20px
        &-item
            position: relative
            display: flex
            column-gap: 24px
            height: 56px
            &-img 
                flex: 0 0 auto
.footer
    position: absolute
    bottom: 0
    right: 0
    max-width: 1920px
    width: 100vw
    &__wrapper 
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 80px
    &__item 
        display: flex
        column-gap: 60px
    &__link 
        color: var(--gray-500)
    &__text
        color: var(--gray-500)
.about 
    position: relative
    flex: 0 0 auto
    width: 640px
    &__wrapper 
        display: flex
        flex-direction: column
        row-gap: 160px
        height: 100%
        padding: 96px 100px 20px 120px
        animation: main-lf 1.5s linear forwards
    &__title 
        text-transform: uppercase
    &__content 
        display: flex
        flex-direction: column
        row-gap: 40px
        &-title 
            text-transform: uppercase
.years
    position: relative
    display: flex
    overflow-x: hidden
    scrollbar-width: none
    margin-top: -12px
    &__text 
        position: absolute
        top: 10px
        left: 32px
        display: block
        color: var(--gray-500)
.year
    position: relative
    flex: 0 0 auto
    width: 640px
    background: none
    &__wrapper 
        display: flex
        flex-direction: column
        row-gap: 32px
        padding: 120px 40px 20px 180px
    &__pt
        padding-top: 280px
    &__title 
        text-transform: uppercase
    &__subtitle 
        text-transform: uppercase
    &__content 
        display: flex
        flex-direction: column
        &-title 
            color: var(--gray-500)
.mission 
    position: relative
    flex: 0 0 auto
    width: 1920px
    &__wrapper 
        display: flex
        flex-direction: column
        row-gap: 36px
        padding: 96px 100px 20px 168px
    &__head 
        display: flex
        flex-direction: column
        row-gap: 36px
        max-width: 660px
        width: 100%
    &__title 
        text-transform: uppercase
    &__content 
        position: relative
        display: flex
        column-gap: 80px
    &__item
        display: flex
        flex-direction: column
        row-gap: 20px
        width: 268px
        &-img
            position: relative
        &-img2
            position: relative
            padding-top: 4px
        &-title
            padding-left: 8px   
            text-transform: uppercase
        &-text
            padding-left: 8px   

.directions 
    position: relative
    flex: 0 0 auto
    width: 1920px
    &__wrapper 
        display: flex
        flex-direction: column
        row-gap: 36px
        padding: 96px 135px 20px 160px
    &__head 
        display: flex
        flex-direction: column
        row-gap: 36px
        width: 660px
    &__title 
        text-transform: uppercase
    &__content 
        position: relative
        display: flex
        column-gap: 40px
    &__item 
        display: flex
        flex-direction: column
        align-items: center
        row-gap: 8px
        width: 168px
        min-width: 130px
        &-title 
            height: 56px
            text-align: center
        &-img
            position: relative
            display: flex
            flex-direction: column
            &-light
                margin-top: 7px

.menu
    position: fixed
    top: 103px
    left: -105%
    bottom: 0
    width: 100vw
    transition: left 0.3s ease 
    &-active
        left: 0
    &__wrapper
        position: relative
        display: flex
        justify-content: space-between
        column-gap: 40px
        row-gap: 40px
        width: 100%
        height: 100%
        padding: 80px 32px
    &__rope
        position: absolute
        top: 11px
        right: 0
        left: 0
        width: 100%
        height: 20px
        transition: border 0.3s ease
        & img 
            width: 100%
            height: 20px
            object-fit: cover
            transition: opacity 0.3s ease
    &__nav
        display: flex
        flex-direction: column
        row-gap: 40px
        flex: 0 1 auto
        max-width: 848px
        width: 100%
    &__item 
        display: flex
        flex-direction: column
        &-title 
            margin-bottom: 20px
            color: var(--gray-500)
        &-item  
            padding: 20px 0
            border-bottom: 2px solid
        &-link 
            padding: 5px 0
            transition: color 0.3s ease

.rope 
    position: absolute
    right: 0
    left: 0
    top: 12px
    height: 20px
    &-main
        min-width: 100%
        height: 20px
        object-fit: cover
        transition: opacity 0.3s ease
    &-vert  
        position: absolute
        top: 0
        display: flex
        justify-content: space-between
        &-main 
            width: calc( 100% - 160px )
        &__item 
            display: flex
            flex-direction: column
            &-units 
                margin-top: -7px
            &-dark
                margin-top: 24px
            &-top
                margin-top: 8px
                margin-bottom: -13px
            &-top2
                margin-top: -5px
                margin-bottom: -13px
            &-line 
                margin-top: 14px
            &-divider
                margin-top: 32px
            &-expertise
                margin-top: -15px
            &-knot 
                position: relative
            &-year
                margin-top: -7px
        &__year
            margin-top: -4px
        &__sec 
            margin-top: 2px
            & .rope-vert__item-units
                margin-top: -5px
        &-ls
            display: flex
            flex-direction: column
            left: 60px
        &__bottom
            margin-top: -7px
            padding: 0 18px
        &__left 
            margin-left: -80px
        &-lf
            left: 60px
    &-contacts
        left: -30px
    &__line 
        max-height: 6px
        margin-top: 14px
    &-about 
        top: 12px
        background: 
            image: url(../image/rope_main.svg)
            repeat: repeat-x
    &__about 
        display: flex
        overflow-x: hidden
    &__year
        top: 12px

.knot
    position: absolute
    left: -110px
    display: flex
    &-dark 
        left: -120px
    &-product
        top: 110px
        left: -92px
    &-product2
        left: -90px
    &-about
        top: 0
        left: -70px
    &-directions
        top: 64px
        left: -72px
        &-dark
            left: -70px
    &__units
        margin-left: -6px
        object-fit: cover
        &-dark
            margin-left: -12px
    &__bottom
        margin-left: -6px
    &__left
        margin-left: 3px
    &__dot
        margin-left: 7px
        margin-right: -7px
    &-small 
        display: none
    
.advantages
    position: absolute
    top: 4px
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    &-dark 
        margin-top: 18px
    &__units
        margin-top: -5px
        &-dark 
            width: 2px
            margin: 0 15px
    &__point 
        margin-top: -30px
        margin-left: -12px
        margin-right: -12px
    &-small 
        display: none

.vie 
    opacity: 0
    transform: translateX(150px)
    transition: opacity 1s ease, transform 1s ease
    &-up
        opacity: 0
        transform: translateY(100px)
        transition: opacity 1s ease, transform 1s ease
    &-uplittle
        opacity: 0
        transform: translateY(50px)
        transition: opacity 1s ease, transform 1s ease
    &-left
        opacity: 0
        transform: translateX(-150px)
        transition: opacity 1.5s ease, transform 1s ease
    &-active 
        opacity: 1
        transform: translate(0)
    
.light-theme
    background-color: var(--white)
    color: var(--gray-800)
    & .header
        &__burger-line
            background-color: var(--gray-500)
        &__logo path
            fill: var(--gray-800)
        &__buttons path 
            stroke: var(--gray-400)
        &__input 
            &:focus ~ .header__switch
                outline: 2px solid var(--black)
    & .menu__rope
        border-top: 0 solid var(--white)
        & img 
            opacity: 1
    & .hero
        &__arrow path 
            stroke: var(--gray-800)
    & .wb-theme 
        background-color: var(--white)
    & .black_btn-theme
        background-color: var(--gray-800)  
        color: var(--white)
        &:hover 
            background-color: var(--gray-700) 
        &:active 
            background-color: var(--gray-600)
        &:focus 
           outline: 2px solid var(--gray-800)
           outline-offset: 2px
    & .border-theme
        border-color: var(--gray-100)
    & .border__input-theme
        border-color: var(--gray-100)
        &:hover
            border-color: var(--gray-200)
        &:active 
            border-color: var(--black)
        &:focus 
            outline: 2px solid var(--black)
    & .border8w-theme
        border-color: var(--gray-800)
    & .text8w-theme
        color: var(--gray-800)
    & .text27-theme
        color: var(--gray-200)
    & .checkbox-theme 
        & path
            stroke: var(--white)
        & .check-theme 
            border-color: var(--gray-100)
        & .span-theme
            color: var(--gray-500)
        &:hover .check-theme 
            border-color: var(--gray-200)
        &:hover .span-theme
            color: var(--gray-400)
    & #feedback-checkbox:focus ~ .checkbox-theme .check-theme 
        outline: 2px solid var(--black)
        outline-offset: 2px
    & #feedback-checkbox:checked ~ .checkbox-theme .check-theme
        border-color: var(--black)
        background-color: var(--black)
    & .light-line
        display: flex
    & .dark-line
        display: none

.dark-theme
    background-color: var(--black)
    color: var(--white)
    & .header
        &__burger-line
            background-color: var(--white)
        &__logo path
            fill: var(--white)
        &__buttons path 
            stroke: var(--white)
        &__input 
            &:focus ~ .header__switch
                outline: 2px solid var(--white)
    & .menu__rope
        border-top: 6px solid var(--gray-900)
        & img 
            opacity: 0
    & .hero
        &__arrow path 
            stroke: var(--white)
    & .wb-theme 
        background-color: var(--black)
    & .black_btn-theme
        background-color: var(--white)  
        color: var(--gray-800)
        &:hover 
            background-color: var(--gray-050) 
        &:active 
            background-color: var(--gray-100)
        &:focus 
           outline: 1px solid var(--white)
           outline-offset: 2px
    & .border-theme
        border-color: var(--gray-900)
    & .border__input-theme
        border-color: var(--gray-900)
        &:hover
            border-color: var(--gray-800)
        &:active 
            border-color: var(--white)
        &:focus 
            outline: 2px solid var(--white)
    & .border8w-theme
        border-color: var(--white)
    & .text8w-theme
        color: var(--white)
    & .text27-theme
        color: var(--gray-700)
    & .checkbox-theme 
        & path
            stroke: var(--black)
        & .check-theme 
            border-color: var(--gray-800)
        & .span-theme
            color: var(--gray-500)
        &:hover .check-theme 
            border-color: var(--gray-700)
        &:hover .span-theme
            color: var(--gray-400)
    & #feedback-checkbox:focus ~ .checkbox-theme .check-theme 
        outline: 2px solid var(--white)
        outline-offset: 2px
    & #feedback-checkbox:checked ~ .checkbox-theme .check-theme
        border-color: var(--white)
        background-color: var(--white)
    & .light-line
        display: none
    & .dark-line
        display: flex
@keyframes swaying
    0% 
        transform: skewX(0deg) translateX(0px)
    8% 
        transform: skewX(0.2deg) translateX(0.6px)
    32% 
        transform: skewX(-0.4deg) translateX(-1.2px)
    100% 
        transform: skewX(0.6deg) translateX(2px)

.rope-skew-active
    animation: swaying 1.5s linear 0s 2 alternate

@media (max-height: 1000px)
    .hero__wrapper
        padding: 60px 80px
    .trading__wrapper 
        padding-top: 40px
        padding-bottom: 60px
    .support__wrapper
        padding-top: 40px
        padding-bottom: 60px
    .feedback__wrapper
        padding-top: 40px
    .contacts__wrapper
        padding-top: 40px 
@media (max-width: 1799px)
    .product__content
        column-gap: 32px
@media (max-width: 1724px)
    .breadcrumbs
        flex-wrap: wrap
    .product
        &__content
            flex-direction: column
            row-gap: 40px
            &-denser
                height: auto
        &__item
            flex: 0 0 auto
            height: auto
            padding: 0
            &-dot 
                top: 0
                left: -83px
                &-dark 
                    top: -6px
                    left: -90px
        &__part
            flex: 0 0 auto
            height: auto
            padding: 0
            &-item 
                left: -80px
                column-gap: 59px
                height: auto
            &-title
                min-height: auto
                padding-left: 0
    .advantages 
        display: none !important
        &-small
            position: absolute
            left: -83px
            display: block
            &-dark
                position: relative
                top: -6px
                left: -9px
        &__point
            margin-top: -8px
    .knot-product, .knot-product2
        display: none !important
    .rope-vert-ls
        top: -180px
        align-items: center
        &-dark 
            position: relative
            left: 28px
    .rope-vert__item-line2
        margin-top: 14px
@media (max-width: 1499px)
    .product__wrapper
        flex-direction: column
        row-gap: 40px
    .rope-vert-ls
        top: -50px
@media (max-width: 1389px )
    .rope-vert__item-line3
        margin-top: 14px
@media (max-width: 1199px )
    .sec-hide 
        display: none !important
@media (max-width: 1099px )
    .rope-vert__item-line4
        margin-top: 14px
@media ( max-width: 959px )
    .medium-hide 
        display: none !important
    .medium-visible
        display: block !important
    .body
        height: auto
        max-height: auto
        overflow-y: scroll
        overflow-x: hidden
    .header 
        &__wrapper
            flex-direction: row-reverse
            padding: 20px 16px
        &__logo svg 
            height: 34px
    .main 
        flex-direction: column
        padding-top: 74px
    .section 
        flex-direction: column
        overflow: hidden
    .menu
        top: 74px
        &__wrapper 
            flex-direction: column
            overflow-y: scroll
            scrollbar-width: none
            padding: 40px 16px
        &__nav 
            row-gap: 24px
        &__item
            &-item 
                padding: 16px 0
            &-title 
                margin-bottom: 8px
    .hero
        height: calc(100vh - 74px)
        &__wrapper 
            flex-direction: column
            align-items: center
            padding: 60px 80px 160px
        &__arrow svg
            transform: rotate(90deg)
    .trading
        width: 100vw
        &__wrapper 
            padding: 48px 32px 32px
        &__head 
            row-gap: 40px
            margin-bottom: 20px
        &__content 
            row-gap: 20px
            background: 
                position: left 4px center 
                repeat: repeat-y
            &-item 
                display: flex
                align-items: center
                gap: 20px
                height: 28px
        &__title 
            margin-top: 28px
            margin-bottom: 16px
    .support
        width: 100vw
        &__wrapper 
            padding: 48px 32px 160px
        &__content
            row-gap: 32px
            &-item
                display: flex
                flex-direction: column
                align-items: flex-start
                row-gap: 8px
        &__title 
            margin-top: 28px
            margin-bottom: 16px
    .feedback
        width: 100vw
        &__wrapper 
            padding: 48px 32px 160px
        &__form
            margin-top: 32px
            row-gap: 32px
        &__title 
            margin-top: 28px
            margin-bottom: 16px
    .contacts
        position: relative
        width: 100vw
        &__wrapper 
            row-gap: 32px
            padding: 76px 32px 160px
    .about
        width: 100vw
        height: calc( 100vh - 74px )
        &__wrapper 
            justify-content: center
            padding: 48px 32px 160px
    .years 
        padding-top: 70px
        margin-bottom: 30px
        overflow-x: scroll
        &-text 
            left: 16px
    .year 
        width: 345px
        min-height: 728px
        background: 
            repeat: repeat-x
            position-y: 5px
        .year__wrapper
            row-gap: 16px
            padding: 73px 32px 20px 76px
    
    .mission  
        width: 100vw
        &__wrapper 
            padding: 76px 32px 160px
        &__content 
            flex-direction: column
            row-gap: 40px
            &-vert 
                background: 
                    position: left 4px center 
                    repeat: repeat-y
        &__item
            width: 328px
            &-left 
                padding-left: 40px
                background: 
                    image: url(../image/list_rope_item.svg)
                    repeat: no-repeat
                    position-y: 3px
    .directions
        width: 100vw
        &__wrapper 
            padding: 76px 32px 160px
        &__content
            column-gap: 16px
            margin: 0 -32px
            padding: 0 32px
            background: 
                position-y: 76px
                repeat: no-repeat
            overflow-x: scroll
            scrollbar-width: none
        &__item-img 
            display: flex
            align-items: center
            margin-top: 16px
            &-dark 
                margin-top: -14px
    .footer 
        position: relative
        &__wrapper 
            padding: 48px 32px 32px
    .rope-hero
        top: 180px
        &-main
            height: 10px
    .rope
        &-main-dark 
            height: 3px
        &-vert
            &__item-line, .rope-vert__item-line2, .rope-vert__item-line3, .rope-vert__item-line4
                margin: 0
            &-main
                top: 174px
                & .rope-vert__item
                    width: 30px
            &__left 
                margin-left: -44px
            &__direction 
                width: 45px
            &-ls 
                top: -250px
        &__year 
            top: 0
        &__line 
            max-height: 6px
            margin-top: 14px
    .knot-small 
        display: flex
        justify-content: center
        &-dark
            height: 42px
            margin-right: -12px
            margin-left: -12px
            object-fit: cover
    .light-theme 
        & .year 
            background: 
                image: url(../image/years_main.svg)
        & .mission
            &__content
                &-vert 
                    background-image: url(../image/list_rope.svg)
        & .trading__content 
            background: 
                image: url(../image/list_rope.svg)
        & .directions__content 
            background: 
                image: url(../image/direction_rope-small.svg)
    .dark-theme 
        & .year 
            background: 
                image: url(../image/line_main-small-2.svg)
        & .mission
            &__content
                &-vert 
                    background-image: url(../image/list_rope-dark.svg)
        & .trading__content 
            background: 
                image: url(../image/list_rope-dark.svg)
        & .directions__content 
            background: 
                image: url(../image/direction_line-small.svg)
@media ( max-width: 767px )
    .small-hide
        display: none !important
    .small-visible
        display: block
    .contacts
        row-gap: 24px
        &__wrapper 
            padding: 48px 16px 160px
        &__head
            row-gap: 12px
        &__content
            row-gap: 16px
    .header 
        &__wrapper
            padding: 20px 16px
    .hero
        &__wrapper 
            padding: 60px 16px
    .trading
        &__wrapper 
            padding: 48px 16px 32px
    .support
        &__wrapper 
            padding: 48px 16px 160px
    .feedback
        &__wrapper 
            padding: 48px 16px 160px
    .about
        &__wrapper 
            padding: 48px 16px 160px
    .mission
        &__wrapper 
            padding: 48px 16px 160px
    .directions
        &__wrapper 
            padding: 48px 16px 160px
        &__content 
            margin: 0 -16px 
            padding: 0 16px
    .products
        row-gap: 40px
        padding-top: 90px
        padding-left: 60px
        padding-bottom: 20px
        padding-right: 16px
    .product
        margin-bottom: 100px
        &__part-item
            left: -39px
            column-gap: 20px
            &-img
                flex: 0 0 18px
        &__item-dot
            left: -43px
            &-dark 
                left: -50px
    .advantages-small
        left: -43px
    .rope-vert-ls
        left: 0
        top: -585px
    .footer 
        &__wrapper
            flex-direction: column
            align-items: flex-start
            row-gap: 32px
            padding: 48px 16px 32px
        &__item 
            flex-direction: column
            align-items: flex-start
            row-gap: 16px
    .rope-vert-main 
        width: calc(100% - 32px)
@media (max-width: 599px)
    .rope-vert-ls 
        top: -500px
@media (max-width: 519px)
    .rope-vert-ls 
        top: -400px
@media (max-width: 499px)
    .rope-vert-ls 
        top: -300px
@media (max-width: 459px)
    .rope-vert-ls 
        top: -200px
@media (max-width: 424px)
    .rope-hero
        top: 261px
    .rope-vert-main 
        top: 255px
    .rope-vert-ls 
        top: -130px
@media (max-width: 399px)
    .rope-vert-ls 
        top: 0
    




    