:root {
  --white: #ffffff;
  --black: #000000;
  --gray-050: #F2F2F2;
  --gray-100: #E5E5E5;
  --gray-200: #CCCCCC;
  --gray-300: #B2B2B2;
  --gray-400: #999999;
  --gray-500: #7F7F7F;
  --gray-600: #666666;
  --gray-700: #4C4C4C;
  --gray-800: #333333;
  --gray-900: #191919;
  --gray-950: #000000;
}

.title-main {
  font: 700 92px/92px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-1 {
  font: 700 52px/60px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-2 {
  font: 700 44px/52px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-3 {
  font: 700 32px/36px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-4 {
  font: 700 24px/28px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-5 {
  font: 700 20px/24px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-prod {
  font: 700 22px/28px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-year {
  font: 700 28px/36px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.title-year2 {
  font: 700 36px/44px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.subtitle {
  font: 600 20px/28px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.text-large {
  font: 400 20px/32px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.text-medium {
  font: 400 18px/28px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.text-regular {
  font: 400 18px/20px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.text-small {
  font: 400 16px/24px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.text-btn {
  font: 700 18px/24px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.text-about {
  font: 500 20px/32px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.menu-title {
  font: 700 32px/40px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

.menu-text {
  font: 500 18px/24px "Manrope", "sans-serif";
  letter-spacing: 0px;
}

@media (max-width: 1199px) {
  .title-main {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (max-width: 999px) {
  .title-main {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 959px) {
  .title-main {
    font-size: 40px;
    line-height: 40px;
  }
  .title-1 {
    font-size: 32px;
    line-height: 36px;
  }
  .title-2 {
    font-size: 28px;
    line-height: 32px;
  }
  .title-4 {
    font-size: 18px;
    line-height: 24px;
  }
  .title-year {
    font-size: 26px;
    line-height: 28px;
  }
  .menu-title {
    font-size: 20px;
    line-height: 24px;
  }
  .subtitle {
    font-size: 15px;
    line-height: 22px;
  }
  .menu-text {
    font-size: 16px;
  }
  .text-about {
    font-size: 16px;
    line-height: 24px;
  }
  .text-medium {
    font-size: 16px;
    line-height: 24px;
  }
}
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.body {
  height: 100vh;
  max-height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wb-theme {
  transition: background-color 0.3s ease;
}

.black_btn-theme {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.black_btn-theme:disabled {
  opacity: 0.3;
}

.border-theme {
  transition: border-color 0.3s ease;
}

.border__input-theme {
  transition: border-color 0.3s ease;
}

.check-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.checkbox-theme path {
  transition: stroke 0.3s ease;
}

.text8w-theme, .text27-theme, .span-theme {
  transition: color 0.3s ease;
}

.small-visible {
  display: none !important;
}

.medium-visible {
  display: none !important;
}

.main {
  display: flex;
  height: 100%;
  padding-top: 114px;
}

.section {
  position: relative;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 28px;
}
.header__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  height: 32px;
}
.header__burger-line {
  width: 32px;
  height: 1px;
  transition: all 0.3s ease;
}
.header__burger-active {
  row-gap: 0;
}
.header__burger-active .header__burger-line:first-child {
  transform: rotate(45deg);
}
.header__burger-active .header__burger-line:last-child {
  transform: rotate(-45deg);
}
.header__burger-active .header__burger-line:nth-child(2) {
  display: none;
}
.header__logo {
  display: contents;
}
.header__logo path {
  transition: fill 0.3s ease;
}
.header__buttons {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.header__buttons-global {
  display: flex;
  align-items: center;
}
.header__buttons-global path {
  transition: stroke 0.3s ease;
}
.header__switch {
  position: relative;
  flex: 0 0 44px;
  width: 44px;
  height: 24px;
  outline-offset: 2px;
  border-radius: 26px;
  transition: outline 0.3s ease;
}
.header__switch:hover .header__slider:before {
  background-color: var(--gray-500);
}
.header__switch:active .header__slider:before {
  background-color: var(--black);
}
.header__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.header__input:checked ~ .header__switch .header__slider {
  background-color: var(--black);
}
.header__input:checked ~ .header__switch .header__slider:before {
  transform: translateX(20px);
  background-color: var(--white);
}
.header__input:disabled ~ .header__switch {
  opacity: 0.5;
}
.header__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--gray-200);
  border-radius: 22px;
  background-color: var(--white);
  transition: 0.3s ease;
  cursor: pointer;
}
.header__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--gray-400);
  transition: 0.3s;
}
.header__duo {
  width: 24px;
  height: 24px;
}

.hero {
  flex: 0 0 auto;
  width: 100vw;
  height: 100%;
}
.hero__wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: 80px;
}
.hero__title {
  max-width: 874px;
}
.hero__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 72px;
  height: 72px;
  padding: 28px 23px;
  border: 1px solid;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}
.hero__arrow path {
  transition: stroke 0.3s ease;
}

.trading {
  flex: 0 0 auto;
  width: 960px;
  height: 100%;
}
.trading__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 96px 100px 130px 180px;
}
.trading__title {
  margin-bottom: 32px;
  text-transform: uppercase;
}
.trading__head {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 44px;
}
.trading__content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 40px;
}
.trading__content-item {
  position: relative;
}
.trading__footer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: auto;
}

.support {
  flex: 0 0 auto;
  width: 960px;
  height: 100%;
}
.support__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 96px 100px 130px 180px;
}
.support__title {
  margin-bottom: 80px;
  text-transform: uppercase;
}
.support__content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 40px;
}
.support__content-item {
  position: relative;
}
.support__footer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: auto;
}

.feedback {
  flex: 0 0 auto;
  width: 960px;
  height: 100%;
}
.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 96px 300px 130px 80px;
}
.feedback__title {
  margin-bottom: 60px;
  text-transform: uppercase;
}
.feedback__text {
  color: var(--gray-400);
}
.feedback__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.feedback__form-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.feedback__form-input {
  padding: 18px 20px;
  border-bottom: 2px solid;
  border-radius: 4px;
}
.feedback__form-input:placolder {
  font: 400 16px/24px "Manrope", "sans-serif";
  color: var(--gray-500);
}
.feedback__form-input:disabled {
  opacity: 0.5;
}
.feedback__form-label {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.feedback__form-check {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 6px;
}
.feedback__form-btn {
  padding: 24px;
  border-radius: 12px;
}

#feedback-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
#feedback-checkbox:disabled .checkbox-theme {
  opacity: 0.5;
}

.contacts {
  flex: 0 0 auto;
  width: 960px;
  height: 100%;
}
.contacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 96px 100px 130px 160px;
}
.contacts__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  flex: 0 1 auto;
  max-width: 848px;
  width: 100%;
  height: 100%;
}
.contacts__head {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.contacts__link {
  text-transform: uppercase;
}
.contacts__content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.contacts__content-title {
  margin-bottom: 12px;
  color: var(--gray-500);
}

.products {
  display: flex;
  flex-direction: column;
  row-gap: 160px;
  margin-bottom: 10px;
  padding: 160px 32px 160px 160px;
  padding-bottom: 300px;
}

.breadcrumbs {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: var(--gray-500);
}
.breadcrumbs__link {
  color: var(--gray-500);
}

.product {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.product__wrapper {
  display: flex;
  justify-content: space-between;
}
.product__title {
  flex: 0 0 auto;
  max-width: 440px;
  text-transform: uppercase;
}
.product__text {
  max-width: 800px;
}
.product__content {
  position: relative;
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.product__content-denser {
  -moz-column-gap: 48px;
       column-gap: 48px;
  height: 412px;
}
.product__item {
  position: relative;
  flex: 0 0 200px;
  display: flex;
  align-items: flex-end;
  height: 264px;
  padding-bottom: 180px;
}
.product__item-reverse {
  align-items: flex-start;
  padding-top: 180px;
  padding-bottom: 0;
}
.product__item-title {
  text-transform: uppercase;
}
.product__item-dot {
  position: absolute;
  top: 115px;
  left: -10px;
}
.product__item-dot-dark {
  left: -50px;
}
.product__part {
  position: relative;
  flex: 0 0 282px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 312px;
  padding-top: 100px;
  padding-left: 7px;
}
.product__part-title {
  display: flex;
  align-items: flex-end;
  min-height: 84px;
  padding-left: 43px;
  text-transform: uppercase;
}
.product__part-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.product__part-item {
  position: relative;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  height: 56px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 1920px;
  width: 100vw;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}
.footer__item {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__link {
  color: var(--gray-500);
}
.footer__text {
  color: var(--gray-500);
}

.about {
  position: relative;
  flex: 0 0 auto;
  width: 640px;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 160px;
  height: 100%;
  padding: 96px 100px 20px 120px;
}
.about__title {
  text-transform: uppercase;
}
.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.about__content-title {
  text-transform: uppercase;
}

.years {
  position: relative;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: -12px;
}
.years__text {
  position: absolute;
  top: 10px;
  left: 32px;
  display: block;
  color: var(--gray-500);
}

.year {
  position: relative;
  flex: 0 0 auto;
  width: 640px;
  background: none;
}
.year__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 96px 40px 20px 180px;
}
.year__pt {
  padding-top: 256px;
}
.year__title {
  text-transform: uppercase;
}
.year__subtitle {
  text-transform: uppercase;
}
.year__content {
  display: flex;
  flex-direction: column;
}
.year__content-title {
  color: var(--gray-500);
}

.mission {
  position: relative;
  flex: 0 0 auto;
  width: 1920px;
}
.mission__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 96px 100px 20px 168px;
}
.mission__head {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  max-width: 660px;
  width: 100%;
}
.mission__title {
  text-transform: uppercase;
}
.mission__content {
  position: relative;
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.mission__item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 268px;
}
.mission__item-img {
  position: relative;
}
.mission__item-img2 {
  position: relative;
  padding-top: 4px;
}
.mission__item-title {
  padding-left: 8px;
  text-transform: uppercase;
}
.mission__item-text {
  padding-left: 8px;
}

.directions {
  position: relative;
  flex: 0 0 auto;
  width: 1920px;
}
.directions__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 96px 135px 20px 160px;
}
.directions__head {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  width: 660px;
}
.directions__title {
  text-transform: uppercase;
}
.directions__content {
  position: relative;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.directions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  width: 168px;
  min-width: 130px;
}
.directions__item-title {
  height: 56px;
  text-align: center;
}
.directions__item-img {
  position: relative;
  display: flex;
  flex-direction: column;
}
.directions__item-img-light {
  margin-top: 7px;
}

.menu {
  position: fixed;
  top: 103px;
  left: -105%;
  bottom: 0;
  width: 100vw;
  transition: left 0.3s ease;
}
.menu-active {
  left: 0;
}
.menu__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  width: 100%;
  height: 100%;
  padding: 80px 32px;
}
.menu__rope {
  position: absolute;
  top: 11px;
  right: 0;
  left: 0;
  width: 100%;
  height: 20px;
  transition: border 0.3s ease;
}
.menu__rope img {
  width: 100%;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease;
}
.menu__nav {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex: 0 1 auto;
  max-width: 848px;
  width: 100%;
}
.menu__item {
  display: flex;
  flex-direction: column;
}
.menu__item-title {
  margin-bottom: 20px;
  color: var(--gray-500);
}
.menu__item-item {
  padding: 20px 0;
  border-bottom: 2px solid;
}
.menu__item-link {
  padding: 5px 0;
  transition: color 0.3s ease;
}

.rope {
  position: absolute;
  right: 0;
  left: 0;
  top: 12px;
  height: 20px;
}
.rope-main {
  min-width: 100%;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease;
}
.rope-vert {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}
.rope-vert-main {
  width: calc(100% - 160px);
}
.rope-vert__item {
  display: flex;
  flex-direction: column;
}
.rope-vert__item-units {
  margin-top: -7px;
}
.rope-vert__item-dark {
  margin-top: 24px;
}
.rope-vert__item-top {
  margin-top: 8px;
  margin-bottom: -13px;
}
.rope-vert__item-top2 {
  margin-top: -5px;
  margin-bottom: -13px;
}
.rope-vert__item-line {
  margin-top: 14px;
}
.rope-vert__item-divider {
  margin-top: 32px;
}
.rope-vert__item-expertise {
  margin-top: -15px;
}
.rope-vert__item-knot {
  position: relative;
}
.rope-vert__item-year {
  margin-top: -7px;
}
.rope-vert__year {
  margin-top: -4px;
}
.rope-vert__sec {
  margin-top: 2px;
}
.rope-vert__sec .rope-vert__item-units {
  margin-top: -5px;
}
.rope-vert-ls {
  display: flex;
  flex-direction: column;
  left: 60px;
}
.rope-vert__bottom {
  margin-top: -7px;
  padding: 0 18px;
}
.rope-vert__left {
  margin-left: -80px;
}
.rope-contacts {
  left: -30px;
}
.rope__line {
  max-height: 6px;
  margin-top: 14px;
}
.rope-about {
  top: 12px;
  background-image: url(../image/rope_main.svg);
  background-repeat: repeat-x;
}
.rope__about {
  display: flex;
  overflow-x: hidden;
}
.rope__year {
  top: 12px;
}

.knot {
  position: absolute;
  left: -110px;
  display: flex;
}
.knot-dark {
  left: -120px;
}
.knot-product {
  top: 110px;
  left: -92px;
}
.knot-product2 {
  left: -90px;
}
.knot-about {
  top: 0;
  left: -70px;
}
.knot-directions {
  top: 64px;
  left: -72px;
}
.knot-directions-dark {
  left: -70px;
}
.knot__units {
  margin-left: -6px;
  -o-object-fit: cover;
     object-fit: cover;
}
.knot__units-dark {
  margin-left: -12px;
}
.knot__bottom {
  margin-left: -6px;
}
.knot__left {
  margin-left: 3px;
}
.knot__dot {
  margin-left: 7px;
  margin-right: -7px;
}
.knot-small {
  display: none;
}

.advantages {
  position: absolute;
  top: 4px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-dark {
  margin-top: 18px;
}
.advantages__units {
  margin-top: -5px;
}
.advantages__units-dark {
  width: 2px;
  margin: 0 15px;
}
.advantages__point {
  margin-top: -30px;
  margin-left: -12px;
  margin-right: -12px;
}

.light-theme {
  background-color: var(--white);
  color: var(--gray-800);
}
.light-theme .header__burger-line {
  background-color: var(--gray-500);
}
.light-theme .header__logo path {
  fill: var(--gray-800);
}
.light-theme .header__buttons path {
  stroke: var(--gray-400);
}
.light-theme .header__input:focus ~ .header__switch {
  outline: 2px solid var(--black);
}
.light-theme .menu__rope {
  border-top: 0 solid var(--white);
}
.light-theme .menu__rope img {
  opacity: 1;
}
.light-theme .hero__arrow path {
  stroke: var(--gray-800);
}
.light-theme .wb-theme {
  background-color: var(--white);
}
.light-theme .black_btn-theme {
  background-color: var(--gray-800);
  color: var(--white);
}
.light-theme .black_btn-theme:hover {
  background-color: var(--gray-700);
}
.light-theme .black_btn-theme:active {
  background-color: var(--gray-600);
}
.light-theme .black_btn-theme:focus {
  outline: 2px solid var(--gray-800);
  outline-offset: 2px;
}
.light-theme .border-theme {
  border-color: var(--gray-100);
}
.light-theme .border__input-theme {
  border-color: var(--gray-100);
}
.light-theme .border__input-theme:hover {
  border-color: var(--gray-200);
}
.light-theme .border__input-theme:active {
  border-color: var(--black);
}
.light-theme .border__input-theme:focus {
  outline: 2px solid var(--black);
}
.light-theme .border8w-theme {
  border-color: var(--gray-800);
}
.light-theme .text8w-theme {
  color: var(--gray-800);
}
.light-theme .text27-theme {
  color: var(--gray-200);
}
.light-theme .checkbox-theme path {
  stroke: var(--white);
}
.light-theme .checkbox-theme .check-theme {
  border-color: var(--gray-100);
}
.light-theme .checkbox-theme .span-theme {
  color: var(--gray-500);
}
.light-theme .checkbox-theme:hover .check-theme {
  border-color: var(--gray-200);
}
.light-theme .checkbox-theme:hover .span-theme {
  color: var(--gray-400);
}
.light-theme #feedback-checkbox:focus ~ .checkbox-theme .check-theme {
  outline: 2px solid var(--black);
  outline-offset: 2px;
}
.light-theme #feedback-checkbox:checked ~ .checkbox-theme .check-theme {
  border-color: var(--black);
  background-color: var(--black);
}
.light-theme .light-line {
  display: flex;
}
.light-theme .dark-line {
  display: none;
}

.dark-theme {
  background-color: var(--black);
  color: var(--white);
}
.dark-theme .header__burger-line {
  background-color: var(--white);
}
.dark-theme .header__logo path {
  fill: var(--white);
}
.dark-theme .header__buttons path {
  stroke: var(--white);
}
.dark-theme .header__input:focus ~ .header__switch {
  outline: 2px solid var(--white);
}
.dark-theme .menu__rope {
  border-top: 6px solid var(--gray-900);
}
.dark-theme .menu__rope img {
  opacity: 0;
}
.dark-theme .hero__arrow path {
  stroke: var(--white);
}
.dark-theme .wb-theme {
  background-color: var(--black);
}
.dark-theme .black_btn-theme {
  background-color: var(--white);
  color: var(--gray-800);
}
.dark-theme .black_btn-theme:hover {
  background-color: var(--gray-050);
}
.dark-theme .black_btn-theme:active {
  background-color: var(--gray-100);
}
.dark-theme .black_btn-theme:focus {
  outline: 1px solid var(--white);
  outline-offset: 2px;
}
.dark-theme .border-theme {
  border-color: var(--gray-900);
}
.dark-theme .border__input-theme {
  border-color: var(--gray-900);
}
.dark-theme .border__input-theme:hover {
  border-color: var(--gray-800);
}
.dark-theme .border__input-theme:active {
  border-color: var(--white);
}
.dark-theme .border__input-theme:focus {
  outline: 2px solid var(--white);
}
.dark-theme .border8w-theme {
  border-color: var(--white);
}
.dark-theme .text8w-theme {
  color: var(--white);
}
.dark-theme .text27-theme {
  color: var(--gray-700);
}
.dark-theme .checkbox-theme path {
  stroke: var(--black);
}
.dark-theme .checkbox-theme .check-theme {
  border-color: var(--gray-800);
}
.dark-theme .checkbox-theme .span-theme {
  color: var(--gray-500);
}
.dark-theme .checkbox-theme:hover .check-theme {
  border-color: var(--gray-700);
}
.dark-theme .checkbox-theme:hover .span-theme {
  color: var(--gray-400);
}
.dark-theme #feedback-checkbox:focus ~ .checkbox-theme .check-theme {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}
.dark-theme #feedback-checkbox:checked ~ .checkbox-theme .check-theme {
  border-color: var(--white);
  background-color: var(--white);
}
.dark-theme .light-line {
  display: none;
}
.dark-theme .dark-line {
  display: flex;
}

@keyframes swaying {
  0% {
    transform: skewX(0deg) translateX(0px);
  }
  8% {
    transform: skewX(0.2deg) translateX(0.6px);
  }
  32% {
    transform: skewX(-0.4deg) translateX(-1.2px);
  }
  100% {
    transform: skewX(0.6deg) translateX(2px);
  }
}
.rope-skew-active {
  animation: swaying 1.5s linear 0s 2 alternate;
}

@media (max-height: 1000px) {
  .hero__wrapper {
    padding: 60px 80px;
  }
  .trading__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .support__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .feedback__wrapper {
    padding-top: 40px;
  }
  .contacts__wrapper {
    padding-top: 40px;
  }
}
@media (max-width: 1799px) {
  .product__content {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media (max-width: 1724px) {
  .breadcrumbs {
    flex-wrap: wrap;
  }
  .product__content {
    flex-direction: column;
    row-gap: 40px;
  }
  .product__content-denser {
    height: auto;
  }
  .product__item {
    flex: 0 0 auto;
    height: auto;
    padding: 0;
  }
  .product__item-dot {
    top: 0;
    left: -83px;
  }
  .product__item-dot-dark {
    top: -6px;
    left: -90px;
  }
  .product__part {
    flex: 0 0 auto;
    height: auto;
    padding: 0;
  }
  .product__part-item {
    left: -80px;
    -moz-column-gap: 59px;
         column-gap: 59px;
    height: auto;
  }
  .product__part-title {
    min-height: auto;
    padding-left: 0;
  }
  .advantages {
    display: none !important;
  }
  .advantages-small {
    position: absolute;
    left: -83px;
  }
  .advantages-small-dark {
    position: relative;
    top: -6px;
    left: -9px;
  }
  .advantages__point {
    margin-top: -8px;
  }
  .knot-product, .knot-product2 {
    display: none !important;
  }
  .rope-vert-ls {
    top: -180px;
    align-items: center;
  }
  .rope-vert-ls-dark {
    position: relative;
    left: 28px;
  }
}
@media (max-width: 1499px) {
  .product__wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .rope-vert-ls {
    top: -50px;
  }
}
@media (max-width: 1199px) {
  .sec-hide {
    display: none !important;
  }
}
@media (max-width: 959px) {
  .medium-hide {
    display: none !important;
  }
  .medium-visible {
    display: block !important;
  }
  .body {
    height: auto;
    max-height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header__wrapper {
    flex-direction: row-reverse;
    padding: 20px 16px;
  }
  .header__logo svg {
    height: 34px;
  }
  .main {
    flex-direction: column;
    padding-top: 74px;
  }
  .section {
    flex-direction: column;
  }
  .menu {
    top: 74px;
  }
  .menu__wrapper {
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 40px 16px;
  }
  .menu__nav {
    row-gap: 24px;
  }
  .menu__item-item {
    padding: 16px 0;
  }
  .menu__item-title {
    margin-bottom: 8px;
  }
  .hero {
    height: calc(100vh - 74px);
  }
  .hero__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
  }
  .hero__title {
    height: 160px;
  }
  .hero__arrow {
    transform: rotate(90deg);
  }
  .trading {
    width: 100vw;
  }
  .trading__wrapper {
    padding: 48px 32px 32px;
  }
  .trading__head {
    row-gap: 40px;
    margin-bottom: 20px;
  }
  .trading__content {
    row-gap: 20px;
    background-position: left 4px center;
    background-repeat: repeat-y;
  }
  .trading__content-item {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 28px;
  }
  .trading__title {
    margin-top: 28px;
    margin-bottom: 16px;
  }
  .support {
    width: 100vw;
  }
  .support__wrapper {
    padding: 48px 32px 160px;
  }
  .support__content {
    row-gap: 32px;
  }
  .support__content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
  }
  .support__title {
    margin-top: 28px;
    margin-bottom: 16px;
  }
  .feedback {
    width: 100vw;
  }
  .feedback__wrapper {
    padding: 48px 32px 160px;
  }
  .feedback__form {
    margin-top: 32px;
    row-gap: 32px;
  }
  .feedback__title {
    margin-top: 28px;
    margin-bottom: 16px;
  }
  .contacts {
    position: relative;
    width: 100vw;
  }
  .contacts__wrapper {
    row-gap: 32px;
    padding: 76px 32px 160px;
  }
  .about {
    width: 100vw;
    height: calc(100vh - 74px);
  }
  .about__wrapper {
    justify-content: center;
    padding: 48px 32px 160px;
  }
  .years {
    padding-top: 70px;
    margin-bottom: 30px;
  }
  .years-text {
    left: 16px;
  }
  .year {
    width: 345px;
    min-height: 728px;
    background-repeat: repeat-x;
    background-position-y: 5px;
  }
  .year .year__wrapper {
    row-gap: 16px;
    padding: 73px 32px 20px 76px;
  }
  .mission {
    width: 100vw;
  }
  .mission__wrapper {
    padding: 76px 32px 160px;
  }
  .mission__content {
    flex-direction: column;
    row-gap: 40px;
  }
  .mission__content-vert {
    background-position: left 4px center;
    background-repeat: repeat-y;
  }
  .mission__item {
    width: 328px;
  }
  .mission__item-left {
    padding-left: 40px;
    background-image: url(../image/list_rope_item.svg);
    background-repeat: no-repeat;
    background-position-y: 3px;
  }
  .directions {
    width: 100vw;
  }
  .directions__wrapper {
    padding: 76px 32px 160px;
  }
  .directions__content {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin: 0 -32px;
    padding: 0 32px;
    background-position-y: 76px;
    background-repeat: no-repeat;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .directions__item-img {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  .directions__item-img-dark {
    margin-top: -14px;
  }
  .footer {
    position: relative;
  }
  .footer__wrapper {
    padding: 48px 32px 32px;
  }
  .rope-hero {
    top: 261px;
  }
  .rope-hero-main {
    height: 10px;
  }
  .rope-main-dark {
    height: 3px;
  }
  .rope-vert__item-line {
    margin: 0;
  }
  .rope-vert-main {
    top: 255px;
  }
  .rope-vert-main .rope-vert__item {
    width: 30px;
  }
  .rope-vert__left {
    margin-left: -44px;
  }
  .rope-vert__direction {
    width: 45px;
  }
  .rope__year {
    top: 0;
  }
  .rope__line {
    max-height: 6px;
    margin-top: 14px;
  }
  .knot-small {
    display: flex;
    justify-content: center;
  }
  .knot-small-dark {
    height: 42px;
    margin-right: -12px;
    margin-left: -12px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .light-theme .year {
    background-image: url(../image/years_main.svg);
  }
  .light-theme .mission__content-vert {
    background-image: url(../image/list_rope.svg);
  }
  .light-theme .trading__content {
    background-image: url(../image/list_rope.svg);
  }
  .light-theme .directions__content {
    background-image: url(../image/direction_rope-small.svg);
  }
  .dark-theme .year {
    background-image: url(../image/line_main-small-2.svg);
  }
  .dark-theme .mission__content-vert {
    background-image: url(../image/list_rope-dark.svg);
  }
  .dark-theme .trading__content {
    background-image: url(../image/list_rope-dark.svg);
  }
  .dark-theme .directions__content {
    background-image: url(../image/direction_line-small.svg);
  }
}
@media (max-width: 767px) {
  .small-hide {
    display: none !important;
  }
  .small-visible {
    display: block;
  }
  .contacts {
    row-gap: 24px;
  }
  .contacts__wrapper {
    padding: 48px 16px 160px;
  }
  .contacts__head {
    row-gap: 12px;
  }
  .contacts__content {
    row-gap: 16px;
  }
  .header__wrapper {
    padding: 20px 16px;
  }
  .hero__wrapper {
    padding: 60px 16px;
  }
  .trading__wrapper {
    padding: 48px 16px 32px;
  }
  .support__wrapper {
    padding: 48px 16px 160px;
  }
  .feedback__wrapper {
    padding: 48px 16px 160px;
  }
  .about__wrapper {
    padding: 48px 16px 160px;
  }
  .mission__wrapper {
    padding: 48px 16px 160px;
  }
  .directions__wrapper {
    padding: 48px 16px 160px;
  }
  .directions__content {
    margin: 0 -16px;
    padding: 0 16px;
  }
  .products {
    row-gap: 40px;
    padding-top: 90px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 16px;
  }
  .product {
    margin-bottom: 100px;
  }
  .product__part-item {
    left: -39px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .product__part-item-img {
    flex: 0 0 18px;
  }
  .product__item-dot {
    left: -43px;
  }
  .product__item-dot-dark {
    left: -50px;
  }
  .advantages-small {
    left: -43px;
  }
  .rope-vert-ls {
    left: 0;
    top: 0;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
    padding: 48px 16px 32px;
  }
  .footer__item {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }
  .rope-vert-main {
    width: calc(100% - 32px);
  }
}/*# sourceMappingURL=style.css.map */