:root {
  --Primary-10: #003B73;
  --Primary-20: #004C95;
  --Primary-30: #005EB8;
  --Primary-40: #006FD8;
  --Primary-50: #0095FF;
  --Primary-60: #199FFF;
  --Primary-70: #3FAFFF;
  --Primary-80: #66BFFF;
  --Primary-90: #8FD0FF;
  --Primary-100: #B8E1FF;
  --Gray-10: #3F3F45;
  --Gray-20: #53535A;
  --Gray-30: #65656F;
  --Gray-40: #898990;
  --Gray-50: #A0A1A9;
  --Gray-60: #B4B5BE;
  --Gray-70: #C7C9CF;
  --Gray-80: #DBDDE1;
  --Gray-90: #E6E8EC;
  --Gray-100: #F2F3F5;
  --Gray-110: #F7F7F7;
  --White: #FFFFFF;
  --Black: #202123;
  --Red-error: #FF0034;
  --Border: #E7E8EA;
  --Shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  --Shadow-dropdawn: 0px 2px 16px 0px rgba(0, 0, 0, 0.20);
}

body {
  background-color: var(--Gray-100);
}

.container {
  max-width: 1090px;
  min-width: 390px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--White);
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-h2 {
  font: 700 30px/36px "Inter", "sans-serif";
  letter-spacing: -0.1px;
}
.title-large {
  font: 600 20px/28px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}
.title-medium {
  margin-bottom: 16px;
  font: 600 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.title-mb24 {
  margin-bottom: 24px;
}

.btn {
  padding: 11.75px 24px;
  border-radius: 8px;
  font: 600 15px/150% "Inter", "sans-serif";
  letter-spacing: 0.01em;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.btn-primary {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
}
.btn-primary:hover {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
}
.btn-primary:active {
  border: 1px solid var(--Primary-20);
  background-color: var(--Primary-20);
}
.btn-bg-gray {
  border: 1px solid var(--Gray-80);
  background-color: var(--Gray-80);
  color: var(--Black);
}
.btn-bg-gray:hover {
  border: 1px solid var(--Gray-70);
  background-color: var(--Gray-70);
}
.btn-bg-gray:active {
  border: 1px solid var(--Gray-60);
  background-color: var(--Gray-60);
}
.btn-transparent {
  border: 1px solid var(--Black);
  background-color: initial;
  color: var(--Black);
}
.btn-transparent:hover {
  border: 1px solid var(--Primary-40);
  background-color: var(--Primary-40);
  color: var(--White);
}
.btn-transparent:active {
  border: 1px solid var(--Primary-30);
  background-color: var(--Primary-30);
  color: var(--White);
}

.small-visible {
  display: none;
}

.burger {
  flex: 0 0 20px;
  margin-right: 24px;
}

.logo {
  flex: 0 0 auto;
  margin-right: 32px;
}

.attribut {
  position: relative;
}
.attribut__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.attribut__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.attribut__item {
  display: grid;
  grid-template-columns: 180px auto;
  gap: 40px;
  padding: 0 16px;
}
.attribut__title {
  position: absolute;
  top: 16px;
  left: 12px;
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
  pointer-events: none;
  transition: all 0.3s ease;
}
.attribut__textarea {
  width: 100%;
  height: 136px;
  margin-bottom: 4px;
  resize: none;
  padding: 44px 12px 8px;
  border-radius: 8px;
  background-color: var(--Gray-90);
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
  transition: all 0.3s ease;
}
.attribut__textarea::-moz-placeholder {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-40);
  white-space: pre-line;
}
.attribut__textarea::placeholder {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-40);
  white-space: pre-line;
}
.attribut__textarea:hover {
  background-color: var(--Gray-100);
}
.attribut__textarea:focus {
  padding-top: 28px;
  outline: 2px solid var(--Gray-40);
  background-color: var(--White);
}
.attribut__textarea:focus ~ .attribut__title {
  top: 8px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.attribut__textarea:valid {
  padding-top: 28px;
}
.attribut__textarea:valid ~ .attribut__title {
  top: 8px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.attribut__textarea-long {
  height: 181px;
}
.attribut__input {
  width: 100%;
  height: 56px;
  padding: 24px 12px 8px;
  border-radius: 8px;
  background-color: var(--Gray-90);
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Black);
}
.attribut__input::-moz-placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.attribut__input::placeholder {
  font: 400 16px/24px "Inter", "sans-serif";
  letter-spacing: -0.5px;
  color: var(--Gray-30);
}
.attribut__input:hover {
  background-color: var(--Gray-100);
}
.attribut__input:focus {
  padding-top: 24px;
  outline: 2px solid var(--Gray-40);
  background-color: var(--White);
}
.attribut__input:focus ~ .attribut__title {
  top: 7px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.attribut__input:valid ~ .attribut__title {
  top: 7px;
  font: 400 13px/16px "Inter", "sans-serif";
  letter-spacing: 0;
}
.attribut__text {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-40);
}
.attribut-line16 {
  display: flex;
  gap: 16px;
}
.attribut-line24 {
  display: flex;
  gap: 24px;
}
.attribut-vertline24 {
  display: flex;
  flex-direction: column;
}
.attribut__main {
  width: 100%;
}
.attribut__btn {
  flex: 0 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--Gray-90);
}
.attribut__btn:hover {
  background-color: var(--Gray-100);
}
.attribut__btn:active {
  background-color: var(--Gray-80);
}
.attribut__btn-noactive {
  display: none;
}
.attribut__btn-trash {
  background-image: url(../image/trash.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.attribut__btn-trash:hover {
  background-image: url(../image/trash-red.png);
}
.attribut__select {
  background-image: url(../image/chevron_down.png);
  background-repeat: no-repeat;
  background-position: right 21px center;
  cursor: pointer;
}
.attribut__select:hover {
  background-color: var(--Gray-100);
}
.attribut__select:focus {
  outline: 2px solid var(--Gray-40);
  background-color: var(--White);
}
.attribut__options {
  position: absolute;
  top: 64px;
  left: 0;
  grid-column: 1/2;
  width: 100%;
  height: 0;
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: var(--White);
  overflow: hidden;
  z-index: 10;
  transition: height 0.3s ease;
}
.attribut__option {
  height: 56px;
  padding: 18px 48px 18px 16px;
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
  cursor: pointer;
}
.attribut__option:hover {
  background-color: var(--Gray-100);
}
.attribut__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.attribut__info-text {
  margin-bottom: 16px;
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-60);
}
.attribut__info-btn {
  margin-top: auto;
  padding: 5.25px 16px;
  border-radius: 6px;
  font: 600 13px/150% "Inter", "sans-serif";
  letter-spacing: 0.03em;
}
.attribut__empty {
  width: 56px;
  height: 56px;
  flex: 0 0 auto;
}
.attribut__parts {
  display: flex;
  gap: 40px;
}
.attribut__part {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 16px;
}
.attribut__part-title {
  font: 600 21px/36px "Inter", "sans-serif";
  line-height: -0.75px;
}
.attribut__salary-number {
  margin-bottom: 3px;
  font: 700 22px/30px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Black);
}
.attribut__salary-text {
  font: 500 12px/21px "Inter", "sans-serif";
  color: var(--Gray-30);
}
.attribut__tags {
  display: flex;
  gap: 12px;
}
.attribut__tags-tag {
  padding: 6px 12px;
  border: 0.75px solid var(--Gray-70);
  border-radius: 13.5px;
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Gray-20);
}
.attribut-grid {
  display: grid;
  grid-template-columns: 1fr 56px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.attribut-border {
  padding: 24px 0;
  border-top: 1px solid var(--Border);
  border-bottom: 1px solid var(--Border);
}
.attribut__avatar {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  overflow: hidden;
}
.attribut__social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 36px;
       column-gap: 36px;
  row-gap: 12px;
}
.attribut__social-title {
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Black);
}
.attribut__social-text {
  font: 500 10px/14px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Gray-40);
}
.attribut__social-item {
  display: flex;
  gap: 8px;
}
.attribut__titlesmall {
  display: flex;
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px solid var(--Gray-80);
  font: 600 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-20);
}
.attribut__left-title {
  font: 500 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
  margin-bottom: 6px;
}
.attribut__left-text {
  font: 500 12px/24px "Inter", "sans-serif";
  line-height: -0.15px;
  color: var(--Gray-30);
}
.attribut__right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.attribut__right-subtitle {
  margin-bottom: 0px;
}
.attribut__right-subtext {
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-30);
}
.attribut__right-text {
  font: 400 14px/20px "Inter", "sans-serif";
  letter-spacing: -0.25px;
  color: var(--Black);
}
.attribut__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.insearch {
  display: flex;
  margin-left: auto;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: rgba(0, 111, 216, 0.1);
  font: 500 10px/14px "Inter", "sans-serif";
  letter-spacing: 0;
  color: var(--Primary-40);
}

.header {
  padding: 0 24px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  padding: 10.5px 0;
}
.header__menu-item {
  display: flex;
  align-items: stretch;
  -moz-column-gap: 24px;
       column-gap: 24px;
  height: 40px;
  padding: 0 32px;
  border-right: 1px solid var(--Gray-80);
}
.header__menu-item:first-child {
  padding-left: 0;
}
.header__menu-item:last-child {
  padding-right: 0;
  border-right: none;
}
.header__search {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.header__search-text {
  font: 500 13px/18px "Inter", sans-serif;
  letter-spacing: 0.01em;
  color: var(--Gray-30);
}
.header__mail, .header__bell {
  position: relative;
  flex: 0 0 auto;
  width: 20px;
  margin-right: 16px;
}
.header__mail-num, .header__bell-num {
  position: absolute;
  top: -2px;
  right: -14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--Primary-50);
  font: 700 12px/140% "Inter", sans-serif;
  letter-spacing: 0.01em;
  color: #fff;
}
.header__account {
  flex: 0 2 auto;
  overflow: hidden;
  text-wrap: nowrap;
}
.header__account-company {
  margin-bottom: 3px;
  overflow: hidden;
  font: 700 14px/20px "Inter", sans-serif;
  color: var(--Black);
  text-transform: uppercase;
  text-wrap: nowrap;
}
.header__account-name {
  font: 500 12px/17px "Inter", sans-serif;
  color: var(--Gray-40);
}
.header__setting {
  flex: 0 0 auto;
  width: 20px;
}
.header__logout {
  flex: 0 0 auto;
  width: 20px;
}

.head {
  margin-bottom: 24px;
}
.head__title {
  margin-bottom: 24px;
  font: 700 40px/48px "Inter", "sans-serif";
  letter-spacing: -0.2px;
  color: var(--Black);
}
.head__path {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 4px;
  font: 500 12px/16px "Inter", "sans-serif";
  letter-spacing: -0.1px;
  color: var(--Gray-30);
}
.head__path-link {
  color: var(--Gray-30);
}
.head__btns {
  display: flex;
  gap: 24px;
}
.head__btn {
  margin-right: auto;
}
.head__btn-icon {
  padding: 9px 11px;
  border-radius: 8px;
  border: 0.5px solid var(--Black);
}

.resume {
  margin-bottom: 24px;
}

@media (max-width: 1473px) {
  .main {
    grid-template-columns: auto;
    gap: 0;
  }
  .head {
    margin-left: 16px;
    margin-right: 16px;
  }
  .videovacancy {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header__search-text {
    display: none;
  }
  .header__account {
    width: 161px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 16px;
  }
  .small-hidden {
    display: none;
  }
  .small-visible {
    display: block;
  }
  .btn {
    padding: 11.95px 23.2px;
  }
  .logo {
    margin-right: 24px;
  }
  .header {
    padding: 0 32px;
  }
  .header__menu {
    padding: 12px 0;
  }
  .header__menu-item {
    padding-right: 0;
    border: none;
  }
  .head__title {
    font: 700 30px/36px "Inter", "sans-serif";
    letter-spacing: -0.1px;
  }
  .head__btns {
    gap: 16px;
  }
  .head__btn {
    margin-right: 0;
  }
  .attribut__wrapper {
    grid-template-columns: 1fr;
  }
  .attribut__textarea {
    height: 240px;
  }
  .attribut__textarea-headlong {
    padding-top: 68px;
  }
  .attribut__item-grid {
    grid-template-columns: 50% 50%;
  }
  .attribut-line24 {
    flex-direction: column;
  }
  .attribut__head {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .attribut__part {
    padding-left: 0;
  }
  .attribut__item {
    grid-template-columns: 1fr;
    gap: 6px;
    padding: 0;
  }
  .attribut__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
  }
  .attribut__left-title {
    margin-bottom: 0;
  }
  .attribut__right {
    gap: 3px;
  }
  .attributes .attribut__textarea {
    height: 152px;
  }
  .difference__item {
    flex: 0 1 auto;
  }
  .basement__check {
    padding: 0 16px;
  }
  .basement__btns {
    padding: 0 16px;
  }
  .basement__btns-back {
    margin-right: auto;
  }
  .basement__btns-publish {
    margin-right: 0;
  }
  .tabs__wrapper {
    overflow-x: scroll;
    gap: 16px;
    padding: 0 16px;
    width: 390px;
  }
  .tabs__item {
    flex-direction: row;
    flex: 0 1 20px;
    gap: 12px;
  }
  .tabs__item-icon {
    flex: 0 0 auto;
    margin-bottom: 0;
  }
  .tabs__item-text {
    display: none;
    width: -moz-min-content;
    width: min-content;
  }
  .tabs__item-active .tabs__item-text {
    display: block;
  }
  .tabcontent__btns {
    margin-left: 16px;
    margin-right: 16px;
  }
  .insearch {
    margin-left: 0;
  }
}/*# sourceMappingURL=moyo_rezyume.css.map */