doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мир в плюсе — Позитивные новости
        link(rel="stylesheet", href="/worldinplus/css/reset.css")
        link(rel="stylesheet", href="/worldinplus/css/fonts.css")
        link(rel="stylesheet", href="/worldinplus/css/main.css")
        script(src="/worldinplus/js/header.js" defer)
    body 
        include ../../../header.pug
        main.main
            .content
                #content
                .container
                    .content__wrapper
                        section.article 
                            .article__wrapper 
                                .article__back 
                                    a(href="../../../").article__back-link
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m12 19-7-7 7-7"></path>
                                            <path d="M19 12H5"></path>
                                        </svg>
                                        | Назад к новостям
                                .article__image 
                                    img(src="biodegradable-packaging-seaweed.jpeg", alt="").article__image-img
                                    .article__rubric.article__rubric_project 
                                        p.article__rubric-text Проекты
                                .article__category 
                                    p.article__category-text Экология
                                h2.article__title Стартап создал биоразлагаемую упаковку из водорослей
                                h3.article__subtitle Молодая команда разработала упаковочный материал, который полностью разлагается за 4 недели и не вредит океанам.

                        aside.aside
        include ../../../footer.pug