@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Thin.woff2') format('woff2'),
         url('../fonts/Inter_Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_ExtraLight.woff2') format('woff2'),
         url('../fonts/Inter_ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Light.woff2') format('woff2'),
         url('../fonts/Inter_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Regular.woff2') format('woff2'),
         url('../fonts/Inter_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Medium.woff2') format('woff2'),
         url('../fonts/Inter_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_SemiBold.woff2') format('woff2'),
         url('../fonts/Inter_SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Bold.woff2') format('woff2'),
         url('../fonts/Inter_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_ExtraBold.woff2') format('woff2'),
         url('../fonts/Inter_ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_Black.woff2') format('woff2'), 
         url('../fonts/Inter_Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}