footer.footer 
    .container
        .footer__wrapper
            .footer__item 
                a(href="/ru/").logo 
                    .logo__image
                        img(src="/plusworld/images/logo.png", alt="logo").logo__img
                    .logo__name
                        p.logo__name-title.logo__name-footer Мир в плюсе
                h2.footer__title Добрые новости, которые вдохновляют
                p.footer__text Мир в плюсе — это портал о позитивных новостях со всего мира. Мы верим, что добрые истории делают мир лучше.
            .footer__item 
                h2.footer__item-title Навигация
                nav.footer__nav 
                    ul.footer__list 
                        li.footer__list-item 
                            a(href="index.html").footer__list-link Главная
                        li.footer__list-item 
                            a(href="index.html").footer__list-link О нас
                        li.footer__list-item 
                            a(href="index.html").footer__list-link Контакты
            .footer__item 
                h2.footer__item-title Следите за нами
            .footer__item 
                p.footer__right Мир в плюсе. Все права защищены.