footer.footer 
    .container
        .footer__wrapper
            .footer__item 
                a(href=`/worldinplus/${currentLang}/`).logo.footer__logo
                    .logo__image
                        img(src="/worldinplus/images/logo.png", alt="Мир в плюсе").logo__img
                    .logo__content
                        span.logo__title.logo__title--footer Мир в плюсе
                h2.footer__title Добрые новости, которые вдохновляют
                p.footer__text Мир в плюсе — это портал о позитивных новостях со всего мира. Мы верим, что добрые истории делают мир лучше.
            .footer__item 
                h3.footer__item-title Навигация
                nav.nav.footer__nav 
                    +nav-list(currentLang, currentPage)(class="nav__list--footer")
            .footer__item 
                h3.footer__item-title Следите за нами
            p.footer__right 
                | ©
                | #{new Date().getFullYear()}
                | Мир в плюсе. Все права защищены. 