header.header 
    .container
        .header__wrapper
            a(href="index.html").logo
                .logo__image
                    img(src="/plusworld/images/logo.png", alt="logo").logo__img
                .logo__name
                    p.logo__name-title Мир в плюсе
                    p.logo__name-text Добрые новости, которые вдохновляют
            nav.nav 
                ul.nav__list 
                    li.nav__item 
                        a(href="index.html").nav__item-link.nav__item-active Главная
                    li.nav__item 
                        a(href="index.html").nav__item-link О нас
                    li.nav__item 
                        a(href="index.html").nav__item-link Контакты
            .setting    
                .search 
                    button(type="button").search__btn
                        <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6725 16.6412L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .language 
                    button(type="button").language__view
                        .language__icon 
                            <svg width="16px" height="16px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 22.3201C17.5228 22.3201 22 17.8429 22 12.3201C22 6.79722 17.5228 2.32007 12 2.32007C6.47715 2.32007 2 6.79722 2 12.3201C2 17.8429 6.47715 22.3201 12 22.3201Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2 12.3201H22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 22.3201C13.933 22.3201 15.5 17.8429 15.5 12.3201C15.5 6.79722 13.933 2.32007 12 2.32007C10.067 2.32007 8.5 6.79722 8.5 12.3201C8.5 17.8429 10.067 22.3201 12 22.3201Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .language__code 
                            p.language__code-p RU
                        .language__name
                            p.language__name-p Русский 
                    .language__dropdown 
                        .language__options 
                            a.language__option(href="../ru/")
                                .language__icon
                                    <svg width="16px" height="16px" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.63 15.638a1.028 1.028 0 0 1-.79-.37L.36 11.09a1.03 1.03 0 1 1 1.58-1.316l2.535 3.043L9.958 3.32a1.029 1.029 0 0 1 1.783 1.03L5.52 15.122a1.03 1.03 0 0 1-.803.511.89.89 0 0 1-.088.004z"/>
                                    </svg>
                                .language__code 
                                    p.language__code-p RU 
                                .language__name
                                    p.language__name-p Русский 
                            a.language__option(href="../by/")
                                .language__icon
                                .language__code 
                                    p.language__code-p BY
                                .language__name
                                    p.language__name-p Беларуская
                            a.language__option(href="../en/")
                                .language__icon
                                .language__code 
                                    p.language__code-p EN 
                                .language__name
                                    p.language__name-p English  