mixin icon-check
    <svg width="16" height="16" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.63 15.638a1.028 1.028 0 0 1-.79-.37L.36 11.09a1.03 1.03 0 1 1 1.58-1.316l2.535 3.043L9.958 3.32a1.029 1.029 0 0 1 1.783 1.03L5.52 15.122a1.03 1.03 0 0 1-.803.511.89.89 0 0 1-.088.004z"/>
    </svg>
header.header 
    .container
        .header__wrapper
            a(href="/worldinplus/ru/").logo.header__logo
                .logo__image
                    img(src="/worldinplus/images/logo.png", alt="logo").logo__img
                .logo__content
                    span.logo__title Мир в плюсе
                    span.logo__text Добрые новости, которые вдохновляют
            nav.nav.header__nav
                ul.nav__list 
                    li.nav__item 
                        a(href="index.html").nav__link.nav__link--active Главная
                    li.nav__item 
                        a(href="about.html").nav__link О нас
                    li.nav__item 
                        a(href="contacts.html").nav__link Контакты
            .header__controls 
                .search 
                    form.search__form
                        input(type="search", placeholder="Поиск по новостям...", aria-label="Введите запрос").search__input
                    button(type="button", aria-label="Поиск").search__btn
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search__icon search__icon--magnifier" aria-hidden="true"><path d="m21 21-4.34-4.34"></path><circle cx="11" cy="11" r="8"></circle></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search__icon search__icon--close" aria-hidden="true"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
                .language 
                    button(type="button", aria-expanded="false", aria-label="Сменить язык", aria-haspopup="true").language__view
                        .language__icon 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><circle cx="12" cy="12" r="10"></circle><path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path d="M2 12h20"></path></svg>
                        span.language__code RU
                        span.language__name Русский 
                    .language__dropdown 
                        .language__options 
                            a.language__option.language__option--active(href="../ru/")
                                .language__icon
                                    +icon-check
                                span.language__code RU 
                                span.language__name Русский 
                            a.language__option(href="../by/")
                                .language__icon
                                    +icon-check
                                span.language__code BY
                                span.language__name Беларуская
                            a.language__option(href="../en/")
                                .language__icon
                                    +icon-check
                                span.language__code EN 
                                span.language__name English  