doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мир в плюсе
        link(rel="stylesheet", href="/worldinplus/css/reset.css")
        link(rel="stylesheet", href="/worldinplus/css/fonts.css")
        link(rel="stylesheet", href="/worldinplus/css/main.css")
        script(src="/worldinplus/js/header.js" defer)
        script(src="/worldinplus/js/hero.js" defer)
        script(src="/worldinplus/js/createArticles.js" defer)
    body 
        - var currentPage = ''
        - var currentLang = 'ru'
        include mixins.pug
        include header.pug
        main.main 
            section.hero
                .container
                    .hero__wrapper 
                        h1.hero__title Мир в плюсе
                        p.hero__subtitle Добрые новости, которые вдохновляют
                        p.hero__text Здесь собраны истории о добрых делах, научных открытиях и героях современности. Узнайте, как мир становится лучше каждый день.
                        a(href="#content").hero__link 
                            | Читать новости
                            +icon-arrow 
                        .hero__line
                        .hero__statistics 
                            .hero__item 
                                h3.hero__item-title 10+
                                p.hero__item-text статей
                            .hero__item 
                                h3.hero__item-title 5+
                                p.hero__item-text стран
                            .hero__item 
                                h3.hero__item-title 1К+
                                p.hero__item-text читателей
            .content 
                #content
                .container
                    .content__wrapper
                        section.content__item
                            .articles 
                            button(type="button").content__more Показать ещё
                        aside.aside
                            .aside__wrapper
                                .aside__item.aside__item--filters
                                    h2.aside__title Рубрики
                                    .aside__filters 
                                        +filter-item('rubric-all', 'all', 'rubric', 'Все', 'all', true)
                                        +filter-item('rubric-facts', 'facts', 'rubric', 'Факты', 'facts')
                                        +filter-item('rubric-stories', 'stories', 'rubric', 'Истории', 'stories')
                                        +filter-item('rubric-projects', 'projects', 'rubric', 'Проекты', 'projects')
                                    h2.aside__title Категории
                                    .aside__filters 
                                        +filter-item('category-all', 'all', 'category', 'Все', 'base', true)
                                        +filter-item('category-ecology', 'Экология', 'category', 'Экология')
                                        +filter-item('category-science', 'Наука', 'category', 'Наука')
                                        +filter-item('category-society', 'Общество', 'category', 'Общество')
                                        +filter-item('category-technologies', 'Технологии', 'category', 'Технологии')
                                        +filter-item('category-health', 'Здоровье', 'category', 'Здоровье')
                                    h2.aside__title Популярные теги
                                    .aside__tags
                                    button(type="button").aside__reset
                                        +icon-close
                                        | Сбросить фильтры
                                .aside__item.aside__item--factoftheday
                                    h2.aside__title 
                                        +icon-fact
                                        | Факт дня
                                    p.aside__text За последний год количество возобновляемой энергии в мире выросло на 12%, что помогло сократить выбросы CO2 на 500 млн тонн.
                                .aside__item.aside__item--get
                                    h2.aside__title Получайте добрые новости
                                    p.aside__text Подпишитесь на еженедельную рассылку позитивных новостей
                                    form.aside__form
                                        input.aside__form-input(type="email", name="email", placeholder="Ваш email", aria-label="Ваш email", autocomplete="email", required)
                                        button.aside__form-btn(type="submit") Подписаться
                                
                            
                                
                            
                            
                            
                            
        include footer.pug