doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мир в плюсе
        link(rel="stylesheet", href="/worldinplus/css/reset.css")
        link(rel="stylesheet", href="/worldinplus/css/fonts.css")
        link(rel="stylesheet", href="/worldinplus/css/main.css")
        script(src="/worldinplus/js/header.js" defer)
        script(src="/worldinplus/ru/createArticles.js" defer)
    body 
        include header.pug
        main.main 
            section.hero
                .container
                    .hero__wrapper 
                        h1.hero__title Мир в плюсе
                        p.hero__subtitle Добрые новости, которые вдохновляют
                        p.hero__text Здесь собраны истории о добрых делах, научных открытиях и героях современности. Узнайте, как мир становится лучше каждый день.
                        a(href="#content").hero__link 
                            | Читать новости
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5431 14.2672C17.8288 13.9673 17.8172 13.4926 17.5172 13.2069C17.2173 12.9212 16.7426 12.9328 16.4569 13.2328L17.5431 14.2672ZM11.4569 18.4828C11.1712 18.7827 11.1828 19.2574 11.4828 19.5431C11.7827 19.8288 12.2574 19.8172 12.5431 19.5172L11.4569 18.4828ZM11.4569 19.5172C11.7426 19.8172 12.2173 19.8288 12.5172 19.5431C12.8172 19.2574 12.8288 18.7827 12.5431 18.4828L11.4569 19.5172ZM7.5431 13.2328C7.25744 12.9328 6.78271 12.9212 6.48276 13.2069C6.18281 13.4926 6.17123 13.9673 6.4569 14.2672L7.5431 13.2328ZM11.25 19C11.25 19.4142 11.5858 19.75 12 19.75C12.4142 19.75 12.75 19.4142 12.75 19H11.25ZM12.75 5C12.75 4.58579 12.4142 4.25 12 4.25C11.5858 4.25 11.25 4.58579 11.25 5H12.75ZM16.4569 13.2328L11.4569 18.4828L12.5431 19.5172L17.5431 14.2672L16.4569 13.2328ZM12.5431 18.4828L7.5431 13.2328L6.4569 14.2672L11.4569 19.5172L12.5431 18.4828ZM12.75 19V5H11.25V19H12.75Z"/>
                            </svg>
                        .hero__line
                        .hero__static 
                            .hero__item 
                                h3.hero__item-title 10+
                                p.hero__item-text статей
                            .hero__item 
                                h3.hero__item-title 5+
                                p.hero__item-text стран
                            .hero__item 
                                h3.hero__item-title 1К+
                                p.hero__item-text читателей
            .content#content
                .container
                    .content__wrapper
                        section.content__item
                            .articles 
                            button(type="button").content__more Показать ещё
                        aside.aside
                            .aside__wrapper
                                .aside__item.aside__item--filters
                                    h2.aside__title Рубрики
                                    .aside__filters 
                                        label.aside__filter
                                            input#rubric-all.aside__radio.visually-hidden(type="radio", name="rubric", checked) 
                                            span.aside__btn.aside__btn--all Все
                                        label.aside__filter
                                            input#rubric-facts.aside__radio.visually-hidden(type="radio", name="rubric") 
                                            span.aside__btn.aside__btn--facts Факты
                                        label.aside__filter
                                            input#rubric-stories.aside__radio.visually-hidden(type="radio", name="rubric") 
                                            span.aside__btn.aside__btn--stories Истории
                                        label.aside__filter
                                            input#rubric-projects.aside__radio.visually-hidden(type="radio", name="rubric") 
                                            span.aside__btn.aside__btn--projects Проекты
                                    h2.aside__title Категории
                                    .aside__filters 
                                        label.aside__filter
                                            input#category-all.aside__radio.visually-hidden(type="radio", name="category", checked) 
                                            span.aside__btn.aside__btn--base Все
                                        label.aside__filter
                                            input#category-ecology.aside__radio.visually-hidden(type="radio", name="category") 
                                            span.aside__btn.aside__btn--base Экология
                                        label.aside__filter
                                            input#category-science.aside__radio.visually-hidden(type="radio", name="category") 
                                            span.aside__btn.aside__btn--base Наука
                                        label.aside__filter
                                            input#category-society.aside__radio.visually-hidden(type="radio", name="category") 
                                            span.aside__btn.aside__btn--base Общество
                                        label.aside__filter
                                            input#category-technologies.aside__radio.visually-hidden(type="radio", name="category") 
                                            span.aside__btn.aside__btn--base Технологии
                                        label.aside__filter
                                            input#category-health.aside__radio.visually-hidden(type="radio", name="category") 
                                            span.aside__btn.aside__btn--base Здоровье
                                    h2.aside__title Популярные теги
                                    .aside__tags
                                    button(type="button").aside__reset
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path>
                                        </svg>
                                        | Сбросить фильтры
                                .aside__item.aside__item--factoftheday
                                    h2.aside__title 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"></path><path d="M9 18h6"></path><path d="M10 22h4"></path>
                                        </svg>
                                        | Факт дня
                                    p.aside__text За последний год количество возобновляемой энергии в мире выросло на 12%, что помогло сократить выбросы CO2 на 500 млн тонн.
                                .aside__item.aside__item--get
                                    h2.aside__title Получайте добрые новости
                                    p.aside__text Подпишитесь на еженедельную рассылку позитивных новостей
                                    form.aside__form
                                        input.aside__form-input(type="email", name="email", placeholder="Ваш email", aria-label="Ваш email", autocomplete="email", required)
                                        button.aside__form-btn(type="submit") Подписаться
                                
                            
                                
                            
                            
                            
                            
        include footer.pug