doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title BUCEDO
        link(rel="icon" type="image/x-icon" href="img/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/itc-slider.basket.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/cabinet.js" defer) 
    body.cabinet 
        .login 
            .login__left 
                h2.login__title Управляйте вашим магазином
            .login__right 
                a(href="index.html").logo 
                    img(src="img/logo.png", alt="BUCEDO")
                h4.login__right-title Вход в кабинет магазина
                form.login__form 
                    label.login__form-label(for="login-email")  Email
                        input(type="email" placeholder='Email для входа' required).login__form-input#login-email
                    label.login__form-label(for="login-password")  Пароль
                        input(type="password" placeholder='Пароль для входа' required).login__form-input#login-password
                    a(href="").login__forgot Забыли пароль?
                    button(type="submit").catalog.catalog__text Войти
        aside.aside 
            .aside__logo
                a(href="index.html").logo 
                    img(src="img/logo.png", alt="BUCEDO")
            .aside__menu 
                h4.aside__title Магазин
                ul.aside__list
                    li.aside__list-item.aside__list-item-active(data-aside='orders')
                        img(src="img/aside-1.svg", alt="Заказы").aside__list-img
                        p.aside__list-text Заказы
                    li.aside__list-item(data-aside='balance')
                        img(src="img/aside-2.svg", alt="Баланс").aside__list-img
                        p.aside__list-text Баланс
                    li.aside__list-item(data-aside='shops')
                        img(src="img/aside-3.svg", alt="Магазины").aside__list-img
                        p.aside__list-text Магазины
                    li.aside__list-item
                        img(src="img/aside-4.svg", alt="Мои товары").aside__list-img
                        p.aside__list-text Мои товары
                    li.aside__list-item
                        img(src="img/aside-5.svg", alt="Мой прайс лист").aside__list-img
                        p.aside__list-text Мой прайс лист
                    li.aside__list-item
                        img(src="img/aside-6.svg", alt="Товары bukedo").aside__list-img
                        p.aside__list-text Товары bukedo
                    li.aside__list-item
                        img(src="img/aside-7.svg", alt="Рейтинг").aside__list-img
                        p.aside__list-text Рейтинг
            .aside__tools
                h4.aside__title Настройки
                ul.aside__list
                    li.aside__list-item
                        img(src="img/aside-8.svg", alt="Пользователи").aside__list-img
                        p.aside__list-text Пользователи
                    li.aside__list-item.aside__list-setting
                        img(src="img/aside-9.svg", alt="Настройки").aside__list-img
                        p.aside__list-text Настройки
                    ul.aside__list.aside__sublist
                        li.aside__list-subitem
                            p.aside__list-text Основные
                        li.aside__list-subitem
                            p.aside__list-text Уведомления
                        li.aside__list-subitem
                            p.aside__list-text Реквизиты
                    li.aside__list-item
                        img(src="img/aside-10.svg", alt="Помощь").aside__list-img
                        p.aside__list-text Помощь
            .aside__logout 
                ul.aside__list
                    li.aside__list-item
                        img(src="img/aside-11.svg", alt="Пользователи").aside__list-img
                        p.aside__list-text Выход
        main.content
            .head
                .head__left  
                    button(type="button").burger-aside
                        .icons__burger
                            .icons__burger-line
                            .icons__burger-line
                            .icons__burger-line
                    .head__menu(data-menu="shops")
                        ul.head__shop
                            li.head__shop-item.head__shop-item-active(data-menuitem="data") Данные магазина
                            li.head__shop-item(data-menuitem="time") Часы работы
                            li.head__shop-item(data-menuitem="delivery") Доставка
                            li.head__shop-item(data-menuitem="delivery-outside") Доставка за город
                    input(type="search", name="" placeholder="Поиск").head__search
                .head__right 
                    button(type="button").head__searchbtn
                    button(type="button").head__bell 
                    .head__rating
                        .head__rating-star 
                        .head__rating-number 4.7
                    button(type="button").head__name
                        .head__name-avatar 
                        p.head__name-text Стружикова Яна
            .orders.main-block(data-main='orders')
                .orders__top
                    .orders__top-item 
                        .orders__top-content 
                            p.orders__top-text Заработали
                            p.orders__top-number 35 100 ₽ 
                        .orders__top-icon.orders__top-money
                    .orders__top-item 
                        .orders__top-content 
                            p.orders__top-text Цветов продано
                            p.orders__top-number 25 
                        .orders__top-icon.orders__top-sold
                    .orders__top-item 
                        .orders__top-content 
                            p.orders__top-text Покупателей
                            p.orders__top-number 12
                        .orders__top-icon.orders__top-buyers
                .orders__content
                    .orders__head 
                        h2.orders__head-title Заказы 
                        .orders__line
                            .orders__tags 
                                button(type="button").orders__tag.orders__tag-active
                                    p.orders__tag-text Новые    
                                    p.orders__tag-number 5
                                button(type="button").orders__tag
                                    p.orders__tag-text Тендер
                                    p.orders__tag-number 5
                                button(type="button").orders__tag
                                    p.orders__tag-text Принятые
                                    p.orders__tag-number 8
                                button(type="button").orders__tag
                                    p.orders__tag-text Доставленные
                                    p.orders__tag-number 5
                                button(type="button").orders__tag
                                    p.orders__tag-text Отклоненные
                                    p.orders__tag-number 1
                            .orders__date
                                input(type="date", name="").orders__date-input
                                p.orders__date-p -
                                input(type="date", name="").orders__date-input
                    .orders__table 
                        .orders__table-head.orders__table-full
                            p.orders__table-htext Товары
                            p.orders__table-htext № заказа 
                            p.orders__table-htext Статус
                            p.orders__table-htext 
                                | На время 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.61035 9.72217L9.13813 12.2499L11.6659 9.72217" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.13867 12.2501V6.02783" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2.33301 4.27778L4.86079 1.75L7.38856 4.27778" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.86035 1.75V7.97222" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            p.orders__table-htext Доставка / самовывоз
                            p.orders__table-htext Статус оплаты
                            p.orders__table-htext Сумма 
                            p.orders__table-htext Ваш доход
                        .orders__table-content.orders__table-full
                            .orders__table-item
                                .orders__table-img 
                                    img(src="img/order-1.png", alt="").orders__table-img 
                                    p.orders__table-nums 1
                                .orders__table-col
                                    p.orders__table-number &#35;108099
                                    p.orders__table-text от 18 июн 2024, 11:35
                                p.orders__table-status.orders__table-green Новый
                                p.orders__table-text Доставка, 19 июн 2024 <br>с 10:00 до 11:00
                                .orders__table-delivery
                                    p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-payment
                                    img(src="img/credit-card.svg", alt="alt").orders__table-icon 
                                    p.orders__table-status.orders__table-green Оплачено
                                .orders__table-sum 2 200 ₽ 
                                .orders__table-income
                                    p.orders__table-text 1 205 ₽
                            .orders__table-item
                                .orders__table-img 
                                    img(src="img/order-1.png", alt="").orders__table-img 
                                    p.orders__table-nums 1
                                .orders__table-col
                                    p.orders__table-number &#35;108099
                                    p.orders__table-text от 18 июн 2024, 11:35
                                p.orders__table-status.orders__table-green Сборка
                                p.orders__table-text Доставка, 19 июн 2024 <br>до 11:00
                                .orders__table-delivery
                                    p.orders__table-text Из «99 цветов«
                                .orders__table-payment
                                    img(src="img/money-bill-coin.svg", alt="alt").orders__table-icon 
                                    p.orders__table-status.orders__table-blue Наличные
                                .orders__table-sum 2 200 ₽ 
                                .orders__table-income
                                    p.orders__table-text 1 205 ₽
                            .orders__table-item
                                .orders__table-img 
                                    img(src="img/order-1.png", alt="").orders__table-img 
                                    p.orders__table-nums 1
                                .orders__table-col
                                    p.orders__table-number &#35;108099
                                    p.orders__table-text от 18 июн 2024, 11:35
                                p.orders__table-status.orders__table-blue Доставка
                                p.orders__table-text Доставка, 19 июн 2024 <br>с 10:00 до 11:00
                                .orders__table-delivery
                                    p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-payment
                                    img(src="img/credit-card-refresh.svg", alt="alt").orders__table-icon 
                                    p.orders__table-status.orders__table-orange Не оплачено
                                .orders__table-sum 2 200 ₽ 
                                .orders__table-income
                                    p.orders__table-text 1 205 ₽
                            .orders__table-item
                                .orders__table-img 
                                    img(src="img/order-1.png", alt="").orders__table-img 
                                    p.orders__table-nums 1
                                .orders__table-col
                                    p.orders__table-number &#35;108099
                                    p.orders__table-text от 18 июн 2024, 11:35
                                p.orders__table-status.orders__table-red Отменен
                                p.orders__table-text Доставка, 19 июн 2024 <br>с 10:00 до 11:00
                                .orders__table-delivery
                                    p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-payment
                                    img(src="img/credit-card-red.svg", alt="alt").orders__table-icon 
                                    p.orders__table-status.orders__table-red Возврат
                                .orders__table-sum 2 200 ₽ 
                                .orders__table-income
                                    p.orders__table-text 1 205 ₽
                            .orders__table-item
                                .orders__table-img 
                                    img(src="img/order-1.png", alt="").orders__table-img 
                                    p.orders__table-nums 1
                                .orders__table-col
                                    p.orders__table-number &#35;108099
                                    p.orders__table-text от 18 июн 2024, 11:35
                                p.orders__table-status.orders__table-red Отменен
                                .orders__table-col 
                                    p.orders__table-text Доставка, 19 июн 2024 <br>с 10:00 до 11:00
                                .orders__table-delivery
                                    p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-payment
                                    img(src="img/credit-card-red.svg", alt="alt").orders__table-icon 
                                    p.orders__table-status.orders__table-red Возврат
                                .orders__table-sum 2 200 ₽ 
                                .orders__table-income
                                    p.orders__table-text 1 205 ₽
                        .orders__table-content.orders__table-small
                            .orders__table-mitem
                                .orders__table-line 
                                    .orders__table-col
                                        p.orders__table-number &#35;108099
                                        p.orders__table-text от 18 июн 2024, 11:35
                                    .orders__table-col
                                        p.orders__table-status.orders__table-green Новый
                                        .orders__table-payment
                                            img(src="img/credit-card-refresh.svg", alt="alt").orders__table-icon 
                                            p.orders__table-status.orders__table-orange Не оплачено
                                .orders__table-cont
                                    .orders__table-img 
                                        img(src="img/order-1.png", alt="").orders__table-img 
                                        p.orders__table-nums 1
                                    .orders__table-name Букет французских роз и хризантем
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-col 
                                        h5.orders__table-title На время
                                        p.orders__table-text Доставка, 19 июн 2024 с 10:00 до 11:00
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-delivery
                                        h5.orders__table-title Адрес
                                        p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-line
                                        .orders__table-col 
                                            h5.orders__table-title Сумма
                                            .orders__table-sum 2 200 ₽ 
                                        .orders__table-col 
                                            h5.orders__table-title Ваш доход
                                            .orders__table-income
                                                p.orders__table-text 1 205 ₽
                            .orders__table-mitem
                                .orders__table-line 
                                    .orders__table-col
                                        p.orders__table-number &#35;108099
                                        p.orders__table-text от 18 июн 2024, 11:35
                                    .orders__table-col
                                        p.orders__table-status.orders__table-blue Доставка
                                        .orders__table-payment
                                            img(src="img/credit-card.svg", alt="alt").orders__table-icon 
                                            p.orders__table-status.orders__table-green Оплачено
                                .orders__table-cont
                                    .orders__table-img 
                                        img(src="img/order-1.png", alt="").orders__table-img 
                                        p.orders__table-nums 1
                                    .orders__table-name Букет французских роз и хризантем
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-col 
                                        h5.orders__table-title На время
                                        p.orders__table-text Доставка, 19 июн 2024 с 10:00 до 11:00
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-delivery
                                        h5.orders__table-title Адрес
                                        p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-line
                                        .orders__table-col 
                                            h5.orders__table-title Сумма
                                            .orders__table-sum 2 200 ₽ 
                                        .orders__table-col 
                                            h5.orders__table-title Ваш доход
                                            .orders__table-income
                                                p.orders__table-text 1 205 ₽
                            .orders__table-mitem
                                .orders__table-line 
                                    .orders__table-col
                                        p.orders__table-number &#35;108099
                                        p.orders__table-text от 18 июн 2024, 11:35
                                    .orders__table-col
                                        p.orders__table-status.orders__table-red Отменен
                                        .orders__table-payment
                                            img(src="img/credit-card-red.svg", alt="alt").orders__table-icon 
                                            p.orders__table-status.orders__table-red Возврат
                                .orders__table-cont
                                    .orders__table-img 
                                        img(src="img/order-1.png", alt="").orders__table-img 
                                        p.orders__table-nums 1
                                    .orders__table-name Букет французских роз и хризантем
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-col 
                                        h5.orders__table-title На время
                                        p.orders__table-text Доставка, 19 июн 2024 с 10:00 до 11:00
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-delivery
                                        h5.orders__table-title Адрес
                                        p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-line
                                        .orders__table-col 
                                            h5.orders__table-title Сумма
                                            .orders__table-sum 2 200 ₽ 
                                        .orders__table-col 
                                            h5.orders__table-title Ваш доход
                                            .orders__table-income
                                                p.orders__table-text 1 205 ₽
                            .orders__table-mitem
                                .orders__table-line 
                                    .orders__table-col
                                        p.orders__table-number &#35;108099
                                        p.orders__table-text от 18 июн 2024, 11:35
                                    .orders__table-col
                                        p.orders__table-status.orders__table-red Отменен
                                        .orders__table-payment
                                            img(src="img/credit-card-red.svg", alt="alt").orders__table-icon 
                                            p.orders__table-status.orders__table-red Возврат
                                .orders__table-cont
                                    .orders__table-img 
                                        img(src="img/order-1.png", alt="").orders__table-img 
                                        p.orders__table-nums 1
                                    .orders__table-name Букет французских роз и хризантем
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-col 
                                        h5.orders__table-title На время
                                        p.orders__table-text Доставка, 19 июн 2024 с 10:00 до 11:00
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-delivery
                                        h5.orders__table-title Адрес
                                        p.orders__table-text Москва, Ленинский проспект 12
                                .orders__table-cont
                                    .orders__table-both
                                    .orders__table-line
                                        .orders__table-col 
                                            h5.orders__table-title Сумма
                                            .orders__table-sum 2 200 ₽ 
                                        .orders__table-col 
                                            h5.orders__table-title Ваш доход
                                            .orders__table-income
                                                p.orders__table-text 1 205 ₽
                            .orders__table-pages 
                                button(type="button").orders__table-page 
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.657 15L15.832 13.825L12.0154 10L15.832 6.175L14.657 5L9.65703 10L14.657 15Z" fill="#1C1C1D"/>
                                        <path d="M9.1668 15L10.3418 13.825L6.52513 10L10.3418 6.175L9.1668 5L4.1668 10L9.1668 15Z" fill="#1C1C1D"/>
                                    </svg>
                                button(type="button").orders__table-page
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.742 15L13.917 13.825L10.1003 10L13.917 6.175L12.742 5L7.74199 10L12.742 15Z" fill="#1C1C1D"/>
                                    </svg>
                                button(type="button").orders__table-page.orders__table-page-active 1
                                button(type="button").orders__table-page 2
                                .orders__table-page.orders__table-dots ...
                                button(type="button").orders__table-page 10
                                button(type="button").orders__table-page
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.50801 5L8.33301 6.175L12.1497 10L8.33301 13.825L9.50801 15L14.508 10L9.50801 5Z" fill="#1C1C1D"/>
                                    </svg>
                                button(type="button").orders__table-page
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.34297 5L4.16797 6.175L7.98464 10L4.16797 13.825L5.34297 15L10.343 10L5.34297 5Z" fill="#1C1C1D"/>
                                        <path d="M10.8332 5L9.6582 6.175L13.4749 10L9.6582 13.825L10.8332 15L15.8332 10L10.8332 5Z" fill="#1C1C1D"/>
                                    </svg>
            .balance.main-block(data-main='balance')
                .balance__content
                    .balance__head 
                        h2.balance__head-title Баланс 10 075 ₽ 
                    .balance__table 
                        .balance__table-head
                            p.balance__table-htext.orders__table-htext
                                | Сумма
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.61035 9.72217L9.13813 12.2499L11.6659 9.72217" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.13867 12.2501V6.02783" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2.33301 4.27778L4.86079 1.75L7.38856 4.27778" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.86035 1.75V7.97222" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            p.balance__table-htext.orders__table-htext
                                | Дата
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.61035 9.72217L9.13813 12.2499L11.6659 9.72217" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.13867 12.2501V6.02783" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2.33301 4.27778L4.86079 1.75L7.38856 4.27778" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.86035 1.75V7.97222" stroke="#727C8A" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            p.balance__table-htext.orders__table-htext Комментарий
                        .balance__table-content 
                            .balance__table-item
                                p.balance__table-text.balance__table-minus.orders__table-text -54 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment  Агентское вознаграждение за счет принципала за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-plus.orders__table-text +1075 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Начисление за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-plus.orders__table-text +1075 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Начисление за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-minus.orders__table-text -54 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Агентское вознаграждение за счет принципала за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-minus.orders__table-text -54 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Агентское вознаграждение за счет принципала за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-plus.orders__table-text +1075 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Начисление за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-plus.orders__table-text +1075 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Начисление за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-minus.orders__table-text -54 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Агентское вознаграждение за счет принципала за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-minus.orders__table-text -54 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Агентское вознаграждение за счет принципала за заказ №461379
                            .balance__table-item
                                p.balance__table-text.balance__table-minus.orders__table-text -54 ₽
                                p.balance__table-text.orders__table-text.balance__table-time 22 окт 2024 22:01
                                p.balance__table-text.orders__table-text.balance__table-comment Агентское вознаграждение за счет принципала за заказ №461379
                    .balance__footer
                        .balance__footer-left 
                            p.orders__table-text Показывать по
                            select(name="").balance__footer-select 
                                option(value="10") 10
                                option(value="20") 20
                                option(value="30") 30
                        .balance__footer-right
                            button(type="button").orders__table-page 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.657 15L15.832 13.825L12.0154 10L15.832 6.175L14.657 5L9.65703 10L14.657 15Z" fill="#1C1C1D"/>
                                    <path d="M9.1668 15L10.3418 13.825L6.52513 10L10.3418 6.175L9.1668 5L4.1668 10L9.1668 15Z" fill="#1C1C1D"/>
                                </svg>
                            button(type="button").orders__table-page
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.742 15L13.917 13.825L10.1003 10L13.917 6.175L12.742 5L7.74199 10L12.742 15Z" fill="#1C1C1D"/>
                                </svg>
                            button(type="button").orders__table-page.orders__table-page-active 1
                            button(type="button").orders__table-page 2
                            .orders__table-page.orders__table-dots ...
                            button(type="button").orders__table-page 10
                            button(type="button").orders__table-page
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.50801 5L8.33301 6.175L12.1497 10L8.33301 13.825L9.50801 15L14.508 10L9.50801 5Z" fill="#1C1C1D"/>
                                </svg>
                            button(type="button").orders__table-page
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.34297 5L4.16797 6.175L7.98464 10L4.16797 13.825L5.34297 15L10.343 10L5.34297 5Z" fill="#1C1C1D"/>
                                    <path d="M10.8332 5L9.6582 6.175L13.4749 10L9.6582 13.825L10.8332 15L15.8332 10L10.8332 5Z" fill="#1C1C1D"/>
                                </svg>
            .shops.main-block(data-main='shops')
                .shops__wrapper.shops__wrapper-active(data-shops='data')
                    .shops__head.shops__mw600
                        h2.shops__head-title Данные магазина
                    .shops__content.shops__mw600
                        .shops__name
                            .shops__content-top
                                h3.shops__content-title Название магазина
                                input(type="text", value="99 цветов").shops__name-input
                            .shops__name-view 
                                .shops__name-img
                                    img(src="img/shop1.png", alt="") 
                                    button(type="button").shops__name-edit
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.6035 5.39651L12.8924 7.10758M2.2068 18.3298L5.51739 17.9441C6.49189 17.8306 7.39953 17.3914 8.09327 16.6976L17.3412 7.44975C18.6642 6.12675 18.6642 3.98175 17.3412 2.65875C16.0182 1.33575 13.8732 1.33575 12.5502 2.65875L3.30227 11.9067C2.60853 12.6004 2.16932 13.508 2.05578 14.4825L1.67008 17.7931C1.63395 18.1033 1.89664 18.366 2.2068 18.3298Z" stroke="#1C1C1D" stroke-linecap="round"/>
                                        </svg>
                                .shops__name-info 
                                    h4.shops__name-title Изображение магазина
                                    p.shops__name-subtext Загрузите или измените логотип вашего магазина, чтобы придать ему уникальный вид. Минимально 300x300 px, PNG или JPEG
                            .shops__name-description
                                h4.shops__name-title Описание
                                textarea(placeholder="Описание магазина" maxlength='200').shops__name-textarea
                                .shops__name-number 
                                    p.shops__name-first 0
                                    p.shops__name-second /200
                        .shops__contact
                            .shops__content-top
                                h3.shops__content-title Контакты для связи
                                p.shops__content-text Настройте адрес, электронную почту и номер телефона для запросов клиентов. Все поля обязательны для заполнения.
                            .shops__contact-line
                                input(type="text", name="GMT" value="Москва, GMT +3" disabled).shops__contact-input#shops__contact-gmt
                            .shops__contact-line
                                label(for="shops__contact-street").shops__contact-label Улица
                                    input(type="text", name="street").shops__contact-input#shops__contact-street
                                label(for="shops__contact-house").shops__contact-label Дом
                                    input(type="text", name="house").shops__contact-input#shops__contact-house
                            label(for="shops__contact-tel").shops__contact-label Телефон магазина
                                input(type="text", name="tel").shops__contact-input#shops__contact-tel
                            label(for="shops__contact-email").shops__contact-label Email
                                input(type="email", name="email").shops__contact-input#shops__contact-email
                        .shops__payment 
                            h3.shops__content-title Оплата
                            .shops__payment-line
                                label(for="shops__payment-payment").shops__payment-label Способ оплаты
                                    input(type="text", name="payment" value="Выбрано 1" readonly).shops__payment-input.shops__payment-select#shops__payment-payment
                                    ul.shops__payment-options
                                        li.shops__payment-option Выбрано 1
                                        li.shops__payment-option Выбрано 2
                                        li.shops__payment-option Выбрано 3
                                label(for="shops__payment-prepayment").shops__payment-label 
                                    .shops__info
                                        p Предоплата при заказе от, ₽ 
                                        button(type="button").shops__info-btn
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 1.875C8.39303 1.875 6.82214 2.35152 5.486 3.24431C4.14985 4.1371 3.10844 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8815 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.1227 7.84581 17.266 5.78051 15.7427 4.25727C14.2195 2.73403 12.1542 1.87727 10 1.875ZM10 16.875C8.64026 16.875 7.31105 16.4718 6.18046 15.7164C5.04987 14.9609 4.16868 13.8872 3.64833 12.6309C3.12798 11.3747 2.99183 9.99237 3.2571 8.65875C3.52238 7.32513 4.17716 6.10013 5.13864 5.13864C6.10013 4.17716 7.32514 3.52237 8.65876 3.2571C9.99238 2.99183 11.3747 3.12798 12.631 3.64833C13.8872 4.16868 14.9609 5.04987 15.7164 6.18045C16.4718 7.31104 16.875 8.64025 16.875 10C16.8729 11.8227 16.1479 13.5702 14.8591 14.8591C13.5702 16.1479 11.8227 16.8729 10 16.875ZM11.25 13.75C11.25 13.9158 11.1842 14.0747 11.0669 14.1919C10.9497 14.3092 10.7908 14.375 10.625 14.375C10.2935 14.375 9.97554 14.2433 9.74112 14.0089C9.5067 13.7745 9.375 13.4565 9.375 13.125V10C9.20924 10 9.05027 9.93415 8.93306 9.81694C8.81585 9.69973 8.75 9.54076 8.75 9.375C8.75 9.20924 8.81585 9.05027 8.93306 8.93306C9.05027 8.81585 9.20924 8.75 9.375 8.75C9.70652 8.75 10.0245 8.8817 10.2589 9.11612C10.4933 9.35054 10.625 9.66848 10.625 10V13.125C10.7908 13.125 10.9497 13.1908 11.0669 13.3081C11.1842 13.4253 11.25 13.5842 11.25 13.75ZM8.75 6.5625C8.75 6.37708 8.80499 6.19582 8.908 6.04165C9.01101 5.88748 9.15743 5.76732 9.32874 5.69636C9.50004 5.62541 9.68854 5.60684 9.8704 5.64301C10.0523 5.67919 10.2193 5.76848 10.3504 5.89959C10.4815 6.0307 10.5708 6.19775 10.607 6.3796C10.6432 6.56146 10.6246 6.74996 10.5536 6.92127C10.4827 7.09257 10.3625 7.23899 10.2084 7.342C10.0542 7.44502 9.87292 7.5 9.6875 7.5C9.43886 7.5 9.20041 7.40123 9.02459 7.22541C8.84878 7.0496 8.75 6.81114 8.75 6.5625Z" fill="#AFBACA"/>
                                            </svg>
                                            p.shops__info-text Здесь будет подсказка
                                    input(type="number", name="prepayment").shops__payment-input#shops__payment-prepayment 
                            .shops__payment-card 
                                .shops__payment-title Укажите данные карты
                                .shops__payment-cardline
                                    label(for="shops__payment-numcard").shops__payment-label Номер карты
                                        input(type="number", name="numcard" placeholder="0000 0000 0000 0000").shops__payment-input#shops__payment-numcard
                                    label(for="shops__payment-fullname").shops__payment-label ФИО держателя карты
                                        input(type="text", name="fullname").shops__payment-input#shops__payment-fullname
                        .shops__service 
                            h3.shops__content-title Дополнительные услуги
                            .shops__service-item 
                                .shops__service-head 
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    .shops__info
                                        p.shops__service-text Фото получателя с букетом, ₽ 
                                        button(type="button").shops__info-btn
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 1.875C8.39303 1.875 6.82214 2.35152 5.486 3.24431C4.14985 4.1371 3.10844 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8815 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.1227 7.84581 17.266 5.78051 15.7427 4.25727C14.2195 2.73403 12.1542 1.87727 10 1.875ZM10 16.875C8.64026 16.875 7.31105 16.4718 6.18046 15.7164C5.04987 14.9609 4.16868 13.8872 3.64833 12.6309C3.12798 11.3747 2.99183 9.99237 3.2571 8.65875C3.52238 7.32513 4.17716 6.10013 5.13864 5.13864C6.10013 4.17716 7.32514 3.52237 8.65876 3.2571C9.99238 2.99183 11.3747 3.12798 12.631 3.64833C13.8872 4.16868 14.9609 5.04987 15.7164 6.18045C16.4718 7.31104 16.875 8.64025 16.875 10C16.8729 11.8227 16.1479 13.5702 14.8591 14.8591C13.5702 16.1479 11.8227 16.8729 10 16.875ZM11.25 13.75C11.25 13.9158 11.1842 14.0747 11.0669 14.1919C10.9497 14.3092 10.7908 14.375 10.625 14.375C10.2935 14.375 9.97554 14.2433 9.74112 14.0089C9.5067 13.7745 9.375 13.4565 9.375 13.125V10C9.20924 10 9.05027 9.93415 8.93306 9.81694C8.81585 9.69973 8.75 9.54076 8.75 9.375C8.75 9.20924 8.81585 9.05027 8.93306 8.93306C9.05027 8.81585 9.20924 8.75 9.375 8.75C9.70652 8.75 10.0245 8.8817 10.2589 9.11612C10.4933 9.35054 10.625 9.66848 10.625 10V13.125C10.7908 13.125 10.9497 13.1908 11.0669 13.3081C11.1842 13.4253 11.25 13.5842 11.25 13.75ZM8.75 6.5625C8.75 6.37708 8.80499 6.19582 8.908 6.04165C9.01101 5.88748 9.15743 5.76732 9.32874 5.69636C9.50004 5.62541 9.68854 5.60684 9.8704 5.64301C10.0523 5.67919 10.2193 5.76848 10.3504 5.89959C10.4815 6.0307 10.5708 6.19775 10.607 6.3796C10.6432 6.56146 10.6246 6.74996 10.5536 6.92127C10.4827 7.09257 10.3625 7.23899 10.2084 7.342C10.0542 7.44502 9.87292 7.5 9.6875 7.5C9.43886 7.5 9.20041 7.40123 9.02459 7.22541C8.84878 7.0496 8.75 6.81114 8.75 6.5625Z" fill="#AFBACA"/>
                                            </svg>
                                            p.shops__info-text Здесь будет подсказка
                                .shops__service-content 
                                    input(type="number", name="").shops__service-input
                            .shops__service-item 
                                .shops__service-head 
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    .shops__info
                                        p.shops__service-text Доставка к точному времени, +₽ 
                                        button(type="button").shops__info-btn
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 1.875C8.39303 1.875 6.82214 2.35152 5.486 3.24431C4.14985 4.1371 3.10844 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8815 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.1227 7.84581 17.266 5.78051 15.7427 4.25727C14.2195 2.73403 12.1542 1.87727 10 1.875ZM10 16.875C8.64026 16.875 7.31105 16.4718 6.18046 15.7164C5.04987 14.9609 4.16868 13.8872 3.64833 12.6309C3.12798 11.3747 2.99183 9.99237 3.2571 8.65875C3.52238 7.32513 4.17716 6.10013 5.13864 5.13864C6.10013 4.17716 7.32514 3.52237 8.65876 3.2571C9.99238 2.99183 11.3747 3.12798 12.631 3.64833C13.8872 4.16868 14.9609 5.04987 15.7164 6.18045C16.4718 7.31104 16.875 8.64025 16.875 10C16.8729 11.8227 16.1479 13.5702 14.8591 14.8591C13.5702 16.1479 11.8227 16.8729 10 16.875ZM11.25 13.75C11.25 13.9158 11.1842 14.0747 11.0669 14.1919C10.9497 14.3092 10.7908 14.375 10.625 14.375C10.2935 14.375 9.97554 14.2433 9.74112 14.0089C9.5067 13.7745 9.375 13.4565 9.375 13.125V10C9.20924 10 9.05027 9.93415 8.93306 9.81694C8.81585 9.69973 8.75 9.54076 8.75 9.375C8.75 9.20924 8.81585 9.05027 8.93306 8.93306C9.05027 8.81585 9.20924 8.75 9.375 8.75C9.70652 8.75 10.0245 8.8817 10.2589 9.11612C10.4933 9.35054 10.625 9.66848 10.625 10V13.125C10.7908 13.125 10.9497 13.1908 11.0669 13.3081C11.1842 13.4253 11.25 13.5842 11.25 13.75ZM8.75 6.5625C8.75 6.37708 8.80499 6.19582 8.908 6.04165C9.01101 5.88748 9.15743 5.76732 9.32874 5.69636C9.50004 5.62541 9.68854 5.60684 9.8704 5.64301C10.0523 5.67919 10.2193 5.76848 10.3504 5.89959C10.4815 6.0307 10.5708 6.19775 10.607 6.3796C10.6432 6.56146 10.6246 6.74996 10.5536 6.92127C10.4827 7.09257 10.3625 7.23899 10.2084 7.342C10.0542 7.44502 9.87292 7.5 9.6875 7.5C9.43886 7.5 9.20041 7.40123 9.02459 7.22541C8.84878 7.0496 8.75 6.81114 8.75 6.5625Z" fill="#AFBACA"/>
                                            </svg>
                                            p.shops__info-text Здесь будет подсказка
                                .shops__service-content 
                                    input(type="number", name="").shops__service-input
                            .shops__service-item 
                                .shops__service-head 
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    .shops__info
                                        p.shops__service-text Доставка в течении часа, +₽ 
                                        button(type="button").shops__info-btn
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 1.875C8.39303 1.875 6.82214 2.35152 5.486 3.24431C4.14985 4.1371 3.10844 5.40605 2.49348 6.8907C1.87852 8.37535 1.71762 10.009 2.03112 11.5851C2.34463 13.1612 3.11846 14.6089 4.25476 15.7452C5.39106 16.8815 6.8388 17.6554 8.4149 17.9689C9.99099 18.2824 11.6247 18.1215 13.1093 17.5065C14.594 16.8916 15.8629 15.8502 16.7557 14.514C17.6485 13.1779 18.125 11.607 18.125 10C18.1227 7.84581 17.266 5.78051 15.7427 4.25727C14.2195 2.73403 12.1542 1.87727 10 1.875ZM10 16.875C8.64026 16.875 7.31105 16.4718 6.18046 15.7164C5.04987 14.9609 4.16868 13.8872 3.64833 12.6309C3.12798 11.3747 2.99183 9.99237 3.2571 8.65875C3.52238 7.32513 4.17716 6.10013 5.13864 5.13864C6.10013 4.17716 7.32514 3.52237 8.65876 3.2571C9.99238 2.99183 11.3747 3.12798 12.631 3.64833C13.8872 4.16868 14.9609 5.04987 15.7164 6.18045C16.4718 7.31104 16.875 8.64025 16.875 10C16.8729 11.8227 16.1479 13.5702 14.8591 14.8591C13.5702 16.1479 11.8227 16.8729 10 16.875ZM11.25 13.75C11.25 13.9158 11.1842 14.0747 11.0669 14.1919C10.9497 14.3092 10.7908 14.375 10.625 14.375C10.2935 14.375 9.97554 14.2433 9.74112 14.0089C9.5067 13.7745 9.375 13.4565 9.375 13.125V10C9.20924 10 9.05027 9.93415 8.93306 9.81694C8.81585 9.69973 8.75 9.54076 8.75 9.375C8.75 9.20924 8.81585 9.05027 8.93306 8.93306C9.05027 8.81585 9.20924 8.75 9.375 8.75C9.70652 8.75 10.0245 8.8817 10.2589 9.11612C10.4933 9.35054 10.625 9.66848 10.625 10V13.125C10.7908 13.125 10.9497 13.1908 11.0669 13.3081C11.1842 13.4253 11.25 13.5842 11.25 13.75ZM8.75 6.5625C8.75 6.37708 8.80499 6.19582 8.908 6.04165C9.01101 5.88748 9.15743 5.76732 9.32874 5.69636C9.50004 5.62541 9.68854 5.60684 9.8704 5.64301C10.0523 5.67919 10.2193 5.76848 10.3504 5.89959C10.4815 6.0307 10.5708 6.19775 10.607 6.3796C10.6432 6.56146 10.6246 6.74996 10.5536 6.92127C10.4827 7.09257 10.3625 7.23899 10.2084 7.342C10.0542 7.44502 9.87292 7.5 9.6875 7.5C9.43886 7.5 9.20041 7.40123 9.02459 7.22541C8.84878 7.0496 8.75 6.81114 8.75 6.5625Z" fill="#AFBACA"/>
                                            </svg>
                                            p.shops__info-text Здесь будет подсказка
                                .shops__service-content 
                                    input(type="number", name="").shops__service-input
                        .shops__holiday 
                            .shops__content-top
                                h3.shops__content-title Праздники - 8 марта
                                p.shops__content-text Наценка действует 1- 10 марта, а условия доставки 7-8 марта
                            .shops__holiday-line
                                label(for="shops__holiday-markup").shops__holiday-label Наценка, % 
                                    input(type="number", name="markup").shops__holiday-input#shops__holiday-markup
                                label(for="shops__holiday-price").shops__holiday-label Стоимость заказа, ₽ 
                                    input(type="number", name="price").shops__holiday-input#shops__holiday-price
                            .shops__holiday-line
                                label(for="shops__holiday-radius").shops__holiday-label Радиус доставки за город, км
                                    input(type="number", name="radius").shops__holiday-input#shops__holiday-radius
                                label(for="shops__holiday-priceholiday").shops__holiday-label Стоимость за км. в праздники, ₽/км 
                                    input(type="number", name="priceholiday").shops__holiday-input#shops__holiday-priceholiday
                    .shops__btn
                        button(type="button").catalog.catalog__text Сохранить изменения
                .shops__wrapper(data-shops='time')
                    .shops__head 
                        h2.shops__head-title Часы работы
                        .shops__check
                            label.switch
                                input(type="checkbox", name="").switch__input
                                span.switch__slider.switch__round
                            p.shops__switch Работает
                    .shops__grid 
                        .shops__grid-head
                            h3.shops__grid-title Рабочие дни
                            p.shops__grid-text По умолчанию с 00:00 до 24:00, магазин работает круглостуточно.
                        .shops__grid-content  
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Понедельник
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Вторник
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Среда
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Четверг
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Пятница
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Суббота
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                            .shops__grid-item 
                                .shops__check
                                    label.switch
                                        input(type="checkbox", name="").switch__input
                                        span.switch__slider.switch__round
                                    p.shops__switch Воскресенье
                                .shops__grid-times
                                    input(type="time", name="" value="00:00").shops__grid-time
                                    p -
                                    input(type="time", name="" value="23:59").shops__grid-time
                                    button(type="button").shops__grid-btn
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                p.shops__grid-notimes.shops__grid-notimes-active Не работает
                    .shops__grid 
                        .shops__grid-head
                            h3.shops__grid-title Не рабочие дни
                            p.shops__grid-text Отметьте дни когда магазин не будет работать, чтобы не забыть закрыть.
                        .shops__grid-content  
                            .shops__grid-D
                            button(type="button").shops__grid-plus
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 12H18" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 18V6" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                p Добавить дату
                .shops__wrapper(data-shops='delivery')
                    .shops__head 
                        h2.shops__head-title Доставка
                .shops__wrapper(data-shops='delivery-outside')
                    .shops__head 
                        h2.shops__head-title Доставка за город
        .menu
            .menu__wrapper 
                button#menu-main.menu__item 
                    .menu__item-icon
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.375 12.0478C24.944 11.617 24.3595 11.375 23.7501 11.375C23.1407 11.375 22.5563 11.617 22.1252 12.0478C21.6942 12.4788 21.1095 12.7209 20.4999 12.7209C19.8903 12.7209 19.3057 12.4788 18.8746 12.0478C18.4436 11.617 17.8591 11.375 17.2498 11.375C16.6404 11.375 16.0559 11.617 15.6249 12.0478C15.4116 12.2613 15.1583 12.4306 14.8795 12.5462C14.6007 12.6618 14.3018 12.7212 14 12.7212C13.6982 12.7212 13.3993 12.6618 13.1205 12.5462C12.8417 12.4306 12.5884 12.2613 12.3751 12.0478C11.9441 11.617 11.3596 11.375 10.7503 11.375C10.1409 11.375 9.55641 11.617 9.12537 12.0478C8.6943 12.4788 8.10967 12.7209 7.50006 12.7209C6.89046 12.7209 6.30582 12.4788 5.87475 12.0478C5.44371 11.617 4.85926 11.375 4.24987 11.375C3.64049 11.375 3.05604 11.617 2.625 12.0478L12.25 21.8749H15.75L25.375 12.0478Z" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path d="M12.25 21.875L10.5 27.125H17.5L15.75 21.875" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path d="M7 3.5C6.30381 3.5 5.63613 3.77656 5.14384 4.26884C4.65156 4.76113 4.375 5.42881 4.375 6.125C4.375 6.82119 4.65156 7.48887 5.14384 7.98116C5.63613 8.47344 6.30381 8.75 7 8.75C7.45101 8.74678 7.8934 8.62615 8.28363 8.4" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path d="M21.0004 3.5C21.6966 3.5 22.3643 3.77656 22.8566 4.26884C23.3489 4.76113 23.6254 5.42881 23.6254 6.125C23.6254 6.82119 23.3489 7.48887 22.8566 7.98116C22.3643 8.47344 21.6966 8.75 21.0004 8.75C20.5494 8.74678 20.107 8.62615 19.7168 8.4" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path d="M13.4949 3.45265C14.8486 2.13675 16.6619 1.40037 18.5498 1.3999V4.8999C18.5498 6.06022 18.0889 7.17302 17.2684 7.99349C16.4479 8.81397 15.3351 9.2749 14.1748 9.2749C13.0145 9.2749 11.9017 8.81397 11.0812 7.99349C10.2607 7.17302 9.7998 6.06022 9.7998 4.8999V1.3999C10.3743 1.3999 10.9432 1.51307 11.474 1.73293C12.0048 1.95279 12.4871 2.27505 12.8934 2.68131C13.2997 3.08757 13.6219 3.56986 13.8418 4.10066C14.0616 4.63146 14.1748 5.20037 14.1748 5.7749" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10"/>
                        </svg>
                    p.menu__item-text Товары   
                button#menu-catalog.menu__item 
                    .menu__item-icon 
                        <svg width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.167 6.94457V9.7455C23.167 11.5742 22.1253 12.7316 20.4795 12.7316H16.917V4.64133C16.917 3.35661 17.8649 2.31494 19.0212 2.31494C20.1566 2.32652 21.1983 2.83577 21.9483 3.66911C22.6983 4.51402 23.167 5.67142 23.167 6.94457Z" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.33301 8.10198V24.3057C2.33301 25.2663 3.31215 25.8103 3.99965 25.2316L5.78092 23.7501C6.19759 23.4029 6.78093 23.4492 7.15593 23.8659L8.88507 25.7987C9.29132 26.2501 9.95803 26.2501 10.3643 25.7987L12.1143 23.8543C12.4789 23.4492 13.0622 23.4029 13.4684 23.7501L15.2497 25.2316C15.9372 25.7987 16.9163 25.2548 16.9163 24.3057V4.62976C16.9163 3.35661 17.8538 2.31494 18.9997 2.31494H7.54134H6.49967C3.37467 2.31494 2.33301 4.3867 2.33301 6.94457V8.10198Z" stroke="#727C8A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.5 10.4165H12.75" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.28125 15.0464H11.9687" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.menu__item-text Заказы
                button#menu-basket.menu__item
                    .menu__item-icon 
                        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.33398 25.2778V14.7778" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.667 14.7778V25.2778" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.7622 2.72217H7.23798C6.67953 2.72217 6.16309 3.02239 5.8862 3.50772L3.23242 8.16661C3.97131 9.77039 5.58131 10.8888 7.46353 10.8888C8.87598 10.8888 10.1266 10.2479 10.9822 9.25706C11.8378 10.2479 13.0884 10.8888 14.5009 10.8888C15.9133 10.8888 17.1624 10.2495 18.018 9.25861C18.8735 10.2495 20.1242 10.8888 21.5351 10.8888C23.4158 10.8888 25.0273 9.77039 25.7662 8.16661L23.1155 3.50772C22.8386 3.02239 22.3206 2.72217 21.7622 2.72217Z" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.7783 24.8889V20.2222C11.7783 18.7196 12.9979 17.5 14.5005 17.5C16.0032 17.5 17.2228 18.7196 17.2228 20.2222V24.8889" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.22266 25.2778H25.7782" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.menu__item-text Магазины
                button#menu-heart.menu__item
                    .menu__item-icon 
                        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.8427 2.24242L19.5402 9.73242L27.8077 10.9349C28.3502 11.0149 28.5677 11.6799 28.1752 12.0624L22.1927 17.8949L23.6052 26.1299C23.6977 26.6699 23.1302 27.0824 22.6452 26.8274L15.2502 22.9399L7.85517 26.8274C7.37017 27.0824 6.80267 26.6699 6.89517 26.1299L8.30767 17.8949L2.32517 12.0624C1.93267 11.6799 2.15017 11.0124 2.69267 10.9349L10.9602 9.73242L14.6577 2.24242C14.9002 1.74992 15.6002 1.74992 15.8427 2.24242Z" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.menu__item-text Рейтинг
                button#menu-profil.menu__item 
                    .menu__item-icon 
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.5 8.5555C3.5 5.85972 5.44289 3.5575 8.09978 3.10328L18.3073 1.36106C18.9824 1.24594 19.6544 1.58661 19.9609 2.1995L20.0433 2.36439" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.5 17.5002V20.6113C24.5 22.3302 23.1078 23.7224 21.3889 23.7224H6.61111C4.89222 23.7224 3.5 22.3302 3.5 20.6113V8.94461C3.5 7.22572 4.89222 5.8335 6.61111 5.8335H21.3889C23.1078 5.8335 24.5 7.22572 24.5 8.94461V12.0557" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.5 17.5001H20.2222C18.7196 17.5001 17.5 16.2806 17.5 14.7779C17.5 13.2737 18.7196 12.0557 20.2222 12.0557H24.5C25.3587 12.0557 26.0556 12.7526 26.0556 13.6112V15.9446C26.0556 16.8032 25.3587 17.5001 24.5 17.5001Z" stroke="#727C8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.menu__item-text Баланс
                        







            

