doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title BUCEDO
        link(rel="icon" type="image/x-icon" href="img/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/jquery-3.7.1.min.js" defer)
        script(src="js/jquery-ui.min.js" defer)
        script(src="js/jquery.ui.touch-punch.min.js" defer)
        script(src="js/test.js" type="module" defer)
    body 
        .container
            h1.title Доставка цветов в Санкт-Петербурге
            p.text Удобно ставить на стол. Можно поливать — внутри губка. Идеально для доставки на дом или работу.
            .search
                input.search__input#search-main(type="search", name="search" placeholder="Найти товары")
            button(type="button").btn.btn-primary#catalog
                svg(width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M5.44444 1H14M5.44444 6.33333H17M5.44444 11.6667H11.5M1 1H1.00889M1 6.33333H1.00889M1 11.6667H1.00889" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                p Каталог
            button(type="button").city 
                svg(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.1401 1.59323L1.44788 6.23101C0.913438 6.42656 0.928994 7.18767 1.47122 7.36212L7.2801 9.22101L9.13899 15.0299C9.31233 15.5721 10.0745 15.5877 10.2701 15.0532L14.9068 2.3599C15.0812 1.88212 14.6179 1.41878 14.1401 1.59323Z" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                p.city__text Санкт-Петербург
            .popup
                .popup__header
                    button(type="button").popup__close
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.5 1.5L9 9M9 9L16.5 16.5M9 9L16.5 1.5M9 9L1.5 16.5" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round")
                    button(type="button").glass 
                        svg(width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M24.9999 25L19.1999 19.2M22.3333 11.6667C22.3333 17.5577 17.5577 22.3333 11.6667 22.3333C5.77563 22.3333 1 17.5577 1 11.6667C1 5.77563 5.77563 1 11.6667 1C17.5577 1 22.3333 5.77563 22.3333 11.6667Z" stroke="#1C1C1D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                .popup__wrapper 
                    .composition
                        .popup__name 
                            h2.popup__name-title Каталог товаров
                        ul.popup__list 
                            li.popup__list-item
                                a(href="#").popup__list-link Букеты
                            li.popup__list-item
                                a(href="#").popup__list-link Цветы в коробке
                            li.popup__list-item
                                a(href="#").popup__list-link Корзины с цветами
                            li.popup__list-item
                                a(href="#").popup__list-link Букеты с фруктами
                            li.popup__list-item
                                a(href="#").popup__list-link Шляпные коробки
                            li.popup__list-item
                                a(href="#").popup__list-link Новогодние композиции
                            li.popup__list-item
                                a(href="#").popup__list-link Подарочные корзины
                            li.popup__list-item
                                a(href="#").popup__list-link Фруктовые корзины
                            li.popup__list-item 
                                a(href="#").popup__list-link Топперы
                            li.popup__list-item
                                a(href="#").popup__list-link Съедобные букеты
                            li.popup__list-item
                                a(href="#").popup__list-link Все подарки
                    .filters
                        .popup__name 
                            h2.popup__name-title.filters__name Каталог товаров
                        ul.popup__list 
                            li.popup__list-item.filters__item(data-choice='prices') По цене
                            li.popup__list-item.filters__item(data-choice='flowers') По цветам
                            li.popup__list-item.filters__item(data-choice='sizes') По размеру
                            li.popup__list-item.filters__item(data-choice='colors') По гамме
                    .contants
                        .popup__name 
                            h2.popup__name-title.contant__name Каталог товаров
                        .contant
                            .polzunok-container-3(data-contant='prices')
                                input(type="text").polzunok-input-3-left
                                input(type="text").polzunok-input-3-right
                                .polzunok-3
                            ul.contant__list(data-contant='flowers')
                            ul.contant__list(data-contant='sizes')
                            ul.contant__list(data-contant='colors')
            .header__bottom
                .working
                    svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M9 4.27783V9.00005L12.6111 11.5001" stroke="#AD2950" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M9 0.944824C13.4489 0.944824 17.0556 4.55149 17.0556 9.00038C17.0556 13.4493 13.4489 17.0559 9 17.0559" stroke="#AD2950" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M3.3033 15.5299C3.76354 15.5299 4.13664 15.1569 4.13664 14.6966C4.13664 14.2364 3.76354 13.8633 3.3033 13.8633C2.84307 13.8633 2.46997 14.2364 2.46997 14.6966C2.46997 15.1569 2.84307 15.5299 3.3033 15.5299Z" fill="#AD2950")
                        path(d="M0.944417 9.83366C1.40465 9.83366 1.77775 9.46056 1.77775 9.00033C1.77775 8.54009 1.40465 8.16699 0.944417 8.16699C0.48418 8.16699 0.111084 8.54009 0.111084 9.00033C0.111084 9.46056 0.48418 9.83366 0.944417 9.83366Z" fill="#AD2950")
                        path(d="M3.3033 4.13688C3.76354 4.13688 4.13664 3.76379 4.13664 3.30355C4.13664 2.84331 3.76354 2.47021 3.3033 2.47021C2.84307 2.47021 2.46997 2.84331 2.46997 3.30355C2.46997 3.76379 2.84307 4.13688 3.3033 4.13688Z" fill="#AD2950")
                        path(d="M5.91781 17.2756C6.37804 17.2756 6.75114 16.9025 6.75114 16.4422C6.75114 15.982 6.37804 15.6089 5.91781 15.6089C5.45757 15.6089 5.08447 15.982 5.08447 16.4422C5.08447 16.9025 5.45757 17.2756 5.91781 17.2756Z" fill="#AD2950")
                        path(d="M1.5577 12.9157C2.01794 12.9157 2.39103 12.5426 2.39103 12.0824C2.39103 11.6221 2.01794 11.249 1.5577 11.249C1.09746 11.249 0.724365 11.6221 0.724365 12.0824C0.724365 12.5426 1.09746 12.9157 1.5577 12.9157Z" fill="#AD2950")
                        path(d="M1.5577 6.75114C2.01794 6.75114 2.39103 6.37804 2.39103 5.91781C2.39103 5.45757 2.01794 5.08447 1.5577 5.08447C1.09746 5.08447 0.724365 5.45757 0.724365 5.91781C0.724365 6.37804 1.09746 6.75114 1.5577 6.75114Z" fill="#AD2950")
                        path(d="M5.91781 2.39128C6.37804 2.39128 6.75114 2.01818 6.75114 1.55794C6.75114 1.09771 6.37804 0.724609 5.91781 0.724609C5.45757 0.724609 5.08447 1.09771 5.08447 1.55794C5.08447 2.01818 5.45757 2.39128 5.91781 2.39128Z" fill="#AD2950")
                    .working__time 
                        p.working__time-text 
                        svg(width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.5 1.25L5.46967 5.51404C5.76256 5.82865 6.23744 5.82865 6.53033 5.51404L10.5 1.25" stroke="#AD2950" stroke-width="1.5" stroke-linecap="round")
                .choice 
                    .choice__wrapper 
                        h5.choice__title Укажите дату и время доставки
                        .choice__tabs 
                            .choice__tab.choice__tab-active
                                p.choice__days Сегодня
                                p.choice__number 
                            .choice__tab 
                                p.choice__days Завтра
                                p.choice__number 
                            .choice__tab 
                                p.choice__days 
                                p.choice__number 
                            .choice__tab 
                                p.choice__days 
                                p.choice__number 
                        .choice__select
                            p.choice__select-p Другая дата
                            svg(width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L4.5286 4.79026C4.78894 5.06991 5.21106 5.06991 5.4714 4.79026L9 1" stroke="#1C1C1D" stroke-linecap="round")
                        ul.choice__options 
                            li.choice__option.choice__option-active 
                            li.choice__option 
                            li.choice__option 
                            li.choice__option 
                            li.choice__option 
                            li.choice__option 
                            li.choice__option 
                            li.choice__option 
                        .choice__time 
                            .choice__time-select
                                p.choice__time-text 10:00 - 11:00
                                svg(width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 1L4.5286 4.79026C4.78894 5.06991 5.21106 5.06991 5.4714 4.79026L9 1" stroke="#1C1C1D" stroke-linecap="round")
                            ul.choice__time-options 
                                li.choice__time-option 11:00 - 12:00
                                li.choice__time-option 12:00 - 13:00
                                li.choice__time-option 13:00 - 14:00
                                li.choice__time-option 14:00 - 15:00
                                li.choice__time-option 15:00 - 16:00
                                li.choice__time-option 16:00 - 17:00
                                li.choice__time-option 17:00 - 18:00
                                li.choice__time-option 18:00 - 19:00
                                li.choice__time-option 19:00 - 20:00
                                li.choice__time-option 20:00 - 21:00
                            p.choice__local Время Местное
                        .check.choice__checkrecipient
                            input.check__input#checkrecipient(type="checkbox", name="checkrecipient")
                            label.check__label(for="checkrecipient")
                                .check__check 
                                p.check__text Уточнить у получателя
                        button(type="button").choice__btn.btn.btn-primary Применить
            .check.choice__checkrecipient
                input.check__input#checkrecipient2(type="checkbox", name="checkrecipient")
                label.check__label(for="checkrecipient2")
                    .check__check 
                    p.check__text Уточнить у получателя
            input(type="text" placeholder="Укажите адрес доставки").input
            button(type="button").btn.btn-icon
                svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M6.5 1.5L1.12716 6.87164C1.04239 6.95495 1 7.06414 1 7.17333M6.5 12.5L1.12716 7.47503C1.04239 7.39172 1 7.28253 1 7.17333M1 7.17333H17" stroke="#1C1C1D" stroke-width="2" stroke-linecap="round")
            button(type="button").btn.btn-icon
                svg(width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M11.5 1.5L16.8728 6.87164C16.9576 6.95495 17 7.06414 17 7.17333M11.5 12.5L16.8728 7.47503C16.9576 7.39172 17 7.28253 17 7.17333M17 7.17333H1" stroke="#1C1C1D" stroke-width="2" stroke-linecap="round")
            button(type="button").btn.btn-by.btn-by-full Купить
                button(type="button").btn.btn-by.btn-by-small
                    svg(width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg")  
                        path(d="M1.8335 1.03345H4.14073C5.11433 1.03345 5.95388 1.71764 6.15038 2.6712L8.34746 13.3331C8.60945 14.6045 9.72886 15.5168 11.027 15.5168H19.2706C20.5342 15.5168 21.6335 14.6513 21.93 13.423L23.1086 8.5411C23.4202 7.25014 22.442 6.00769 21.114 6.00769H6.80774M10.7871 20.9304C10.7871 21.4799 10.3417 21.9253 9.79229 21.9253C9.24285 21.9253 8.79744 21.4799 8.79744 20.9304C8.79744 20.381 9.24285 19.9356 9.79229 19.9356C10.3417 19.9356 10.7871 20.381 10.7871 20.9304ZM21.7305 20.9304C21.7305 21.4799 21.2851 21.9253 20.7356 21.9253C20.1862 21.9253 19.7408 21.4799 19.7408 20.9304C19.7408 20.381 20.1862 19.9356 20.7356 19.9356C21.2851 19.9356 21.7305 20.381 21.7305 20.9304Z" stroke="#AD2950" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            button(type="button").btn.btn-heart
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.294 21.7679C11.74 21.9999 12.26 21.9999 12.706 21.7679C15.062 20.5399 22.5 16.0859 22.5 8.84591C22.512 5.66591 19.944 3.07591 16.76 3.05591C14.844 3.07991 13.064 4.04591 12 5.63591C10.934 4.04591 9.15404 3.07991 7.24004 3.05591C4.05604 3.07591 1.48804 5.66391 1.50004 8.84591C1.50004 16.0859 8.94004 20.5379 11.294 21.7679Z"/>
                </svg>
            a(href="").btn.btn-secondary.btn-margin
                p Больше цветов
                svg(width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0.5 13L6.18539 7.70711C6.60487 7.31658 6.60487 6.68342 6.18539 6.29289L0.500002 1" stroke="#AD2950" stroke-linecap="round")
            
            form.data__form
                .ial
                    input(type="text" required).ial__input#data-name
                    label(for="data-name").ial__label Имя
                    p.ial__error Имя сликом короткое
                .ial
                    input(type="text").ial__input#data-email
                    label(for="data-email").ial__label Ваш Email
                    p.ial__error Email введён не верно
                    p.ial__text Необязательно, на него мы будем отправлять электронный чек
                .ial
                    input(type="password" placeholder="")#password-first.ial__input
                    label(for="password-first").ial__label Новый пароль
                    p.ial__error Пароль должен быть более 5 символов
                    .ial__show
                .ial
                    input(type="password" placeholder="")#password-second.ial__input
                    label(for="password-second  ").ial__label Новый пароль еще раз
                    .ial__show
                    p.ial__error Пароли не совпадают
                .data__btn 
                    button(type="submit" disabled).data__btn-btn Сохранить
            .modal.modal-city
                .modal-city__wrapper
                    .modal-city__title Выберите город доставки
                    .search 
                        input.search__input#search-city(type="search", name="search" placeholder="Введите название населенного пункта")
                    ul.modal-city__list
                    a(href="").btn.btn-secondary.btn-margin
                        p Больше городов
                        svg(width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.5 13L6.18539 7.70711C6.60487 7.31658 6.60487 6.68342 6.18539 6.29289L0.500002 1" stroke="#AD2950" stroke-linecap="round")
                    button(type="button").modal-city__close.modal__close 
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1.5 1.5L9 9M9 9L16.5 16.5M9 9L16.5 1.5M9 9L1.5 16.5" stroke="#1C1C1D" stroke-width="1.5" stroke-linecap="round")