doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JOB AI
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="js/landing.js" defer) 
    body 
        main
            .hiro
                .hiro__bg 
                    .hiro__bg-circle
                    .hiro__bg-left  
                    .hiro__bg-right
                    img(src="images/landing/earth.png", alt="alt").hiro__bg-earth
                    .hiro__bg-white 
                .hiro__content 
                    .logo 
                        img(src="images/logo.png", alt="logo")
                    .hiro__main 
                        .hiro__main-top
                            h1.hiro__title Джобборд для подбора сотрудников и поиска работы
                            a(href="").link-medium Видео
                        .hiro__main-bottom 
                            .hiro__item 
                                button(type="button").hiro__btn.btn.btn_primary Найти сотрудника
                                a(href="").link-medium Как пользоваться?
                            .hiro__item 
                                button(type="button").hiro__btn.btn.btn_secondary Найти работу
                                a(href="").link-medium Как пользоваться?
                .coming-soon 
                    img(src="images/coming_soon.png", alt="comin soon")
                .mirax
                .language
                    .language__view
                    .language__dropdawn
                        .language__dropdawn-option.language__dropdawn-option1
                        .language__dropdawn-option.language__dropdawn-option2
                .hiro__footer
                    .hiro__nav
                        nav.nav 
                            ul.nav__list
                                li.nav__item
                                    a(hraf="").nav__link Контакты
                                li.nav__item
                                    a(hraf="").nav__link О&nbsp;компании
                                li.nav__item
                                    a(hraf="").nav__link Требования&nbsp;к&nbsp;ПО
                                li.nav__item
                                    a(hraf="").nav__link Правовые документы
                                li.nav__item
                                    a(hraf="").nav__link Условия предоставления&nbsp;услуг
                                li.nav__item
                                    a(hraf="").nav__link Политика&nbsp;обработки персональных&nbsp;данных
                        .hiro__arrow 
                    .hiro__sk 
                .arrow
        .menu 
            nav.nav 
                ul.nav__list
                    li.nav__item
                        a(hraf="").nav__link Контакты
                    li.nav__item
                        a(hraf="").nav__link О&nbsp;компании
                    li.nav__item
                        a(hraf="").nav__link Требования&nbsp;к&nbsp;ПО
                    li.nav__item
                        a(hraf="").nav__link Правовые документы
                    li.nav__item
                        a(hraf="").nav__link Условия предоставления&nbsp;услуг
                    li.nav__item
                        a(hraf="").nav__link Политика&nbsp;обработки персональных&nbsp;данных
                
                