doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Log
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/log.css")
        script(src="js/log.js", defer) 
    body    
        .hiro
            .container
                .login#login
                    .logo 
                        p.logo__job JOB 
                        p.logo__job.logo__job-white AI 
                        .logo__r 
                            p.logo__r-text R
                    .block.block_search
                        h2.block__title Ищу
                        label(for='role').switch
                            input(type="checkbox", name="role").switch__input#role
                            span.switch__slider
                            .switch__points
                                .switch__point.switch__point-left Работу
                                .switch__point.switch__point-right Сотрудника
                    .block 
                        .radio
                            input#registraciya(type="radio", name="log" checked).radio__input
                            label(for='registraciya').radio__label Регистрация
                        .radio
                            input#avtorizaciya(type="radio", name="log").radio__input
                            label(for='avtorizaciya').radio__label Авторизация
                        
                        button(type="button").neumorphic.neumorphic-button.reg.login__btn Дальше
            .footer
                button(type="button").video.neumorphic.neumorphic-button
                    p.video__text Видео 
                    .video__icon
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_6320_7583)">
                            <path d="M14.75 28.5C17.4695 28.5 20.1279 27.6936 22.3891 26.1827C24.6503 24.6718 26.4126 22.5244 27.4533 20.0119C28.494 17.4994 28.7663 14.7348 28.2358 12.0675C27.7053 9.40028 26.3957 6.95026 24.4727 5.02729C22.5497 3.10432 20.0997 1.79476 17.4325 1.26421C14.7653 0.733662 12.0006 1.00596 9.4881 2.04666C6.97562 3.08737 4.82816 4.84974 3.31729 7.11091C1.80642 9.37209 1 12.0305 1 14.75C1.00421 18.3954 2.45422 21.8904 5.03193 24.4681C7.60964 27.0458 11.1046 28.4958 14.75 28.5ZM14.75 2.50001C17.1728 2.50001 19.5412 3.21846 21.5557 4.5645C23.5702 5.91055 25.1404 7.82374 26.0675 10.0621C26.9947 12.3005 27.2373 14.7636 26.7646 17.1399C26.2919 19.5161 25.1253 21.6989 23.4121 23.4121C21.6989 25.1253 19.5161 26.292 17.1399 26.7646C14.7636 27.2373 12.3005 26.9947 10.0621 26.0675C7.82373 25.1404 5.91054 23.5702 4.5645 21.5557C3.21845 19.5412 2.5 17.1728 2.5 14.75C2.5036 11.5022 3.79538 8.38846 6.09192 6.09192C8.38846 3.79538 11.5022 2.50361 14.75 2.50001Z" fill="white"/>
                            </g>
                            <g filter="url(#filter1_d_6320_7583)">
                            <path d="M11.1016 20.1313C11.4379 20.3288 11.8195 20.4362 12.2094 20.4432C12.5993 20.4502 12.9845 20.3566 13.3276 20.1713L19.6953 16.6982C20.0501 16.5046 20.3461 16.219 20.5523 15.8715C20.7586 15.524 20.8674 15.1273 20.8674 14.7232C20.8674 14.3191 20.7586 13.9224 20.5523 13.5749C20.3461 13.2274 20.0501 12.9418 19.6953 12.7482L13.3281 9.27511C12.9855 9.08805 12.6 8.99336 12.2097 9.00036C11.8193 9.00736 11.4376 9.1158 11.1018 9.31503C10.7661 9.51426 10.488 9.79741 10.2948 10.1367C10.1016 10.4759 10 10.8596 10 11.25V18.1962C9.99806 18.587 10.0988 18.9714 10.2921 19.311C10.4854 19.6506 10.7646 19.9335 11.1016 20.1313ZM11.5 11.25C11.4987 11.1196 11.532 10.9913 11.5965 10.878C11.661 10.7647 11.7544 10.6705 11.8671 10.605C11.9791 10.5386 12.1063 10.5024 12.2365 10.5C12.3666 10.4976 12.4951 10.5291 12.6094 10.5913L18.9766 14.0644C19.0951 14.1289 19.1939 14.2241 19.2628 14.34C19.3316 14.4559 19.368 14.5883 19.368 14.7231C19.368 14.8579 19.3316 14.9903 19.2628 15.1062C19.1939 15.2221 19.0951 15.3173 18.9766 15.3818L12.6089 18.8549C12.4947 18.9172 12.3662 18.9486 12.2361 18.9462C12.1061 18.9438 11.9789 18.9076 11.867 18.8412C11.7551 18.7747 11.6625 18.6803 11.5982 18.5673C11.5338 18.4542 11.5 18.3263 11.5 18.1962V11.25Z" fill="white"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_6320_7583" x="0" y="0" width="37.5" height="37.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="4" dy="4"/>
                            <feGaussianBlur stdDeviation="2.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6320_7583"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6320_7583" result="shape"/>
                            </filter>
                            <filter id="filter1_d_6320_7583" x="9" y="8" width="20.8672" height="21.4434" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="4" dy="4"/>
                            <feGaussianBlur stdDeviation="2.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6320_7583"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6320_7583" result="shape"/>
                            </filter>
                            </defs>
                        </svg>
                .nav
                    a(href="").nav__link Связаться с&nbsp;нами
                    a(href="").nav__link О&nbsp;компании
                    a(href="").nav__link Тарифы
                    a(href="").nav__link Новости
                    a(href="").nav__link Условия предоставления&nbsp;услуг
                    a(href="").nav__link Политика&nbsp;обработки персональных&nbsp;данных
                .arrow
                    a(href='#menu').arrow-menu
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 27C21.6274 27 27 21.6274 27 15C27 8.37258 21.6274 3 15 3C8.37258 3 3 8.37258 3 15C3 21.6274 8.37258 27 15 27ZM16.5 10.5C16.5 9.67157 15.8284 9 15 9C14.1716 9 13.5 9.67157 13.5 10.5L13.5 15.8787L11.5607 13.9393C10.9749 13.3536 10.0251 13.3536 9.43934 13.9393C8.85355 14.5251 8.85355 15.4749 9.43934 16.0607L13.9393 20.5607C14.5251 21.1464 15.4749 21.1464 16.0607 20.5607L20.5607 16.0607C21.1464 15.4749 21.1464 14.5251 20.5607 13.9393C19.9749 13.3536 19.0251 13.3536 18.4393 13.9393L16.5 15.8787V10.5Z" fill="#6A6A73"/>
                            </svg>
                    a(href='#login').arrow-login
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 3C8.37259 3 3.00001 8.37258 3 15C3 21.6274 8.37259 27 15 27C21.6274 27 27 21.6274 27 15C27 8.37258 21.6274 3 15 3ZM13.5 19.5C13.5 20.3284 14.1716 21 15 21C15.8284 21 16.5 20.3284 16.5 19.5L16.5 14.1213L18.4393 16.0607C19.0251 16.6464 19.9749 16.6464 20.5607 16.0607C21.1464 15.4749 21.1464 14.5251 20.5607 13.9393L16.0607 9.43934C15.4749 8.85355 14.5251 8.85355 13.9393 9.43934L9.43934 13.9393C8.85356 14.5251 8.85356 15.4749 9.43934 16.0607C10.0251 16.6464 10.9749 16.6464 11.5607 16.0607L13.5 14.1213L13.5 19.5Z" fill="#6A6A73"/>
                        </svg>
            .popup.popup_left
                .popup__wrapper.neumorphic
                    .popup__icon
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5 9C19.5 11.4853 17.4853 13.5 15 13.5C12.5147 13.5 10.5 11.4853 10.5 9C10.5 6.51472 12.5147 4.5 15 4.5C17.4853 4.5 19.5 6.51472 19.5 9Z" fill="#6A6A73"/>
                            <path d="M27 12C27 13.6569 25.6568 15 24 15C22.3431 15 21 13.6569 21 12C21 10.3431 22.3431 9 24 9C25.6568 9 27 10.3431 27 12Z" fill="#6A6A73"/>
                            <path d="M21 22.5C21 19.1863 18.3137 16.5 15 16.5C11.6863 16.5 8.99999 19.1863 8.99999 22.5V27H21V22.5Z" fill="#6A6A73"/>
                            <path d="M8.99999 12C8.99999 13.6569 7.65685 15 6 15C4.34314 15 3 13.6569 3 12C3 10.3431 4.34314 9 6 9C7.65685 9 8.99999 10.3431 8.99999 12Z" fill="#6A6A73"/>
                            <path d="M24 27V22.5C24 20.9188 23.5922 19.4328 22.8761 18.1415C23.2353 18.0491 23.6119 18 24 18C26.4853 18 28.5 20.0147 28.5 22.5V27H24Z" fill="#6A6A73"/>
                            <path d="M7.12389 18.1415C6.40777 19.4328 6 20.9188 6 22.5V27H1.5V22.5C1.5 20.0147 3.51472 18 6 18C6.38806 18 6.76465 18.0491 7.12389 18.1415Z" fill="#6A6A73"/>
                        </svg>
                    .popup__top 
                        h2 Заказать запись кандидатов
                    .popup__info
                        p.popup__info-text Вы можете оставить заявку на запись видеособеседований с кандидатами по конкретным должностям или специальностям
                        button(type="button").popup__btn.neumorphic.neumorphic-button Заказать
                        a(href='').popup__link Как это работает?
            .popup.popup_right
                .popup__wrapper.neumorphic
                    .popup__icon
                        button(type="button")
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 9C3 7.34315 4.34315 6 6 6H15C16.6569 6 18 7.34315 18 9V21C18 22.6569 16.6569 24 15 24H6C4.34315 24 3 22.6569 3 21V9Z" fill="#6A6A73"/>
                                <path d="M21.8292 10.6584C21.321 10.9124 21 11.4318 21 12V18C21 18.5682 21.321 19.0876 21.8292 19.3416L24.8292 20.8416C25.2942 21.0741 25.8464 21.0493 26.2886 20.776C26.7308 20.5027 27 20.0199 27 19.5V10.5C27 9.98014 26.7308 9.49734 26.2886 9.22403C25.8464 8.95072 25.2942 8.92587 24.8292 9.15836L21.8292 10.6584Z" fill="#6A6A73"/>
                            </svg>
                    .popup__top.popup__top-2line
                        h2 Записаться на бесплатное<br>видеособеседование
                    .popup__info
                        p.popup__info-text Вы можете записатья на бесплатное видеособеседование<br>С вами свяжутся и назначат удобную дату и время
                        button(type="button").popup__btn.neumorphic.neumorphic-button Записаться
                        a(href='').popup__link Как это работает?
            .language
                .language__view
                .language__dropdawn
                    .language__dropdawn-option.language__dropdawn-option1
                    .language__dropdawn-option.language__dropdawn-option2 
            .rights
                p.rights__text © 2025 
                p.rights__text ООО «Май нью джоб Девелопмент Компани»
            .mirax
                img(src="images/mirax.png", alt="alt")
        .menu#menu
            .container
                .block.neumorphic
                    button(type="button").menu__link.neumorphic.neumorphic-button Связаться с нами
                    button(type="button").menu__link.neumorphic.neumorphic-button О компании
                    button(type="button").menu__link.neumorphic.neumorphic-button Тарифы
                    button(type="button").menu__link.neumorphic.neumorphic-button Новости
                    button(type="button").menu__link.neumorphic.neumorphic-button Условия предоставления услуг
                    button(type="button").menu__link.neumorphic.neumorphic-button Персональные данные
                    .menu__block 
                        .menu__language
                            .language__view
                            .language__dropdawn
                                .language__dropdawn-option.language__dropdawn-option1
                                .language__dropdawn-option.language__dropdawn-option2 
                        .menu__rights
                            p.menu__rights-text © 2025&emsp;ООО «Май нью джоб Девелопмент Компани»
                button(type="button").menu__video.neumorphic.neumorphic-button
                    p.video__text Видео 
                    .video__icon
                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_6320_7583)">
                            <path d="M14.75 28.5C17.4695 28.5 20.1279 27.6936 22.3891 26.1827C24.6503 24.6718 26.4126 22.5244 27.4533 20.0119C28.494 17.4994 28.7663 14.7348 28.2358 12.0675C27.7053 9.40028 26.3957 6.95026 24.4727 5.02729C22.5497 3.10432 20.0997 1.79476 17.4325 1.26421C14.7653 0.733662 12.0006 1.00596 9.4881 2.04666C6.97562 3.08737 4.82816 4.84974 3.31729 7.11091C1.80642 9.37209 1 12.0305 1 14.75C1.00421 18.3954 2.45422 21.8904 5.03193 24.4681C7.60964 27.0458 11.1046 28.4958 14.75 28.5ZM14.75 2.50001C17.1728 2.50001 19.5412 3.21846 21.5557 4.5645C23.5702 5.91055 25.1404 7.82374 26.0675 10.0621C26.9947 12.3005 27.2373 14.7636 26.7646 17.1399C26.2919 19.5161 25.1253 21.6989 23.4121 23.4121C21.6989 25.1253 19.5161 26.292 17.1399 26.7646C14.7636 27.2373 12.3005 26.9947 10.0621 26.0675C7.82373 25.1404 5.91054 23.5702 4.5645 21.5557C3.21845 19.5412 2.5 17.1728 2.5 14.75C2.5036 11.5022 3.79538 8.38846 6.09192 6.09192C8.38846 3.79538 11.5022 2.50361 14.75 2.50001Z" fill="white"/>
                            </g>
                            <g filter="url(#filter1_d_6320_7583)">
                            <path d="M11.1016 20.1313C11.4379 20.3288 11.8195 20.4362 12.2094 20.4432C12.5993 20.4502 12.9845 20.3566 13.3276 20.1713L19.6953 16.6982C20.0501 16.5046 20.3461 16.219 20.5523 15.8715C20.7586 15.524 20.8674 15.1273 20.8674 14.7232C20.8674 14.3191 20.7586 13.9224 20.5523 13.5749C20.3461 13.2274 20.0501 12.9418 19.6953 12.7482L13.3281 9.27511C12.9855 9.08805 12.6 8.99336 12.2097 9.00036C11.8193 9.00736 11.4376 9.1158 11.1018 9.31503C10.7661 9.51426 10.488 9.79741 10.2948 10.1367C10.1016 10.4759 10 10.8596 10 11.25V18.1962C9.99806 18.587 10.0988 18.9714 10.2921 19.311C10.4854 19.6506 10.7646 19.9335 11.1016 20.1313ZM11.5 11.25C11.4987 11.1196 11.532 10.9913 11.5965 10.878C11.661 10.7647 11.7544 10.6705 11.8671 10.605C11.9791 10.5386 12.1063 10.5024 12.2365 10.5C12.3666 10.4976 12.4951 10.5291 12.6094 10.5913L18.9766 14.0644C19.0951 14.1289 19.1939 14.2241 19.2628 14.34C19.3316 14.4559 19.368 14.5883 19.368 14.7231C19.368 14.8579 19.3316 14.9903 19.2628 15.1062C19.1939 15.2221 19.0951 15.3173 18.9766 15.3818L12.6089 18.8549C12.4947 18.9172 12.3662 18.9486 12.2361 18.9462C12.1061 18.9438 11.9789 18.9076 11.867 18.8412C11.7551 18.7747 11.6625 18.6803 11.5982 18.5673C11.5338 18.4542 11.5 18.3263 11.5 18.1962V11.25Z" fill="white"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_6320_7583" x="0" y="0" width="37.5" height="37.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="4" dy="4"/>
                            <feGaussianBlur stdDeviation="2.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6320_7583"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6320_7583" result="shape"/>
                            </filter>
                            <filter id="filter1_d_6320_7583" x="9" y="8" width="20.8672" height="21.4434" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="4" dy="4"/>
                            <feGaussianBlur stdDeviation="2.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 0 0.117647 0 0 0 1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6320_7583"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6320_7583" result="shape"/>
                            </filter>
                            </defs>
                        </svg>
        