doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SingIn
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/log.css")
        script(src="js/log.js", defer) 
    body    
        .hiro
            .container
                .login#login
                    .logo 
                        p.logo__job JOB 
                        p.logo__job.logo__job-white AI 
                    a(href='').video 
                        p.video__text Видео 
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 27.75C16.7195 27.75 19.3779 26.9436 21.6391 25.4327C23.9003 23.9218 25.6626 21.7744 26.7033 19.2619C27.744 16.7494 28.0163 13.9848 27.4858 11.3175C26.9553 8.65028 25.6457 6.20026 23.7227 4.27729C21.7997 2.35432 19.3497 1.04476 16.6825 0.514208C14.0153 -0.0163383 11.2506 0.255958 8.7381 1.29666C6.22562 2.33737 4.07816 4.09974 2.56729 6.36091C1.05642 8.62209 0.25 11.2805 0.25 14C0.254208 17.6454 1.70422 21.1404 4.28193 23.7181C6.85964 26.2958 10.3546 27.7458 14 27.75ZM14 1.75001C16.4228 1.75001 18.7912 2.46846 20.8057 3.8145C22.8202 5.16055 24.3904 7.07374 25.3175 9.31213C26.2447 11.5505 26.4873 14.0136 26.0146 16.3899C25.5419 18.7661 24.3753 20.9489 22.6621 22.6621C20.9489 24.3753 18.7661 25.542 16.3899 26.0146C14.0136 26.4873 11.5505 26.2447 9.31213 25.3175C7.07373 24.3904 5.16054 22.8202 3.8145 20.8057C2.46845 18.7912 1.75 16.4228 1.75 14C1.7536 10.7522 3.04538 7.63846 5.34192 5.34192C7.63846 3.04538 10.7522 1.75361 14 1.75001Z" fill="#5A6A82"/>
                            <path d="M10.3516 19.4087C10.6879 19.6061 11.0695 19.7136 11.4594 19.7206C11.8493 19.7276 12.2345 19.6339 12.5776 19.4487L18.9453 15.9756C19.3001 15.782 19.5961 15.4964 19.8023 15.1489C20.0086 14.8013 20.1174 14.4047 20.1174 14.0006C20.1174 13.5964 20.0086 13.1998 19.8023 12.8522C19.5961 12.5047 19.3001 12.2192 18.9453 12.0256L12.5781 8.55245C12.2355 8.36539 11.85 8.27071 11.4597 8.27771C11.0693 8.28471 10.6876 8.39315 10.3518 8.59237C10.0161 8.7916 9.73795 9.07476 9.54478 9.41401C9.35161 9.75327 9.25003 10.137 9.25003 10.5274V17.4736C9.24806 17.8643 9.34878 18.2488 9.54211 18.5884C9.73544 18.928 10.0146 19.2109 10.3516 19.4087ZM10.75 10.5274C10.7487 10.397 10.782 10.2686 10.8465 10.1553C10.911 10.042 11.0044 9.94782 11.1171 9.88235C11.2291 9.81592 11.3563 9.77973 11.4865 9.77733C11.6166 9.77493 11.7451 9.8064 11.8594 9.86865L18.2266 13.3418C18.3451 13.4062 18.4439 13.5014 18.5128 13.6174C18.5816 13.7333 18.618 13.8656 18.618 14.0005C18.618 14.1353 18.5816 14.2676 18.5128 14.3836C18.4439 14.4995 18.3451 14.5947 18.2266 14.6592L11.8589 18.1323C11.7447 18.1945 11.6162 18.226 11.4861 18.2236C11.3561 18.2212 11.2289 18.185 11.117 18.1185C11.0051 18.0521 10.9125 17.9577 10.8482 17.8446C10.7838 17.7315 10.75 17.6037 10.75 17.4736V10.5274Z" fill="#5A6A82"/>
                        </svg>
                    .block
                        .radio
                            input#role-rabotodatel(type="radio", name="role" checked).radio__input
                            label(for='role-rabotodatel').radio__label Найти сотрудника
                        .radio
                            input#role-kandidat(type="radio", name="role").radio__input
                            label(for='role-kandidat').radio__label Найти работу
                    .block 
                        a(href="").neumorphic.neumorphic-button.reg Регистрация
                        a(href="").neumorphic.neumorphic-button.reg Авторизация
            .footer
                .nav
                    a(href="").nav__link Связаться с нами
                    a(href="").nav__link О компании
                    a(href="").nav__link Тарифы
                    a(href="").nav__link Новости
                    a(href="").nav__link Условия предоставления услуг
                    a(href="").nav__link Персональные данные
                a(href='#menu').arrow-menu
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 27C21.6274 27 27 21.6274 27 15C27 8.37258 21.6274 3 15 3C8.37258 3 3 8.37258 3 15C3 21.6274 8.37258 27 15 27ZM16.5 10.5C16.5 9.67157 15.8284 9 15 9C14.1716 9 13.5 9.67157 13.5 10.5L13.5 15.8787L11.5607 13.9393C10.9749 13.3536 10.0251 13.3536 9.43934 13.9393C8.85355 14.5251 8.85355 15.4749 9.43934 16.0607L13.9393 20.5607C14.5251 21.1464 15.4749 21.1464 16.0607 20.5607L20.5607 16.0607C21.1464 15.4749 21.1464 14.5251 20.5607 13.9393C19.9749 13.3536 19.0251 13.3536 18.4393 13.9393L16.5 15.8787V10.5Z" fill="#6A6A73"/>
                        </svg>
                a(href='#login').arrow-login
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 3C8.37259 3 3.00001 8.37258 3 15C3 21.6274 8.37259 27 15 27C21.6274 27 27 21.6274 27 15C27 8.37258 21.6274 3 15 3ZM13.5 19.5C13.5 20.3284 14.1716 21 15 21C15.8284 21 16.5 20.3284 16.5 19.5L16.5 14.1213L18.4393 16.0607C19.0251 16.6464 19.9749 16.6464 20.5607 16.0607C21.1464 15.4749 21.1464 14.5251 20.5607 13.9393L16.0607 9.43934C15.4749 8.85355 14.5251 8.85355 13.9393 9.43934L9.43934 13.9393C8.85356 14.5251 8.85356 15.4749 9.43934 16.0607C10.0251 16.6464 10.9749 16.6464 11.5607 16.0607L13.5 14.1213L13.5 19.5Z" fill="#6A6A73"/>
                    </svg>
            .popup.popup_left 
                .popup__wrapper.neumorphic
                    .popup__icon
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5 9C19.5 11.4853 17.4853 13.5 15 13.5C12.5147 13.5 10.5 11.4853 10.5 9C10.5 6.51472 12.5147 4.5 15 4.5C17.4853 4.5 19.5 6.51472 19.5 9Z" fill="#6A6A73"/>
                            <path d="M27 12C27 13.6569 25.6568 15 24 15C22.3431 15 21 13.6569 21 12C21 10.3431 22.3431 9 24 9C25.6568 9 27 10.3431 27 12Z" fill="#6A6A73"/>
                            <path d="M21 22.5C21 19.1863 18.3137 16.5 15 16.5C11.6863 16.5 8.99999 19.1863 8.99999 22.5V27H21V22.5Z" fill="#6A6A73"/>
                            <path d="M8.99999 12C8.99999 13.6569 7.65685 15 6 15C4.34314 15 3 13.6569 3 12C3 10.3431 4.34314 9 6 9C7.65685 9 8.99999 10.3431 8.99999 12Z" fill="#6A6A73"/>
                            <path d="M24 27V22.5C24 20.9188 23.5922 19.4328 22.8761 18.1415C23.2353 18.0491 23.6119 18 24 18C26.4853 18 28.5 20.0147 28.5 22.5V27H24Z" fill="#6A6A73"/>
                            <path d="M7.12389 18.1415C6.40777 19.4328 6 20.9188 6 22.5V27H1.5V22.5C1.5 20.0147 3.51472 18 6 18C6.38806 18 6.76465 18.0491 7.12389 18.1415Z" fill="#6A6A73"/>
                        </svg>
                    .popup__top 
                        h2 Заказать запись кандидатов
                    .popup__info
                        p.popup__info-text Вы можете оставить заявку на запись видеособеседований с кандидатами по конкретным должностям или специальностям
                        button(type="button").popup__btn.neumorphic.neumorphic-button Заказать
                        a(href='').popup__link Как это работает?
            .popup.popup_right
                .popup__wrapper.neumorphic
                    .popup__icon
                        button(type="button")
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 9C3 7.34315 4.34315 6 6 6H15C16.6569 6 18 7.34315 18 9V21C18 22.6569 16.6569 24 15 24H6C4.34315 24 3 22.6569 3 21V9Z" fill="#6A6A73"/>
                                <path d="M21.8292 10.6584C21.321 10.9124 21 11.4318 21 12V18C21 18.5682 21.321 19.0876 21.8292 19.3416L24.8292 20.8416C25.2942 21.0741 25.8464 21.0493 26.2886 20.776C26.7308 20.5027 27 20.0199 27 19.5V10.5C27 9.98014 26.7308 9.49734 26.2886 9.22403C25.8464 8.95072 25.2942 8.92587 24.8292 9.15836L21.8292 10.6584Z" fill="#6A6A73"/>
                            </svg>
                    .popup__top 
                        h2 Записаться на бесплатное<br>видеособеседование
                    .popup__info
                        p.popup__info-text Вы можете записатья на бесплатное видеособеседование<br>С вами свяжутся и назначат удобную дату и время
                        button(type="button").popup__btn.neumorphic.neumorphic-button Записаться
                        a(href='').popup__link Как это работает?
            .language
                .language__view
                .language__dropdawn
                    .language__dropdawn-option.language__dropdawn-option1
                    .language__dropdawn-option.language__dropdawn-option2 
            .mirax
                img(src="images/mirax.png", alt="alt")
                .rights
                    p.rights__text © 2025 
                    p.rights__text ООО «МИРАКС Рекрутмент» 
        .menu#menu
            .container
                .block.neumorphic
                    a(href="").menu__link.neumorphic.neumorphic-button Связаться с нами
                    a(href="").menu__link.neumorphic.neumorphic-button О компании
                    a(href="").menu__link.neumorphic.neumorphic-button Тарифы
                    a(href="").menu__link.neumorphic.neumorphic-button Новости
                    a(href="").menu__link.neumorphic.neumorphic-button Условия предоставления услуг
                    a(href="").menu__link.neumorphic.neumorphic-button Персональные данные
                    .menu__block 
                        .menu__language
                            .language__view
                            .language__dropdawn
                                .language__dropdawn-option.language__dropdawn-option1
                                .language__dropdawn-option.language__dropdawn-option2 
                        .menu__rights
                            p.menu__rights-text © 2025 
                            p.menu__rights-text ООО «МИРАКС Рекрутмент»
                .menu__mirax
                    img(src="images/mirax.png", alt="alt")
        