doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/login.css")
    body    
        form.form.neumorphic
            h1.title Login
            input(type="text", placeholder="Username", name='username', autocomplete='on').neumorphic.neumorphic-input
            input(type="password", placeholder="Password", name='password').neumorphic.neumorphic-input
            button.neumorphic.neumorphic-button Sing In
        