doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LogIn
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/login.css")
    body    
        .container
            .login
                .logo 
                    p.logo__job JOB 
                    p.logo__job.logo__job-white AI 
                form.form.neumorphic
                    h1.title Авторизоваться
                    input(type="text", placeholder="Логин", name='username').neumorphic.neumorphic-input
                    input(type="password", placeholder="Пароль", name='password').neumorphic.neumorphic-input
                    .form__footer.form__footer-center
                        button.neumorphic.neumorphic-button Войти
                .role 
                    button.neumorphic.neumorphic-button Найти сотрудника
                    button.neumorphic.neumorphic-button Найти работу
        