doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тарифы
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/tariffs.css")
        script(src="js/tariffs_preview.js" defer) 
    body.bg
        aside.aside 
            .aside__logo 
                img(src="images/logo.png", alt="job ai").aside__logo-img
            
        main.main
            section.section.section_active
                .container.container_small
                    .section__g24
                        h2.title Тарифы
                        .tabs.tabs_small
                            button(type="button" data-tab='database').tab.tab_active
                                .tab__icons 
                                    .tab__icon 
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 6C9 7.65685 7.65685 9 6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6Z"/>
                                            <path d="M17 6C17 7.65685 15.6569 9 14 9C12.3431 9 11 7.65685 11 6C11 4.34315 12.3431 3 14 3C15.6569 3 17 4.34315 17 6Z"/>
                                            <path d="M12.9291 17C12.9758 16.6734 13 16.3395 13 16C13 14.3648 12.4393 12.8606 11.4998 11.6691C12.2352 11.2435 13.0892 11 14 11C16.7614 11 19 13.2386 19 16V17H12.9291Z"/>
                                            <path d="M6 11C8.76142 11 11 13.2386 11 16V17H1V16C1 13.2386 3.23858 11 6 11Z"/>
                                        </svg>
                                    .tab__ai
                                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.67188 0.0550175C5.49844 0.134705 5.34375 0.298767 5.27813 0.472204C5.25 0.547205 5.22656 0.96908 5.22656 1.46127V2.31908L4.98281 2.37533C4.62188 2.45502 3.93281 2.80658 3.6 3.08314C3.44063 3.21439 3.20156 3.45345 3.07031 3.61283C2.79375 3.94564 2.44219 4.6347 2.3625 4.99095L2.30625 5.2347L1.37813 5.24877C0.529688 5.26283 0.440625 5.2722 0.323438 5.36127C0.0796875 5.54408 0 5.69408 0 5.9847C0 6.2097 0.0234375 6.2847 0.135938 6.43002C0.346875 6.71127 0.46875 6.73939 1.40625 6.73939H2.22656V7.2972V7.8597L1.34063 7.87377C0.529688 7.88783 0.440625 7.8972 0.323438 7.98627C0.0796875 8.16908 0 8.31908 0 8.6097C0 8.8347 0.0234375 8.9097 0.135938 9.05502C0.346875 9.33627 0.46875 9.36439 1.40625 9.36439H2.22656V9.9222V10.4847L1.34063 10.4988C0.529688 10.5128 0.440625 10.5222 0.323438 10.6113C0.0796875 10.7941 0 10.9441 0 11.2347C0 11.4597 0.0234375 11.5347 0.135938 11.68C0.346875 11.9613 0.46875 11.9894 1.40625 11.9894H2.22656V12.5472V13.1097L1.34063 13.1238C0.529688 13.1378 0.440625 13.1472 0.323438 13.2363C0.0796875 13.4191 0 13.5691 0 13.8597C0 14.0847 0.0234375 14.1597 0.135938 14.305C0.346875 14.5863 0.46875 14.6144 1.40625 14.6144H2.22656V15.1722V15.7347L1.34063 15.7488C0.529688 15.7628 0.440625 15.7722 0.323438 15.8613C0.0796875 16.0441 0 16.1941 0 16.4847C0 16.7097 0.0234375 16.7847 0.135938 16.93C0.346875 17.2113 0.46875 17.2394 1.44375 17.2394H2.30625L2.3625 17.4831C2.44219 17.8441 2.79375 18.5331 3.07031 18.866C3.20156 19.0253 3.44063 19.2644 3.6 19.3956C3.93281 19.6722 4.62188 20.0238 4.97813 20.1035L5.22188 20.1597L5.23594 21.0831L5.25 22.0066L5.38594 22.18C5.70469 22.6019 6.27656 22.5831 6.60469 22.1425C6.69375 22.0253 6.70313 21.9363 6.71719 21.1253L6.73125 20.2394H7.28906H7.84688L7.86094 21.1206L7.875 22.0066L8.01094 22.18C8.32969 22.6019 8.90156 22.5831 9.22969 22.1425C9.31875 22.0253 9.32812 21.9363 9.34219 21.1253L9.35625 20.2394H9.91406H10.4719L10.4859 21.1206L10.5 22.0066L10.6359 22.18C10.9547 22.6019 11.5266 22.5831 11.8547 22.1425C11.9438 22.0253 11.9531 21.9363 11.9672 21.1253L11.9813 20.2394H12.5391H13.0969L13.1109 21.1206L13.125 22.0066L13.2609 22.18C13.5797 22.6019 14.1516 22.5831 14.4797 22.1425C14.5688 22.0253 14.5781 21.9363 14.5922 21.1253L14.6063 20.2394H15.1641H15.7219L15.7359 21.1206L15.75 22.0066L15.8859 22.18C16.2047 22.6019 16.7766 22.5831 17.1047 22.1425C17.1938 22.0253 17.2031 21.9363 17.2172 21.0878L17.2313 20.1597L17.475 20.1035C17.8313 20.0238 18.5203 19.6722 18.8531 19.3956C19.0125 19.2644 19.2516 19.0253 19.3828 18.866C19.6594 18.5331 20.0109 17.8441 20.0906 17.4878L20.1469 17.2441L21.075 17.23C21.9234 17.216 22.0125 17.2066 22.1297 17.1175C22.3359 16.9675 22.4391 16.7988 22.4625 16.5738C22.4953 16.3019 22.3922 16.0675 22.1672 15.8988L21.9938 15.7628L21.1078 15.7488L20.2266 15.7347V15.1769V14.6191L21.1125 14.605C21.9234 14.591 22.0125 14.5816 22.1297 14.4925C22.3359 14.3425 22.4391 14.1738 22.4625 13.9488C22.4953 13.6769 22.3922 13.4425 22.1672 13.2738L21.9938 13.1378L21.1078 13.1238L20.2266 13.1097V12.5519V11.9941L21.1125 11.98C21.9234 11.966 22.0125 11.9566 22.1297 11.8675C22.3359 11.7175 22.4391 11.5488 22.4625 11.3238C22.4953 11.0519 22.3922 10.8175 22.1672 10.6488L21.9938 10.5128L21.1078 10.4988L20.2266 10.4847V9.92689V9.36908L21.1125 9.35502C21.9234 9.34095 22.0125 9.33158 22.1297 9.24252C22.3359 9.09252 22.4391 8.92377 22.4625 8.69877C22.4953 8.42689 22.3922 8.19252 22.1672 8.02377L21.9938 7.88783L21.1078 7.87377L20.2266 7.8597V7.30189V6.74408L21.1125 6.73002C21.9234 6.71595 22.0125 6.70658 22.1297 6.61752C22.3359 6.46752 22.4391 6.29877 22.4625 6.07377C22.4953 5.80189 22.3922 5.56752 22.1672 5.39877L21.9938 5.26283L21.0703 5.24877L20.1469 5.2347L20.0906 4.99095C20.0109 4.6347 19.6594 3.94564 19.3828 3.61283C19.2516 3.45345 19.0125 3.21439 18.8531 3.08314C18.5016 2.7972 17.8453 2.45502 17.4891 2.37533L17.2266 2.31908V1.45658C17.2266 0.481579 17.1984 0.359705 16.9172 0.148767C16.7719 0.0362663 16.6969 0.0128288 16.4719 0.0128288C16.1813 0.0128288 16.0312 0.0925159 15.8484 0.336267C15.7594 0.453455 15.75 0.542517 15.7359 1.35345L15.7219 2.23939H15.1594H14.6016V1.41908C14.6016 0.481579 14.5734 0.359705 14.2922 0.148767C14.1469 0.0362663 14.0719 0.0128288 13.8469 0.0128288C13.5563 0.0128288 13.4063 0.0925159 13.2234 0.336267C13.1344 0.453455 13.125 0.542517 13.1109 1.35345L13.0969 2.23939H12.5344H11.9766V1.41908C11.9766 0.481579 11.9484 0.359705 11.6672 0.148767C11.5219 0.0362663 11.4469 0.0128288 11.2219 0.0128288C10.9313 0.0128288 10.7812 0.0925159 10.5984 0.336267C10.5094 0.453455 10.5 0.542517 10.4859 1.35345L10.4719 2.23939H9.90938H9.35156V1.41908C9.35156 0.481579 9.32344 0.359705 9.04219 0.148767C8.89688 0.0362663 8.82188 0.0128288 8.59688 0.0128288C8.30625 0.0128288 8.15625 0.0925159 7.97344 0.336267C7.88438 0.453455 7.875 0.542517 7.86094 1.35345L7.84688 2.23939H7.28438H6.72656V1.41908C6.72656 0.486267 6.69375 0.359705 6.42656 0.153454C6.22031 -0.00123215 5.8875 -0.0481071 5.67188 0.0550175ZM16.9547 3.79095C17.7656 3.9597 18.4172 4.57377 18.6422 5.37533C18.7219 5.66595 18.7266 5.99877 18.7266 11.2019C18.7266 15.0363 18.7125 16.7941 18.675 16.9675C18.5016 17.8019 17.7891 18.5144 16.9547 18.6878C16.6078 18.7581 5.84531 18.7581 5.49844 18.6878C4.66406 18.5144 3.95156 17.8019 3.77813 16.9675C3.70781 16.6206 3.70781 5.85814 3.77813 5.51127C3.94688 4.70033 4.62188 4.00189 5.42813 3.80502C5.75625 3.72533 16.5797 3.71127 16.9547 3.79095Z"/>
                                            <path d="M9.1809 8.516C9.13871 8.56288 8.66996 9.78632 8.14496 11.2394C7.37621 13.3441 7.1934 13.8926 7.2309 13.9629C7.27778 14.0426 7.33871 14.0519 7.91059 14.0519C8.40278 14.0519 8.55278 14.0379 8.60903 13.9816C8.64653 13.9441 8.74496 13.7332 8.82934 13.5129L8.97934 13.1144H10.0387H11.1028L11.2575 13.5363C11.3465 13.7848 11.4497 13.9816 11.5012 14.0098C11.5528 14.0332 11.8575 14.0473 12.209 14.0426L12.8325 14.0285L12.8465 13.9113C12.8606 13.7754 11.009 8.63319 10.8965 8.50663C10.8356 8.43632 10.7278 8.42694 10.0434 8.42694C9.34028 8.42694 9.25121 8.43632 9.1809 8.516ZM10.3856 10.841C10.5543 11.3332 10.709 11.7691 10.7278 11.816C10.7559 11.891 10.6997 11.8957 10.0481 11.8957C9.65903 11.8957 9.34028 11.8816 9.34028 11.8582C9.34028 11.7598 10.02 9.88475 10.0481 9.91757C10.0622 9.93632 10.2168 10.3535 10.3856 10.841Z"/>
                                            <path d="M13.2732 8.54882C13.2451 8.61913 13.2263 9.68319 13.2263 11.2394C13.2263 12.7957 13.2451 13.8598 13.2732 13.9301L13.3201 14.0519H14.0185C14.6654 14.0519 14.7263 14.0426 14.7732 13.9629C14.8013 13.9019 14.8201 12.9644 14.8201 11.2394C14.8201 9.51444 14.8013 8.57694 14.7732 8.516C14.7263 8.43632 14.6654 8.42694 14.0185 8.42694H13.3201L13.2732 8.54882Z"/>
                                        </svg>
                                p.tab__text Доступ к базе данных кандидатов
                            button(type="button" data-tab='job-posting' disabled).tab
                                .tab__icons 
                                    .tab__icon 
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4C4 2.89543 4.89543 2 6 2H10.5858C11.1162 2 11.6249 2.21071 12 2.58579L15.4142 6C15.7893 6.37507 16 6.88378 16 7.41421V16C16 17.1046 15.1046 18 14 18H6C4.89543 18 4 17.1046 4 16V4ZM6 10C6 9.44772 6.44772 9 7 9H13C13.5523 9 14 9.44772 14 10C14 10.5523 13.5523 11 13 11H7C6.44772 11 6 10.5523 6 10ZM7 13C6.44772 13 6 13.4477 6 14C6 14.5523 6.44772 15 7 15H13C13.5523 15 14 14.5523 14 14C14 13.4477 13.5523 13 13 13H7Z"/>
                                        </svg>
                                    .tab__ai
                                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.67188 0.0550175C5.49844 0.134705 5.34375 0.298767 5.27813 0.472204C5.25 0.547205 5.22656 0.96908 5.22656 1.46127V2.31908L4.98281 2.37533C4.62188 2.45502 3.93281 2.80658 3.6 3.08314C3.44063 3.21439 3.20156 3.45345 3.07031 3.61283C2.79375 3.94564 2.44219 4.6347 2.3625 4.99095L2.30625 5.2347L1.37813 5.24877C0.529688 5.26283 0.440625 5.2722 0.323438 5.36127C0.0796875 5.54408 0 5.69408 0 5.9847C0 6.2097 0.0234375 6.2847 0.135938 6.43002C0.346875 6.71127 0.46875 6.73939 1.40625 6.73939H2.22656V7.2972V7.8597L1.34063 7.87377C0.529688 7.88783 0.440625 7.8972 0.323438 7.98627C0.0796875 8.16908 0 8.31908 0 8.6097C0 8.8347 0.0234375 8.9097 0.135938 9.05502C0.346875 9.33627 0.46875 9.36439 1.40625 9.36439H2.22656V9.9222V10.4847L1.34063 10.4988C0.529688 10.5128 0.440625 10.5222 0.323438 10.6113C0.0796875 10.7941 0 10.9441 0 11.2347C0 11.4597 0.0234375 11.5347 0.135938 11.68C0.346875 11.9613 0.46875 11.9894 1.40625 11.9894H2.22656V12.5472V13.1097L1.34063 13.1238C0.529688 13.1378 0.440625 13.1472 0.323438 13.2363C0.0796875 13.4191 0 13.5691 0 13.8597C0 14.0847 0.0234375 14.1597 0.135938 14.305C0.346875 14.5863 0.46875 14.6144 1.40625 14.6144H2.22656V15.1722V15.7347L1.34063 15.7488C0.529688 15.7628 0.440625 15.7722 0.323438 15.8613C0.0796875 16.0441 0 16.1941 0 16.4847C0 16.7097 0.0234375 16.7847 0.135938 16.93C0.346875 17.2113 0.46875 17.2394 1.44375 17.2394H2.30625L2.3625 17.4831C2.44219 17.8441 2.79375 18.5331 3.07031 18.866C3.20156 19.0253 3.44063 19.2644 3.6 19.3956C3.93281 19.6722 4.62188 20.0238 4.97813 20.1035L5.22188 20.1597L5.23594 21.0831L5.25 22.0066L5.38594 22.18C5.70469 22.6019 6.27656 22.5831 6.60469 22.1425C6.69375 22.0253 6.70313 21.9363 6.71719 21.1253L6.73125 20.2394H7.28906H7.84688L7.86094 21.1206L7.875 22.0066L8.01094 22.18C8.32969 22.6019 8.90156 22.5831 9.22969 22.1425C9.31875 22.0253 9.32812 21.9363 9.34219 21.1253L9.35625 20.2394H9.91406H10.4719L10.4859 21.1206L10.5 22.0066L10.6359 22.18C10.9547 22.6019 11.5266 22.5831 11.8547 22.1425C11.9438 22.0253 11.9531 21.9363 11.9672 21.1253L11.9813 20.2394H12.5391H13.0969L13.1109 21.1206L13.125 22.0066L13.2609 22.18C13.5797 22.6019 14.1516 22.5831 14.4797 22.1425C14.5688 22.0253 14.5781 21.9363 14.5922 21.1253L14.6063 20.2394H15.1641H15.7219L15.7359 21.1206L15.75 22.0066L15.8859 22.18C16.2047 22.6019 16.7766 22.5831 17.1047 22.1425C17.1938 22.0253 17.2031 21.9363 17.2172 21.0878L17.2313 20.1597L17.475 20.1035C17.8313 20.0238 18.5203 19.6722 18.8531 19.3956C19.0125 19.2644 19.2516 19.0253 19.3828 18.866C19.6594 18.5331 20.0109 17.8441 20.0906 17.4878L20.1469 17.2441L21.075 17.23C21.9234 17.216 22.0125 17.2066 22.1297 17.1175C22.3359 16.9675 22.4391 16.7988 22.4625 16.5738C22.4953 16.3019 22.3922 16.0675 22.1672 15.8988L21.9938 15.7628L21.1078 15.7488L20.2266 15.7347V15.1769V14.6191L21.1125 14.605C21.9234 14.591 22.0125 14.5816 22.1297 14.4925C22.3359 14.3425 22.4391 14.1738 22.4625 13.9488C22.4953 13.6769 22.3922 13.4425 22.1672 13.2738L21.9938 13.1378L21.1078 13.1238L20.2266 13.1097V12.5519V11.9941L21.1125 11.98C21.9234 11.966 22.0125 11.9566 22.1297 11.8675C22.3359 11.7175 22.4391 11.5488 22.4625 11.3238C22.4953 11.0519 22.3922 10.8175 22.1672 10.6488L21.9938 10.5128L21.1078 10.4988L20.2266 10.4847V9.92689V9.36908L21.1125 9.35502C21.9234 9.34095 22.0125 9.33158 22.1297 9.24252C22.3359 9.09252 22.4391 8.92377 22.4625 8.69877C22.4953 8.42689 22.3922 8.19252 22.1672 8.02377L21.9938 7.88783L21.1078 7.87377L20.2266 7.8597V7.30189V6.74408L21.1125 6.73002C21.9234 6.71595 22.0125 6.70658 22.1297 6.61752C22.3359 6.46752 22.4391 6.29877 22.4625 6.07377C22.4953 5.80189 22.3922 5.56752 22.1672 5.39877L21.9938 5.26283L21.0703 5.24877L20.1469 5.2347L20.0906 4.99095C20.0109 4.6347 19.6594 3.94564 19.3828 3.61283C19.2516 3.45345 19.0125 3.21439 18.8531 3.08314C18.5016 2.7972 17.8453 2.45502 17.4891 2.37533L17.2266 2.31908V1.45658C17.2266 0.481579 17.1984 0.359705 16.9172 0.148767C16.7719 0.0362663 16.6969 0.0128288 16.4719 0.0128288C16.1813 0.0128288 16.0312 0.0925159 15.8484 0.336267C15.7594 0.453455 15.75 0.542517 15.7359 1.35345L15.7219 2.23939H15.1594H14.6016V1.41908C14.6016 0.481579 14.5734 0.359705 14.2922 0.148767C14.1469 0.0362663 14.0719 0.0128288 13.8469 0.0128288C13.5563 0.0128288 13.4063 0.0925159 13.2234 0.336267C13.1344 0.453455 13.125 0.542517 13.1109 1.35345L13.0969 2.23939H12.5344H11.9766V1.41908C11.9766 0.481579 11.9484 0.359705 11.6672 0.148767C11.5219 0.0362663 11.4469 0.0128288 11.2219 0.0128288C10.9313 0.0128288 10.7812 0.0925159 10.5984 0.336267C10.5094 0.453455 10.5 0.542517 10.4859 1.35345L10.4719 2.23939H9.90938H9.35156V1.41908C9.35156 0.481579 9.32344 0.359705 9.04219 0.148767C8.89688 0.0362663 8.82188 0.0128288 8.59688 0.0128288C8.30625 0.0128288 8.15625 0.0925159 7.97344 0.336267C7.88438 0.453455 7.875 0.542517 7.86094 1.35345L7.84688 2.23939H7.28438H6.72656V1.41908C6.72656 0.486267 6.69375 0.359705 6.42656 0.153454C6.22031 -0.00123215 5.8875 -0.0481071 5.67188 0.0550175ZM16.9547 3.79095C17.7656 3.9597 18.4172 4.57377 18.6422 5.37533C18.7219 5.66595 18.7266 5.99877 18.7266 11.2019C18.7266 15.0363 18.7125 16.7941 18.675 16.9675C18.5016 17.8019 17.7891 18.5144 16.9547 18.6878C16.6078 18.7581 5.84531 18.7581 5.49844 18.6878C4.66406 18.5144 3.95156 17.8019 3.77813 16.9675C3.70781 16.6206 3.70781 5.85814 3.77813 5.51127C3.94688 4.70033 4.62188 4.00189 5.42813 3.80502C5.75625 3.72533 16.5797 3.71127 16.9547 3.79095Z"/>
                                            <path d="M9.1809 8.516C9.13871 8.56288 8.66996 9.78632 8.14496 11.2394C7.37621 13.3441 7.1934 13.8926 7.2309 13.9629C7.27778 14.0426 7.33871 14.0519 7.91059 14.0519C8.40278 14.0519 8.55278 14.0379 8.60903 13.9816C8.64653 13.9441 8.74496 13.7332 8.82934 13.5129L8.97934 13.1144H10.0387H11.1028L11.2575 13.5363C11.3465 13.7848 11.4497 13.9816 11.5012 14.0098C11.5528 14.0332 11.8575 14.0473 12.209 14.0426L12.8325 14.0285L12.8465 13.9113C12.8606 13.7754 11.009 8.63319 10.8965 8.50663C10.8356 8.43632 10.7278 8.42694 10.0434 8.42694C9.34028 8.42694 9.25121 8.43632 9.1809 8.516ZM10.3856 10.841C10.5543 11.3332 10.709 11.7691 10.7278 11.816C10.7559 11.891 10.6997 11.8957 10.0481 11.8957C9.65903 11.8957 9.34028 11.8816 9.34028 11.8582C9.34028 11.7598 10.02 9.88475 10.0481 9.91757C10.0622 9.93632 10.2168 10.3535 10.3856 10.841Z"/>
                                            <path d="M13.2732 8.54882C13.2451 8.61913 13.2263 9.68319 13.2263 11.2394C13.2263 12.7957 13.2451 13.8598 13.2732 13.9301L13.3201 14.0519H14.0185C14.6654 14.0519 14.7263 14.0426 14.7732 13.9629C14.8013 13.9019 14.8201 12.9644 14.8201 11.2394C14.8201 9.51444 14.8013 8.57694 14.7732 8.516C14.7263 8.43632 14.6654 8.42694 14.0185 8.42694H13.3201L13.2732 8.54882Z"/>
                                        </svg>
                                p.tab__text Публикация вакансий
                        .section__wrapper.section__wrapper-p24(data-tariffs='1')
                            form.section__form.section__form-start
                                .section__col1
                                    h2.section__title Период доступа
                                    .section__tariffs
                                        .section__ranges
                                            h3.section__ranges-title 
                                                | Выберите количество 
                                                span дней 
                                                | доступа 
                                            .range.section__range
                                                input.range__input(type="range" min="0" max="30" step="1" value="1")#range-days
                                                p.range__meaning 1
                                                p.range__start 0
                                                p.range__finish 30
                                            h3.section__ranges-title 
                                                | Выберите количество 
                                                span месяцев  
                                                | доступа 
                                            .range.section__range
                                                input.range__input(type="range" min="0" max="12" step="1" value="0")#range-months
                                                p.range__meaning 0
                                                p.range__start 0
                                                p.range__finish 12
                                        .section__access
                                            h3.section__ranges-title 
                                                | Доступ на 
                                                span период 
                                            input(type="number", value='1', name='access-for-period').input.input_number.section__access-input#access-for-period
                                            h3.section__ranges-title календарных дней
                                .section__col
                                    h2.section__title Стоимость доступа
                                    .section__tariffs1
                                        label(for='tariffs-sale').label.press-left
                                            input(type="text", readonly, name="tariffs-sale", value='Без скидок').input.input_grey.input_textcenter#tariffs-sale
                                            p.label__bottom.label__bottom-small считается автоматически
                                            .label__clue.label__clue2
                                                .clue
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                    </svg>
                                                    .clue__wrapper
                                                        p.clue__text Приобретая доступ на максимальный период, вы получаете максимальные скидки:
                                                        ul.clue__list
                                                            li.clue__list-item.clue__text до 1 месяца - без скидок
                                                            li.clue__list-item.clue__text от 1 до 3 месяцев - скидка 5%
                                                            li.clue__list-item.clue__text от 3 до 6 месяцев - скидка 10%
                                                            li.clue__list-item.clue__text от 6 месяцев до 1 года - скидка 20%
                                        input(type="text", readonly, name="tariffs-price", value='1 666.00').input.input_grey.input_textcenter#tariffs-price
                                        .select.select_currency
                                            input(type="text", readonly, name="tariffs-currency", value="₽").select__input.input#tariffs-currency
                                            .options
                                                .options__wrapper
                                                    .option ₽
                                                    .option $
                                                    .option €
                                        label(for='tariffs-vat').label
                                            input(type="text", readonly, name="tariffs-vat", value="277.67").input.input_grey.input_textcenter#tariffs-vat
                                            p.label__bottom в том числе НДС 20%
                                            p.label__currency ₽
                                .section__clean
                                .section__col1
                                    h2.section__title Включено в стоимость
                                    .check.check_circle
                                        input.check__input#access-all(type="checkbox", checked, disabled, name="access-all" value='Доступ к базе по всей Российской Федерации')
                                        label.check__label(for="access-all")
                                            .check__check
                                            .check__info
                                                h3.check__title Доступ к базе по всей Российской Федерации
                                                p.check__text Больше не нужно отдельно оплачивать доступ для каждого региона РФ
                                        .check__clue
                                            .clue
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                </svg>
                                                .clue__wrapper
                                                    p.clue__text Поиск кандидатов производится по всей базе данных кандидатов в РФ, за исключением применения фильтров по городам/регионам 
                                                    p.clue__text Соответственно, доплачивать за доступ в регионы РФ не нужно
                                    .check.check_circle
                                        input.check__input#no-restrictions(type="checkbox", checked, disabled, name="no-restrictions" value='Нет ограничений по количеству контактов')
                                        label.check__label(for="no-restrictions")
                                            .check__check
                                            .check__info
                                                h3.check__title Нет ограничений по количеству контактов
                                                p.check__text Все контакты кандидатов бесплатые и без ограничений по количеству
                                        .check__clue
                                            .clue
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                </svg>
                                                .clue__wrapper
                                                    p.clue__text При поиске кандидатов контакты предоставляются бесплатно
                                                    p.clue__text Также в период доступа нет ограничения по количеству данных контактов
                                    .section__col
                                        h2.section__title Добавить в стоимость
                                        .section__tariffs2
                                            .select
                                                input(type="text", readonly, name="additional-recruiters", value="+ 2").select__input.input.input_grey#additional-recruiters
                                                .options 
                                                    .options__wrapper
                                                        p.option(data-recruiters='1') + 2
                                                        p.option(data-recruiters='2') + 9
                                                        p.option(data-recruiters='3') + 19
                                                        p.option(data-recruiters='4') + 29
                                            .section__col 
                                                h3.section__col-title дополнительных рекрутеров под одной компанией
                                                p.section__col-text По умолчанию бесплатно включены + 2 рекрутера
                                            label(for='percentage-of-cost').label
                                                input(type="text", readonly, name="percentage-of-cost", value='0%').input.input_textcenter.input_grey#percentage-of-cost
                                                p.label__bottom.label__bottom-small считается автоматически
                                            .section__clue 
                                                .clue
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                    </svg>
                                                    .clue__wrapper
                                                        p.clue__text При регистрации и авторизации в роле «Работодатель» создается родительская учётная запись под конкретной компанией
                                                        p.clue__text По умолчанию и бесплатно можно пригласить под данную компанию 2х сотрудников (роль «Рекрутер»), которые, например, будут заниматься поиском и наймом сотрудников
                                                        p.clue__text Если нужно предоставить доступ более чем 2м сотрудникам, то есть возможность на этапе приобретения периода доступа или после (через Личный кабинет) приобрести указанную расширенную возможность приглашения
                                                        p.clue__text При этом сами приглашаемые сотрудники (роль «Ректрутер») за доступ не платят, но могут работать только через конкретную компанию
                                                        p.clue__text Максимальное количество приглашаемых сотрудников под одной компанией -  не более 30 человек
                                .section__col1
                                    h2.section__title Общая стоимость доступа
                                    .section__tariffs1
                                        label(for='tariffs-day-price').label
                                            input(type="text", readonly, name="tariffs-day-price", value='1 666,00').input.input_textcenter.input_grey#tariffs-day-price
                                            p.label__bottom Стоимость календарного дня с НДС 20%
                                            p.label__currency ₽
                                        input(type="text", readonly, name="tariffs-total-price", value="1 666,00").input.input_textcenter#tariffs-total-price
                                        .select.select_currency
                                            input(type="text", readonly, name="tariffs-currency-total", value="₽").select__input.input#tariffs-currency-total
                                            .options 
                                                .options__wrapper
                                                    .option ₽
                                                    .option $
                                                    .option €
                                        label(for='tariffs-total-vat').label
                                            input(type="text", readonly, name="tariffs-total-vat", value="277,67").input.input_textcenter.input_grey#tariffs-total-vat
                                            p.label__bottom в том числе НДС 20%
                                            p.label__currency ₽
                                .section__h30
                                button(type="submit").btn.btn_h48.btn_primary.btn_center Понятно
                        