doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тарифы
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/tariffs.css")
        script(src="js/tariffs_uspekh.js" defer) 
    body.bg
        aside.aside 
            .aside__logo 
                img(src="images/logo.png", alt="job ai").aside__logo-img
            ul.aside__list.aside__list-bottom
                li.aside__item
                    a(href="tariffs.html").aside__link.aside__link-active
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.60156 14.4004V18.0004C3.60156 19.9886 7.36237 21.6004 12.0016 21.6004C16.6407 21.6004 20.4016 19.9886 20.4016 18.0004V14.4004C20.4016 16.3886 16.6407 18.0004 12.0016 18.0004C7.36237 18.0004 3.60156 16.3886 3.60156 14.4004Z"/>
                            <path d="M3.60156 8.40039V12.0004C3.60156 13.9886 7.36237 15.6004 12.0016 15.6004C16.6407 15.6004 20.4016 13.9886 20.4016 12.0004V8.40039C20.4016 10.3886 16.6407 12.0004 12.0016 12.0004C7.36237 12.0004 3.60156 10.3886 3.60156 8.40039Z"/>
                            <path d="M20.4016 6.00039C20.4016 7.98862 16.6407 9.60039 12.0016 9.60039C7.36237 9.60039 3.60156 7.98862 3.60156 6.00039C3.60156 4.01217 7.36237 2.40039 12.0016 2.40039C16.6407 2.40039 20.4016 4.01217 20.4016 6.00039Z"/>
                        </svg>
                        | Тарифы
                li.aside__item
                    a(href="contacts.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.39844 3.5999C2.39844 2.93716 2.9357 2.3999 3.59844 2.3999H6.18189C6.76849 2.3999 7.26912 2.824 7.36556 3.40262L8.25273 8.72567C8.33934 9.24531 8.07691 9.76067 7.60572 9.99626L5.74795 10.9251C7.08751 14.2539 9.74445 16.9108 13.0732 18.2504L14.0021 16.3926C14.2377 15.9214 14.753 15.659 15.2727 15.7456L20.5957 16.6328C21.1743 16.7292 21.5984 17.2298 21.5984 17.8165V20.3999C21.5984 21.0626 21.0612 21.5999 20.3984 21.5999H17.9984C9.3828 21.5999 2.39844 14.6155 2.39844 5.9999V3.5999Z"/>
                        </svg>
                        | Связаться с нами
                li.aside__item
                    a(href="documents.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.39844 7.20005C2.39844 5.87457 3.47295 4.80005 4.79844 4.80005H10.7984L13.1984 7.20005H19.1984C20.5239 7.20005 21.5984 8.27457 21.5984 9.60005V16.8C21.5984 18.1255 20.5239 19.2 19.1984 19.2H4.79844C3.47295 19.2 2.39844 18.1255 2.39844 16.8V7.20005Z"/>
                        </svg>
                        | Документы
        main.main
            section.section.section_active
                .container.container_small
                    .section__g24
                        h2.title Подтверждение оплаты
                        .tabs.tabs_small
                            button(type="button" data-tab='database').tab.tab_active
                                .tab__icons 
                                    .tab__icon 
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 6C9 7.65685 7.65685 9 6 9C4.34315 9 3 7.65685 3 6C3 4.34315 4.34315 3 6 3C7.65685 3 9 4.34315 9 6Z"/>
                                            <path d="M17 6C17 7.65685 15.6569 9 14 9C12.3431 9 11 7.65685 11 6C11 4.34315 12.3431 3 14 3C15.6569 3 17 4.34315 17 6Z"/>
                                            <path d="M12.9291 17C12.9758 16.6734 13 16.3395 13 16C13 14.3648 12.4393 12.8606 11.4998 11.6691C12.2352 11.2435 13.0892 11 14 11C16.7614 11 19 13.2386 19 16V17H12.9291Z"/>
                                            <path d="M6 11C8.76142 11 11 13.2386 11 16V17H1V16C1 13.2386 3.23858 11 6 11Z"/>
                                        </svg>
                                    .tab__ai
                                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.67188 0.0550175C5.49844 0.134705 5.34375 0.298767 5.27813 0.472204C5.25 0.547205 5.22656 0.96908 5.22656 1.46127V2.31908L4.98281 2.37533C4.62188 2.45502 3.93281 2.80658 3.6 3.08314C3.44063 3.21439 3.20156 3.45345 3.07031 3.61283C2.79375 3.94564 2.44219 4.6347 2.3625 4.99095L2.30625 5.2347L1.37813 5.24877C0.529688 5.26283 0.440625 5.2722 0.323438 5.36127C0.0796875 5.54408 0 5.69408 0 5.9847C0 6.2097 0.0234375 6.2847 0.135938 6.43002C0.346875 6.71127 0.46875 6.73939 1.40625 6.73939H2.22656V7.2972V7.8597L1.34063 7.87377C0.529688 7.88783 0.440625 7.8972 0.323438 7.98627C0.0796875 8.16908 0 8.31908 0 8.6097C0 8.8347 0.0234375 8.9097 0.135938 9.05502C0.346875 9.33627 0.46875 9.36439 1.40625 9.36439H2.22656V9.9222V10.4847L1.34063 10.4988C0.529688 10.5128 0.440625 10.5222 0.323438 10.6113C0.0796875 10.7941 0 10.9441 0 11.2347C0 11.4597 0.0234375 11.5347 0.135938 11.68C0.346875 11.9613 0.46875 11.9894 1.40625 11.9894H2.22656V12.5472V13.1097L1.34063 13.1238C0.529688 13.1378 0.440625 13.1472 0.323438 13.2363C0.0796875 13.4191 0 13.5691 0 13.8597C0 14.0847 0.0234375 14.1597 0.135938 14.305C0.346875 14.5863 0.46875 14.6144 1.40625 14.6144H2.22656V15.1722V15.7347L1.34063 15.7488C0.529688 15.7628 0.440625 15.7722 0.323438 15.8613C0.0796875 16.0441 0 16.1941 0 16.4847C0 16.7097 0.0234375 16.7847 0.135938 16.93C0.346875 17.2113 0.46875 17.2394 1.44375 17.2394H2.30625L2.3625 17.4831C2.44219 17.8441 2.79375 18.5331 3.07031 18.866C3.20156 19.0253 3.44063 19.2644 3.6 19.3956C3.93281 19.6722 4.62188 20.0238 4.97813 20.1035L5.22188 20.1597L5.23594 21.0831L5.25 22.0066L5.38594 22.18C5.70469 22.6019 6.27656 22.5831 6.60469 22.1425C6.69375 22.0253 6.70313 21.9363 6.71719 21.1253L6.73125 20.2394H7.28906H7.84688L7.86094 21.1206L7.875 22.0066L8.01094 22.18C8.32969 22.6019 8.90156 22.5831 9.22969 22.1425C9.31875 22.0253 9.32812 21.9363 9.34219 21.1253L9.35625 20.2394H9.91406H10.4719L10.4859 21.1206L10.5 22.0066L10.6359 22.18C10.9547 22.6019 11.5266 22.5831 11.8547 22.1425C11.9438 22.0253 11.9531 21.9363 11.9672 21.1253L11.9813 20.2394H12.5391H13.0969L13.1109 21.1206L13.125 22.0066L13.2609 22.18C13.5797 22.6019 14.1516 22.5831 14.4797 22.1425C14.5688 22.0253 14.5781 21.9363 14.5922 21.1253L14.6063 20.2394H15.1641H15.7219L15.7359 21.1206L15.75 22.0066L15.8859 22.18C16.2047 22.6019 16.7766 22.5831 17.1047 22.1425C17.1938 22.0253 17.2031 21.9363 17.2172 21.0878L17.2313 20.1597L17.475 20.1035C17.8313 20.0238 18.5203 19.6722 18.8531 19.3956C19.0125 19.2644 19.2516 19.0253 19.3828 18.866C19.6594 18.5331 20.0109 17.8441 20.0906 17.4878L20.1469 17.2441L21.075 17.23C21.9234 17.216 22.0125 17.2066 22.1297 17.1175C22.3359 16.9675 22.4391 16.7988 22.4625 16.5738C22.4953 16.3019 22.3922 16.0675 22.1672 15.8988L21.9938 15.7628L21.1078 15.7488L20.2266 15.7347V15.1769V14.6191L21.1125 14.605C21.9234 14.591 22.0125 14.5816 22.1297 14.4925C22.3359 14.3425 22.4391 14.1738 22.4625 13.9488C22.4953 13.6769 22.3922 13.4425 22.1672 13.2738L21.9938 13.1378L21.1078 13.1238L20.2266 13.1097V12.5519V11.9941L21.1125 11.98C21.9234 11.966 22.0125 11.9566 22.1297 11.8675C22.3359 11.7175 22.4391 11.5488 22.4625 11.3238C22.4953 11.0519 22.3922 10.8175 22.1672 10.6488L21.9938 10.5128L21.1078 10.4988L20.2266 10.4847V9.92689V9.36908L21.1125 9.35502C21.9234 9.34095 22.0125 9.33158 22.1297 9.24252C22.3359 9.09252 22.4391 8.92377 22.4625 8.69877C22.4953 8.42689 22.3922 8.19252 22.1672 8.02377L21.9938 7.88783L21.1078 7.87377L20.2266 7.8597V7.30189V6.74408L21.1125 6.73002C21.9234 6.71595 22.0125 6.70658 22.1297 6.61752C22.3359 6.46752 22.4391 6.29877 22.4625 6.07377C22.4953 5.80189 22.3922 5.56752 22.1672 5.39877L21.9938 5.26283L21.0703 5.24877L20.1469 5.2347L20.0906 4.99095C20.0109 4.6347 19.6594 3.94564 19.3828 3.61283C19.2516 3.45345 19.0125 3.21439 18.8531 3.08314C18.5016 2.7972 17.8453 2.45502 17.4891 2.37533L17.2266 2.31908V1.45658C17.2266 0.481579 17.1984 0.359705 16.9172 0.148767C16.7719 0.0362663 16.6969 0.0128288 16.4719 0.0128288C16.1813 0.0128288 16.0312 0.0925159 15.8484 0.336267C15.7594 0.453455 15.75 0.542517 15.7359 1.35345L15.7219 2.23939H15.1594H14.6016V1.41908C14.6016 0.481579 14.5734 0.359705 14.2922 0.148767C14.1469 0.0362663 14.0719 0.0128288 13.8469 0.0128288C13.5563 0.0128288 13.4063 0.0925159 13.2234 0.336267C13.1344 0.453455 13.125 0.542517 13.1109 1.35345L13.0969 2.23939H12.5344H11.9766V1.41908C11.9766 0.481579 11.9484 0.359705 11.6672 0.148767C11.5219 0.0362663 11.4469 0.0128288 11.2219 0.0128288C10.9313 0.0128288 10.7812 0.0925159 10.5984 0.336267C10.5094 0.453455 10.5 0.542517 10.4859 1.35345L10.4719 2.23939H9.90938H9.35156V1.41908C9.35156 0.481579 9.32344 0.359705 9.04219 0.148767C8.89688 0.0362663 8.82188 0.0128288 8.59688 0.0128288C8.30625 0.0128288 8.15625 0.0925159 7.97344 0.336267C7.88438 0.453455 7.875 0.542517 7.86094 1.35345L7.84688 2.23939H7.28438H6.72656V1.41908C6.72656 0.486267 6.69375 0.359705 6.42656 0.153454C6.22031 -0.00123215 5.8875 -0.0481071 5.67188 0.0550175ZM16.9547 3.79095C17.7656 3.9597 18.4172 4.57377 18.6422 5.37533C18.7219 5.66595 18.7266 5.99877 18.7266 11.2019C18.7266 15.0363 18.7125 16.7941 18.675 16.9675C18.5016 17.8019 17.7891 18.5144 16.9547 18.6878C16.6078 18.7581 5.84531 18.7581 5.49844 18.6878C4.66406 18.5144 3.95156 17.8019 3.77813 16.9675C3.70781 16.6206 3.70781 5.85814 3.77813 5.51127C3.94688 4.70033 4.62188 4.00189 5.42813 3.80502C5.75625 3.72533 16.5797 3.71127 16.9547 3.79095Z"/>
                                            <path d="M9.1809 8.516C9.13871 8.56288 8.66996 9.78632 8.14496 11.2394C7.37621 13.3441 7.1934 13.8926 7.2309 13.9629C7.27778 14.0426 7.33871 14.0519 7.91059 14.0519C8.40278 14.0519 8.55278 14.0379 8.60903 13.9816C8.64653 13.9441 8.74496 13.7332 8.82934 13.5129L8.97934 13.1144H10.0387H11.1028L11.2575 13.5363C11.3465 13.7848 11.4497 13.9816 11.5012 14.0098C11.5528 14.0332 11.8575 14.0473 12.209 14.0426L12.8325 14.0285L12.8465 13.9113C12.8606 13.7754 11.009 8.63319 10.8965 8.50663C10.8356 8.43632 10.7278 8.42694 10.0434 8.42694C9.34028 8.42694 9.25121 8.43632 9.1809 8.516ZM10.3856 10.841C10.5543 11.3332 10.709 11.7691 10.7278 11.816C10.7559 11.891 10.6997 11.8957 10.0481 11.8957C9.65903 11.8957 9.34028 11.8816 9.34028 11.8582C9.34028 11.7598 10.02 9.88475 10.0481 9.91757C10.0622 9.93632 10.2168 10.3535 10.3856 10.841Z"/>
                                            <path d="M13.2732 8.54882C13.2451 8.61913 13.2263 9.68319 13.2263 11.2394C13.2263 12.7957 13.2451 13.8598 13.2732 13.9301L13.3201 14.0519H14.0185C14.6654 14.0519 14.7263 14.0426 14.7732 13.9629C14.8013 13.9019 14.8201 12.9644 14.8201 11.2394C14.8201 9.51444 14.8013 8.57694 14.7732 8.516C14.7263 8.43632 14.6654 8.42694 14.0185 8.42694H13.3201L13.2732 8.54882Z"/>
                                        </svg>
                                p.tab__text Доступ к базе данных кандидатов
                            button(type="button" data-tab='job-posting' disabled).tab
                                .tab__icons 
                                    .tab__icon 
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4C4 2.89543 4.89543 2 6 2H10.5858C11.1162 2 11.6249 2.21071 12 2.58579L15.4142 6C15.7893 6.37507 16 6.88378 16 7.41421V16C16 17.1046 15.1046 18 14 18H6C4.89543 18 4 17.1046 4 16V4ZM6 10C6 9.44772 6.44772 9 7 9H13C13.5523 9 14 9.44772 14 10C14 10.5523 13.5523 11 13 11H7C6.44772 11 6 10.5523 6 10ZM7 13C6.44772 13 6 13.4477 6 14C6 14.5523 6.44772 15 7 15H13C13.5523 15 14 14.5523 14 14C14 13.4477 13.5523 13 13 13H7Z"/>
                                        </svg>
                                    .tab__ai
                                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.67188 0.0550175C5.49844 0.134705 5.34375 0.298767 5.27813 0.472204C5.25 0.547205 5.22656 0.96908 5.22656 1.46127V2.31908L4.98281 2.37533C4.62188 2.45502 3.93281 2.80658 3.6 3.08314C3.44063 3.21439 3.20156 3.45345 3.07031 3.61283C2.79375 3.94564 2.44219 4.6347 2.3625 4.99095L2.30625 5.2347L1.37813 5.24877C0.529688 5.26283 0.440625 5.2722 0.323438 5.36127C0.0796875 5.54408 0 5.69408 0 5.9847C0 6.2097 0.0234375 6.2847 0.135938 6.43002C0.346875 6.71127 0.46875 6.73939 1.40625 6.73939H2.22656V7.2972V7.8597L1.34063 7.87377C0.529688 7.88783 0.440625 7.8972 0.323438 7.98627C0.0796875 8.16908 0 8.31908 0 8.6097C0 8.8347 0.0234375 8.9097 0.135938 9.05502C0.346875 9.33627 0.46875 9.36439 1.40625 9.36439H2.22656V9.9222V10.4847L1.34063 10.4988C0.529688 10.5128 0.440625 10.5222 0.323438 10.6113C0.0796875 10.7941 0 10.9441 0 11.2347C0 11.4597 0.0234375 11.5347 0.135938 11.68C0.346875 11.9613 0.46875 11.9894 1.40625 11.9894H2.22656V12.5472V13.1097L1.34063 13.1238C0.529688 13.1378 0.440625 13.1472 0.323438 13.2363C0.0796875 13.4191 0 13.5691 0 13.8597C0 14.0847 0.0234375 14.1597 0.135938 14.305C0.346875 14.5863 0.46875 14.6144 1.40625 14.6144H2.22656V15.1722V15.7347L1.34063 15.7488C0.529688 15.7628 0.440625 15.7722 0.323438 15.8613C0.0796875 16.0441 0 16.1941 0 16.4847C0 16.7097 0.0234375 16.7847 0.135938 16.93C0.346875 17.2113 0.46875 17.2394 1.44375 17.2394H2.30625L2.3625 17.4831C2.44219 17.8441 2.79375 18.5331 3.07031 18.866C3.20156 19.0253 3.44063 19.2644 3.6 19.3956C3.93281 19.6722 4.62188 20.0238 4.97813 20.1035L5.22188 20.1597L5.23594 21.0831L5.25 22.0066L5.38594 22.18C5.70469 22.6019 6.27656 22.5831 6.60469 22.1425C6.69375 22.0253 6.70313 21.9363 6.71719 21.1253L6.73125 20.2394H7.28906H7.84688L7.86094 21.1206L7.875 22.0066L8.01094 22.18C8.32969 22.6019 8.90156 22.5831 9.22969 22.1425C9.31875 22.0253 9.32812 21.9363 9.34219 21.1253L9.35625 20.2394H9.91406H10.4719L10.4859 21.1206L10.5 22.0066L10.6359 22.18C10.9547 22.6019 11.5266 22.5831 11.8547 22.1425C11.9438 22.0253 11.9531 21.9363 11.9672 21.1253L11.9813 20.2394H12.5391H13.0969L13.1109 21.1206L13.125 22.0066L13.2609 22.18C13.5797 22.6019 14.1516 22.5831 14.4797 22.1425C14.5688 22.0253 14.5781 21.9363 14.5922 21.1253L14.6063 20.2394H15.1641H15.7219L15.7359 21.1206L15.75 22.0066L15.8859 22.18C16.2047 22.6019 16.7766 22.5831 17.1047 22.1425C17.1938 22.0253 17.2031 21.9363 17.2172 21.0878L17.2313 20.1597L17.475 20.1035C17.8313 20.0238 18.5203 19.6722 18.8531 19.3956C19.0125 19.2644 19.2516 19.0253 19.3828 18.866C19.6594 18.5331 20.0109 17.8441 20.0906 17.4878L20.1469 17.2441L21.075 17.23C21.9234 17.216 22.0125 17.2066 22.1297 17.1175C22.3359 16.9675 22.4391 16.7988 22.4625 16.5738C22.4953 16.3019 22.3922 16.0675 22.1672 15.8988L21.9938 15.7628L21.1078 15.7488L20.2266 15.7347V15.1769V14.6191L21.1125 14.605C21.9234 14.591 22.0125 14.5816 22.1297 14.4925C22.3359 14.3425 22.4391 14.1738 22.4625 13.9488C22.4953 13.6769 22.3922 13.4425 22.1672 13.2738L21.9938 13.1378L21.1078 13.1238L20.2266 13.1097V12.5519V11.9941L21.1125 11.98C21.9234 11.966 22.0125 11.9566 22.1297 11.8675C22.3359 11.7175 22.4391 11.5488 22.4625 11.3238C22.4953 11.0519 22.3922 10.8175 22.1672 10.6488L21.9938 10.5128L21.1078 10.4988L20.2266 10.4847V9.92689V9.36908L21.1125 9.35502C21.9234 9.34095 22.0125 9.33158 22.1297 9.24252C22.3359 9.09252 22.4391 8.92377 22.4625 8.69877C22.4953 8.42689 22.3922 8.19252 22.1672 8.02377L21.9938 7.88783L21.1078 7.87377L20.2266 7.8597V7.30189V6.74408L21.1125 6.73002C21.9234 6.71595 22.0125 6.70658 22.1297 6.61752C22.3359 6.46752 22.4391 6.29877 22.4625 6.07377C22.4953 5.80189 22.3922 5.56752 22.1672 5.39877L21.9938 5.26283L21.0703 5.24877L20.1469 5.2347L20.0906 4.99095C20.0109 4.6347 19.6594 3.94564 19.3828 3.61283C19.2516 3.45345 19.0125 3.21439 18.8531 3.08314C18.5016 2.7972 17.8453 2.45502 17.4891 2.37533L17.2266 2.31908V1.45658C17.2266 0.481579 17.1984 0.359705 16.9172 0.148767C16.7719 0.0362663 16.6969 0.0128288 16.4719 0.0128288C16.1813 0.0128288 16.0312 0.0925159 15.8484 0.336267C15.7594 0.453455 15.75 0.542517 15.7359 1.35345L15.7219 2.23939H15.1594H14.6016V1.41908C14.6016 0.481579 14.5734 0.359705 14.2922 0.148767C14.1469 0.0362663 14.0719 0.0128288 13.8469 0.0128288C13.5563 0.0128288 13.4063 0.0925159 13.2234 0.336267C13.1344 0.453455 13.125 0.542517 13.1109 1.35345L13.0969 2.23939H12.5344H11.9766V1.41908C11.9766 0.481579 11.9484 0.359705 11.6672 0.148767C11.5219 0.0362663 11.4469 0.0128288 11.2219 0.0128288C10.9313 0.0128288 10.7812 0.0925159 10.5984 0.336267C10.5094 0.453455 10.5 0.542517 10.4859 1.35345L10.4719 2.23939H9.90938H9.35156V1.41908C9.35156 0.481579 9.32344 0.359705 9.04219 0.148767C8.89688 0.0362663 8.82188 0.0128288 8.59688 0.0128288C8.30625 0.0128288 8.15625 0.0925159 7.97344 0.336267C7.88438 0.453455 7.875 0.542517 7.86094 1.35345L7.84688 2.23939H7.28438H6.72656V1.41908C6.72656 0.486267 6.69375 0.359705 6.42656 0.153454C6.22031 -0.00123215 5.8875 -0.0481071 5.67188 0.0550175ZM16.9547 3.79095C17.7656 3.9597 18.4172 4.57377 18.6422 5.37533C18.7219 5.66595 18.7266 5.99877 18.7266 11.2019C18.7266 15.0363 18.7125 16.7941 18.675 16.9675C18.5016 17.8019 17.7891 18.5144 16.9547 18.6878C16.6078 18.7581 5.84531 18.7581 5.49844 18.6878C4.66406 18.5144 3.95156 17.8019 3.77813 16.9675C3.70781 16.6206 3.70781 5.85814 3.77813 5.51127C3.94688 4.70033 4.62188 4.00189 5.42813 3.80502C5.75625 3.72533 16.5797 3.71127 16.9547 3.79095Z"/>
                                            <path d="M9.1809 8.516C9.13871 8.56288 8.66996 9.78632 8.14496 11.2394C7.37621 13.3441 7.1934 13.8926 7.2309 13.9629C7.27778 14.0426 7.33871 14.0519 7.91059 14.0519C8.40278 14.0519 8.55278 14.0379 8.60903 13.9816C8.64653 13.9441 8.74496 13.7332 8.82934 13.5129L8.97934 13.1144H10.0387H11.1028L11.2575 13.5363C11.3465 13.7848 11.4497 13.9816 11.5012 14.0098C11.5528 14.0332 11.8575 14.0473 12.209 14.0426L12.8325 14.0285L12.8465 13.9113C12.8606 13.7754 11.009 8.63319 10.8965 8.50663C10.8356 8.43632 10.7278 8.42694 10.0434 8.42694C9.34028 8.42694 9.25121 8.43632 9.1809 8.516ZM10.3856 10.841C10.5543 11.3332 10.709 11.7691 10.7278 11.816C10.7559 11.891 10.6997 11.8957 10.0481 11.8957C9.65903 11.8957 9.34028 11.8816 9.34028 11.8582C9.34028 11.7598 10.02 9.88475 10.0481 9.91757C10.0622 9.93632 10.2168 10.3535 10.3856 10.841Z"/>
                                            <path d="M13.2732 8.54882C13.2451 8.61913 13.2263 9.68319 13.2263 11.2394C13.2263 12.7957 13.2451 13.8598 13.2732 13.9301L13.3201 14.0519H14.0185C14.6654 14.0519 14.7263 14.0426 14.7732 13.9629C14.8013 13.9019 14.8201 12.9644 14.8201 11.2394C14.8201 9.51444 14.8013 8.57694 14.7732 8.516C14.7263 8.43632 14.6654 8.42694 14.0185 8.42694H13.3201L13.2732 8.54882Z"/>
                                        </svg>
                                p.tab__text Публикация вакансий
                        .section__wrapper.section__wrapper-p24
                            form.section__form.section__form-start
                                .section__col1
                                    h2.section__title-h2 Оплата прошла успешно
                                    .section__col1
                                        h3.section__title Учётная запись
                                        label(for='email').label.label-active.section__tariffs3-label
                                            h3.label__title.label__title-icon Электронная почта
                                            input(type="email", name="email", value='d.p.mezentsev@gmail.com').label__input.input#email
                                .section__tariffs5
                                    .section__access.section__access-period
                                        h3.section__ranges-title 
                                            | Доступ на  
                                            span период 
                                        input(type="number", value='189', name='access-for-period').input.input_number.input_grey 
                                        h3.section__ranges-title календарных дней
                                    .section__access.section__access-center
                                        h3.section__ranges-title 
                                            | Дата и время 
                                            span начала 
                                            |  доступа
                                        input(type="text", value='17.08.2025, 10:18', name='access-start').input.input_number.input_grey 
                                    .section__access.section__access-center
                                        h3.section__ranges-title 
                                            | Дата и время 
                                            span окончания 
                                            |  доступа
                                        input(type="text", value='17.08.2026, 10:18', name='access-finish').input.input_number.input_grey 
                                .section__col1
                                    h2.section__title Включено в стоимость
                                    .section__col2
                                        .check.check_circle
                                            input.check__input#access-all(type="checkbox", checked, name="access-all" value='Доступ к базе по всей Российской Федерации')
                                            label.check__label(for="access-all")
                                                .check__check
                                                .check__info
                                                    h3.check__title Доступ к базе по всей Российской Федерации
                                                    p.check__text Больше не нужно отдельно оплачивать доступ для каждого региона РФ
                                            .check__clue
                                                .clue
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                    </svg>
                                                    .clue__wrapper
                                                        p.clue__text Поиск кандидатов производится по всей базе данных кандидатов в РФ, за исключением применения фильтров по городам/регионам 
                                                        p.clue__text Соответственно, доплачивать за доступ в регионы РФ не нужно
                                        .check.check_circle
                                            input.check__input#no-restrictions(type="checkbox", checked, name="no-restrictions" value='Нет ограничений по количеству контактов')
                                            label.check__label(for="no-restrictions")
                                                .check__check
                                                .check__info
                                                    h3.check__title Нет ограничений по количеству контактов
                                                    p.check__text Все контакты кандидатов бесплатые и без ограничений по количеству
                                            .check__clue
                                                .clue
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                    </svg>
                                                    .clue__wrapper
                                                        p.clue__text При поиске кандидатов контакты предоставляются бесплатно
                                                        p.clue__text Также в период доступа нет ограничения по количеству данных контактов
                                        .check.check_circle
                                            input.check__input#no-restrictions(type="checkbox", checked, name="no-restrictions" value='Нет ограничений по количеству контактов')
                                            label.check__label(for="no-restrictions")
                                                .check__check
                                                .check__info
                                                    h3.check__title 
                                                        | Включено 
                                                        span.check__title-span +19 
                                                        |  дополнительных рекрутера для работы под вашей компанией
                                                    p.check__text 
                                                        | Вы можете 
                                                        a(href="").check__link пригласить 
                                                        | рекрутеров сейчас или позже в Личном кабинете
                                            .check__clue
                                                .clue
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM10 7C9.63113 7 9.3076 7.19922 9.13318 7.50073C8.85664 7.97879 8.24491 8.14215 7.76685 7.86561C7.28879 7.58906 7.12543 6.97733 7.40197 6.49927C7.91918 5.60518 8.88833 5 10 5C11.6569 5 13 6.34315 13 8C13 9.30622 12.1652 10.4175 11 10.8293V11C11 11.5523 10.5523 12 10 12C9.44773 12 9.00001 11.5523 9.00001 11V10C9.00001 9.44772 9.44773 9 10 9C10.5523 9 11 8.55228 11 8C11 7.44772 10.5523 7 10 7ZM10 15C10.5523 15 11 14.5523 11 14C11 13.4477 10.5523 13 10 13C9.44772 13 9 13.4477 9 14C9 14.5523 9.44772 15 10 15Z" fill="#A0A1A9"/>
                                                    </svg>
                                                    .clue__wrapper
                                                        p.clue__text При регистрации и авторизации в роле «Работодатель» создается родительская учётная запись под конкретной компанией
                                                        p.clue__text По умолчанию и бесплатно можно пригласить под данную компанию 2х сотрудников (роль «Рекрутер»), которые, например, будут заниматься поиском и наймом сотрудников
                                                        p.clue__text Если нужно предоставить доступ более чем 2м сотрудникам, то есть возможность на этапе приобретения периода доступа или после (через Личный кабинет) приобрести указанную расширенную возможность приглашения
                                                        p.clue__text При этом сами приглашаемые сотрудники (роль «Ректрутер») за доступ не платят, но могут работать только через конкретную компанию
                                                        p.clue__text Максимальное количество приглашаемых сотрудников под одной компанией -  не более 30 человек
                                    .section__tariffs3
                                .section__col1
                                    p.section__receipt 
                                        | Квитанцию/чек отправили на d.p.mezentsev@gmail.com
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_5785_61816)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7554 4.34011H25.2788L20.7129 0.420582C20.5146 0.250336 20.2618 0.156738 20.0005 0.156738C19.7391 0.156738 19.4864 0.250336 19.288 0.420582L14.722 4.34011H7.24586C6.95578 4.34011 6.67758 4.45535 6.47246 4.66046C6.26734 4.86558 6.15211 5.14378 6.15211 5.43386V11.6971L2.68062 14.6771L2.6775 14.6796C2.37276 14.9163 2.12594 15.2194 1.95576 15.5658C1.78558 15.9121 1.69651 16.2927 1.69531 16.6786V37.316C1.69618 37.9862 1.96278 38.6287 2.43664 39.1026C2.91051 39.5765 3.55296 39.8431 4.22312 39.844H35.7778C36.4481 39.8432 37.0906 39.5766 37.5646 39.1026C38.0385 38.6287 38.3051 37.9861 38.3059 37.3159V16.6786C38.3046 16.2927 38.2154 15.9121 38.0452 15.5657C37.875 15.2194 37.6281 14.9163 37.3234 14.6795L37.3203 14.6771L33.8488 11.6973V5.4341C33.8488 5.14404 33.7337 4.86584 33.5286 4.66069C33.3236 4.45553 33.0454 4.34022 32.7554 4.34011Z" fill="#D1E7FF"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.7141 15.5283L34.0052 16.1365V14.9201L34.7141 15.5283ZM5.99594 16.1365L5.28719 15.5283L5.99594 14.9201V16.1365ZM31.5052 6.68389V18.2826L20.0005 28.1587L8.49563 18.2826V6.68389H31.5052ZM20.0005 2.89787L21.4991 4.18381H18.5025L20.0005 2.89787ZM16.4905 28.4403L19.1863 30.7542C19.4129 30.9488 19.7017 31.0557 20.0004 31.0557C20.2991 31.0557 20.588 30.9488 20.8146 30.7542L23.5108 28.4403L34.065 37.5002H5.93664L16.4905 28.4403ZM14.5713 26.7931L4.03906 17.7512V35.8347L14.5713 26.7931ZM35.9624 17.7512L25.4297 26.7931L35.9625 35.8347V17.7512H35.9624ZM32.7554 4.18381H25.3367L20.8146 0.30201C20.588 0.107452 20.2991 0.000488281 20.0004 0.000488281C19.7017 0.000488281 19.4129 0.107452 19.1863 0.30201L14.6641 4.18381H7.24586C6.91434 4.18381 6.5964 4.3155 6.36198 4.54992C6.12756 4.78434 5.99586 5.10229 5.99586 5.43381V11.6252L2.5818 14.5558C2.25817 14.8072 1.99607 15.129 1.81539 15.4968C1.63472 15.8646 1.54022 16.2688 1.53906 16.6786V37.316C1.53993 38.0276 1.82299 38.7098 2.32616 39.213C2.82932 39.7162 3.51152 39.9993 4.22312 40.0002H35.7778C36.4895 39.9994 37.1718 39.7163 37.675 39.2131C38.1783 38.7098 38.4614 38.0275 38.4622 37.3158V16.6786C38.4609 16.2688 38.3662 15.8647 38.1855 15.4969C38.0048 15.1292 37.7427 14.8074 37.4191 14.556L34.005 11.6254V5.43404C34.005 5.10252 33.8733 4.78458 33.6389 4.55016C33.4045 4.31574 33.0865 4.18404 32.755 4.18404L32.7554 4.18381ZM20.0005 16.9846C20.3424 16.9842 20.6702 16.8483 20.9121 16.6067C21.1541 16.3651 21.2904 16.0374 21.2912 15.6955V15.6933C21.2911 15.438 21.2153 15.1885 21.0734 14.9763C20.9315 14.7641 20.7298 14.5987 20.494 14.5011C20.2581 14.4035 19.9986 14.378 19.7482 14.4279C19.4979 14.4778 19.2679 14.6008 19.0875 14.7813C18.907 14.9619 18.7841 15.1919 18.7344 15.4422C18.6846 15.6926 18.7102 15.9521 18.8079 16.1879C18.9057 16.4238 19.0711 16.6253 19.2834 16.7671C19.4957 16.9089 19.7452 16.9846 20.0005 16.9846ZM18.012 22.8726C18.1207 22.9029 18.2331 22.9182 18.3459 22.9179C18.6482 22.9176 18.9402 22.8078 19.1677 22.6088C19.3952 22.4099 19.543 22.1352 19.5835 21.8356C19.6241 21.5361 19.5548 21.232 19.3883 20.9796C19.2219 20.7273 18.9697 20.5438 18.6784 20.4632C17.6477 20.1779 16.7372 19.5666 16.083 18.7207C15.4288 17.8747 15.0662 16.8397 15.0494 15.7704C15.0326 14.7012 15.3625 13.6552 15.9897 12.7891C16.617 11.923 17.5079 11.2834 18.5291 10.9659C19.5502 10.6484 20.6467 10.6701 21.6545 11.0278C22.6623 11.3856 23.5271 12.06 24.1196 12.9503C24.712 13.8406 25.0002 14.8988 24.941 15.9665C24.8818 17.0343 24.4785 18.0541 23.7913 18.8735V15.6938C23.7912 14.8877 23.5341 14.1025 23.0574 13.4525C22.5806 12.8024 21.9091 12.3213 21.1402 12.079C20.3714 11.8366 19.5453 11.8457 18.782 12.1049C18.0186 12.3642 17.3578 12.86 16.8955 13.5204C16.4332 14.1808 16.1935 14.9714 16.2112 15.7773C16.2289 16.5833 16.5031 17.3626 16.9939 18.002C17.4848 18.6415 18.1667 19.1079 18.9407 19.3333C19.7147 19.5588 20.5403 19.5316 21.2978 19.2558C21.332 19.7279 21.5039 20.1797 21.7921 20.5553C22.0803 20.9308 22.4723 21.2137 22.9195 21.3689C23.3668 21.524 23.8497 21.5447 24.3086 21.4284C24.7675 21.312 25.1822 21.0637 25.5015 20.7142C26.5945 19.5158 27.2663 17.9934 27.4149 16.3783C27.5635 14.7631 27.1807 13.1437 26.3247 11.766C25.4687 10.3883 24.1863 9.32783 22.6724 8.74566C21.1586 8.16349 19.496 8.09151 17.9375 8.54064C16.379 8.98978 15.0097 9.93548 14.0378 11.234C13.066 12.5325 12.5446 14.1128 12.553 15.7348C12.5615 17.3567 13.0992 18.9315 14.0845 20.2199C15.0698 21.5082 16.4489 22.4396 18.012 22.8726Z" fill="#2E58FF"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_5785_61816">
                                            <rect width="40" height="40" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                    p.section__receipt 
                                        | Квитанцию/чек можно 
                                        a(href="").section__receipt-link скачать
                                .section__clean
                                .section__footer2
                                    button(type="button").btn.btn_h48.btn_tertiary Понятно
                                    button(type="button").btn.btn_h48.btn_primary в Личный кабинет