doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тарифы
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/tariffs.css")
    body.bg
        aside.aside 
            .aside__logo
                p.aside__logo-job JOB 
                p.aside__logo-job.aside__logo-job-white AI 
                .aside__logo-r 
                    img(src="images/icons/r.png", alt="R")
            ul.aside__list.aside__list-bottom
                li.aside__item
                    a(href="tariffs.html").aside__link.aside__link-active
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.60156 14.4004V18.0004C3.60156 19.9886 7.36237 21.6004 12.0016 21.6004C16.6407 21.6004 20.4016 19.9886 20.4016 18.0004V14.4004C20.4016 16.3886 16.6407 18.0004 12.0016 18.0004C7.36237 18.0004 3.60156 16.3886 3.60156 14.4004Z"/>
                            <path d="M3.60156 8.40039V12.0004C3.60156 13.9886 7.36237 15.6004 12.0016 15.6004C16.6407 15.6004 20.4016 13.9886 20.4016 12.0004V8.40039C20.4016 10.3886 16.6407 12.0004 12.0016 12.0004C7.36237 12.0004 3.60156 10.3886 3.60156 8.40039Z"/>
                            <path d="M20.4016 6.00039C20.4016 7.98862 16.6407 9.60039 12.0016 9.60039C7.36237 9.60039 3.60156 7.98862 3.60156 6.00039C3.60156 4.01217 7.36237 2.40039 12.0016 2.40039C16.6407 2.40039 20.4016 4.01217 20.4016 6.00039Z"/>
                        </svg>
                        | Тарифы
                li.aside__item
                    a(href="contacts.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.39844 3.5999C2.39844 2.93716 2.9357 2.3999 3.59844 2.3999H6.18189C6.76849 2.3999 7.26912 2.824 7.36556 3.40262L8.25273 8.72567C8.33934 9.24531 8.07691 9.76067 7.60572 9.99626L5.74795 10.9251C7.08751 14.2539 9.74445 16.9108 13.0732 18.2504L14.0021 16.3926C14.2377 15.9214 14.753 15.659 15.2727 15.7456L20.5957 16.6328C21.1743 16.7292 21.5984 17.2298 21.5984 17.8165V20.3999C21.5984 21.0626 21.0612 21.5999 20.3984 21.5999H17.9984C9.3828 21.5999 2.39844 14.6155 2.39844 5.9999V3.5999Z"/>
                        </svg>
                        | Связаться с нами
                li.aside__item
                    a(href="documents.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.39844 7.20005C2.39844 5.87457 3.47295 4.80005 4.79844 4.80005H10.7984L13.1984 7.20005H19.1984C20.5239 7.20005 21.5984 8.27457 21.5984 9.60005V16.8C21.5984 18.1255 20.5239 19.2 19.1984 19.2H4.79844C3.47295 19.2 2.39844 18.1255 2.39844 16.8V7.20005Z"/>
                        </svg>
                        | Документы
        header.header.bg 
            button(type="button").header__burger.btn-icon
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 5C17 4.44772 16.5523 4 16 4H4C3.44771 4 3 4.44772 3 5C3 5.55228 3.44771 6 4 6H16C16.5523 6 17 5.55228 17 5Z" fill="#6A6A73"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 10C17 9.44772 16.5523 9 16 9H4C3.44771 9 3 9.44772 3 10C3 10.5523 3.44771 11 4 11H16C16.5523 11 17 10.5523 17 10Z" fill="#6A6A73"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 15C17 14.4477 16.5523 14 16 14H4C3.44771 14 3 14.4477 3 15C3 15.5523 3.44771 16 4 16H16C16.5523 16 17 15.5523 17 15Z" fill="#6A6A73"/>
                </svg>
            .press-right
        .confirm.confirm_active
            .confirm__wrapper(data-confirm='success')
                button(type="button").confirm__x
                .confirm__item
                    p.confirm__text Ранее вы уже отправляли запрос на выставление счёта: 
                    p.confirm__text.confirm__text-center 12.08.2025г., 16:45 
                    p.confirm__text.confirm__text-center на сумму  3 709,00 руб. без НДС
                p.confirm__text 
                    | Подтвердите, пожалуйста, 
                    span.confirm__text.confirm__span неактуальность 
                    | данного запроса и необходимость его удаления
                .confirm__item
                    p.confirm__text Текущий запрос на выставления счёта:
                    p.confirm__text.confirm__text-center на сумму 277 089,12 руб. 
                    p.confirm__text.confirm__text-center с НДС 22% 49 966,89 руб. 
                p.confirm__text станет актуальным и мы направим на указанную вами электронную почту счёт на оплату.
                .confirm__btns
                    button(type="button").confirm__btn.btn.btn_primary.confirm__ok Подтвердить
                    button(type="button").confirm__btn.btn.btn_tertiary.confirm__close Отмена
            .confirm__wrapper.confirm__wrapper-active(data-confirm='notification')
                button(type="button").confirm__x
                .confirm__item
                    p.confirm__text У вас есть оплаченный период доступа 
                    p.confirm__text.confirm__text-center до 12.08.2025г., 16:45 
                p.confirm__text Вы можете отправить запрос на выставления счёта (и продлить период после оплаты) сразу после окончания текущего периода
                .confirm__btns.confirm__btns-center
                    button(type="button").confirm__btn.btn.btn_primary.confirm__close Понятно

                    
                                           


                


                            
              




                    

