doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Видеособеседование
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/najti.css")
        script(src="js/videosobesedovanie.js" defer) 
    body.bg
        aside.aside
            .aside__logo 
                p.aside__logo-job JOB 
                p.aside__logo-job.aside__logo-job-white AI 
                .aside__logo-r 
                    img(src="images/icons/r.png", alt="R")
            ul.aside__list.aside__list-line
                li.aside__item
                    a(href="najti_sotrudnika.html").aside__link.aside__link-active
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.59842 4.80002C6.94746 4.80002 4.79843 6.94906 4.79843 9.60002C4.79843 12.251 6.94746 14.4 9.59842 14.4C12.2494 14.4 14.3984 12.251 14.3984 9.60002C14.3984 6.94906 12.2494 4.80002 9.59842 4.80002ZM2.39844 9.60002C2.39844 5.62357 5.62198 2.40002 9.59842 2.40002C13.5749 2.40002 16.7984 5.62357 16.7984 9.60002C16.7984 11.155 16.3054 12.5949 15.4673 13.7719L21.2469 19.5515C21.7155 20.0201 21.7155 20.7799 21.2469 21.2486C20.7783 21.7172 20.0185 21.7172 19.5499 21.2486L13.7702 15.4689C12.5933 16.3071 11.1534 16.8 9.59842 16.8C5.62198 16.8 2.39844 13.5765 2.39844 9.60002Z"/>
                        </svg>
                        | Найти сотрудника
                li.aside__item
                    a(href="izbrannye_kandidaty.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.80433 6.20594C5.67884 4.33142 8.71803 4.33142 10.5926 6.20594L11.9984 7.61182L13.4043 6.20594C15.2788 4.33142 18.318 4.33142 20.1926 6.20594C22.0671 8.08045 22.0671 11.1196 20.1926 12.9942L11.9984 21.1883L3.80433 12.9942C1.92981 11.1196 1.92981 8.08045 3.80433 6.20594Z"/>
                        </svg>
                        | Избранные кандидаты
            ul.aside__list
                li.aside__item
                    a(href="moi_vakansii.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9984 2.40002C11.3357 2.40002 10.7984 2.93728 10.7984 3.60002V4.80002C10.7984 5.46277 11.3357 6.00002 11.9984 6.00002C12.6612 6.00002 13.1984 5.46277 13.1984 4.80002V3.60002C13.1984 2.93728 12.6612 2.40002 11.9984 2.40002Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.79844 4.80002H8.39844C8.39844 6.78825 10.0102 8.40002 11.9984 8.40002C13.9867 8.40002 15.5984 6.78825 15.5984 4.80002H19.1984C20.5239 4.80002 21.5984 5.87454 21.5984 7.20002V18C21.5984 19.3255 20.5239 20.4 19.1984 20.4H4.79844C3.47295 20.4 2.39844 19.3255 2.39844 18V7.20002C2.39844 5.87454 3.47295 4.80002 4.79844 4.80002ZM7.79844 13.2C8.79255 13.2 9.59844 12.3941 9.59844 11.4C9.59844 10.4059 8.79255 9.60002 7.79844 9.60002C6.80433 9.60002 5.99844 10.4059 5.99844 11.4C5.99844 12.3941 6.80433 13.2 7.79844 13.2ZM10.739 18C10.7784 17.8062 10.799 17.6055 10.799 17.4C10.799 15.7432 9.45588 14.4 7.79902 14.4C6.14217 14.4 4.79902 15.7432 4.79902 17.4C4.79902 17.6055 4.81968 17.8062 4.85903 18H10.739ZM14.3984 10.8C13.7357 10.8 13.1984 11.3373 13.1984 12C13.1984 12.6628 13.7357 13.2 14.3984 13.2H17.9984C18.6612 13.2 19.1984 12.6628 19.1984 12C19.1984 11.3373 18.6612 10.8 17.9984 10.8H14.3984ZM13.1984 15.6C13.1984 14.9373 13.7357 14.4 14.3984 14.4H16.7984C17.4612 14.4 17.9984 14.9373 17.9984 15.6C17.9984 16.2628 17.4612 16.8 16.7984 16.8H14.3984C13.7357 16.8 13.1984 16.2628 13.1984 15.6Z"/>
                        </svg>
                        | Мои вакансии
                li.aside__item
                    a(href="sozdat_vakansiyu.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.80156 4.80002C4.80156 3.47454 5.87608 2.40002 7.20156 2.40002H16.8016C18.127 2.40002 19.2016 3.47454 19.2016 4.80002V19.2C19.8643 19.2 20.4016 19.7373 20.4016 20.4C20.4016 21.0628 19.8643 21.6 19.2016 21.6H15.4016C14.8493 21.6 14.4016 21.1523 14.4016 20.6V18C14.4016 17.3373 13.8643 16.8 13.2016 16.8H10.8016C10.1388 16.8 9.60156 17.3373 9.60156 18V20.6C9.60156 21.1523 9.15385 21.6 8.60156 21.6H4.80156C4.13882 21.6 3.60156 21.0628 3.60156 20.4C3.60156 19.7373 4.13882 19.2 4.80156 19.2V4.80002ZM8.40156 6.00002H10.8016V8.40002H8.40156V6.00002ZM10.8016 10.8H8.40156V13.2H10.8016V10.8ZM13.2016 6.00002H15.6016V8.40002H13.2016V6.00002ZM15.6016 10.8H13.2016V13.2H15.6016V10.8Z"/>
                        </svg>
                        | Создать вакансию
            ul.aside__list.aside__list-bottom
                li.aside__item
                    a(href="contacts.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.39844 3.5999C2.39844 2.93716 2.9357 2.3999 3.59844 2.3999H6.18189C6.76849 2.3999 7.26912 2.824 7.36556 3.40262L8.25273 8.72567C8.33934 9.24531 8.07691 9.76067 7.60572 9.99626L5.74795 10.9251C7.08751 14.2539 9.74445 16.9108 13.0732 18.2504L14.0021 16.3926C14.2377 15.9214 14.753 15.659 15.2727 15.7456L20.5957 16.6328C21.1743 16.7292 21.5984 17.2298 21.5984 17.8165V20.3999C21.5984 21.0626 21.0612 21.5999 20.3984 21.5999H17.9984C9.3828 21.5999 2.39844 14.6155 2.39844 5.9999V3.5999Z"/>
                        </svg>
                        | Связаться с нами
                li.aside__item
                    a(href="documents.html").aside__link
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.39844 7.20005C2.39844 5.87457 3.47295 4.80005 4.79844 4.80005H10.7984L13.1984 7.20005H19.1984C20.5239 7.20005 21.5984 8.27457 21.5984 9.60005V16.8C21.5984 18.1255 20.5239 19.2 19.1984 19.2H4.79844C3.47295 19.2 2.39844 18.1255 2.39844 16.8V7.20005Z"/>
                        </svg>
                        | Документы
        header.header.bg 
            button(type="button").header__burger.btn-icon
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 5C17 4.44772 16.5523 4 16 4H4C3.44771 4 3 4.44772 3 5C3 5.55228 3.44771 6 4 6H16C16.5523 6 17 5.55228 17 5Z" fill="#6A6A73"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 10C17 9.44772 16.5523 9 16 9H4C3.44771 9 3 9.44772 3 10C3 10.5523 3.44771 11 4 11H16C16.5523 11 17 10.5523 17 10Z" fill="#6A6A73"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 15C17 14.4477 16.5523 14 16 14H4C3.44771 14 3 14.4477 3 15C3 15.5523 3.44771 16 4 16H16C16.5523 16 17 15.5523 17 15Z" fill="#6A6A73"/>
                </svg>
            .press-right
            button(type="button").btn-icon.bulb
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.1984 3.60002C13.1984 2.93728 12.6612 2.40002 11.9984 2.40002C11.3357 2.40002 10.7984 2.93728 10.7984 3.60002V4.80002C10.7984 5.46277 11.3357 6.00002 11.9984 6.00002C12.6612 6.00002 13.1984 5.46277 13.1984 4.80002V3.60002Z"/>
                    <path d="M18.7866 6.90879C19.2552 6.44016 19.2552 5.68037 18.7866 5.21174C18.318 4.74311 17.5582 4.74311 17.0896 5.21174L16.241 6.06026C15.7724 6.52889 15.7724 7.28869 16.241 7.75732C16.7097 8.22595 17.4695 8.22595 17.9381 7.75732L18.7866 6.90879Z"/>
                    <path d="M21.5984 12C21.5984 12.6628 21.0612 13.2 20.3984 13.2H19.1984C18.5357 13.2 17.9984 12.6628 17.9984 12C17.9984 11.3373 18.5357 10.8 19.1984 10.8H20.3984C21.0612 10.8 21.5984 11.3373 21.5984 12Z"/>
                    <path d="M6.05866 7.75734C6.52729 8.22597 7.28709 8.22597 7.75572 7.75734C8.22435 7.28871 8.22435 6.52891 7.75572 6.06029L6.90719 5.21176C6.43856 4.74313 5.67876 4.74313 5.21014 5.21176C4.74151 5.68039 4.74151 6.44018 5.21014 6.90881L6.05866 7.75734Z"/>
                    <path d="M5.99844 12C5.99844 12.6628 5.46118 13.2 4.79844 13.2H3.59844C2.9357 13.2 2.39844 12.6628 2.39844 12C2.39844 11.3373 2.9357 10.8 3.59844 10.8H4.79844C5.46118 10.8 5.99844 11.3373 5.99844 12Z"/>
                    <path d="M9.59844 19.2V18H14.3984V19.2C14.3984 20.5255 13.3239 21.6 11.9984 21.6C10.673 21.6 9.59844 20.5255 9.59844 19.2Z"/>
                    <path d="M14.3995 16.8C14.417 16.3916 14.6476 16.0245 14.9706 15.7694C16.0839 14.8903 16.7984 13.5286 16.7984 12C16.7984 9.34906 14.6494 7.20002 11.9984 7.20002C9.34747 7.20002 7.19844 9.34906 7.19844 12C7.19844 13.5286 7.91297 14.8903 9.02626 15.7694C9.34933 16.0245 9.57985 16.3916 9.59737 16.8H14.3995Z"/>
                </svg>
            .header__access
                p.header__text Доступ до 
                p.header__span 01.07.2025
            .header__line
            button(type="button").btn-icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5984 12.0001C21.5984 16.6393 17.3004 20.4001 11.9984 20.4001C10.2085 20.4001 8.53293 19.9714 7.09856 19.2251L2.39844 20.4001L4.0044 16.6528C2.9898 15.3209 2.39844 13.7209 2.39844 12.0001C2.39844 7.36091 6.6965 3.6001 11.9984 3.6001C17.3004 3.6001 21.5984 7.36091 21.5984 12.0001ZM8.39844 10.8001H5.99844V13.2001H8.39844V10.8001ZM17.9984 10.8001H15.5984V13.2001H17.9984V10.8001ZM10.7984 10.8001H13.1984V13.2001H10.7984V10.8001Z" fill="#6A6A73"/>
                </svg>
                .notifications.btn-icon
                    p.notifications__number 1
            button(type="button").btn-icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0016 2.3999C8.02515 2.3999 4.8016 5.62345 4.8016 9.5999V13.9028L3.95307 14.7514C3.60987 15.0946 3.5072 15.6107 3.69294 16.0591C3.87868 16.5075 4.31624 16.7999 4.8016 16.7999H19.2016C19.687 16.7999 20.1245 16.5075 20.3103 16.0591C20.496 15.6107 20.3933 15.0946 20.0501 14.7514L19.2016 13.9028V9.5999C19.2016 5.62345 15.978 2.3999 12.0016 2.3999Z" fill="#6A6A73"/>
                    <path d="M12.0016 21.5999C10.0133 21.5999 8.40156 19.9881 8.40156 17.9999H15.6016C15.6016 19.9881 13.9898 21.5999 12.0016 21.5999Z" fill="#6A6A73"/>
                </svg>
                .notifications.btn-icon
                    p.notifications__number 9
            .header__line
            .header__avatar 
                p.header__avatar-text МР
            .header__name 
                p.header__text АО «МИРАКС Рекрутмент»
                p.header__span Цвилев А.В.
            button(type="button").btn-icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2108 3.80503C10.6656 1.93153 13.3302 1.93153 13.785 3.80503C14.0788 5.01519 15.4656 5.58954 16.5292 4.94175C18.1755 3.93859 20.0597 5.82271 19.0565 7.46909C18.4088 8.53257 18.9831 9.91842 20.1932 10.2123C22.0667 10.6671 22.0666 13.3316 20.1932 13.7865C18.983 14.0803 18.4087 15.4671 19.0565 16.5306C20.0597 18.177 18.1755 20.0611 16.5292 19.058C15.4656 18.4101 14.0788 18.9845 13.785 20.1947C13.3301 22.0681 10.6656 22.0682 10.2108 20.1947C9.91696 18.9846 8.53111 18.4102 7.46763 19.058C5.82125 20.0611 3.93713 18.177 4.94029 16.5306C5.58808 15.4671 5.01373 14.0803 3.80357 13.7865C1.93006 13.3316 1.93006 10.6671 3.80357 10.2123C5.01356 9.91837 5.58795 8.53253 4.94029 7.46909C3.93713 5.82271 5.82125 3.93859 7.46763 4.94175C8.53107 5.58942 9.9169 5.01502 10.2108 3.80503ZM11.9979 8.39976C10.01 8.39999 8.39852 10.0115 8.39829 11.9994C8.39829 13.9875 10.0099 15.5997 11.9979 15.6C13.9861 15.6 15.5985 13.9876 15.5985 11.9994C15.5983 10.0113 13.986 8.39976 11.9979 8.39976Z" fill="#6A6A73"/>
                </svg>
            .header__line
            button(type="button").btn-icon
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.59844 3.6001C2.9357 3.6001 2.39844 4.13736 2.39844 4.8001V19.2001C2.39844 19.8628 2.9357 20.4001 3.59844 20.4001C4.26118 20.4001 4.79844 19.8628 4.79844 19.2001V4.8001C4.79844 4.13736 4.26118 3.6001 3.59844 3.6001Z" fill="#6A6A73"/>
                    <path d="M15.9499 14.7516C15.4813 15.2202 15.4813 15.98 15.9499 16.4486C16.4185 16.9173 17.1783 16.9173 17.647 16.4486L21.247 12.8486C21.472 12.6236 21.5984 12.3184 21.5984 12.0001C21.5984 11.6818 21.472 11.3766 21.247 11.1516L17.647 7.55157C17.1783 7.08294 16.4185 7.08294 15.9499 7.55157C15.4813 8.0202 15.4813 8.78 15.9499 9.24862L17.5014 10.8001L8.39844 10.8001C7.7357 10.8001 7.19844 11.3374 7.19844 12.0001C7.19844 12.6628 7.7357 13.2001 8.39844 13.2001H17.5014L15.9499 14.7516Z" fill="#6A6A73"/>
                </svg>
        main.main 
            section.section.section_active
                .container.container_video
                    .section__top 
                        h2.title Михайлова Татьяна Сергеевна
                        a(href='').link.link-xsmall 
                            p.link__show Как пользоваться?
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.39922 3.30078C3.18419 3.30078 2.19922 4.28575 2.19922 5.50078V16.5008C2.19922 17.7158 3.18419 18.7008 4.39922 18.7008H17.5992C18.8142 18.7008 19.7992 17.7158 19.7992 16.5008V5.50078C19.7992 4.28575 18.8142 3.30078 17.5992 3.30078H4.39922ZM7.69922 5.50078H14.2992V9.90078H7.69922V5.50078ZM16.4992 14.3008V16.5008H17.5992V14.3008H16.4992ZM14.2992 12.1008H7.69922V16.5008H14.2992V12.1008ZM16.4992 12.1008H17.5992V9.90078H16.4992V12.1008ZM17.5992 7.70078V5.50078H16.4992V7.70078H17.5992ZM5.49922 5.50078V7.70078H4.39922V5.50078H5.49922ZM5.49922 9.90078H4.39922V12.1008H5.49922V9.90078ZM4.39922 14.3008H5.49922V16.5008H4.39922V14.3008Z" fill="#6A6A73"/>
                            </svg>
                    .section__btns 
                        .section__btns-width
                            button(type="button").btn.btn_white.btn-icon48.btn-transcription
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.5 11H14.5M8.5 15H12.7929M12.5 20H6.5C5.39543 20 4.5 19.1046 4.5 18V4C4.5 2.89543 5.39543 2 6.5 2H12.0858C12.351 2 12.6054 2.10536 12.7929 2.29289L18.2071 7.70711C18.3946 7.89464 18.5 8.149 18.5 8.41421L18.5 9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M22 18.5C22 20 20.433 21 18.5 21M18.5 21C16.567 21 15 20 15 18.5M18.5 21V23M18.5 23H16.5M18.5 23H20.5M18.5 18C17.6716 18 17 17.3284 17 16.5V13.5C17 12.6716 17.6716 12 18.5 12C19.3284 12 20 12.6716 20 13.5V16.5C20 17.3284 19.3284 18 18.5 18Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                p.btn_white-hide Транскрибация
                            button(type="button").btn.btn_white.btn-icon48.btn-structuring
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.5 8H17.5M7.5 12H11.5M21.5 10V6C21.5 4.89543 20.6046 4 19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V14C3.5 15.1046 4.39543 16 5.5 16H8.5L12.5 20L14.5 18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M21.2222 14.4444C21.2222 15.7945 20.1278 16.8889 18.7778 16.8889C17.4277 16.8889 16.3333 15.7945 16.3333 14.4444C16.3333 13.0944 17.4277 12 18.7778 12C20.1278 12 21.2222 13.0944 21.2222 14.4444Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.7778 19C16.4152 19 14.5 20.6374 14.5 23H23.0556C23.0556 20.6374 21.1403 19 18.7778 19Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                p.btn_white-hide Структуирование
                            button(type="button").btn.btn_white.btn-icon48.btn-subvideo
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 19L8 12L15 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    .section__content
                        .section__main
                            .section__video(style="position: relative; padding-top: 56.25%; width: 100%")
                                iframe.section__video-video(src="https://kinescope.io/embed/mGmREEC6Q44uBcEw7M51w5" allow="autoplay; fullscreen; picture-in-picture; encrypted-media; gyroscope; accelerometer; clipboard-write; screen-wake-lock;" frameborder="0" allowfullscreen style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;")
                            .section__description
                                h2.section__description-title Видеособеседование на «SMM маркетолог»
                                .section__description-info 
                                    p.section__description-text 646 просмотров
                                    <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="2" cy="2" r="2" fill="#898990"/>
                                    </svg>
                                    p.section__description-text 12 октября 2024
                                    button(type="button").section__dots.btn.btn_black.btn-icon48
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 19L12 18.99M12 12L12 11.99M12 5L12 4.99M12 18C12.5523 18 13 18.4477 13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19C11 18.4477 11.4477 18 12 18ZM12 11C12.5523 11 13 11.4477 13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11ZM12 4C12.5523 4 13 4.44772 13 5C13 5.55229 12.5523 6 12 6C11.4477 6 11 5.55228 11 5C11 4.44772 11.4477 4 12 4Z" stroke="#202123" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                            .section__or 
                                .section__or-small
                                    button(type="button").btn.btn_white.btn-icon48.btn-transcription
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.5 11H14.5M8.5 15H12.7929M12.5 20H6.5C5.39543 20 4.5 19.1046 4.5 18V4C4.5 2.89543 5.39543 2 6.5 2H12.0858C12.351 2 12.6054 2.10536 12.7929 2.29289L18.2071 7.70711C18.3946 7.89464 18.5 8.149 18.5 8.41421L18.5 9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M22 18.5C22 20 20.433 21 18.5 21M18.5 21C16.567 21 15 20 15 18.5M18.5 21V23M18.5 23H16.5M18.5 23H20.5M18.5 18C17.6716 18 17 17.3284 17 16.5V13.5C17 12.6716 17.6716 12 18.5 12C19.3284 12 20 12.6716 20 13.5V16.5C20 17.3284 19.3284 18 18.5 18Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    button(type="button").btn.btn_white.btn-icon48.btn-structuring
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.5 8H17.5M7.5 12H11.5M21.5 10V6C21.5 4.89543 20.6046 4 19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V14C3.5 15.1046 4.39543 16 5.5 16H8.5L12.5 20L14.5 18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M21.2222 14.4444C21.2222 15.7945 20.1278 16.8889 18.7778 16.8889C17.4277 16.8889 16.3333 15.7945 16.3333 14.4444C16.3333 13.0944 17.4277 12 18.7778 12C20.1278 12 21.2222 13.0944 21.2222 14.4444Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M18.7778 19C16.4152 19 14.5 20.6374 14.5 23H23.0556C23.0556 20.6374 21.1403 19 18.7778 19Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    button(type="button").btn.btn_white.btn-icon48.btn-subvideo
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15 19L8 12L15 5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                button(type="button").btn.btn_blue
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.24697 3.95108C9.71559 4.41971 9.71559 5.17951 9.24697 5.64814L6.49549 8.39961H13.1984C17.8376 8.39961 21.5984 12.1604 21.5984 16.7996V19.1996C21.5984 19.8624 21.0612 20.3996 20.3984 20.3996C19.7357 20.3996 19.1984 19.8624 19.1984 19.1996V16.7996C19.1984 13.4859 16.5121 10.7996 13.1984 10.7996H6.49549L9.24697 13.5511C9.71559 14.0197 9.71559 14.7795 9.24697 15.2481C8.77834 15.7168 8.01854 15.7168 7.54991 15.2481L2.74991 10.4481C2.28128 9.97951 2.28128 9.21971 2.74991 8.75108L7.54991 3.95108C8.01854 3.48245 8.77834 3.48245 9.24697 3.95108Z" fill="white"/>
                                    </svg>
                                    | Вернуться
                            .subvideo.bg
                                .subvideo__wrapper
                                    .subvideo__content.subvideo__content-active(data-subvideo="transcription")
                                        button(type="button").btn.btn-icon48.btn_black.subvideo__content-btn
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 15L12 8L19 15" stroke="#202123" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        .subvideo__item 
                                            .subvideo__item-avatar.subvideo__item-avatar3
                                            .subvideo__item-content     
                                                .subvideo__item-top 
                                                    p.subvideo__item-name Коротенко Екатерина  
                                                    p.subvideo__item-time 00:02
                                                p.subvideo__text Представьтесь, пожалуйста, и сколько вам полных лет?
                                        .subvideo__item 
                                            .subvideo__item-avatar.subvideo__item-avatar4
                                            .subvideo__item-content     
                                                .subvideo__item-top 
                                                    p.subvideo__item-name Михайлова Татьна
                                                    p.subvideo__item-time 00:05
                                                p.subvideo__text  Меня зовут Татьяна.
                                                    <br> У нас с вами собеседование на позицию SMM маркетолога. Мне 34 года. Расскажу более подробно о своем опыте работы в продажах. Изначально начинала в B2C-сегменте. Это Beeline, Wimpl. Com - это были холодные обзвоны клиентов с предложением поменять тариф на план на более выгодный.
                                                    <br> После этого уже ушла в B2C-сегмент, продавалась ERM систему для транспортных компаний, заводов, то есть это все, что связано было с логистикой. Моя задача была взять в работу LEED. LEED - это заявка на сайте клиента, созвониться, вывести его на презентацию, договориться, в целом выявить его подробности, для чего ему продукт нужен, уже на основании этого провести презентацию в Zoom, показать как программа работает, как настраиваются под него и продать тарифный план.
                                                    <br> Тарифов было несколько и, соответственно, уже чем выше тарифный план, тем больше я зарабатываю. После этого я ушла уже на более высокую зарплату. Также в B2B, это был Sopran, там было очень много различных программ для бизнеса, то есть Sopran - это такой, знаете, как правильно объяснить, интегратор.
                                                    <br> То есть, моя задача была найти клиента, обязательно это был крупный бизнес, узнать задачи этого бизнеса. Уже на основании этого я приходила к директору по продажам, проводили встречу, и они уже там дальше без меня работали. То есть, тут функция моя была что-то вроде телемаркетолога.
                                                    <br> После этого я перешла в Озон. У Озона открывалось новое направление, называется Озон Рокет. К сожалению, оно уже сейчас закрылось. В чем была идея? Доставка товаров также для B2B. 
                                                    <br> Например, у вас есть интернет-магазин, в Инстаграме шоурум одежды. У вас клиент заказал доставку и через Озон отправляет. Я работала менеджером по продажам удаленно по Пермскому краю.
                                                    <br> Моя задача была искать клиентов, привлекать их, и также работать с теми клиентами, которые самостоятельно нас находили, регистрировали кабинеты и так далее. В марте пришлось покинуть Россию. Сезонно мы прекратили отношения, так как нельзя было работать из других стран. И здесь я уже перешла в компанию Alteo. Они разработчики, собственно, CRM-системы для салонов красоты. Наверняка, сталкивались в России, при записи в салон есть онлайн-запись, как клиент.
                                                    <br> Есть что-то вроде этого. Для клиентов удобство, что они удаленно записываются. Для салонов красоты это то, что есть некая единая программа, где у них все уже в одной системе. Что-то вроде 1С для салонов красоты, чтобы было понятнее.
                                                    <br> Ушла после Нового Года, съездила в Россию, закрыла все свои там дела, перевезла котов, и сейчас снова в поиске работы.
                                        .subvideo__item 
                                            .subvideo__item-avatar.subvideo__item-avatar3
                                            .subvideo__item-content     
                                                .subvideo__item-top 
                                                    p.subvideo__item-name Коротенко Екатерина
                                                    p.subvideo__item-time 03:22
                                                p.subvideo__text Хорошо, спасибо за подробный рассказ. Вот выяснить некоторые детали. Скажите, вот именно на удалёнке сколько уже работаете? В удалённом формате?
                                        .subvideo__item 
                                            .subvideo__item-avatar.subvideo__item-avatar4
                                            .subvideo__item-content     
                                                .subvideo__item-top 
                                                    p.subvideo__item-name Михайлова Татьяна
                                                    p.subvideo__item-time 03:33
                                                p.subvideo__text Уже давно, с ковида, вот как ковид начался, нас перевели, это ещё было в Sopran
                                    .subvideo__content(data-subvideo="structuring")
                                        button(type="button").btn.btn-icon48.btn_black.subvideo__content-btn
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 15L12 8L19 15" stroke="#202123" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        p.subvideo__text Видеособеседование с Кузнецовым Владимиром Михайловичем
                                        p.subvideo__text 
                                            span 00:00:02 
                                            | Начало карьеры
                                            <br> • Татьяна, 34 года, собеседуется на позицию менеджера по продажам
                                            <br> • Начинала в сегменте B2C, продавала тарифные планы для Билайн и Вымпелком
                                            <br> • Перешла в B2B, продавала CRM системы для транспортных компаний и заводов
                                        p.subvideo__text 
                                            span 00:00:40 
                                            | Задачи в продажах
                                            <br> • Работала с заявками на сайте клиентов, созванивалась, проводила презентации в Zoom
                                            <br> • Выявляла потребности клиентов, продавала тарифные планы
                                            <br> • Чем выше тарифный план, тем больше зарабатывала
                                        p.subvideo__text 
                                            span 00:01:06 
                                            | Переход в Sopran
                                            <br> •  В Sopran искала крупных клиентов, проводила встречи с директорами по продажам
                                            <br> • Функция была похожа на работу телемаркетолога
                                        p.subvideo__text 
                                            span 00:01:31 
                                            | Работа в Ozon
                                            <br> • В Ozon работала удалённо в Пермском крае, искала и привлекала клиентов
                                            <br> • В марте покинула Россию, перешла в компанию Altedio
                                        p.subvideo__text 
                                            span 00:04:12 
                                            | Причины увольнения
                                            <br> • Уволилась из-за негативного климата в коллективе, постоянных выяснений отношений
                                            <br> • Несмотря на хорошую зарплату, продуктивная работа была невозможна
                                        p.subvideo__text 
                                            span 00:05:21 
                                            | Критерии выбора работодателя
                                            <br> • Важны продукт, руководитель с опытом продаж и хорошая зарплата
                                            <br> • Руководитель должен быть лидером и уметь обучать
                                        p.subvideo__text 
                                            span 00:06:28 
                                            | Функционал на последнем месте работы
                                            <br> • Перезванивала клиентам после регистрации на сайте, выявляла потребности
                                            <br> • Назначала презентации в Zoom, помогала с внедрением
                                        p.subvideo__text 
                                            span 00:08:46 
                                            | Успехи в продажах
                                            <br> • Привлекла двух крупных клиентов, которые изначально не хотели работать с системой
                                            <br> • Успешно подключила сеть барбершопов «Мужики»
                                        p.subvideo__text 
                                            span 00:09:52 
                                            | Плюсы и минусы последнего места работы
                                            <br> • Плюсы: классный продукт, хорошая зарплата, новые друзья
                                            <br> • Минусы: неумение руководить компанией, проблемы с продуктом
                                        p.subvideo__text 
                                            span 00:11:16 
                                            | Действия при невыполнении плана
                                            <br> • Прозванивала отказников, работала с холодной базой.
                                            <br> • Искала варианты выполнения плана, чтобы сохранить зарплату.
                                        p.subvideo__text 
                                            span 00:12:13 
                                            | Важные этапы продажи
                                            <br> • Установление контакта и правильное выявление потребностей клиента
                                        p.subvideo__text 
                                            span 00:13:10 
                                            | Чего не должен делать руководитель
                                            <br> • Не должен мешать продажам, создавать дополнительные задачи
                                        p.subvideo__text 
                                            span 00:13:39 
                                            | Нарушение субординации
                                            <br> • Во время презентации в Zoom клиент не должен видеть переписку в корпоративном мессенджере Slack
                                            <br> • Генеральный руководитель начал выяснять отношения в чате, что привело к нарушению субординации
                                            <br> • Автор закрыла переписку, чтобы клиент не увидел, но из-за этого ей начали задавать вопросы
                                        p.subvideo__text 
                                            span 00:14:37 
                                            | Атмосфера в компании
                                            <br> • Компания пытается выйти на новый уровень, но атмосфера в ней напоминает работу в ООО «Рога и копыта»
                                            <br> • Автор выражает недовольство атмосферой в компании




