@media (max-width: 1439px) {
    .freebie__fund{
        padding-right: 20px;
    }
    .freebie__account {
        padding: 12px;
    }
    .freebie__account-chance{
        font-size: 24px;
    }
    .freebie__account-ticket figure{
        width: 20px;
        height: 20px;
    }
    .freebie__account-ticket p {
        font-size: 20px;
    }
    .curtain__win{
        font-size: 66px;
    }
    .curtain__sum{
        font-size: 66px;
    }
    .freebie__baner-play{
        font-size: 72px;
        line-height: 80px;
    }
    .freebie__baner-platform{
        font-size: 30px;
    }
    .freebie__baner-win{
        font-size: 40px;
        line-height: 44px;
    }
    .freebie__baner-prize{
        font-size: 26px;
    }
}
@media (max-width: 1199px) {
    .freebie__account-chance{
        font-size: 18px;
    }
    .freebie__account-ticket p {
        font-size: 16px;
    }
    .curtain__win{
        font-size: 50px;
        line-height: 60px;
    }
    .curtain__sum{
        font-size: 56px;
        line-height: 60px;
    }
    .freebie__baner-play{
        font-size: 66px;
    }
    .freebie__baner-platform{
        font-size: 26px;
    }
    .freebie__baner-win{
        font-size: 30px;
    }
    .freebie__baner-prize{
        font-size: 22px;
        line-height: 26px;
    }
    .freebie__fund-fund {
        font-size: 36px;
        line-height: 42px;
    }
    .freebie__fund-sum{
        font-size: 48px;
        line-height: 56px;
    }
    .freebie__fund-text{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 1023px) {
    .freebie__content-wrapper{
        grid-template-columns: 1fr;
    }
    .header__list{
        display: none;
    }
    .freebie__content-item{
        height: 100%;
        margin-bottom: 24px;
    }
    .freebie__baner {
        max-width: 100%;
        height: 300px;
        background-size: 100% 520px;
    }
    
}
@media (max-width: 767px) {
    .balance{
        display: none;
    }
    .deposit{
        display: none;
    }
    .freebie__fund-fund {
        font-size: 26px;
        line-height: 32px;
    }
    .freebie__fund-sum {
        font-size: 32px;
        line-height: 38px;
    }
    .freebie__fund-text {
        font-size: 12px;
    }
}