doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мир в плюсе
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="../css/main.css")
    body 
        header.header 
            .container
                .header__wrapper
                    a(href="index.html").logo
                        .logo__image
                            img(src="../images/logo.png", alt="logo").logo__img
                        .logo__name
                            p.logo__name-title Мир в плюсе
                            p.logo__name-text Добрые новости, которые вдохновляют
                    nav.nav 
                        ul.nav__list 
                            li.nav__item 
                                a(href="index.html").nav__link Главная
                            li.nav__item 
                                a(href="index.html").nav__link Контакты
                            li.nav__item 
                                a(href="index.html").nav__link О нас
                    .setting
                        button(type="button") 
                        button(type="button") 
        main.main 
            section.hiro
                .container
                    .hiro__wrapper 
                        h1.title Мир в плюсе
                        h2 Добрые новости, которые вдохновляют
                        p Здесь собраны истории о добрых делах, научных открытиях и героях современности. Узнайте, как мир становится лучше каждый день.
                        button(type="button") Читать новости
            section.content
                .container

        footer.footer 
            .container