*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: var(--text);
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
:root{
    --bg-color: #f1f7fc;
    --black: #0E3A3F;
    --text: #365C6F;
    --prime: #4FFAFF;
    --active: #6DE0E9;
    --text-news: #626262;
    --bg-post: #E4E9F1;
    --blue: #0F33EF;
    --text-back: #666;
}
.container{
    padding: 0 280px;
}
#swiper-news {
    width: 672px;
    height: 465px;
}
/* HEADER */
.header{
    position: relative;
    background-color: var(--bg-color);
}
.header__wrap{
    position: relative;
    padding-top: 220px;
}
.header__path{
    margin-bottom: 18px;
    font: 300 14px/18px 'Unbounded', sans-serif;
    color: var(--text);
}
.header__path-last{
    display: inline;
    color: var(--black);
}
.header__logo{
    margin-bottom: 50px;
}
.header__logo-title{
    font: 300 60px/66px 'Cormorant', serif;
    color: var(--black);
}
.header__nav{
    padding-bottom: 180px;
}
.header__list{
    display: flex;
    list-style: none;
}
.header__list-item{
    margin-right: 60px;
    cursor: pointer;
}
.header__list-btn{
    padding: 12px 10px;
    border: none;
    background-color: initial;
    font: 400 18px/23px 'Unbounded', sans-serif;
    color: var(--text);
    cursor: pointer;
}
.item-active{
    border: 1px solid var(--prime);
    border-radius: 100px;
    color: var(--black);
}
.header__bg{
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
}
.header__bg-text{
    display: flex;
    justify-content: space-between;
    font: 700 360px/360px 'Cormorant', serif;
    color: #fff;
}

/* BLOGS */
.blogs{
    position: relative;
    margin-top: -50px;
    margin-bottom: 100px;
}
.blogs__wrap{
    display: grid;
    grid-template-columns: repeat(3, 441px);
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    justify-content: center;
}
.blogs__item{
    position: relative;
}
.blogs__img{
    position: relative;
    margin-bottom: 40px;
}
.blogs__img-iframe{
    width: 441px;
    height: 526px;
}
.blogs__img-img{
    width: 441px;
    height: 526px;
    object-fit: cover;
}
.blogs__img-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blogs__content{
    padding-bottom: 20px;
}
.blogs__content-teg{
    margin-bottom: 15px;
    padding: 6px 20px;
    display: inline-block;
    background-color: var(--active);
    font: 700 12px/12px 'Unbounded', sans-serif;
    color: #fff;
}
.blogs__content-title{
    margin-bottom: 18px;
    font: 300 30px/30px 'Cormorant', serif;
    text-transform: uppercase;
    color: var(--black);
}
.blogs__content-text{
    max-height: 115px;
    font: 300 18px/23px 'Unbounded', sans-serif;
    overflow: hidden;
    color: var(--text);
}
.blogs__content-link{
    position: absolute;
    bottom: 0;
    font: 500 16px/20px 'Unbounded', sans-serif;
    color: var(--black);
}


/* NEWS */
.news{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--bg-color);
}
.news__bg-text{
    display: flex;
    justify-content: space-between;
    font: 700 360px/360px 'Cormorant', serif;
    color: #fff;
}
.news__items{
    display: grid;
    grid-template-columns: 420px auto;
    gap: 20px;
    margin-bottom: 90px;
}
.news__items:first-child{
    margin-top: -150px;
}
.news__item-title{
    font: 300 50px/55px 'Cormorant', serif;
    color: var(--black);
    text-transform: uppercase;
}
.news__wrap{
    display: grid;
    grid-template-columns: 665px 200px;
    justify-content: space-between;
}
.news__item-content{
    width: 665px;
}
#scroll{
    overflow-y: scroll;
    direction: rtl;
}
#scroll *{
    direction: ltr;
    text-align: left
}
#scroll::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
}
#scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--active);
}
#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 7px;
    background-color: #fff;
}
.news__list{
    margin-bottom: 30px;
    padding-left: 20px;
    font: 300 18px/23px 'Unbounded', sans-serif;
    color: var(--text); 
}
.news__list-second, .news__list-sub{
    margin-bottom: 30px;
}
.news__list-sub span{
    color: var(--active);
}
.news__first-img{
    display: grid;
    grid-template-columns: 331px 331px;
    grid-column-gap: 4px;
    height: 465px;
}
.news__first-video{
    position: relative;
}
.news__first-sign{
    width: 331px;
    margin-top: 12px;
    margin-bottom: 60px;
    font: 300 18px/23px 'Unbounded', sans-serif;
    color: var(--text-news);
}
.news__first-details{
    font: 300 18px/23px 'Unbounded', sans-serif;
    color: var(--text-news);
}
.news__nav-list{
    padding-left: 20px;
    overflow-y: scroll;
}
#news__nav-list::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
}
#news__nav-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--active);
}
#news__nav-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 7px;
    background-color: #fff;
}
.news__list-item{
    margin-bottom: 40px;
    padding-right: 10px;
    font: 400 16px/20px 'Unbounded', sans-serif;
    color: var(--text);
    opacity: 0.5;
    cursor: pointer;
}
.news__list-item:hover{
    opacity: 0.8;
}
.news__list-active{
    opacity: 1;
}
.news__img{
    position: relative;
    height: 465px;
    margin: 90px 0;
    object-fit: cover;
}
.news__second{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-right: -280px;
    margin-bottom: 280px;
}
.news__second-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__second-p{
    width: 340px;
    font: 300 18px/23px 'Unbounded', sans-serif;
    color: var(--text-news);
    text-align: center;
}
.news__slider{
    position: relative;
    margin-bottom: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.news__slider-img{
    margin-bottom: 20px;
}
.news__list-bold{
    font-weight: 700;
}
.news__list-marker{
    padding-left: 20px;
    list-style: inside;
}


/* POST */
.post{
    background-color: var(--bg-post);
}
.blue{
    color: var(--blue);
}
.post__back{
    display: flex;
    padding-top: 40px;
    padding-bottom: 24px;
}
.post__back-arrow{
    display: inline;
    margin-right: 16px;
    padding: 11.5px 13px;
    background-color: #fff;
    border-radius: 50%;
}
.post__back-link{
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: var(--blue);
}
.post__new{
    display: flex;
    align-items: flex-start;
    padding-bottom: 24px;
}
.post__new-title{
    min-width: 495px;
    margin-right: 16px;
    font: 700 24px/30px 'Unbounded', sans-serif;
}
.post__new-text{
    display: flex;
    height: 56px;
    font: 700 22px/27px 'Montserrat', sans-serif;
    color: var(--text-back);
    overflow: hidden;
}
.post__new-telegram{
    margin-right: 16px; 
    padding: 7px 9px;
    background-color: #fff;
    border: 1px solid var(--blue);
    border-radius: 50%;
}
.post__wrap{
    padding-top: 90px;
    padding-bottom: 70px;
    border-radius: 16px;
    background-color: #fff;
}

.faq{
    margin: 0 360px;
    margin-bottom: 70px;
}
.faq__item{
    border-top: 1px solid var(--text-back);
    border-bottom: 1px solid var(--text-back);
    background-color: initial;
}
.ui-accordion-header-icon{
    display: none;
}
.ui-accordion .ui-accordion-header{
    display: flex;
    border: none;
    background-color: initial;
}
.ui-accordion-content{
    border: none;
}
.faq__item-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 40px;
    font: 500 16px/22px 'Unbounded', sans-serif;
    color: var(--black);
    text-transform: uppercase;
}
.faq__item-text{
    margin-bottom: 45px;
    font: 400 16px/20px 'Montserrat', sans-serif;
    color: #6B6B6B;
}
.faq__item-text span{
    color: var(--blue);
    text-decoration: underline;
}
.faq__item-svg{
    min-width: 40px;
}
.faq__item ol{
    padding-left: 20px;
}
.faq__item li{
    margin-bottom: 20px;
}
.faq__item li:last-child{
    margin-left: -20px;
    list-style: none;
}

.postNews__wrap{
    padding: 0 15px;
}
.postNews__item{
    margin-bottom: 68px;
}
.postNews__title{
    margin-bottom: 20px;
    font: 700 24px/30px 'Unbounded', sans-serif;
    color: var(--black);
}
.postNews__select{
    width: 1022px;
    margin-right: 40px;
    padding: 16px 32px;
    border: 1px solid #ADADAD;
    border-radius: 16px;
    font: 500 14px/24px 'Montserrat', sans-serif;
    color: #666;
}
#swiper-post{
    width: 400px;
    height: 260px;
}
.postNews__slider{
    margin-bottom: 100px;
}
.postNews__slider-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.postNews__slider-img{
    width: 280px;
    height: 206px;
    object-fit: cover;
}
.postNews__slider-text{
    font: 700 16px/20px 'Montserrat', sans-serif;
    color: #6b6b6b;
}
.files{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
}
.files__telegram{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.files__telegram-text{
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: var(--blue);
    cursor: pointer;
}
.files__add-btn{
    background-color: var(--blue);
}
.files__btn{
    width: 100%;
    margin-bottom: 25px;
    padding: 16px;
    border: none;
    border-radius: 16px;
    font: 700 16px/24px 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}
.files__load-btn{
    background-color: #727689;
}
.files__load-btn:active{
    background-color: #118530;
}

.blogs__img-btn{
    display: flex;
    position: absolute;
    align-items: center;
    top: 10px;
    right: 70px;
}
.blogs__img-success{
    margin-right: 2px;
    padding: 4px 4px;
}
.blogs__img-delete{
    padding: 6px 9px;
    border-radius: 4px;
    background-color: #fff;
}
.language{
    display: flex;
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: var(--black);
}
.language__btn{
    padding-right: 5px;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: inherit;
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: var(--black);
    cursor: pointer;
}
.language__btn-active{
    font-weight: 700;
    color: var(--blue);
    text-decoration: underline;
}
.postNews__item-textarea{
    width: 1220px;
    height: 216px;
    margin-top: 8px;
    margin-left: 10px;
    padding: 19px 16px 19px 32px;
    border: 1px solid #ADADAD;
    border-radius: 16px;
    font: 500 14px/24px 'Montserrat', sans-serif;
    color: #666;
}
#scroll-textarea{
    overflow-y: scroll;
    direction: rtl;
    text-align: left;
}
#scroll-textarea *{
    direction: ltr;
    text-align: left;
}
#scroll-textarea::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
}
#scroll-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--active);
}
#scroll-textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 7px;
    background-color: #fff;
}
.form{
    display: grid;
    grid-template-columns: 930px 300px;
    gap: 40px;
    margin-bottom: 35px;
}
.form__label{
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: var(--black);
}
.form__label span{
    font-weight: 700;
}
.form__textarea{
    width: 877px;
    height: 80px;
    margin-top: 8px;
    padding: 19px 16px 19px 32px;
    border: 1px solid #ADADAD;
    border-radius: 16px;
}
.form__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form__textarea{
    font: 500 14px/24px 'Montserrat', sans-serif;
    color: #666;
}
.form__select{
    width: 297px;
    margin-top: 8px;
    padding: 16px 32px;
    border: 1px solid #ADADAD;
    border-radius: 16px;
    font: 500 14px/24px 'Montserrat', sans-serif;
    color: #666;
}
.form__add{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.form__add-btn{
    margin-right: 16px;
    padding: 8.5px 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--bg-post);
}
.form__add-text{
    font: 500 16px/20px 'Montserrat', sans-serif;
    color: var(--blue);
}
.post__footer{
    margin: 24px 0;
}
.post__footer-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post__footer-p{
    margin-right: 12px;
    padding: 18px 32px;
    background-color: #fff;
    border-radius: 60px;
    font: 500 18px/30px 'Unbounded', sans-serif;
    color: var(--blue);
    text-transform: uppercase;
}
.post__footer-btn{
    padding: 23.5px 24.5px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.files__footer-p{
    background-color: var(--blue);
    color: #fff;
}
.files__footer-btn{
    background-color: var(--blue);
}
.files__footer-btn path{
    stroke: #fff;
}