@media (max-width: 1919px) {
    .container{
        padding: 0 40px;
    }
    .header__bg-text, .news__bg-text{
        font-size: 280px;
    }
    .news__second{
        grid-template-columns: repeat(3, 306px);
        margin-right: -40px;
    }
    .slider__footer{
        margin-right: -40px;
    }
    .robook{
        width: 25%;
    }
}
@media (max-width: 1439px) {
    .header__bg-text, .news__bg-text{
        font-size: 200px;
    }
    .blogs__wrap{
        grid-template-columns: repeat(2, 441px);
    }
    .news__items{
        grid-template-columns: 234px 520px 160px;
        gap: 15px;
    }
    .news__item-title{
        font-size: 30px;
        line-height: 40px;
    }
    .news__media{
        grid-template-columns: repeat(2, 256px);
        gap: 8px;
    }
    .news__media-iframe{
        width: 100%;
        height: 360px;
    }
    .news__text{
        font-size: 16px;
        line-height: 20px;
    }
    .news__nav-item{
        font-size: 14px;
        line-height: 18px;
    }
    .news__second{
        grid-template-columns: repeat(3, 240px);
    }
    .news__signature{
        font-size: 14px;
        line-height: 18px;
    }
    #swiper-news{
        width: 660px;
        height: 360px;
    }
    .swipper-iframe{
        width: 520px;
        height: 360px;
    }
    .slider__footer-wrapper{
        height: 395px;
    }
    .slider__footer-slide{
        height: 295px;
    }
    .slider__footer-prev{
        left: 43%;
    }
    .slider__footer-next{
        right: 43%;
    }
    .post__new{
        flex-direction: column;
    }
    .form {
        column-gap: 20px;
    }
    .post__new-title{
        margin-right: 0;
    }
    .post-slide{
        max-width: 232px;
    }
    .post-prev, .post-next{
        top: 180px;
    }
    .robook{
        width: 20%;
    }
    .project__content{
        grid-template-columns: repeat(2, 440px)
    }
    .faq__item-wrapper{
        grid-template-columns: 658px;
        justify-content: center;
    }
    .faq__item-left{
        width: 100%;
        margin-top: 16px;
        grid-row-start: 2;
    }
    .faq__item-right{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 24px;
    }
    .faq__btn-recreate{
        margin-bottom: 0;
    }
    .files{
        margin-left: 0;
        margin-right: 0;
    }
    .files__download-btn, .files__download-text, .function__item-label, .function__item-input{
        font-size: 12px;
    }
    .function__item-input{
        padding: 6px 12px;
    }
    .footer {
        margin-top: -295px;
    }
    .footer__item{
        flex-direction: column;
        align-items: center;
    }
    .footer__title{
        margin-bottom: 16px;
        text-align: center;
    }
    .footer__item-grid{
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
    }
    .footer__menu:nth-child(2n+2){
        border: none;
    }

}
@media (max-width: 1023px) {
    .header__bg-text, .news__bg-text{
        font-size: 150px;
    }
    .blogs__wrap{
        grid-template-columns: 441px;
    }
    .news__items{
        grid-template-columns: 1fr;
    }
    .news__items img:focus{
        transform: scale(1.25);
    }
    .project__content img:focus{
        transform: scale(1.25);
    }
    .nav{
        grid-row-start: 1;
    }
    .news__nav{
        height: 150px;
    }
    .news__nav-item{
        margin-bottom: 20px;
    }
    .news__item-content{
        align-items: center;
    }
    .news__media{
        justify-content: center;
    }
    .news__second {
        grid-template-columns: repeat(3, 228px);
        grid-column: span 1;
        margin-right: 0;
    }
    .news__slider{
        width: 100%;
        margin: 0;
    }
    .slider__footer{
       margin-right: 0;
    }
    .news__item-last{
        grid-column: span 2;
    }
    .form {
        grid-template-columns:  1fr;
    }
    .form__error{
        grid-column: span 1;
    }
    .prevForm-error{
        left: 0;
    }
    .post-slide{
        max-width: 254px;
        height: 180px;
    }
    .post-slide img, .post-slide iframe{
        height: 88px;
        padding: 10px 0;
    }
    .post-subtext{
        font-size: 12px;
        line-height: 14px;
    }
    .post-prev, .post-next {
        top: 156px;
        padding: 6px 14.5px;
    }
    .post-swiper {
        margin-right: 65px;
        margin-left: 65px;
    }
    .files__wrap{
        grid-template-columns: 1fr 1fr;
    }
    .files__telegram-load{
        grid-column: span 2;
    }
    .robook{
        display: none;
    }
    .project__content{
        grid-template-columns: 440px;
    }
    .project__my{
        flex-direction: column;
    }
    .project__my-title{
        margin-bottom: 24px;
    }
    .functions{
        grid-template-columns: repeat(2, 1fr);
    }
    .files__download-btn, .files__download-text, .function__item-label, .function__item-input,
.posting__item-text {
        font-size: 10px;
    }
    .posting {
        grid-template-columns: repeat(2, 1fr);
    }
    .post__back{
        flex-direction: column;
    }
    .post__back-advertising{
        margin-top: 10px;
    }
    .footer__wrapper{
        padding-top: 200px;
    }
    .footer__title{
        font-size: 22px;
    }

}
@media (max-width: 767px) {
    .container{
        padding: 0 20px;
    }
    .header__wrap{
        padding-top: 40px;
    }
    .header__nav {
        padding-bottom: 80px;
    }
    .header__list{
        flex-direction: column;
    }
    .header__bg-text, .news__bg-text{
        font-size: 80px;
    }
    .blogs__wrap{
        grid-template-columns: 1fr;
    }
    .blogs__img{
        text-align: center;
    }
    .blogs__img-img, .blogs__img-iframe{
        width: 385px;
        height: 460px;
    }
    .news__items{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .news__items img:focus{
        transform: scale(1);
    }
    .project__content img:focus{
        transform: scale(1);
    }
    .news__item{
        grid-column: 1 / -1;
    }
    .news__item:first-child {
        grid-column: span 1;
    }
    .nav{
        margin-bottom: 10px;
    }
    .news__nav-item{
        margin-bottom: 10px;
    }
    .news__nav {
        height: 150px;
    }
    .news__item-title{
        margin-bottom: 15px;
    }
    .news__text {
        font-size: 12px;
        line-height: 14px;
    }
    .news__media{
        grid-template-columns: 385px;
    }
    .news__text-sub{
        margin-bottom: 15px;
    }
    .news__iframe{
        width: 385px;
        height: 265px;
    }
    .news__second{
        grid-template-columns: 385px;
        justify-content: center;
        margin-right: 0;
    }
    .news__scroll{
        height: 200px;
    }
    .news__slider{
        margin-left: -20px;
        margin-right: -20px;
    }
    #swiper-news{
        width: 425px;
        height: 210px;
        margin-left: -20px;
    }
    .swipper-iframe{
        width: 385px;
        height: 100%;
        margin: 0 20px;
    }
    .news__slider-prev, .news__slider-next{
        padding: 0 9px;
    }
    .slider__footer-prev{
        left: 25%;
    }
    .slider__footer-next{
        right: 25%;
    }
    .slider__footer{
        grid-column: span 1;
        margin-right: -20px;
        margin-left: -20px;
    }
    .slider__footer-wrapper{
        width: 425px;
        height: 300px;
    }
    .slider__footer-slide{
        height: 170px;
    }
    .post__new-title{
        min-width: 290px;
    }
    .faq__item{
        width: 355px;
    }
    .post__back-link, .post__new-text{
        font-size: 12px;
        line-height: 14px;
    }
    .post__new-title{
        font-size: 18px;
        line-height: 20px;
    }
    .postNews__content{
        flex-direction: column;
    }
    .postNews__select{
        width: 100%;
        margin-bottom: 10px;
    }
    .post__footer-wrap{
        flex-direction: column;
    }
    .post__footer-p{
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .post__footer-btn{
        display: none;
    }
    .postNews__title {
        font-size: 20px;
        line-height: 26px;
    }
    .files__wrap{
        grid-template-columns: 1fr;
    }
    .files{
        margin: 0;
    }
    .files__telegram-load{
        grid-column: span 1;
    }
    .error{
        font-size: 10px;
        line-height: 12px;
    }
    .post-prev, .post-next {
        top: 170px;
        padding: 6px 14.5px;
    }
    .post-slide{
        max-width: 215px;
    }
    .postNews__item-textarea, .form__textarea{
        padding: 9px 6px 9px 16px;
        font-size: 12px;
        line-height: 16px;
    }
    .postNews__clue{
        left: -30px;
    }
    .project__my-items{
        flex-direction: column;
        align-items: flex-start;
    }
    .project__my-item{
        margin-bottom: 24px;
    }
    .project__content{
        grid-template-columns: auto;
    }
    .faq__item-wrapper{
        grid-template-columns: 355px;
    }
    .now__item {
        grid-template-columns: 1fr ;
        gap: 16px;
    }
    .posting__item-add {
        margin-top: 0;
    }
    .now__item{
        margin-bottom: 20px;
    }
    .functions, .posting {
        grid-template-columns: 1fr;
    }
    .files__items{
        grid-template-columns: 1fr;
    }
    .files__item{
        margin-bottom: 20px;
    }
    .footer {
        margin-top: -210px;
    }
    .footer__wrapper {
        padding-top: 110px;
    }
    .footer__btn-text{
        margin-right: 0;
    }
    .footer__btn-btn{
        display: none;
    }
    .footer__item-grid{
        grid-template-columns: 1fr;
    }
    .footer__menu{
        border: none;
    }
    .footer__item-title{
        font-size: 40px;
        line-height: 48px;
    }
    .footer-rights__wrapper{
        flex-direction: column;
    }
    .footer__right:first-child{
        margin-bottom: 16px;
    }
}
@media (max-width: 424px) {
    .header__logo-title{
        font-size: 40px;
        line-height: 40px;
    }
    .header__logo {
        margin-bottom: 30px;
    }
    .header__list{
        flex-direction: column;
    }
    .header__bg-text, .news__bg-text{
        font-size: 60px;
    }
    .header__list-btn{
        font-size: 14px;
        line-height: 14px;
    }
    .blogs__wrap{
        grid-template-columns: 280px;
    }
    .blogs__img-img, .blogs__img-iframe{
        width: 280px;
        height: 335px;
    }
    .blogs__content-title{
        font-size: 24px;
        line-height: 24px;
    }
    .blogs__content-text{
        font-size: 12px;
        line-height: 18px;
    }
    .blogs__content-link{
        font-size: 12px;
        line-height: 16px;
    }

    .news__items{
        grid-template-columns: 280px;
        gap: 0;
        justify-content: center;
    }
    .news__media {
        grid-template-columns: 280px;
    }
    .news__iframe{
        width: 280px;
    }
    .news__second {
        grid-template-columns: 280px;
        gap: 25px;
    }
    #swiper-news {
        width: 320px;
        height: 160px;
    }
    .swipper-iframe{
        width: 280px;
        margin: 0 20px;
    }
    .news__nav-item {
        font-size: 10px;
        line-height: 14px;
    }
    .news__item-title {
        font-size: 20px;
        line-height: 24px;
    }
    .news__text {
        font-size: 10px;
    }
    .news__signature {
        font-size: 12px;
        line-height: 14px;
    }
    .faq{
        margin: 0 5px;
    }
    .news__text-sub{
        width: 270px;
    }
    .faq__item{
        width: 270px;
    }
    .faq__item-svg{
        display: none;
    }
    .faq__item-title p {
        margin-right: 0;
    }
    .ui-accordion .ui-accordion-content{
        padding-left: 0;
    }
    .faq__item-text{
        font-size: 12px;
        line-height: 16px;
    }
    .form__select{
        width: 250px;
    }
    .postNews__title {
        font-size: 14px;
        line-height: 16px;
    }
    .postNews__slider{
        margin-right: -15px;
        margin-left: -15px;    
    }
    .post-swiper {
        margin-right: 35px;
        margin-left: 35px;
    }
    .post-prev, .post-next {
        top: 145px;
        padding: 0px 8.5px;
    }
    .post-prev{
        left: -15px;
    }
    .post-next{
        right: -15px;
    }
    .post-slide {
        max-width: 201px;
    }
    .post__footer-p {
        font-size: 10px;
        line-height: 14px;
    }
    .project__footer-page{
        margin-right: 8px;
        padding: 8px 15px;
    }
    .faq__item-wrapper{
        grid-template-columns: 270px;
    }
    .postCreated-item {
        padding: 0;
    }
    .postNews__content-textarea{
        width: 220px;
    }
    .btn-submit{
        width: 250px;
    }
    .function__item-input {
        padding: 6px 6px;
    }
    .footer__title {
        font-size: 16px;
    }
    .footer__btn-text {
        width: 300px;
        height: 80px;
    }
    .footer__menu{
        padding: 0;
    }
    .footer__item-title {
        font-size: 32px;
        line-height: 40px;
    }
    .footer__right, .footer__rights-link{
        font-size: 10px;
    }
}