doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Искусство быть счастливой
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.css")
        script(defer src="js/script.js") 
    body 
        main 
            section.rate
                button(type="button" data-rate="standart").rate__btn.modal-btn Заказать
        .modal(data-modal='min')
            <form id="ltForm4209602" class="modal__form lt-normal-formlt-form-innerlt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146406249" method="post" data-open-new-window="0" >
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Минимум
                    h2.modal__title.modal__price 49 900 руб
                <input type="hidden" name="formParams[setted_offer_id]">
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваш эл. адрес" name="formParams[email]" value="">
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button4228029" onclick="if(window['btnprs67e11932dc057']){return false;}window['btnprs67e11932dc057']=true;setTimeout(function(){window['btnprs67e11932dc057']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139204367e11932d4350" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139204367e11932d4350ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805298">
                <input type="hidden" name="requestSimpleSign" value="18953964ed3d6c748180c4676c51ec90">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='standart')
            <form id="ltForm660148" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146412326" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Стандарт
                    h2.modal__title.modal__price 59 900 руб
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input"  name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button536585" onclick="if(window['btnprs67e119475b839']){return false;}window['btnprs67e119475b839']=true;setTimeout(function(){window['btnprs67e119475b839']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139205867e1194720843" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139205867e1194720843ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805319">
                <input type="hidden" name="requestSimpleSign" value="c52b58ef7accdf666f15e9d2c0c0d6ba">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='vip')
            <form id="ltForm7775764" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146412383" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф VIP
                    h2.modal__title.modal__price 79 900 руб
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input"  maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input"  maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input"   name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button1393141" onclick="if(window['btnprs67e1195fb4199']){return false;}window['btnprs67e1195fb4199']=true;setTimeout(function(){window['btnprs67e1195fb4199']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139205967e1195fabb55" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139205967e1195fabb55ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805343">
                <input type="hidden" name="requestSimpleSign" value="3891778eedec870061c7f77f9bbe7254">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='min-installments') 
            <form id="ltForm2196160" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414611" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Минимум
                    h2.modal__title.modal__price от 4 990 руб./месяц
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button8433381" onclick="if(window['btnprs67e119762962a']){return false;}window['btnprs67e119762962a']=true;setTimeout(function(){window['btnprs67e119762962a']=false},6000);return true;">Оформить заказ</button><br>
                <input type="hidden" id="139207067e119761f0b3" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207067e119761f0b3ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805366">
                <input type="hidden" name="requestSimpleSign" value="05d84501aea9fdf7e18c9b7aa2bcb0f8">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='standart-installments') 
            <form id="ltForm8868581" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414625" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Стандарт
                    h2.modal__title.modal__price от 5 990 руб./месяц
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button2704557" onclick="if(window['btnprs67e11987c284d']){return false;}window['btnprs67e11987c284d']=true;setTimeout(function(){window['btnprs67e11987c284d']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139207167e11987b180d" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207167e11987b180dref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805383">
                <input type="hidden" name="requestSimpleSign" value="e31dd12c52c11fa3c5e58f4981ba70b5">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='vip-installments') 
            <form id="ltForm7456756" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414631" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф VIP
                    h2.modal__title.modal__price от 7 990 руб./месяц
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button8347342" onclick="if(window['btnprs67e1199741aef']){return false;}window['btnprs67e1199741aef']=true;setTimeout(function(){window['btnprs67e1199741aef']=false},6000);return true;">Оформить заказ</button><br>
                <input type="hidden" id="139207367e1199735b73" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207367e1199735b73ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805399">
                <input type="hidden" name="requestSimpleSign" value="45333f5ec4e853a32ea8b55feb87b8e2">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>



