doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Искусство быть счастливой
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/style.css")
        script(defer src="js/script.js") 
    body 
        main 
            section.behappy 
                .container 
                    img.behappy__img.behappy__img-roset(src="images/rose_t.png", alt="rose")
                    img.behappy__img.behappy__img-petalst(src="images/petals_t.png", alt="petals")
                    img.behappy__img.behappy__img-ringlt(src="images/ring_lt.png", alt="ring")
                    img.behappy__img.behappy__img-ringlb(src="images/ring_lb.png", alt="ring")
                    img.behappy__img.behappy__img-ringrt(src="images/ring_rt.png", alt="ring")
                    img.behappy__img.behappy__img-ringrb(src="images/ring_rb.png", alt="ring")
                    img.behappy__img.behappy__img-petalsb(src="images/petals_b.png", alt="petals")
                    .behappy__wrapper
                        .behappy__content
                            .behappy__author 
                                h2.behappy__author-title Авторский тренинг
                                p.behappy__author-text Надежды Майер
                            h1.behappy__title Искусство быть счастливой
                            p.behappy__text Научись правильно подбирать ключи к умам и сердцам людей, чтобы стать везучей в отношениях женщиной
                            a(href="#rate").main-btn Хочу быть счастливой
            section.modules
                img.modules__rose.modules__rose-lt(src="images/modul_rose-l.png", alt="")
                img.modules__rose.modules__rose-rt(src="images/modul_rose-r.png", alt="")
                img.modules__rose.modules__rose-lb(src="images/modul_rose-l.png", alt="")
                img.modules__rose.modules__rose-rb(src="images/modul_rose-r.png", alt="")
                .container 
                    .modules__wrapper
                        h2.modules__title Что тебя ждёт на тренинге 
                        .modules__content 
                            .modules__item
                                img.modules__item-img(src="images/modul_1.png", alt="Модуль")
                                .modules__item-plates
                                    p.modules__item-plate Модуль 1
                                h3.modules__item-title Типы мужчин<br> И какой из них - ТВОЙ
                                ul.modules__item-list
                                    li.modules__item-li Разберем подробно - на какие 8 психотипов делятся все люди (и в том числе, мужчины)
                                    li.modules__item-li Рассмотрим подробно каждый из психотипов - как мыслит, рассуждает, в чем его сильные и слабые стороны, какие есть особенности поведения, черты характера
                                    li.modules__item-li Определим твой психотип, чтобы ты смогла лучше понять себя
                                    li.modules__item-li Начнем определять психотипы твоих знакомых, коллег, родных и близких
                                    li.modules__item-li Появится ясность: мужчина какого психотипа сможет сделать тебя счастливой
                                .modules__result
                                    h3.modules__result-title Результат: 
                                    p.modules__result-text Ты начнешь понимать, что, на самом деле, скрывается за маской каждого человека, видеть не витрину, а истинную суть. И это убережет тебя от разочарований в людях вообще и в мужчинах, в частности. У тебя появится полностью реалистичный, при этом вдохновляющий портрет желанного мужчины (кого искать, чтобы стать счастливой) 
                            .modules__item
                                img.modules__item-img(src="images/modul_2.png", alt="Модуль")
                                .modules__item-plates
                                    p.modules__item-plate Модуль 2
                                h3.modules__item-title Как быстро узнать мужчину<br> нужного тебе психотипа
                                ul.modules__item-list
                                    li.modules__item-li Разберем отличительные особенности мимики каждого из психотипов (смотришь на лицо - видишь психотип)
                                    li.modules__item-li Рассмотрим характерные для каждого психотипа жесты
                                    li.modules__item-li Исследуем походку, типичные позы каждого психотипа
                                    li.modules__item-li Разберем, как психотип проявляется в устной и письменной речи (специфические словечки, построение предложений и другие нюансы)
                                    li.modules__item-li Рассмотрим, как ведут страницы в социальных сетях мужчины разных психотипов
                                    li.modules__item-li Увидим, как выглядит интерьер жилища каждого из психотипов
                                    li.modules__item-li Будет очень много примеров и много практики
                                .modules__result
                                    h3.modules__result-title Результат: 
                                    p.modules__result-text Ты начнешь быстро и легко определять психотипы даже незнакомых людей, уточнишь свои выводы о психотипах знакомых, сделанный в 1 модуле. И ты начнешь ВИДЕТЬ среди толпы тех мужчин, которые тебе наиболее подходят. Ты перестанешь ошибаться в людях, в своих выборах.
                            .modules__item
                                img.modules__item-img(src="images/modul_3.png", alt="Модуль")
                                .modules__item-plates
                                    p.modules__item-plate Модуль 3
                                h3.modules__item-title Как выбрать того,<br> кто выберет тебя
                                ul.modules__item-list
                                    li.modules__item-li Рассмотрим, как проявляю себя мужчины разных психотипов в любовных отношениях, какими они будут партнерами
                                    li.modules__item-li Разберем, чего хотят мужчины разных психотипов от своей партнерши, какие качества ценят в женщине
                                    li.modules__item-li Разберем, что неприемлемо для мужчины каждого из психотипов в отношениях, что их отталкивает в поведении женщины
                                    li.modules__item-li Выясним, в каких сферах будут успешны мужчины каждого психотипа (это хорошая подсказка - где познакомиться с успешным представителем нужного тебе психотипа или как в будущем помочь мужчине достичь успеха, а также возможность для тебя лучше понять, в какой сфере ты лично могла бы реализовать себя наилучшим образом)
                                    li.modules__item-li Познакомимся с таблицей совместимости, характеристиками совместимости людей разных психотипов (разберем абсолютно все возможные сочетания) 
                                .modules__result
                                    h3.modules__result-title Результат: 
                                    p.modules__result-text Ты сможешь окончательно принять решение: мужчина какого психотипа тебе нужен, как идеальный партнер. У тебя появится ясная перспектива: что ждет тебя в отношениях с мужчиной выбранного психотипа, какие свои качества проявлять, чтобы его заинтересовать, что нельзя допускать в отношениях с ним.
                            .modules__item
                                img.modules__item-img(src="images/modul_4.png", alt="Модуль")
                                .modules__item-plates
                                    p.modules__item-plate Модуль 4
                                h3.modules__item-title Как включить у мужчины режим<br> “Хочу для нее стараться”

                                ul.modules__item-list
                                    li.modules__item-li Разберем, где и как знакомиться с мужчинами разных психотипов (предпочтительные места и конкретные приемы, фишки, чтобы с тобой знакомились мужчины нужного психотипа)
                                    li.modules__item-li Рассмотрим, что важно делать в общении с мужчиной каждого из психотипов, чтобы он влюбился,и его любовь только крепла со временем (для каждого психотипа - своя стратегия, приемы общения)
                                    li.modules__item-li Изучим способы мотивации мужчин разных психотипов, чтобы ты могла легко вдохновлять мужчину стараться для тебя
                                    li.modules__item-li Разберем, как лгут мужчины разных психотипов, чтобы ты вовремя замечала малейшие звоночки и принимала нужные меры
                                    li.modules__item-li Рассмотрим, как наилучшим образом разрешать конфликты с мужчинами разных психотипов (конфликты в отношениях - это нормально, но важно уметь правильно их разрешать, тогда отношения становятся только лучше и крепче) 
                                .modules__result
                                    h3.modules__result-title Результат: 
                                    p.modules__result-text У тебя будет полное, подробное руководство, от “А” до “Я”: как получить счастливые отношения с мужчиной выбранного тобой психотипа (с конкретными приемами, шаблонами и скриптами общения).
                            .modules__item
                                img.modules__item-img(src="images/modul_5.png", alt="Модуль")
                                .modules__item-plates
                                    p.modules__item-plate Модуль 5
                                h3.modules__item-title Как применять профайлинг<br> для роста доходов
                                ul.modules__item-list
                                    li.modules__item-li Разберем, как быстро создать доверие в деловых отношениях с людьми разных психотипов (даже незнакомыми) - клиентами, подрядчиками, подчиненными, руководителем и пр
                                    li.modules__item-li Рассмотрим, как легко и эффективно убеждать людей разных психотипов (какие приемы работают лучше всего для каждого из них)
                                    li.modules__item-li Изучим приемы, которые помогут обходить возражения, несогласие и достигать консенсус, взаимопонимание в деловом общении с людьми разных психотипов
                                    li.modules__item-li Проанализируем типичные ошибки в деловом взаимодействии с руководителями, подчиненными и клиентами разных психотипов, ведущие к конфликтам и разногласиям. И как их не допустить
                                    li.modules__item-li Разберем, как в деловом общении быстро и эффективно разрешать конфликты (если они все-таки случились) с людьми разных психотипов
                                .modules__result
                                    h3.modules__result-title Результат: 
                                    p.modules__result-text У тебя будет невероятно крутая и подробная инструкция: как выстроить продуктивное и взаимовыгодное деловое общение с клиентами, руководителем, подчиненными, коллегами и пр. В зависимости от их психотипа. Практически, набор ключей к сердцу и уму любого человека. Если твой финансовый результаты связаны с общением (продажи, организация мероприятий, услуги), этот модуль - просто must have      
            section.rate#rate
                .container 
                    .rate__wrapper 
                        h2.rate__title Тарифы
                        .rate__content 
                            .rate__item.rate__item-white
                                h3.rate__item-title Минимум
                                p.rate__item-text 
                                    | 1, 2, 3, 4 модули<br>
                                    span.rate__item-span нет 5 модуля
                                .rate__item-line
                                p.rate__item-text Рабочая тетрадь
                                .rate__item-line
                                p.rate__item-text 
                                    | Личный кабинет 24/7<br>
                                    span.rate__item-span на 3 месяца
                                .rate__item-line
                                p.rate__item-text Куратор
                                .rate__item-line
                                p.rate__item-text 
                                    | Домашние задания<br> с проверкой куратором,<br>
                                    strong
                                        s без обратной связи
                                .rate__item-line
                                p.rate__item-text Тесты на проверку понимания материала<br> по каждому из доступных модулей
                                .rate__item-line
                                p.rate__item-text 
                                    s Нет доступа в чат<br> по профайлингу
                                .rate__item-line
                                p.rate__item-text 
                                    s Нет доступа к участию<br> в вебинарах поддержки, только записи
                                .rate__item-line
                                p.rate__item-text 
                                    | Ответы на вопросы<br> по материалам программы<br> от куратора<br>
                                    span.rate__item-span (только в личном кабинете)
                                .rate__item-line
                                p.rate__item-text 
                                    | Работа с тренажерами<br> на отработку навыков профайлинга - 
                                    span.rate__item-span 3 месяца
                                .rate__item-line
                                p.rate__item-text
                                    s Нет личной работы<br> с психологом
                                .rate__item-line
                                p.rate__item-text
                                    s Нет персональной консультации профайлера
                                .rate__item-line
                                p.rate__item-text
                                    s Нет возможности поступить на программу повышения квалификации <br>“Профайлинг<br> в консультировании”
                                .rate__item-line
                                .rate__price 
                                    .rate__price-left 
                                        p.rate__price-full
                                            s 89 900 руб
                                        p.rate__price-discount Скидка 45 %
                                    p.rate__price-right 49 900 руб
                                button(type="button" data-rate="min").rate__btn.modal-btn Заказать
                                button(type="button" data-rate="min-installments").rate__installment.modal-btn Оформить рассрочку от 4 990 руб./месяц
                            .rate__item.rate__item-rose
                                h3.rate__item-title Стандарт
                                p.rate__item-text 
                                    | 1, 2, 3, 4 модули<br>
                                    span.rate__item-span нет 5 модуля
                                .rate__item-line
                                p.rate__item-text Рабочая тетрадь
                                .rate__item-line
                                p.rate__item-text 
                                    | Личный кабинет 24/7<br>
                                    span.rate__item-span на 5 месяцев
                                .rate__item-line
                                p.rate__item-text Куратор
                                .rate__item-line
                                p.rate__item-text 
                                    | Домашние задания<br> с проверкой куратором и&nbsp;с&nbsp;персональной обратной связью
                                .rate__item-line
                                p.rate__item-text Тесты на проверку понимания материала<br> по каждому из доступных модулей
                                .rate__item-line
                                p.rate__item-text 
                                    | Доступ в чат тренинга<br> по профайлингу <br>
                                    span.rate__item-span - 5 месяцев
                                .rate__item-line
                                p.rate__item-text 
                                    | Участие в вебинарах поддержки, разборах кейсов<br>(“Кто это по психотипу?”)<br>+  записи вебинаров<br>
                                    span.rate__item-span - 5 месяцев
                                .rate__item-line
                                p.rate__item-text Ответы на вопросы<br> по материалам программы<br> от куратора (в личном кабинете, в чате тренинга, на вебинарах)
                                .rate__item-line
                                p.rate__item-text 
                                    | Работа с тренажерами<br> на отработку навыков профайлинга - 
                                    span.rate__item-span 5 месяцев
                                .rate__item-line
                                p.rate__item-text
                                    s Нет личной работы<br> с психологом
                                .rate__item-line
                                p.rate__item-text
                                    s Нет персональной консультации профайлера
                                .rate__item-line
                                p.rate__item-text
                                    s Нет возможности поступить на программу повышения квалификации <br>“Профайлинг<br> в консультировании”
                                .rate__item-line
                                .rate__price 
                                    .rate__price-left 
                                        p.rate__price-full
                                            s 109 900 руб
                                        p.rate__price-discount Скидка 45 %
                                    p.rate__price-right 59 900 руб
                                button(type="button" data-rate="standart").rate__btn.modal-btn Заказать
                                button(type="button" data-rate="standart-installments").rate__installment.modal-btn Оформить рассрочку от 5 990 руб./месяц
                            .rate__item.rate__item-white
                                h3.rate__item-title VIP
                                p.rate__item-text 
                                    span.rate__item-span все 5 модулей
                                .rate__item-line
                                p.rate__item-text Рабочая тетрадь
                                .rate__item-line
                                p.rate__item-text 
                                    | Личный кабинет 24/7<br>
                                    span.rate__item-span на 8 месяцев
                                .rate__item-line
                                p.rate__item-text Куратор
                                .rate__item-line
                                p.rate__item-text Домашние задания<br> с проверкой куратором и&nbsp;с&nbsp;персональной обратной связью
                                .rate__item-line
                                p.rate__item-text Тесты на проверку понимания материала<br> по каждому из доступных модулей
                                .rate__item-line
                                p.rate__item-text 
                                    | Доступ в чат тренинга<br> по профайлингу<br>
                                    span.rate__item-span - 8 месяцев
                                .rate__item-line
                                p.rate__item-text 
                                    | Участие в вебинарах поддержки, разборах кейсов<br>(“Кто это по психотипу?”)<br>+  записи вебинаров<br>
                                    span.rate__item-span - 8 месяцев
                                .rate__item-line
                                p.rate__item-text Ответы на вопросы<br> по материалам программы<br> от куратора (в личном кабинете, в чате тренинга, на вебинарах)
                                .rate__item-line
                                p.rate__item-text 
                                    | Работа с тренажерами<br> на отработку навыков профайлинга - 
                                    span.rate__item-span 8 месяцев
                                .rate__item-line
                                p.rate__item-text Личная консультация<br> с психологом<br> + чат с психологом 
                                .rate__item-line
                                p.rate__item-text Консультация профайлера
                                .rate__item-line
                                p.rate__item-text Возможность поступить<br> на программу повышения квалификации<br> “Профайлинг<br> в консультировании”
                                .rate__item-line
                                .rate__price 
                                    .rate__price-left 
                                        p.rate__price-full
                                            s 169 900 руб
                                        p.rate__price-discount Скидка 53 %
                                    p.rate__price-right 79 900 руб
                                button(type="button" data-rate="vip").rate__btn.modal-btn Заказать
                                button(type="button" data-rate="vip-installments").rate__installment.modal-btn Оформить рассрочку от 7 990 руб./месяц
                        .rate__timer
                            h3.rate__timer-title Акция<br> закончится через:
                            <div>Загрузка таймера</div>
                            <!--Начало кода "proТаймера" (id:51767)-->
                            <script src="//cdcs.makedreamprofits.ru/jmdp.js"></script>
                            <script>var pt_uid="67dd73aa6675e";(function(d,w){n=d.getElementsByTagName("script")[0],s=d.createElement("script"),f=function(){n.parentNode.insertBefore(s,n);};s.type="text/javascript";s.async=true;o=(new Date()).getTimezoneOffset();qs=document.location.search.split("+").join(" ");re=/[?&]?([^=]+)=([^&]*)/g;m="";while(tokens=re.exec(qs))try{if("email"===decodeURIComponent(tokens[1])) m=decodeURIComponent(tokens[2]);}catch(t){}i="";s.src="//cdcs.makedreamprofits.ru/?"+pt_uid+","+o+","+m; if("[object Opera]"===w.opera)d.addEventListener("DomContentLoaded",f,false);else f();})(document, window);</script>
                            <!--Конец кода "proТаймера"-->
            section.increase
                img.increase__rose.increase__rose-rt(src="images/increase_rt.png", alt="rose")
                img.increase__rose.increase__rose-lb(src="images/increase_lb.png", alt="rose")
                .container 
                    .increase__wrapper
                        .increase__content
                            img.increase__img(src="images/present.png", alt="present")
                            h2.increase__title Повышение тарифа
                            p.increase__text за быструю оплату во время эфира
                            a(href="#rate").increase__btn.main-btn Хочу быть счастливой 
                        .increase__item.increase__item-rose
                            .increase__item-line
                                p.increase__item-text Минимум
                                img.increase__item-img(src="images/arrow.png", alt="arrow")
                                p.increase__item-btext Стандарт 
                            .increase__item-line
                                p.increase__item-text Стандарт
                                img.increase__item-img(src="images/arrow.png", alt="arrow")
                                p.increase__item-btext VIP 
                            .increase__item-lineb
                                p.increase__item-text VIP
                                img.increase__item-img(src="images/arrow.png", alt="arrow")
                                p.increase__item-subtext Дополнительные опции к тарифу VIP: консультация психолога, консультация профайлера и личный чат на 8 месяцев с автором тренинга (Надеждой Майер). Доступ к любым материалам проекта Надежды Майер для проработки внутренних ограничений, выявленных во время консультации.
        footer.footer
            .container 
                .footer__wrapper 
                    .footer__item 
                        img.footer__item-img(src="images/footer-logo.png", alt="logo")
                        p.footer__item-text © 2025 Школа для женщин "Летать Легко". Все права защищены
                        .footer__details
                            p.footer__details-text ИНН: 252500665357     
                            p.footer__details-text ОГРНИП: 318253600098341
                    .footer__item 
                        a.footer__link(href="") Политика конфиденциальности
        .modal(data-modal='')
            form.modal__form(id="ltForm7456756" class="lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414631" method="post" data-open-new-window="0")
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф VIP
                    h2.modal__title.modal__price 79 900 руб 
                <input type="hidden" name="formParams[setted_offer_id]" >
                input(type="email" placeholder="Ваш электронный адрес").modal__input
                input(type="text" placeholder="Введите ваше имя").modal__input
                input(type="tel" placeholder="Введите ваш телефон").modal__input
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                button(type="submit" id="button8347342" style="color: white; background-color: ; " onclick="if(window['btnprs67e1199741aef']){return false;}window['btnprs67e1199741aef']=true;setTimeout(function(){window['btnprs67e1199741aef']=false},6000);return true;").modal__btn.main-btn Оформить заказ
                <input type="hidden" id="139207367e1199735b73" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207367e1199735b73ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805399">
                <input type="hidden" name="requestSimpleSign" value="45333f5ec4e853a32ea8b55feb87b8e2">
                <input type="hidden" name="isHtmlWidget" value="1"/>
                <span id="gccounterImgContainer"></span>
        .modal(data-modal='min')
            <form id="ltForm4209602" class="modal__form lt-normal-formlt-form-innerlt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146406249" method="post" data-open-new-window="0" >
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Минимум
                    h2.modal__title.modal__price 49 900 руб
                <input type="hidden" name="formParams[setted_offer_id]">
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваш эл. адрес" name="formParams[email]" value="">
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button4228029" onclick="if(window['btnprs67e11932dc057']){return false;}window['btnprs67e11932dc057']=true;setTimeout(function(){window['btnprs67e11932dc057']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139204367e11932d4350" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139204367e11932d4350ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805298">
                <input type="hidden" name="requestSimpleSign" value="18953964ed3d6c748180c4676c51ec90">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='standart')
            <form id="ltForm660148" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146412326" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Стандарт
                    h2.modal__title.modal__price 59 900 руб
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60" placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input"  name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button536585" onclick="if(window['btnprs67e119475b839']){return false;}window['btnprs67e119475b839']=true;setTimeout(function(){window['btnprs67e119475b839']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139205867e1194720843" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139205867e1194720843ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805319">
                <input type="hidden" name="requestSimpleSign" value="c52b58ef7accdf666f15e9d2c0c0d6ba">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='vip')
            <form id="ltForm7775764" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146412383" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф VIP
                    h2.modal__title.modal__price 79 900 руб
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input"  maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input"  maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input"   name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button1393141" onclick="if(window['btnprs67e1195fb4199']){return false;}window['btnprs67e1195fb4199']=true;setTimeout(function(){window['btnprs67e1195fb4199']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139205967e1195fabb55" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139205967e1195fabb55ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805343">
                <input type="hidden" name="requestSimpleSign" value="3891778eedec870061c7f77f9bbe7254">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='min-installments') 
            <form id="ltForm2196160" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414611" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Минимум
                    h2.modal__title.modal__price от 4 990 руб./месяц
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button8433381" onclick="if(window['btnprs67e119762962a']){return false;}window['btnprs67e119762962a']=true;setTimeout(function(){window['btnprs67e119762962a']=false},6000);return true;">Оформить заказ</button><br>
                <input type="hidden" id="139207067e119761f0b3" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207067e119761f0b3ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805366">
                <input type="hidden" name="requestSimpleSign" value="05d84501aea9fdf7e18c9b7aa2bcb0f8">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='standart-installments') 
            <form id="ltForm8868581" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414625" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф Стандарт
                    h2.modal__title.modal__price от 5 990 руб./месяц
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button2704557" onclick="if(window['btnprs67e11987c284d']){return false;}window['btnprs67e11987c284d']=true;setTimeout(function(){window['btnprs67e11987c284d']=false},6000);return true;">Оформить заказ</button>
                <input type="hidden" id="139207167e11987b180d" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207167e11987b180dref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805383">
                <input type="hidden" name="requestSimpleSign" value="e31dd12c52c11fa3c5e58f4981ba70b5">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>
        .modal(data-modal='vip-installments') 
            <form id="ltForm7456756" class="modal__form lt-normal-form lt-form-inner lt-form" action="https://womanproject.ru/pl/lite/block-public/process-html?id=2146414631" method="post" data-open-new-window="0">
                button(type="button").modal__close
                    img.modal__close-img(src="images/close.png", alt="close")
                .modal__head
                    h2.modal__title.modal__rate Тариф VIP
                    h2.modal__title.modal__price от 7 990 руб./месяц
                <input type="hidden" name="formParams[setted_offer_id]" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваш эл. адрес" name="formParams[email]" value="" >
                <input type="text" class="modal__input" maxlength="60"  placeholder="Введите ваше имя" name="formParams[full_name]" value="">
                <input type="text" class="modal__input" name="formParams[phone]" value="" maxlength="60" placeholder="Введите ваш телефон">
                p.modal__text 
                    | Нажимая кнопку Я принимаю условия Договора 
                    a(href="").modal__link (оферты) 
                    | и даю своё 
                    a(href="").modal__link согласие 
                    | на обработку моих персональных данных в соответствии с 
                    a(href="").modal__link Положением 
                    | и 
                    a(href="").modal__link согласен 
                    | получать новости и рассылки 
                <button type="submit" class="modal__btn main-btn" id="button8347342" onclick="if(window['btnprs67e1199741aef']){return false;}window['btnprs67e1199741aef']=true;setTimeout(function(){window['btnprs67e1199741aef']=false},6000);return true;">Оформить заказ</button><br>
                <input type="hidden" id="139207367e1199735b73" name="__gc__internal__form__helper" class="__gc__internal__form__helper" value="">
                <input type="hidden" id="139207367e1199735b73ref" name="__gc__internal__form__helper_ref" class="__gc__internal__form__helper_ref" value="">
                <input type="hidden" name="requestTime" value="1742805399">
                <input type="hidden" name="requestSimpleSign" value="45333f5ec4e853a32ea8b55feb87b8e2">
                <input type="hidden" name="isHtmlWidget" value="1"/>
            </form>
            <span id="gccounterImgContainer"></span>



