/* Geologica Light */
@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Light.woff2') format('woff2'),
         url('../fonts/Geologica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* Geologica Regular */
@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Regular.woff2') format('woff2'),
         url('../fonts/Geologica-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Geologica Medium */
@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Medium.woff2') format('woff2'),
         url('../fonts/Geologica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* Geologica Bold */
@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Bold.woff2') format('woff2'),
         url('../fonts/Geologica-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Geologica ExtraBold */
@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-ExtraBold.woff2') format('woff2'),
         url('../fonts/Geologica-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/* Inter Regular */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Inter Medium */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
         url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* Inter Black */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.woff2') format('woff2'),
         url('../fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}