@charset "UTF-8";
:root {
  --dark: #202938;
  --dark-yellow: #DCA34E;
  --yellow: #FBBB5A;
  --dark-grey: #4D535F;
  --light-grey: #F3F3F3;
  --white: #fff;
  --black: #000;
  --grey: #C1C1C1;
  --border: #E5E7EB;
  --input: #F9FAFB;
  --text-heading: #101828;
  --text-body: #4A5565;
  --card-shadow: 6px 6px 30px 0px #00000026;
}

html {
  font-size: 16px;
}

body {
  min-width: 390px;
  font: 400 1rem/1.5 "Geologica", sans-serif;
  color: var(--dark);
}

.container {
  position: relative;
  max-width: 1184px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px 0 0;
  background-color: var(--dark);
  z-index: 10;
}
.header__banner-inner {
  padding: 4px;
  border-radius: 6px;
  background-color: var(--yellow);
}
.header__banner-text {
  margin-bottom: 0;
  text-align: center;
}
.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__contact-link {
  font: 700 1.25rem/1 "Geologica", sans-serif;
  color: var(--yellow);
  text-align: center;
}
.header__contact-text {
  margin-bottom: 0;
  font: 400 0.625rem/2 "Geologica", sans-serif;
  color: var(--white);
  text-align: center;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__social-link {
  flex: 0 0 auto;
}
.header__social-link svg {
  fill: var(--white);
  transition: fill 0.3s ease;
}
.header__social-link:hover svg {
  fill: var(--yellow);
}
.header__signup {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__signup-icon {
  flex: 0 0 auto;
}
.header__signup-text {
  max-width: 181px;
  margin-bottom: 0;
  font: 400 0.875rem/1.25 "Geologica", sans-serif;
  color: var(--white);
  text-align: left;
  transition: color 0.3s ease;
}
.header__signup:hover .header__signup-text {
  color: var(--yellow);
}
.header__rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 53px;
}
.header__rating-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header__rating-text {
  margin-bottom: 0;
  font: 400 0.75rem/1.25 "Inter", sans-serif;
  color: var(--white);
}
.header__stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__star {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}
.header__bottom-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 20px;
}
.header__bottom-padding {
  padding-bottom: 51px;
}
.header__map {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__map-link {
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.header__map-link:hover {
  color: var(--yellow);
}
.header__map a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.header__mail {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__mail-link {
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.header__mail-link:hover {
  color: var(--yellow);
}
.header__menu {
  padding-bottom: 17px;
}
.header__menu-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 17px;
  background-color: var(--dark);
}
.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__burger {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
  height: 20px;
}
.nav__link {
  font: 500 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: var(--yellow);
}

.dropdown__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font: 500 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.dropdown__btn svg {
  fill: var(--white);
  transition: fill 0.3s ease, transform 0.3s ease;
}
.dropdown__btn:hover {
  color: var(--yellow);
}
.dropdown__btn:hover svg {
  fill: var(--yellow);
}
.dropdown__menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 180px;
  background-color: var(--dark);
  z-index: 100;
}
.dropdown__item {
  padding: 3px 8px;
  border-bottom: 0.5px solid #4D535F;
  font: 300 0.75rem/1.6 "Geologica", sans-serif;
  color: var(--yellow);
}
.dropdown__item:last-child {
  border-bottom: none;
}
.dropdown:hover .dropdown__btn {
  color: var(--yellow);
}
.dropdown:hover svg {
  fill: var(--yellow);
  transform: scaleY(-1);
}
.dropdown:hover .dropdown__menu {
  display: flex;
}

.callback {
  padding: 5px 10px;
  border-radius: 26px;
  background-color: var(--yellow);
  font: 300 1rem/1.5 "Geologica", sans-serif;
  transition: background-color 0.3s ease;
}
.callback:hover, .callback:active {
  background-color: var(--dark-yellow);
}

.search {
  display: flex;
  align-items: center;
  gap: 7.5px;
  font: 500 0.875rem/1.4 "Inter", sans-serif;
  color: var(--white);
}

.menu {
  display: none;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100vh - 250px);
}
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.hero__title {
  max-width: 625px;
  margin-bottom: 0;
  font: 800 3.25rem/1.2 "Geologica", sans-serif;
  color: var(--white);
}
.hero__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 384px;
  width: 100%;
}
.hero__form-input {
  width: 100%;
  height: 36px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background-color: var(--input);
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--black);
}
.hero__form-input::-moz-placeholder {
  color: var(--black);
}
.hero__form-input::placeholder {
  color: var(--black);
}
.hero__form-text {
  max-width: 342px;
  margin-bottom: 0;
  font: 300 0.75rem/1.25 "Geologica", sans-serif;
  color: var(--border);
  text-align: center;
}
.hero__form-btn {
  width: 240px;
  padding: 5px 10px;
  border-radius: 26px;
  background-color: var(--yellow);
  font-weight: 300;
  transition: background-color 0.3s ease;
}
.hero__form-btn:hover, .hero__form-btn:active {
  background-color: var(--dark-yellow);
}
.hero .slider {
  position: absolute;
}
.hero .slider__wrapper {
  width: 100%;
  height: 100%;
}
.hero .slider__items {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0;
  padding: 0;
}
.hero .slider__item {
  flex: 0 0 100%;
  border-radius: 0;
}
.hero .slider__bar {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero__slider-bg1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/hero/hero_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__slider-bg2 {
  width: 100%;
  height: 100%;
  background-image: url("../images/hero/hero_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  padding-top: 100px;
  padding-bottom: 40px;
}
.section__title {
  margin: 0;
  font: 800 3.125rem/1 "Geologica", sans-serif;
  color: var(--dark);
}
.section__title2 {
  margin: 0;
  font: 900 3.125rem/1 "Inter", sans-serif;
  color: var(--dark);
}

.cooperation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cooperation__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.cooperation__item {
  width: 560px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--light-grey);
  overflow: hidden;
  transition: background-color 0.3s ease;
}
.cooperation__item:hover {
  background-color: var(--yellow);
}
.cooperation__list {
  margin: 0;
}
.cooperation__list-item {
  font: 400 0.875rem/30px "Geologica", sans-serif;
  color: var(--dark);
  list-style: disc;
}
.cooperation__bottom {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.cooperation__bottom-text {
  margin: 0;
  font-weight: 500;
  color: var(--black);
}
.cooperation__bottom-slogan {
  margin: 0;
  font: 800 1.25rem/1.25 "Geologica", sans-serif;
  color: var(--yellow);
  text-align: right;
}
.cooperation__slider {
  display: none;
}
.cooperation__slider-item {
  width: 312px;
  padding: 10px 10px 10px 0;
}
.cooperation__slider .cooperation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.services__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.services__list-item {
  display: flex;
  align-items: center;
}
.services__list-text {
  margin: 0;
  padding: 0 12px 16px;
  border-bottom: 1px solid var(--grey);
  line-height: 1.25;
  transition: border 0.3s ease, color 0.3s ease;
}
.services__list-btn {
  display: none;
}
.services__list-btn:checked ~ .services__list-text {
  border-bottom: 1px solid var(--yellow);
  color: var(--yellow);
}
.services__slider {
  display: flex;
  flex-direction: column;
}
.services__slider-img {
  width: 260px;
  height: 192px;
  border-radius: 6px;
}
.services__slider-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 308px;
  padding: 24px;
  overflow: hidden;
}
.services__slider-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.services__slider-title {
  margin: 0;
  font: 500 1.5rem/1.25 "Geologica", sans-serif;
  color: var(--text-heading);
}
.services__slider-text {
  margin: 0;
  font-weight: 300;
  line-height: 1.25;
  color: var(--text-body);
}
.services__slider-link {
  padding: 5px;
  border-radius: 26px;
  background-color: var(--yellow);
  font-weight: 300;
  color: var(--dark);
  text-align: center;
  transition: background-color 0.3s ease;
}
.services__slider-link:hover, .services__slider-link:active {
  background-color: var(--dark-yellow);
}

.promo__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.promo__item {
  display: flex;
  height: 180px;
  border-radius: 12px;
  background-color: var(--dark);
  overflow: hidden;
}
.promo__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
}
.promo__content-title {
  margin: 0;
  font: 700 1.125rem/1.25 "Geologica", sans-serif;
  color: var(--white);
  text-transform: uppercase;
}
.promo__content-title2 {
  max-width: 245px;
  margin: 0;
  font: 700 1.125rem/1.25 "Geologica", sans-serif;
  color: var(--white);
}
.promo__content-link {
  display: block;
  margin-top: auto;
  margin-left: auto;
  padding: 5px 10px;
  border-radius: 26px;
  background-color: var(--yellow);
  color: var(--dark);
  transition: background-color 0.3s ease;
}
.promo__content-link:hover, .promo__content-link:active {
  background-color: var(--dark-yellow);
}
.promo__content-gap10 {
  gap: 10px;
}
.promo__list {
  margin: 0;
  margin-bottom: -1.5px;
  padding-left: 20px;
}
.promo__list-item {
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--white);
  list-style: disc;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.decoration__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.decoration__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px 20px;
  overflow-x: auto;
}
.decoration__content::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.decoration__item {
  position: relative;
  width: 200px;
  height: 100px;
  overflow: hidden;
}
.decoration__item-img {
  width: 100%;
  height: 100%;
  border-radius: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}
.decoration__item:hover .decoration__effects {
  opacity: 0;
}
.decoration__effects {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  background-color: var(--dark-grey);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.decoration__effects-text {
  margin: 0;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.materials__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about__wrapper {
  display: flex;
  align-items: center;
}
.about__img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.about__content-text {
  margin: 0;
  font: 300 1.5rem/1.25 "Geologica", sans-serif;
  color: var(--black);
}
.about__content-link {
  font: 300 1.5rem/1.25 "Geologica", sans-serif;
  color: var(--black);
  text-decoration: underline !important;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.about__paragraph {
  display: flex;
  flex-direction: column;
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.portfolio__slider-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.portfolio__slider-img {
  border-radius: 6px;
}
.portfolio__slider-title {
  margin: 0;
  font: 600 1.25rem/1.4 "Geologica", sans-serif;
}

.benefits__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.benefits__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  overflow-x: auto;
}
.benefits__content::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 370px;
  height: 140px;
  padding: 20px 10px 10px 20px;
  border-radius: 12px;
  background-color: var(--dark);
}
.benefits__item-title {
  margin: 0;
  font: 500 1.25rem/1 "Geologica", sans-serif;
  color: var(--white);
}
.benefits__item-text {
  margin: 0;
  line-height: 1.25;
  color: var(--white);
}
.benefits__top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.benefits__top svg {
  flex: 0 0 auto;
}
.benefits__slider {
  display: none;
}
.benefits__slider .benefits__item {
  width: 330px;
  height: 170px;
}

.suppliers__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.suppliers__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  overflow-x: auto;
}
.suppliers__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.industries__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.industries__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  overflow-x: auto;
}
.industries__content::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.industries__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 370px;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--light-grey);
  transition: background-color 0.3s ease;
}
.industries__item-title {
  margin: 0;
  font: 600 1.25rem/1.4 "Geologica", sans-serif;
  color: var(--dark);
}
.industries__item:hover {
  background-color: var(--yellow);
}
.industries__list {
  margin: 0;
  padding-left: 20px;
}
.industries__list-item {
  line-height: 1.875;
  color: var(--dark-grey);
  list-style: disc;
}
.industries__list-item a {
  color: var(--dark-grey);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reviews__slider-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 410px;
  padding: 24px;
  transition: background-color 0.5s ease, box-shadow 0.5s ease !important;
}
.reviews__slider-item:hover {
  background-color: var(--white);
}
.reviews__slider-stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.reviews__slider-author {
  margin: 0;
  font: 500 1.25rem/1.4 "Geologica", sans-serif;
  color: var(--dark);
}
.reviews__slider-text {
  margin: 0;
  color: var(--dark-grey);
}

.faq {
  margin-bottom: 90px;
}
.faq__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.faq__head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px 12px;
  border-radius: 6px;
  background-color: var(--yellow);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.faq__head svg {
  flex: 0 0 auto;
  fill: var(--dark);
  transition: fill 0.5s ease, transform 0.5s ease;
}
.faq__head-text {
  width: 100%;
  margin: 0;
  transition: color 0.5s ease;
}
.faq__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 24px;
}
.faq__content-text {
  margin: 0;
  line-height: 1.25;
  color: var(--dark-grey);
}
.faq__inner {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.faq__item-active .faq__head {
  background-color: var(--dark);
}
.faq__item-active .faq__head-text {
  color: var(--white);
}
.faq__item-active svg {
  fill: var(--yellow);
}
.faq__item-active .faq__arrow {
  transform: scaleY(-1);
}

.footer {
  padding: 40px 0;
  background-color: var(--dark);
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.footer__content {
  display: grid;
  grid-template-columns: 215px auto 160px;
  align-items: flex-start;
  gap: 16px;
  justify-content: space-between;
}
.footer__logo {
  width: 215px;
}
.footer__logo-img {
  max-width: 100%;
}
.footer__menu {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 172px;
}
.footer__nav-title {
  margin: 0;
  font: 500 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
}
.footer__list-item {
  height: 24px;
}
.footer__list-link {
  font: 300 0.875rem/1.715 "Geologica", sans-serif;
  color: var(--grey);
}
.footer__callback {
  width: 160px;
  margin-top: 17px;
  padding: 5px 10px;
  border-radius: 26px;
  background-color: var(--yellow);
  font: 300 1rem/1.5 "Geologica", sans-serif;
  transition: background-color 0.3s ease;
}
.footer__callback:hover, .footer__callback:active {
  background-color: var(--dark-yellow);
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 120px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}
.footer__contact-link {
  font: 700 1.25rem/1 "Geologica", sans-serif;
  color: var(--yellow);
  text-align: center;
}
.footer__contact-text {
  margin-bottom: 0;
  font: 400 0.625rem/2 "Geologica", sans-serif;
  color: var(--white);
  text-align: center;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer__social-link {
  flex: 0 0 auto;
}
.footer__social-link svg {
  fill: var(--white);
  transition: fill 0.3s ease;
}
.footer__social-link:hover svg {
  fill: var(--yellow);
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.footer__map {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer__map-link {
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.footer__map-link:hover {
  color: var(--yellow);
}
.footer__map svg {
  margin: 0 2px;
}
.footer__mail {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer__mail-link {
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.footer__mail-link:hover {
  color: var(--yellow);
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}
.footer__right-text {
  margin: 0;
  color: var(--dark-grey);
}

.slider {
  position: relative;
  /* кнопки влево и вправо */
  /* индикаторы */
}
.slider__wrapper {
  overflow: hidden;
}
.slider__items {
  display: flex;
  gap: 16px;
  padding: 30px 0;
  transition: transform 0.5s ease;
  will-change: transform;
}
.slider__item {
  flex: 0 0 auto;
  border-radius: 12px;
  background-color: var(--light-grey);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  will-change: transform;
  transition: box-shadow 0.5s ease;
}
.slider__item:hover {
  box-shadow: var(--card-shadow);
}
.slider__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--light-grey);
  color: var(--light-grey);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.slider__btn svg {
  fill: var(--yellow);
  transition: fill 0.5s ease;
}
.slider__btn:hover, .slider__btn:focus {
  background-color: var(--dark-yellow);
  outline: 0;
}
.slider__btn:hover svg, .slider__btn:focus svg {
  fill: var(--light-grey);
}
.slider__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider__indicator {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--light-grey);
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.slider__indicator-active {
  background-color: var(--dark-yellow);
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .header {
    gap: 16px;
  }
  .header__menu-inner {
    flex-direction: column;
    gap: 10px;
  }
  .hero {
    height: calc(100vh - 280px);
  }
  .cooperation__content {
    display: none;
  }
  .cooperation__slider {
    display: block;
    margin-top: -30px;
  }
  .decoration__content {
    padding-bottom: 10px;
  }
  .portfolio__slider-item {
    width: 330px;
  }
  .benefits__content {
    display: none;
  }
  .benefits__slider {
    display: block;
    margin-top: -30px;
  }
  .suppliers__content {
    padding-bottom: 10px;
  }
  .industries__content {
    padding-bottom: 10px;
  }
  .industries__item {
    min-width: 330px;
  }
  .reviews__slider-item {
    width: 330px;
  }
  .footer__content {
    grid-template-columns: 1fr 1fr;
  }
  .footer__menu {
    order: 2;
    grid-column: span 2;
    justify-content: space-between;
    width: 100%;
  }
  .footer__bottom {
    gap: 40px;
  }
}
@media (max-width: 969px) {
  .container {
    max-width: 720px;
  }
  .header {
    height: 62px;
    padding-bottom: 10px;
  }
  .header__banner {
    display: none;
  }
  .header__top-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .header__contact {
    display: none;
  }
  .header__signup {
    display: none;
  }
  .header__rating {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    text-align: right;
  }
  .hero {
    height: calc(100vh - 62px);
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__title {
    font-size: 1.5rem;
    text-align: center;
  }
  .section__title {
    font-size: 2rem;
  }
  .section__title2 {
    font-size: 2rem;
  }
  .services__list {
    justify-content: flex-start;
    overflow-x: auto;
  }
  .services__list-text {
    white-space: nowrap;
  }
  .promo__wrapper {
    grid-template-columns: 1fr;
  }
  .promo__item-img {
    width: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .promo__content {
    gap: 8px;
  }
  .promo__content-title {
    font-size: 1rem;
  }
  .promo__content-title2 {
    font-size: 1rem;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .footer__bottom {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .footer__right {
    grid-column: span 2;
    width: -moz-max-content;
    width: max-content;
    margin-left: 240px;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 340px;
    padding: 20px;
    background-color: var(--dark);
    transition: left 0.3s ease;
    z-index: 100;
  }
  .menu_active {
    left: 0;
  }
  .menu__banner {
    padding: 4px;
    border-radius: 6px;
    background-color: var(--yellow);
  }
  .menu__banner-text {
    margin-bottom: 0;
    text-align: center;
  }
  .menu__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__contact-link {
    font: 700 1rem/1 "Geologica", sans-serif;
    color: var(--yellow);
    text-align: center;
  }
  .menu__contact-text {
    margin-bottom: 0;
    font: 400 0.625rem/2 "Geologica", sans-serif;
    color: var(--white);
    text-align: center;
  }
  .menu__social {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .menu__social-link {
    flex: 0 0 auto;
  }
  .menu__social-link svg {
    fill: var(--white);
    transition: fill 0.3s ease;
  }
  .menu__social-link:hover svg {
    fill: var(--yellow);
  }
  .menu__signup {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .menu__signup-icon {
    flex: 0 0 auto;
  }
  .menu__signup-text {
    max-width: 181px;
    margin-bottom: 0;
    font: 400 0.875rem/1.25 "Geologica", sans-serif;
    color: var(--white);
    text-align: left;
    transition: color 0.3s ease;
  }
  .menu__signup:hover .header__signup-text {
    color: var(--yellow);
  }
  .menu__rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 53px;
  }
  .menu__rating-bottom {
    display: flex;
    gap: 12px;
  }
  .menu__rating-text {
    margin-bottom: 0;
    font: 400 0.75rem/1.25 "Inter", sans-serif;
    color: var(--white);
  }
  .menu__stars {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .menu__star {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
  }
  .menu__bottom-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20px;
  }
  .menu__bottom-padding {
    padding-bottom: 51px;
  }
  .menu__map {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .menu__map-link {
    font: 400 0.875rem/1.4 "Geologica", sans-serif;
    color: var(--white);
    transition: color 0.3s ease;
  }
  .menu__map-link:hover {
    color: var(--yellow);
  }
  .menu__map a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  .menu__map svg {
    flex: 0 0 auto;
  }
  .menu__mail {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .menu__mail-link {
    font: 400 0.875rem/1.4 "Geologica", sans-serif;
    color: var(--white);
    transition: color 0.3s ease;
  }
  .menu__mail-link:hover {
    color: var(--yellow);
  }
  .menu__menu {
    padding-bottom: 17px;
  }
  .menu__menu-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu__menu-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 17px;
    background-color: var(--dark);
  }
  .menu__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .menu__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .menu__link {
    font: 500 0.875rem/1.4 "Geologica", sans-serif;
    color: var(--white);
    transition: color 0.3s ease;
  }
  .menu__link:hover {
    color: var(--yellow);
  }
}
@media (max-width: 720px) {
  .footer__content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer__wrapper {
    gap: 24px;
  }
  .footer__menu {
    grid-column: span 1;
    flex-direction: column;
  }
  .footer__bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer__center {
    justify-content: center;
    gap: 8px;
  }
  .footer__right {
    grid-column: span 1;
    width: 100%;
    margin-left: 0;
  }
  .footer__list {
    height: 0;
    overflow-y: hidden;
  }
  .footer__nav_active .footer__list {
    height: -moz-max-content;
    height: max-content;
  }
}/*# sourceMappingURL=main.css.map */