:root 
    --dark: #202938
    --dark-yellow: #DCA34E
    --yellow: #FBBB5A
    --dark-grey: #4D535F
    --light-grey: #F3F3F3
    --white: #fff
    --black: #000
    --grey: #C1C1C1
    --border: #E5E7EB
    --input: #F9FAFB
    --text-heading: #101828
    --text-body: #4A5565
    --card-shadow: 6px 6px 30px 0px #00000026


$font-main: 'Geologica', sans-serif
$font-accent: 'Inter', sans-serif

// Базовые настройки
html 
    font-size: 16px
body 
    font: 400 1rem/1.5 $font-main
    color: var(--dark)
.container
    position: relative
    max-width: 1184px
// ===== HEADER БЛОК =====
.header
    position: relative
    display: flex
    flex-direction: column
    gap: 24px
    padding: 10px 0 0
    background-color: var(--dark)
    z-index: 10
    &__banner 
        &-inner
            padding: 4px
            border-radius: 6px
            background-color: var(--yellow)
        &-text 
            margin-bottom: 0
            text-align: center
    &__top 
        &-inner
            display: flex
            align-items: center
            justify-content: space-between
    &__contact 
        display: flex
        flex-direction: column
        align-items: center
        &-link 
            font: 700 1.25rem/1 $font-main
            color: var(--yellow)
            text-align: center
        &-text 
            margin-bottom: 0
            font: 400 0.625rem/2 $font-main
            color: var(--white)
            text-align: center
    &__social 
        display: flex
        align-items: center
        gap: 8px
        &-link 
            flex: 0 0 auto
            & svg 
                fill: var(--white)
                transition: fill 0.3s ease
            &:hover 
                & svg 
                    fill: var(--yellow)
    &__signup
        display: flex
        align-items: center
        gap: 6px
        &-icon 
            flex: 0 0 auto
        &-text 
            max-width: 181px
            margin-bottom: 0
            font: 400 0.875rem/1.25 $font-main
            color: var(--white)
            text-align: left
            transition: color 0.3s ease
        &:hover 
            & .header__signup-text 
                color: var(--yellow)
    &__rating 
        display: flex
        flex-direction: column
        gap: 10px
        height: 53px
        &-bottom 
            display: flex
            align-items: center
            justify-content: center
            gap: 12px
        &-text 
            margin-bottom: 0
            font: 400 0.75rem/1.25 $font-accent
            color: var(--white)
    &__stars 
        display: flex
        align-items: center
        gap: 4px
    &__star
        flex: 0 0 auto
        display: flex
        align-items: center
        justify-content: center
        height: 10px
    &__bottom 
        &-inner
            display: flex
            align-items: center
            gap: 20px
            height: 20px
        &-padding
            padding-bottom: 51px
    &__map 
        display: flex
        align-items: center
        gap: 6px
        &-link 
            font: 400 0.875rem/1.4 $font-main
            color: var(--white)
            transition: color 0.3s ease
            &:hover 
                color: var(--yellow)
        & a
            text-decoration: underline
            text-underline-offset: 2px
    &__mail
        display: flex
        align-items: center
        gap: 6px
        &-link 
            font: 400 0.875rem/1.4 $font-main
            color: var(--white)
            transition: color 0.3s ease
            &:hover 
                color: var(--yellow)
    &__menu 
        padding-bottom: 17px
        &-inner
            display: flex
            align-items: center
            justify-content: space-between
        &-sticky 
            position: fixed
            top: 0
            left: 0
            right: 0
            width: 100%
            padding-top: 17px
            background-color: var(--dark)
    &__right 
        display: flex
        align-items: center
        gap: 16px
    &__burger 
        display: none
.nav 
    display: flex
    align-items: center
    gap: 14px
    height: 20px
    &__link 
        font: 500 0.875rem/1.4 $font-main
        color: var(--white)
        transition: color 0.3s ease
        &:hover 
            color: var(--yellow)
.dropdown 
    &__btn 
        display: flex
        align-items: center
        gap: 10px
        font: 500 0.875rem/1.4 $font-main
        color: var(--white)
        transition: color 0.3s ease
        & svg 
            fill: var(--white)
            transition: fill 0.3s ease, transform 0.3s ease
        &:hover 
            color: var(--yellow)
            & svg 
                fill: var(--yellow)
    &__menu 
        position: absolute
        display: none
        flex-direction: column
        width: 180px
        background-color: var(--dark)
        z-index: 100
    &__item 
        padding: 3px 8px
        border-bottom: 0.5px solid #4D535F
        font: 300 0.75rem/1.6 $font-main
        color: var(--yellow)
        &:last-child
            border-bottom: none
    &:hover 
        & .dropdown__btn
            color: var(--yellow)
        & svg 
            fill: var(--yellow)
            transform: scaleY(-1)
        & .dropdown__menu
            display: flex
.callback 
    padding: 5px 10px
    border-radius: 26px
    background-color: var(--yellow)
    font: 300 1rem/1.5 $font-main
    transition: background-color 0.3s ease
    &:hover, 
    &:active 
        background-color: var(--dark-yellow)
.search 
    display: flex
    align-items: center
    gap: 7.5px
    font: 500 0.875rem/1.4 $font-accent
    color: var(--white)
.menu 
    display: none
// ===== HERO БЛОК =====
.hero
    position: relative
    display: flex
    align-items: center
    height: calc( 100vh - 250px )
    &__wrapper 
        display: flex
        align-items: center
        justify-content: space-between
        gap: 24px
    &__title 
        max-width: 625px
        margin-bottom: 0
        font: 800 3.25rem/1.2 $font-main
        color: var(--white)
    &__form 
        display: flex
        flex-direction: column
        align-items: center
        gap: 16px
        max-width: 384px
        width: 100%
        &-input 
            width: 100%
            height: 36px
            padding: 8px
            border: 1px solid var(--border)
            border-radius: 12px
            background-color: var(--input)
            font: 400 0.875rem/1.4 $font-main
            color: var(--black)
            &::placeholder 
                color: var(--black)
        &-text 
            max-width: 342px
            margin-bottom: 0
            font: 300 0.75rem/1.25 $font-main
            color: var(--border)
            text-align: center
        &-btn 
            width: 240px
            padding: 5px 10px
            border-radius: 26px
            background-color: var(--yellow)
            font-weight: 300
            transition: background-color 0.3s ease
            &:hover, 
            &:active 
                background-color: var(--dark-yellow)
    & .slider 
        position: absolute
        &__wrapper 
            width: 100%
            height: 100%
        &__items 
            width: 100%
            height: 100%
            display: flex
            gap: 0
            padding: 0
        &__item 
            flex: 0 0 100%
            border-radius: 0
        &__bar 
            position: absolute
            bottom: 30px
            left: 50%
            transform: translateX(-50%)
    &__slider 
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        &-bg1 
            width: 100%
            height: 100%
            background: 
                image: url('../images/hero/hero_1.jpg')
                size: cover 
                position: center 
                repeat: no-repeat
        &-bg2
            width: 100%
            height: 100%
            background: 
                image: url('../images/hero/hero_2.jpg')
                size: cover 
                position: center 
                repeat: no-repeat
// ===== SECTION =====
.section
    padding-top: 100px 
    padding-bottom: 40px
    &__title 
        margin: 0
        font: 800 3.125rem/1 $font-main
        color: var(--dark)
    &__title2
        margin: 0
        font: 900 3.125rem/1 $font-accent
        color: var(--dark)
// ===== COOPERATION БЛОК =====
.cooperation 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 50px
    &__content 
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px 
    &__item 
        width: 560px
        padding: 20px
        border-radius: 12px
        background-color: var(--light-grey)
        overflow: hidden
        transition: background-color 0.3s ease
        &:hover 
            background-color: var(--yellow)
    &__list 
        margin: 0
        &-item 
            font: 400 0.875rem/30px $font-main
            color: var(--dark)
            list-style: disc
    &__bottom 
        display: flex
        flex-direction: column
        gap: 60px
        &-text 
            margin: 0
            font-weight: 500
            color: var(--black)
        &-slogan 
            margin: 0
            font: 800 1.25rem/1.25 $font-main
            color: var(--yellow)
            text-align: right
    &__slider 
        display: none
        &-item 
            width: 312px
            padding: 10px 10px 10px 0
        & .cooperation__list 
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100%
// ===== SERVICES БЛОК =====
.services 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 45px
    &__content 
        display: flex
        flex-direction: column
        gap: 10px
    &__list 
        display: flex
        align-items: center
        justify-content: center
        margin: 0
        padding: 0
        &-item 
            display: flex
            align-items: center
        &-text 
            margin: 0
            padding: 0 12px 16px
            border-bottom: 1px solid var(--grey)
            line-height: 1.25
            transition: border 0.3s ease, color 0.3s ease
        &-btn 
            display: none
            &:checked ~ .services__list-text
                border-bottom: 1px solid var(--yellow)
                color: var(--yellow)
    &__slider 
        display: flex
        flex-direction: column
        &-img 
            width: 260px 
            height: 192px
            border-radius: 6px
        &-item 
            display: flex
            flex-direction: column
            gap: 24px
            width: 308px
            padding: 24px
            overflow: hidden
        &-content 
            display: flex
            flex-direction: column
            gap: 12px
        &-title 
            margin: 0
            font: 500 1.5rem/1.25 $font-main
            color: var(--text-heading)
        &-text 
            margin: 0
            font-weight: 300 
            line-height: 1.25
            color: var(--text-body)
        &-link 
            padding: 5px
            border-radius: 26px
            background-color: var(--yellow)
            font-weight: 300
            color: var(--dark)
            text-align: center
            transition: background-color 0.3s ease
            &:hover, 
            &:active 
                background-color: var(--dark-yellow)
// ===== PROMO БЛОК =====
.promo
    &__wrapper 
        display: grid
        grid-template-columns: 1fr 1fr
        align-items: center
        gap: 20px
    &__item 
        display: flex
        height: 180px
        border-radius: 12px
        background-color: var(--dark)
        overflow: hidden
    &__content 
        display: flex
        flex-direction: column
        gap: 20px
        width: 100%
        padding: 10px
        &-title 
            margin: 0
            font: 700 1.125rem/1.25 $font-main
            color: var(--white)
            text-transform: uppercase
        &-title2
            max-width: 245px
            margin: 0
            font: 700 1.125rem/1.25 $font-main
            color: var(--white)
        &-link 
            display: block
            margin-top: auto
            margin-left: auto
            padding: 5px 10px
            border-radius: 26px
            background-color: var(--yellow)
            color: var(--dark)
            transition: background-color 0.3s ease
            &:hover, 
            &:active 
                background-color: var(--dark-yellow)
        &-gap10 
            gap: 10px
    &__list 
        margin: 0
        margin-bottom: -1.5px
        padding-left: 20px
        &-item 
            font-size: 0.875rem 
            line-height: 1.25
            color: var(--white)
            list-style: disc
// ===== CATALOG БЛОК =====
.catalog 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 15px
// ===== DECORATION БЛОК =====
.decoration 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 60px
    &__content 
        display: grid
        grid-template-columns: repeat(5, 1fr)
        gap: 17px 20px
        overflow-x: auto
        &::-webkit-scrollbar-button 
            display: none
            height: 0
            width: 0
    &__item 
        position: relative
        width: 200px
        height: 100px
        overflow: hidden
        &-img 
            width: 100%
            height: 100%
            border-radius: 26px
            object-fit: cover
        &:hover 
            & .decoration__effects 
                opacity: 0
    &__effects 
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
        border-radius: 26px
        background-color: var(--dark-grey)
        opacity: 0.8
        transition: opacity 0.3s ease
        &-text 
            margin: 0
            font-weight: 500 
            color: var(--white)
            text-align: center
// ===== MATERIALS БЛОК =====
.materials 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 15px
// ===== ABOUT БЛОК =====
.about 
    &__wrapper 
        display: flex
        align-items: center
    &__img 
        width: 400px
        height: 400px
        border-radius: 12px
        object-fit: cover
    &__content 
        display: flex
        flex-direction: column
        gap: 30px
        padding: 20px
        &-text 
            margin: 0
            font: 300 1.5rem/1.25 $font-main
            color: var(--black)
        &-link 
            font: 300 1.5rem/1.25 $font-main
            color: var(--black)
            text-decoration: underline !important
            text-decoration-skip-ink: none

    &__paragraph 
        display: flex
        flex-direction: column
// ===== PORTFOLIO БЛОК =====
.portfolio
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 30px
    &__slider 
        &-item 
            display: flex
            flex-direction: column
            gap: 24px
            padding: 24px
        &-img 
            border-radius: 6px
        &-title 
            margin: 0
            font: 600 1.25rem/1.4 $font-main
// ===== BENEFITS БЛОК =====
.benefits
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 60px
    &__content 
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 16px
        overflow-x: auto
        &::-webkit-scrollbar-button 
            display: none
            height: 0
            width: 0
    &__item 
        display: flex
        flex-direction: column
        gap: 10px
        width: 370px
        height: 140px
        padding: 20px 10px 10px 20px
        border-radius: 12px
        background-color: var(--dark)
        &-title 
            margin: 0
            font: 500 1.25rem/1 $font-main
            color: var(--white)
        &-text 
            margin: 0
            line-height: 1.25
            color: var(--white)
    &__top 
        display: flex
        align-items: center
        gap: 10px
        & svg 
            flex: 0 0 auto
    &__slider 
        display: none
        & .benefits__item 
            width: 330px
            height: 170px
// ===== SUPPLIERS БЛОК =====
.suppliers
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 60px
    &__content 
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        gap: 24px 
        overflow-x: auto
    &__item 
        display: flex 
        align-items: center
        justify-content: space-between
        gap: 16px
        width: 100%
// ===== INDUSTRIES БЛОК =====
.industries 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 60px
    &__content 
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 16px
        overflow-x: auto
        &::-webkit-scrollbar-button 
            display: none
            height: 0
            width: 0
    &__item 
        display: flex
        flex-direction: column
        gap: 24px
        min-width: 370px
        padding: 24px
        border-radius: 12px
        background-color: var(--light-grey)
        transition: background-color 0.3s ease
        &-title 
            margin: 0
            font: 600 1.25rem/1.4 $font-main
            color: var(--dark)
        &:hover 
            background-color: var(--yellow)
    &__list 
        margin: 0
        padding-left: 20px
        &-item
            line-height: 1.875
            color: var(--dark-grey)
            list-style: disc
            & a 
                color: var(--dark-grey)
                text-decoration: underline
                text-underline-offset: 3px
// ===== REVIEWS БЛОК =====
.reviews 
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 30px
    &__slider 
        &-item 
            display: flex
            flex-direction: column
            gap: 24px
            width: 410px
            padding: 24px
            transition: background-color 0.5s ease, box-shadow 0.5s ease !important
            &:hover 
                background-color: var(--white)
        &-stars 
            display: flex
            align-items: center
            gap: 4px
        &-author 
            margin: 0
            font: 500 1.25rem/1.4 $font-main
            color: var(--dark)
        &-text 
            margin: 0
            color: var(--dark-grey)
// ===== FAQ БЛОК =====
.faq 
    margin-bottom: 90px
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 1px
    &__head 
        display: flex
        align-items: center
        gap: 8px
        padding: 13px 12px
        border-radius: 6px
        background-color: var(--yellow)
        cursor: pointer
        transition: background-color 0.5s ease
        & svg 
            flex: 0 0 auto
            fill: var(--dark)
            transition: fill 0.5s ease, transform 0.5s ease
        &-text 
            width: 100%
            margin: 0
            transition: color 0.5s ease
    &__content 
        display: flex
        flex-direction: column
        gap: 20px
        padding: 20px 24px
        &-text 
            margin: 0
            line-height: 1.25
            color: var(--dark-grey)
    &__inner 
        height: 0
        overflow: hidden
        transition: height 0.5s ease
    &__item 
        &-active 
            & .faq__head 
                background-color: var(--dark)
                &-text 
                    color: var(--white)
            & svg 
                fill: var(--yellow)
            & .faq__arrow 
                transform: scaleY(-1)
// ===== FOOTER БЛОК =====
.footer 
    padding: 40px 0
    background-color: var(--dark)
    &__wrapper 
        display: flex
        flex-direction: column
        gap: 56px
    &__content 
        display: grid 
        grid-template-columns: 215px auto 160px
        align-items: flex-start
        gap: 16px
        justify-content: space-between
    &__logo 
        width: 215px
        &-img
            max-width: 100%
    &__menu 
        display: flex
        gap: 10px
        margin-top: 30px
    &__nav 
        display: flex
        flex-direction: column
        gap: 16px
        min-width: 172px
        &-title 
            margin: 0
            font: 500 0.875rem/1.4 $font-main
            color: var(--white)
    &__list 
        display: flex
        flex-direction: column
        gap: 6px
        padding: 0
        &-item 
            height: 24px
        &-link 
            font: 300 0.875rem/1.715 $font-main
            color: var(--grey)
    &__callback
        width: 160px
        margin-top: 17px
        padding: 5px 10px
        border-radius: 26px
        background-color: var(--yellow)
        font: 300 1rem/1.5 $font-main
        transition: background-color 0.3s ease
        &:hover, 
        &:active 
            background-color: var(--dark-yellow)
    &__bottom 
        display: flex
        justify-content: space-between
        align-items: flex-end
        gap: 120px
    &__contact 
        display: flex
        flex-direction: column
        align-items: center
        flex: 0 0 auto
        &-link 
            font: 700 1.25rem/1 $font-main
            color: var(--yellow)
            text-align: center
        &-text 
            margin-bottom: 0
            font: 400 0.625rem/2 $font-main
            color: var(--white)
            text-align: center
    &__social 
        display: flex
        align-items: center
        gap: 8px
        &-link 
            flex: 0 0 auto
            & svg 
                fill: var(--white)
                transition: fill 0.3s ease
            &:hover 
                & svg 
                    fill: var(--yellow)
    &__center 
        display: flex
        flex-direction: column
        gap: 4px
        width: 100%
    &__map 
        display: flex
        align-items: center
        gap: 6px
        &-link 
            font: 400 0.875rem/1.4 $font-main
            color: var(--white)
            transition: color 0.3s ease
            &:hover 
                color: var(--yellow)
        & svg 
            margin: 0 2px
    &__mail
        display: flex
        align-items: center
        gap: 6px
        &-link 
            font: 400 0.875rem/1.4 $font-main
            color: var(--white)
            transition: color 0.3s ease
            &:hover 
                color: var(--yellow)
    &__right 
        display: flex
        flex-direction: column
        align-items: center
        flex: 0 0 auto
        &-text 
            margin: 0
            color: var(--dark-grey)
// ===== SLIDER =====
.slider 
    position: relative
    &__wrapper 
        overflow: hidden
    &__items 
        display: flex
        gap: 16px
        padding: 30px 0
        transition: transform 0.5s ease
        will-change: transform
    &__item
        flex: 0 0 auto
        border-radius: 12px
        background-color: var(--light-grey)
        user-select: none
        will-change: transform
        transition: box-shadow 0.5s ease
        &:hover 
            box-shadow: var(--card-shadow)
    &__bar 
        display: flex
        align-items: center
        justify-content: center
        gap: 32px
    /* кнопки влево и вправо */
    &__btn 
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        border: none
        border-radius: 50%
        background-color: var(--light-grey)
        color: var(--light-grey)
        text-align: center
        cursor: pointer
        transition: background-color 0.5s ease
        & svg 
            fill: var(--yellow)
            transition: fill 0.5s ease
        &:hover,
        &:focus 
            background-color: var(--dark-yellow)
            outline: 0
            & svg 
                fill: var(--light-grey)
    /* индикаторы */
    &__indicators 
        display: flex
        align-items: center
        justify-content: center
        gap: 12px
        margin: 0
        padding: 0
        list-style: none
    &__indicator 
        flex: 0 1 auto
        box-sizing: content-box
        width: 14px
        height: 14px
        border-radius: 50%
        background-color: var(--light-grey)
        cursor: pointer
        transition: background-color 0.5s ease
        &-active 
            background-color: var(--dark-yellow)
@media ( max-width: 1199px)
    .container
        max-width: 960px
    .header 
        gap: 16px
        &__menu 
            &-inner 
                flex-direction: column
                gap: 10px
    .hero 
        height: calc( 100vh - 280px )
    .cooperation 
        &__content 
            display: none
        &__slider 
            display: block
            margin-top: -30px
    .decoration 
        &__content 
            padding-bottom: 10px
    
    .portfolio
        &__slider 
            &-item 
                width: 330px
    .benefits 
        &__content 
            display: none
        &__slider 
            display: block
            margin-top: -30px
    .suppliers 
        &__content 
            padding-bottom: 10px
    .industries 
        &__content 
            padding-bottom: 10px
        &__item 
            min-width: 330px
    .reviews
        &__slider 
            &-item 
                width: 330px
    .footer 
        &__content 
            grid-template-columns: 1fr 1fr
        &__menu 
            order: 2
            grid-column: span 2
            justify-content: space-between
            width: 100%
        &__bottom 
            gap: 40px
@media ( max-width: 969px)
    .container 
        max-width: 720px
    .header 
        height: 62px
        padding-bottom: 10px
        &__banner 
            display: none
        &__top 
            &-inner 
                display: grid
                grid-template-columns: 1fr 1fr
                gap: 16px
        &__contact 
            display: none
        &__signup
            display: none
        &__rating 
            display: none
        &__bottom 
            display: none
        &__menu 
            display: none
        &__burger 
            display: block
            text-align: right
    .hero 
        height: calc(100vh - 62px)
        &__wrapper 
            flex-direction: column
        &__title 
            font-size: 1.5rem
            text-align: center
    .section 
        &__title 
            font-size: 2rem
        &__title2
            font-size: 2rem
    .services 
        &__list 
            justify-content: flex-start
            overflow-x: auto
            &-text 
                white-space: nowrap
    .promo 
        &__wrapper 
            grid-template-columns: 1fr
        &__item 
            &-img 
                width: 140px
                object-fit: cover
        &__content 
            gap: 8px    
            &-title 
                font-size: 1rem
            &-title2
                font-size: 1rem
    .about 
        &__wrapper 
            flex-direction: column
    .footer 
        &__bottom 
            display: grid
            grid-template-columns: 200px 1fr
        &__right 
            grid-column: span 2
            width: max-content
            margin-left: 240px
    .menu 
        position: fixed
        top: 0
        left: -100%
        bottom: 0
        display: flex
        flex-direction: column
        gap: 16px
        width: 340px
        padding: 20px
        background-color: var(--dark)
        transition: left 0.3s ease
        z-index: 100
        &_active 
            left: 0
        &__banner
            padding: 4px
            border-radius: 6px
            background-color: var(--yellow)
            &-text 
                margin-bottom: 0
                text-align: center
        &__contact 
            display: flex
            flex-direction: column
            align-items: flex-start
            &-link 
                font: 700 1rem/1 $font-main
                color: var(--yellow)
                text-align: center
            &-text 
                margin-bottom: 0
                font: 400 0.625rem/2 $font-main
                color: var(--white)
                text-align: center
        &__social
            display: flex
            align-items: center
            gap: 8px
            &-link 
                flex: 0 0 auto
                & svg 
                    fill: var(--white)
                    transition: fill 0.3s ease
                &:hover 
                    & svg 
                        fill: var(--yellow)
        &__signup
            display: flex
            align-items: center
            gap: 6px
            &-icon 
                flex: 0 0 auto
            &-text 
                max-width: 181px
                margin-bottom: 0
                font: 400 0.875rem/1.25 $font-main
                color: var(--white)
                text-align: left
                transition: color 0.3s ease
            &:hover 
                & .header__signup-text 
                    color: var(--yellow)
        &__rating
            display: flex
            flex-direction: column
            gap: 10px
            height: 53px
            &-bottom 
                display: flex
                gap: 12px
            &-text 
                margin-bottom: 0
                font: 400 0.75rem/1.25 $font-accent
                color: var(--white)
        &__stars 
            display: flex
            align-items: center
            gap: 4px
        &__star
            flex: 0 0 auto
            display: flex
            align-items: center
            justify-content: center
            height: 10px
        &__bottom 
            &-inner
                display: flex
                align-items: center
                gap: 20px
                height: 20px
            &-padding
                padding-bottom: 51px
        &__map 
            display: flex
            align-items: center
            gap: 6px
            &-link 
                font: 400 0.875rem/1.4 $font-main
                color: var(--white)
                transition: color 0.3s ease
                &:hover 
                    color: var(--yellow)
            & a
                text-decoration: underline
                text-underline-offset: 2px
            & svg 
                flex: 0 0 auto
        &__mail
            display: flex
            align-items: center
            gap: 6px
            &-link 
                font: 400 0.875rem/1.4 $font-main
                color: var(--white)
                transition: color 0.3s ease
                &:hover 
                    color: var(--yellow)
        &__menu 
            padding-bottom: 17px
            &-inner
                display: flex
                align-items: center
                justify-content: space-between
            &-sticky 
                position: fixed
                top: 0
                left: 0
                right: 0
                width: 100%
                padding-top: 17px
                background-color: var(--dark)
        &__right 
            display: flex
            flex-direction: column
            align-items: center
            gap: 16px
        &__nav 
            display: flex
            flex-direction: column
            gap: 12px
        &__link 
            font: 500 0.875rem/1.4 $font-main
            color: var(--white)
            transition: color 0.3s ease
            &:hover 
                color: var(--yellow)
@media (max-width: 720px)
    .footer 
        &__content 
            grid-template-columns: 1fr 
            justify-items: center
        &__wrapper 
            gap: 24px
        &__menu 
            grid-column: span 1
            flex-direction: column
        &__bottom 
            display: grid
            grid-template-columns: 1fr
            gap: 20px
        &__center 
            justify-content: center
            gap: 8px
        &__right 
            grid-column: span 1
            width: 100%
            margin-left: 0
        &__list 
            height: 0
            overflow-y: hidden
        &__nav 
            &_active 
                & .footer__list 
                    height: max-content