:root {
  --dark: #202938;
  --dark-yellow: #DCA34E;
  --yellow: #FBBB5A;
  --dark-grey: #4D535F;
  --light-grey: #F3F3F3;
  --white: #fff;
  --black: #000;
  --border: #E5E7EB;
  --input: #F9FAFB;
}

html {
  font-size: 16px;
}

body {
  font: 400 1rem/1.5 "Geologica", sans-serif;
  color: var(--dark);
}

.container {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  padding: 10px 0 17px;
  background-color: var(--dark);
  z-index: 10;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header__banner {
  padding: 4px;
  border-radius: 6px;
  background-color: var(--yellow);
}
.header__banner-text {
  margin-bottom: 0;
  text-align: center;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__contact-link {
  font: 700 1.25rem/1 "Geologica", sans-serif;
  color: var(--yellow);
  text-align: center;
}
.header__contact-text {
  margin-bottom: 0;
  font: 400 0.625rem/2 "Geologica", sans-serif;
  color: var(--white);
  text-align: center;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__social-link {
  flex: 0 0 auto;
}
.header__social-link svg {
  fill: var(--white);
  transition: fill 0.3s ease;
}
.header__social-link:hover svg {
  fill: var(--yellow);
}
.header__signup {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__signup-icon {
  flex: 0 0 auto;
}
.header__signup-text {
  max-width: 181px;
  margin-bottom: 0;
  font: 400 0.875rem/1.25 "Geologica", sans-serif;
  color: var(--white);
  text-align: left;
  transition: color 0.3s ease;
}
.header__signup:hover .header__signup-text {
  color: var(--yellow);
}
.header__rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__rating-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header__rating-text {
  margin-bottom: 0;
  font: 400 0.75rem/1.25 "Inter", sans-serif;
  color: var(--white);
}
.header__stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__star {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}
.header__bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 20px;
}
.header__map {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__map-link {
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.header__map-link:hover {
  color: var(--yellow);
}
.header__map a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.header__mail {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__mail-link {
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.header__mail-link:hover {
  color: var(--yellow);
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}
.nav__link {
  font: 500 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: var(--yellow);
}

.dropdown__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font: 500 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--white);
  transition: color 0.3s ease;
}
.dropdown__btn svg {
  fill: var(--white);
  transition: fill 0.3s ease, transform 0.3s ease;
}
.dropdown__btn:hover {
  color: var(--yellow);
}
.dropdown__btn:hover svg {
  fill: var(--yellow);
}
.dropdown__menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 180px;
  background-color: var(--dark);
  z-index: 100;
}
.dropdown__item {
  padding: 3px 8px;
  border-bottom: 0.5px solid #4D535F;
  font: 300 0.75rem/1.6 "Geologica", sans-serif;
  color: var(--yellow);
}
.dropdown__item:last-child {
  border-bottom: none;
}
.dropdown:hover .dropdown__btn {
  color: var(--yellow);
}
.dropdown:hover svg {
  fill: var(--yellow);
  transform: scaleY(-1);
}
.dropdown:hover .dropdown__menu {
  display: flex;
}

.callback {
  padding: 5px 10px;
  border-radius: 17px;
  background-color: var(--yellow);
  font: 300 1rem/1.5 "Geologica", sans-serif;
}

.search {
  display: flex;
  align-items: center;
  gap: 7.5px;
  font: 500 0.875rem/1.4 "Inter", sans-serif;
  color: var(--white);
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 250px);
  background-image: url("../images/hero/hero_bg_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__title {
  max-width: 625px;
  margin-bottom: 0;
  font: 800 3.25rem/1.2 "Geologica", sans-serif;
  color: var(--white);
}
.hero__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 384px;
  width: 100%;
}
.hero__form-input {
  width: 100%;
  height: 36px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background-color: var(--input);
  font: 400 0.875rem/1.4 "Geologica", sans-serif;
  color: var(--black);
}
.hero__form-input::-moz-placeholder {
  color: var(--black);
}
.hero__form-input::placeholder {
  color: var(--black);
}
.hero__form-text {
  max-width: 342px;
  margin-bottom: 0;
  font: 300 0.75rem/1.25 "Geologica", sans-serif;
  color: var(--border);
  text-align: center;
}
.hero__form-btn {
  width: 240px;
  padding: 5px 10px;
  border-radius: 26px;
  background-color: var(--yellow);
  font-weight: 300;
}

.section {
  padding-top: 100px;
  padding-bottom: 40px;
}
.section__title {
  font: 800 3.125rem/1 "Geologica", sans-serif;
  color: var(--dark);
}
.section__title2 {
  font: 900 3.125rem/1 "Inter", sans-serif;
  color: var(--dark);
}

.cooperation__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cooperation__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.cooperation__item {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--light-grey);
  transition: background-color 0.3s ease;
}
.cooperation__item:hover {
  background-color: var(--yellow);
}
.cooperation__list {
  margin: 0;
}
.cooperation__list-item {
  font: 400 0.875rem/30px "Geologica", sans-serif;
  color: var(--dark);
  list-style: disc;
}
.cooperation__bottom {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.cooperation__bottom-text {
  margin: 0;
  font-weight: 500;
  color: var(--black);
}
.cooperation__bottom-slogan {
  font: 800 1.25rem/1.25 "Geologica", sans-serif;
  color: var(--yellow);
  text-align: right;
}

.decoration__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.decoration__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px 40px;
}
.decoration__item {
  position: relative;
  width: 200px;
  height: 100px;
  overflow: hidden;
}
.decoration__item-img {
  width: 100%;
  height: 100%;
  border-radius: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}
.decoration__item:hover .decoration__effects {
  opacity: 0;
}
.decoration__effects {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  background-color: var(--dark-grey);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.decoration__effects-text {
  margin: 0;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.footer {
  padding: 40px 0;
  background-color: var(--dark);
}/*# sourceMappingURL=main.css.map */