doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MY NEW JOB
        link(rel="icon" type="image/x-icon" href="image/favicon.png")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/sozdat_rezyume.js" defer) 
    body 
        main
            .container
                a(href="").logo.svg-container
                    | JOB 
                    span.logo__span AI
                .btns 
                    .btns__col 
                        a(href="").btns__col-btn.searchwork Найти работу
                        a(href="").btns__col-clue Как это работает?
                    .btns__col
                        a(href="").btns__col-btn.searchemployee Найти сотрудников
                        a(href="").btns__col-clue Как это работает?


