doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Мир в плюсе — Позитивные новости
        link(rel="stylesheet", href="/plusworld/css/reset.css")
        link(rel="stylesheet", href="/plusworld/css/fonts.css")
        link(rel="stylesheet", href="/plusworld/css/main.css")
        script(src="/plusworld/js/header.js" defer)
    body 
        include ../../header.pug
        main.main
            .content#content
                .container
                    .content__wrapper
                        section.article 
                            .article__wrapper 
                                .article__back 
                                    a(href="../../").article__back-link
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m12 19-7-7 7-7"></path>
                                            <path d="M19 12H5"></path>
                                        </svg>
                                        | Назад к новостям
                                .article__image 
                                    img(src="photo-1511671782779-c97d3d27a1d4.jpeg", alt="").article__image-img
                                    .article__rubric.article__rubric_story
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        | Истории
                                .article__category 
                                    p.article__category-text Общество
                                h2.article__title Бездомный музыкант собрал средства на приют благодаря уличным концертам
                                h3.article__subtitle История Алексея, который три года жил на улице, а затем своим талантом вдохновил тысячи людей помочь другим бездомным.

                        aside.aside
        include ../../footer.pug